<template>
  <div id="flexStack" class="flex-stack" :style="getUser && getUser.profile && getUser.profile.selected_template && getUser.profile.selected_template.style ? getUser.profile.selected_template.style.flexStack : ''">
    <div id="templateHeader" class="template-header" :style="getUser && getUser.profile && getUser.profile.selected_template && getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateHeader ? getUser.profile.selected_template.style.templateHeader : ''">
      <div id="templateAvatar" class="template-avatar" :style="getUser && getUser.profile && getUser.profile.selected_template && getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateAvatar ? getUser.profile.selected_template.style.templateAvatar : ''"></div>
    </div>
    <div id="templateTitle" class="template-title">
      <div class="template-user-name-container">
        <span id="templateUserName" class="template-user-name" :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateUserName : getSelectedTemplate.style.templateUserName">
        <!-- Nombre Apellido -->
        {{getUser && getUser.profile && getUser.profile.alias_name ? getUser.profile.alias_name : (getUser.name ? getUser.name : 'Usuario glopcare')}}
        </span>
      </div>
      <div style="min-height: 0.15vh;"></div>
      <div class="template-user-title-container">
        <!-- Titulo Profesional -->
        <span 
          id="templateUserTitle" 
          class="template-user-title" 
          :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateUserTitle : getSelectedTemplate.style.templateUserTitle"
          v-html="getUser && getUser.profile && getUser.profile.professional_title ? getUser.profile.professional_title.replace(/\r\n|\r|\n/g,'<br>') : getSelectedTemplate.default_professional_title"
        >
        
        </span>
      </div>
    </div>
    <div class="template-spacer"></div>
    <div id="templateSubTitle" class="template-subtitle ion-padding-top ion-padding-bottom">
      <!-- Describe brevemente los servicios y/o productos que ofreces -->
      <span 
        id="templateUserDescription" 
        class="template-user-description" 
        :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateUserDescription : getSelectedTemplate.style.templateUserDescription"
        v-html="getUser && getUser.profile && getUser.profile.professional_description ? getUser.profile.professional_description.replace(/\r\n|\r|\n/g,'<br>') : getSelectedTemplate.default_professional_description"
      >
      </span>
    </div>
    <div class="template-spacer"></div>
    <div id="templateButtons" class="template-buttons">
      <div v-if="getUser && getUser.profile && getUser.profile.contacts && getUser.profile.contacts.length" class="template-buttons-wrapper">
        <div :class="getUser.profile.contacts.filter((c) => {return c.visible}).length % 2 == 0 ? 'template-buttons-child-even' : 'template-buttons-child-odd'" v-for="contact in getUser.profile.contacts.filter((c) => {return c.visible})" :key="contact.id">
          <a :href="contact.href + contact.value" class="link-buttons">
            <img
            :src="'assets/icon/contact/' + contact.id + (getUser.profile.contact_icon_family ? getUser.profile.contact_icon_family : getSelectedTemplate.default_contact_icon_family) + '.svg'" class="contacts-filter" :style="'max-height: 5vh; filter:' + (getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateContacts && getUser.profile.selected_template.style.templateContacts.fill ? fillToFilter(getUser.profile.selected_template.style.templateContacts.fill) : cssContactsFilter)"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="template-spacer"></div>
    <div id="templateServices" class="template-services">
      <span id="templateServicesDescription" class="template-services-description" :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateServicesDescription : getSelectedTemplate.style.templateServicesDescription">
        <br />
        {{getUser && getUser.profile && getUser.profile.catalog_name ? getUser.profile.catalog_name : getSelectedTemplate.default_catalog_name}}
      </span>
    </div>
    <div class="template-spacer"></div>
    <div id="templateSocials" class="template-socials">
      <div v-if="getUser && getUser.profile && getUser.profile.socials && getUser.profile.socials.length" class="template-buttons-wrapper">
        <div :class="getUser.profile.socials.filter((c) => {return c.visible}).length % 2 == 0 ? 'template-buttons-child-even' : 'template-buttons-child-odd'" v-for="social in getUser.profile.socials.filter((c) => {return c.visible})" :key="social.id">
          <a :href="social.href + social.value.replace('@', '')" class="link-buttons">
            <img
            :src="'assets/icon/socials/' + social.id + (getUser.profile.social_icon_family ? getUser.profile.social_icon_family : getSelectedTemplate.default_social_icon_family) + '.svg'" :style="'max-height: 5vh; filter:' + (getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateSocials && getUser.profile.selected_template.style.templateSocials.fill ? fillToFilter(getUser.profile.selected_template.style.templateSocials.fill) : cssSocialsFilter)"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import { hexToCSSFilter } from 'hex-to-css-filter';

export default defineComponent({
  name: "TemplatePage001",
  data: () => ({
    cssContactsFilter: '',
    cssSocialsFilter: '',
    timer: null
  }),
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"])
  },
  updated() {

    if (this.timer) {
      clearTimeout(this.timer);
    }

    let updateFn = () => {
      if (this.getSelectedTemplate){

        document.getElementById('templateHeader').style.background = this.getSelectedTemplate.style.templateHeader.background;
        document.getElementById('templateAvatar').style.background = this.getSelectedTemplate.style.templateAvatar.background;

        document.getElementById('templateUserName').style.fontFamily = this.getSelectedTemplate.style.templateUserName.fontFamily;
        document.getElementById('templateUserTitle').style.fontFamily = this.getSelectedTemplate.style.templateUserTitle.fontFamily;
        document.getElementById('templateUserDescription').style.fontFamily = this.getSelectedTemplate.style.templateUserDescription.fontFamily;
        document.getElementById('templateServicesDescription').style.fontFamily = this.getSelectedTemplate.style.templateServicesDescription.fontFamily;

        document.getElementById('templateUserName').style.color = this.getSelectedTemplate.style.templateUserName.color;
        document.getElementById('templateUserTitle').style.color = this.getSelectedTemplate.style.templateUserTitle.color;
        document.getElementById('templateUserDescription').style.color = this.getSelectedTemplate.style.templateUserDescription.color;
        document.getElementById('templateServicesDescription').style.color = this.getSelectedTemplate.style.templateServicesDescription.color;

        this.cssContactsFilter = hexToCSSFilter(this.getSelectedTemplate.style.templateContacts.fill.slice(0, 7)).filter;
        this.cssSocialsFilter = hexToCSSFilter(this.getSelectedTemplate.style.templateSocials.fill.slice(0, 7)).filter;

        document.getElementById('templateUserName').style.fontSize = this.getSelectedTemplate.style.templateUserName.fontSize;
        document.getElementById('templateUserTitle').style.fontSize = this.getSelectedTemplate.style.templateUserTitle.fontSize;
        document.getElementById('templateUserDescription').style.fontSize = this.getSelectedTemplate.style.templateUserDescription.fontSize;
        document.getElementById('templateServicesDescription').style.fontSize = this.getSelectedTemplate.style.templateServicesDescription.fontSize;

      }
    }

    this.timer = setTimeout(updateFn, 50);
  },
  methods: {
    fillToFilter(fill){
      fill = fill.slice(0, 7);
      return hexToCSSFilter(fill).filter;
    }
  }
});
</script>

<style scoped>
.flex-stack {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.template-header {
  width: 100%;
  height: max(28vh, 220px);
  /* height: 28vh; */
  background-color: #B6B6B6;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 16px #000000;
}

.template-avatar {
  width: max(21vh, 180px);
  padding-bottom: max(21vh, 180px);
  border-radius: 50%;
  background-color: #DDDDDD;
  background-repeat: no-repeat;
  /* background-size: cover; */
  box-shadow: 0px 4px 16px #000000;
  margin: 4.7rem auto;
  position: relative;
}
.template-title {
  text-align: center;
  width: 100%;
}
.template-subtitle {
  text-align: center;
  /* min-height: max(15vh, 120px); */
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #fffdfd;
}

.template-spacer {
  height: 0.5vh;
}

.template-socials {
  padding: 2vh;
  min-height: max(18vh, 120px);
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.template-buttons {
  min-height: max(10vh, 50px);
  width: 100%;
  background: rgba(255, 255, 255, 0.35);
}

.template-buttons-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  min-height: 10vh;
}

.template-buttons-child-odd {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-left: 4%;
  margin-right: 4%;
}

.template-buttons-child-even {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-left: 5%;
  margin-right: 5%;
}
.template-services {
  width: 100%;
  min-height: max(10vh, 100px);
  text-align: center;
  background: rgba(255, 255, 255, 0.55);
}
.template-services-description {
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  min-height: 10vh;
}
.template-user-name {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* margin-left: 6%;
  margin-right: 6%; */
  /* line-height: 6vh; */
}

.template-user-name-container {
  min-height: max(6vh, 60px);
  position: relative;
  text-align: center;
  margin-top: 2rem;
}
.template-user-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 26px;
  /* line-height: 30px; */
  text-align: center;
  color: #ffffff;
  /* margin-left: 6%;
  margin-right: 6%; */
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.template-user-title-container {
  min-height: max(6vh, 40px);
  position: relative;
  text-align: center;
}

.template-user-description {
  width: 100%;
  margin-left: 6%;
  margin-right: 6%;
}

.link-buttons {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 5vh;
}
</style>