<template>
  <div id="flexStack" class="flex-stack"
    :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.flexStack : ''">
    

    <div class="main-row">
      <div id="templateVerticalSpacer" class="template-spacer" :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.specialStyle.templateVerticalSpacer : getSelectedTemplate.specialStyle.templateVerticalSpacer"></div>
      <div class="main-column main-left">
        <div id="templateServicesTop" class="template-services" :style="cssVarsTop">
          <div id="templateServicesContainer" class="template-services-container">
            <a target="_blank" :href="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.specialStyle.templateServicesTop.textLink : ''" style="text-decoration: none; display: contents;">
              <span id="templateServicesDescription" class="template-services-description"
              :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.specialStyle.templateServicesTop : ''">
              {{ getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.specialStyle.templateServicesTop.text : '' }}
            </span></a>
          </div>
        </div>

        <div id="templateServicesBottom" class="template-services" :style="cssVarsBottom">
          <div id="templateServicesContainer" class="template-services-container">
            <a target="_blank" :href="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.specialStyle.templateServicesBottom.textLink : ''" style="text-decoration: none; display: contents;">
              <span id="templateServicesDescription" class="template-services-description"
              :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.specialStyle.templateServicesBottom : ''">
              {{ getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.specialStyle.templateServicesBottom.text : '' }}
            </span></a>
          </div>
        </div>

        <div id="templateSocials" class="template-socials">
          <div v-if="getUser && getUser.profile && getUser.profile.socials && getUser.profile.socials.length"
            class="template-buttons-wrapper-socials">
            <div class='template-buttons-child-socials'
              v-for="social in getUser.profile.socials.filter((c) => { return c.visible })" :key="social.id">
              <a :href="social.href + social.value.replace('@', '')" class="link-buttons">
                <img
                  :src="'assets/icon/socials/' + social.id + (getUser.profile.social_icon_family ? getUser.profile.social_icon_family : getSelectedTemplate.default_social_icon_family) + '.svg'"
                  :style="'max-height: 4.5vh; filter:' + (getUser.profile.selected_template.style.templateSocials && getUser.profile.selected_template.style.templateSocials.fill ? fillToFilter(getUser.profile.selected_template.style.templateSocials.fill) : cssSocialsFilter)" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="main-column main-right">
        <div id="templateButtons" class="template-buttons">
          <div v-if="getUser && getUser.profile && getUser.profile.contacts && getUser.profile.contacts.length"
            class="template-buttons-wrapper-contacts">
            <div class='template-buttons-child-contacts'
              v-for="contact in getUser.profile.contacts.filter((c) => { return c.visible })" :key="contact.id">
              <a :href="contact.href + contact.value" class="link-buttons">
                <img
                  :src="'assets/icon/contact/' + contact.id + (getUser.profile.contact_icon_family ? getUser.profile.contact_icon_family : getSelectedTemplate.default_contact_icon_family) + '.svg'"
                  :style="'max-height: 4.5vh; filter:' + (getUser.profile.selected_template.style.templateContacts && getUser.profile.selected_template.style.templateContacts.fill ? fillToFilter(getUser.profile.selected_template.style.templateContacts.fill) : cssContactsFilter)" />
              </a>
            </div>
            <div class='template-buttons-child-contacts'></div>
            <div class='template-buttons-child-contacts'></div>
            <div class='template-buttons-child-contacts'></div>
            <div class='template-buttons-child-contacts'></div>
            <div class='template-buttons-child-contacts'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height: 10vh"></div>
</template>

<script>
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import { hexToCSSFilter } from 'hex-to-css-filter';

export default defineComponent({
  name: "TemplatePage005",
  data: () => ({
    cssContactsFilter: '',
    cssSocialsFilter: '',
    timer: null
  }),
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
    cssVarsTop() {
      return {
        background: 'linear-gradient(to right, #FFFFFF,' +  (
          (this.$store.getters.getUser && this.$store.getters.getUser.profile.selected_template) ? 
            this.$store.getters.getUser.profile.selected_template.specialStyle.templateServicesTop.backgroundColorGradient : 
            this.getSelectedTemplate.style.flexStack.backgroundColor
        ) + ')',
      }
    },
    cssVarsBottom() {
      return {
        background: 'linear-gradient(to right, #FFFFFF, ' +  (
          (this.$store.getters.getUser && this.$store.getters.getUser.profile.selected_template) ? 
            this.$store.getters.getUser.profile.selected_template.specialStyle.templateServicesBottom.backgroundColorGradient : 
            this.getSelectedTemplate.style.flexStack.backgroundColor
        ) + ')',
      }
    }
  },
  updated() {

    if (this.timer) {
      clearTimeout(this.timer);
    }

    let updateFn = () => {
      if (this.getSelectedTemplate && this.getSelectedTemplate.style) {

        document.getElementById('templateHeader').style.background = this.getSelectedTemplate.style.templateHeader.background;
        // document.getElementById('templateAvatar').style.background = this.getSelectedTemplate.style.templateAvatar.background;

        // document.getElementById('templateUserName').style.fontFamily = this.getSelectedTemplate.style.templateUserName.fontFamily;
        // document.getElementById('templateUserTitle').style.fontFamily = this.getSelectedTemplate.style.templateUserTitle.fontFamily;
        // document.getElementById('templateUserDescription').style.fontFamily = this.getSelectedTemplate.style.templateUserDescription.fontFamily;
        document.getElementById('templateServicesDescription').style.fontFamily = this.getSelectedTemplate.style.templateServicesDescription.fontFamily;

        // document.getElementById('templateUserName').style.color = this.getSelectedTemplate.style.templateUserName.color;
        // document.getElementById('templateUserTitle').style.color = this.getSelectedTemplate.style.templateUserTitle.color;
        // document.getElementById('templateUserDescription').style.color = this.getSelectedTemplate.style.templateUserDescription.color;
        document.getElementById('templateServicesDescription').style.color = this.getSelectedTemplate.style.templateServicesDescription.color;

        this.cssContactsFilter = hexToCSSFilter(this.getSelectedTemplate.style.templateContacts.fill.slice(0, 7)).filter;
        this.cssSocialsFilter = hexToCSSFilter(this.getSelectedTemplate.style.templateSocials.fill.slice(0, 7)).filter;

        // document.getElementById('templateUserName').style.fontSize = this.getSelectedTemplate.style.templateUserName.fontSize;
        // document.getElementById('templateUserTitle').style.fontSize = this.getSelectedTemplate.style.templateUserTitle.fontSize;
        // document.getElementById('templateUserDescription').style.fontSize = this.getSelectedTemplate.style.templateUserDescription.fontSize;
        document.getElementById('templateServicesDescription').style.fontSize = this.getSelectedTemplate.style.templateServicesDescription.fontSize;

        document.getElementById('templateVerticalSpacer').style.height = this.getSelectedTemplate.specialStyle.templateVerticalSpacer.height;
        document.getElementById('templateServicesTop').style.backgroundColor = this.getSelectedTemplate.specialStyle.templateServicesTop.backgroundColor;
        document.getElementById('templateServicesBottom').style.backgroundColor = this.getSelectedTemplate.specialStyle.templateServicesBottom.backgroundColor;
      }
    }

    this.timer = setTimeout(updateFn, 50);
  },
  methods: {
    fillToFilter(fill) {
      fill = fill.slice(0, 7);
      return hexToCSSFilter(fill).filter;
    }
  }
});
</script>

<style scoped>
.flex-stack {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.template-header {
  width: 100%;
  min-height: max(28vh, 220px);
  /* min-height: max(225px, 24vh); */
  /* background: url("../assets/img/template_001_rectangle.png"); */
  background-color: transparent;
  background-size: cover;
}

.template-title {
  text-align: center;
  width: 100%;
  min-height: 14vh;
  padding-right: 6%;
}

.template-subtitle {
  text-align: center;
  /* min-height: max(20vh, 180px); */
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #fffdfd;
}

.template-spacer {
  height: 2vh;
}

.template-avatar {
  width: max(21vh, 180px);
  padding-bottom: max(21vh, 180px);
  margin-top: -16vh;
  border-radius: 50%;
  background-color: #DDDDDD;
  background-repeat: no-repeat;
  /* background-size: cover; */
  box-shadow: 0px 4px 16px #000000;
  position: fixed;
  top: 27vh;
  left: 10vw;
}

.template-socials {
  min-height: max(18vh, 120px);
  width: 100%;
  padding-right: 6%;
}

.template-buttons {
  /* min-height: max(46px, 5vh); */
  min-height: max(10vh, 50px);
  width: 100%;
  height: 100%;
}

.template-buttons-wrapper-socials {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  display: flex;
  text-align: center;
  min-height: 10vh;
}

.template-buttons-wrapper-contacts {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  text-align: center;
  min-height: 10vh;
  height: 100%;
}

.template-buttons-child-socials {
  text-align: right;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-right: 0;
  margin-bottom: 3vh;
  width: 33%;
}

.template-buttons-child-contacts {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-top: 4.5vh;
}

.template-services {
  text-align: center;
  width: 100%;
  min-height: max(5vh, 50px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.85);
  border-radius: 0 37px 37px 0;
  margin-bottom: 1.5rem;
}

.template-services-container {
  min-height: max(5vh, 50px);
  position: relative;
  text-align: right;
  padding-right: 6%;
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}

.template-services-description {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  margin-right: 6%;
  min-height: 10vh;
}

.template-user-name {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* line-height: 6vh; */
}

.template-user-name-container {
  min-height: max(8vh, 80px);
  position: relative;
  text-align: right;
  margin-top: 2vh;
}

.template-user-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 26px;
  text-align: right;
  color: #ffffff;
  top: 0;
  left: auto;
}

.template-user-title-container {
  min-height: max(6vh, 40px);
  position: relative;
  text-align: right;
}

.template-user-description {
  text-align: right;
  width: 100%;
  margin-left: 6%;
  margin-right: 6%;
}

.link-buttons {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 4.5vh;
}

/* Clear floats after the columns */
.main-row:after {
  content: "";
  display: table;
  clear: both;
}

.main-row {
  width: 100%;
}

.main-column {
  float: left;
}

.main-left {
  width: 75%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  text-align: center;
  min-height: 10vh;
  height: 75%;
}

.main-right {
  width: 25%;
  height: 75%;
}</style>