<template>
  <div id="flexStack" class="flex-stack" :style="cssVars">
    <div id="templateHeader" class="template-header" :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateHeader : ''">
      <div id="templateAvatar" class="template-avatar" :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateAvatar : ''"></div>
    </div>
    
    <div class="main-row">
      <div class="main-column main-left">
        <div id="templateTitle" class="template-title">
          <div class="template-user-name-container" :style="getUser && getUser.profile && getUser.profile.selected_template && getUser.profile.selected_template.style.templateUserName && getUser.profile.selected_template.style.templateUserName.fontSize == 'xxx-large' ? 'min-height: 9vh !important' : ''">
            <span id="templateUserName" class="template-user-name" :style="getSelectedTemplate ? getSelectedTemplate.style.templateUserName : getSelectedTemplate.style.templateUserName">
            <!-- Nombre Apellido -->
            {{getUser && getUser.profile && getUser.profile.alias_name ? getUser.profile.alias_name : (getUser.name ? getUser.name : 'Usuario glopcare')}}
            </span>
          </div>
          <div style="min-height: 0.15vh;"></div>
          <div class="template-user-title-container">
            <!-- Titulo Profesional -->
            <span 
              id="templateUserTitle" 
              class="template-user-title" 
              :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateUserTitle : getSelectedTemplate.style.templateUserTitle"
              v-html="getUser && getUser.profile && getUser.profile.professional_title ? getUser.profile.professional_title.replace(/\r\n|\r|\n/g,'<br>') : getSelectedTemplate.default_professional_title"
            >
            </span>
          </div>
        </div>
        <div class="template-spacer" :style="cssVars"></div>
        <div id="templateSubTitle" class="template-subtitle ion-margin-top ion-margin-bottom">
          <!-- Describe brevemente los servicios y/o productos que ofreces -->
          <span 
            id="templateUserDescription" 
            class="template-user-description" 
            :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateUserDescription : getSelectedTemplate.style.templateUserDescription"
            v-html="getUser && getUser.profile && getUser.profile.professional_description ? getUser.profile.professional_description.replace(/\r\n|\r|\n/g,'<br>') : getSelectedTemplate.default_professional_description"
          >
          </span>
        </div>
    <div id="templateServices" class="template-services" :style="cssVars">
      <div id="templateServicesContainer" class="template-services-container">
        <span id="templateServicesDescription" class="template-services-description" :style="getUser && getUser.profile && getUser.profile.selected_template ? getUser.profile.selected_template.style.templateServicesDescription : getSelectedTemplate.style.templateServicesDescription">
          {{getUser && getUser.profile && getUser.profile.catalog_name ? getUser.profile.catalog_name : getSelectedTemplate.default_catalog_name}}
        </span>
      </div>
    </div>
      <div id="templateSocials" class="template-socials">
        <div v-if="getUser && getUser.profile && getUser.profile.socials && getUser.profile.socials.length" class="template-buttons-wrapper-socials">
          <div class= 'template-buttons-child-socials' v-for="social in getUser.profile.socials.filter((c) => {return c.visible})" :key="social.id">
            <a :href="social.href + social.value.replace('@', '')" class="link-buttons">
              <img
              :src="'assets/icon/socials/' + social.id + (getUser.profile.social_icon_family ? getUser.profile.social_icon_family : getSelectedTemplate.default_social_icon_family) + '.svg'" :style="'max-height: 4.5vh; filter:' + (getUser.profile.selected_template.style.templateSocials && getUser.profile.selected_template.style.templateSocials.fill ? fillToFilter(getUser.profile.selected_template.style.templateSocials.fill) : cssSocialsFilter)"
              />
            </a>
          </div>
        </div>
      </div>
      </div>
      <div class="main-column main-right">
        <div id="templateButtons" class="template-buttons">
          <div v-if="getUser && getUser.profile && getUser.profile.contacts && getUser.profile.contacts.length" class="template-buttons-wrapper-contacts">
            <div class='template-buttons-child-contacts' v-for="contact in getUser.profile.contacts.filter((c) => {return c.visible})" :key="contact.id">
              <a :href="contact.href + contact.value" class="link-buttons">
                <img
                  :src="'assets/icon/contact/' + contact.id + (getUser.profile.contact_icon_family ? getUser.profile.contact_icon_family : getSelectedTemplate.default_contact_icon_family) + '.svg'" :style="'max-height: 4.5vh; filter:' + (getUser.profile.selected_template.style.templateContacts && getUser.profile.selected_template.style.templateContacts.fill ? fillToFilter(getUser.profile.selected_template.style.templateContacts.fill) : cssContactsFilter)"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import { hexToCSSFilter } from 'hex-to-css-filter';

export default defineComponent({
  name: "TemplatePage002",
  data: () => ({
    cssContactsFilter: '',
    cssSocialsFilter: '',
    timer: null
  }),
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
    cssVars() {
      return {
        background: 'linear-gradient(0deg, ' +  (
          (this.$store.getters.getUser && this.$store.getters.getUser.profile.selected_template) ? 
            this.$store.getters.getUser.profile.selected_template.style.flexStack.backgroundColor : 
            this.getSelectedTemplate.style.flexStack.backgroundColor
        ) + ' 19.79%, #FFFFFF 100%)',
      }
    }
  },
  updated() {

    if (this.timer) {
      clearTimeout(this.timer);
    }

    let updateFn = () => {
      if (this.getSelectedTemplate){

        document.getElementById('templateHeader').style.background = this.getSelectedTemplate.style.templateHeader.background;
        document.getElementById('templateAvatar').style.background = this.getSelectedTemplate.style.templateAvatar.background;

        document.getElementById('templateUserName').style.fontFamily = this.getSelectedTemplate.style.templateUserName.fontFamily;
        document.getElementById('templateUserTitle').style.fontFamily = this.getSelectedTemplate.style.templateUserTitle.fontFamily;
        document.getElementById('templateUserDescription').style.fontFamily = this.getSelectedTemplate.style.templateUserDescription.fontFamily;
        document.getElementById('templateServicesDescription').style.fontFamily = this.getSelectedTemplate.style.templateServicesDescription.fontFamily;

        document.getElementById('templateUserName').style.color = this.getSelectedTemplate.style.templateUserName.color;
        document.getElementById('templateUserTitle').style.color = this.getSelectedTemplate.style.templateUserTitle.color;
        document.getElementById('templateUserDescription').style.color = this.getSelectedTemplate.style.templateUserDescription.color;
        document.getElementById('templateServicesDescription').style.color = this.getSelectedTemplate.style.templateServicesDescription.color;

        this.cssContactsFilter = hexToCSSFilter(this.getSelectedTemplate.style.templateContacts.fill.slice(0, 7)).filter;
        this.cssSocialsFilter = hexToCSSFilter(this.getSelectedTemplate.style.templateSocials.fill.slice(0, 7)).filter;

        document.getElementById('templateUserName').style.fontSize = this.getSelectedTemplate.style.templateUserName.fontSize;
        document.getElementById('templateUserTitle').style.fontSize = this.getSelectedTemplate.style.templateUserTitle.fontSize;
        document.getElementById('templateUserDescription').style.fontSize = this.getSelectedTemplate.style.templateUserDescription.fontSize;
        document.getElementById('templateServicesDescription').style.fontSize = this.getSelectedTemplate.style.templateServicesDescription.fontSize;
      }
    }

    this.timer = setTimeout(updateFn, 50);
  },
  methods: {
    fillToFilter(fill){
      fill = fill.slice(0, 7);
      return hexToCSSFilter(fill).filter;
    }
  }
});
</script>

<style scoped>
.flex-stack {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.template-header {
  width: 100%;
  min-height: 25vh;
  /* min-height: max(225px, 24vh); */
  /* background: url("../assets/img/template_001_rectangle.png"); */
  background-color: #B6B6B6;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 12px #000000);
}
.template-title {
  text-align: center;
  width: 100%;
  min-height: 14vh;
  padding-right: 6%;
}
.template-subtitle {
  text-align: center;
  /* min-height: 20vh; */
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #fffdfd;
}

.template-spacer {
  height: 2vh;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.85);
}

.template-avatar {
  width: 21vh;
  padding-bottom: 21vh;
  margin-top: -16vh;
  border-radius: 9%;
  background-color: #DDDDDD;
  background-repeat: no-repeat;
  /* background-size: cover; */
  box-shadow: 0px 4px 16px #000000;
  position: relative;
  top: 24vh;
  left: 10vw;
}
.template-socials {
  padding-top: 3vh;
  min-height: max(18vh, 200px);
  width: 100%;
  padding-right: 6%;
}
.template-buttons {
  /* min-height: max(46px, 5vh); */
  min-height: 10vh;
  width: 100%;
  height: 100%;
}

.template-buttons-wrapper-socials {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  display: flex;
  text-align: center;
  min-height: 10vh;
}

.template-buttons-wrapper-contacts {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  text-align: center;
  min-height: 10vh;
  height: 100%;
}

.template-buttons-child-socials {
  text-align: right;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-right: 0;
  margin-bottom: 3vh;
  width: 33%;
}

.template-buttons-child-contacts {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin-top: 4.5vh;
}
.template-services {
  min-height: 6vh;
  text-align: center;
  width: 100%;
  min-height: 10vh;
  background: linear-gradient(0deg, var(--background-color) 19.79%, #FFFFFF 100%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.85);
}
.template-services-container {
    min-height: 10vh;
    position: relative;
    text-align: right;
    padding-right: 6%;
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}
.template-services-description {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    margin-right: 6%;
    min-height: 10vh;
}
.template-user-name {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}

.template-user-name-container {
  min-height: 8vh;
  position: relative;
  text-align: right;
  margin-top: 4vh;
}
.template-user-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 26px;
  text-align: right;
  color: #ffffff;
  top: 0;
  left: auto;
}

.template-user-title-container {
  min-height: 6vh;
  position: relative;
  text-align: right;
}

.template-user-description {
  text-align: right;
  width: 100%;
  margin-left: 6%;
  margin-right: 6%;
}

.link-buttons {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 4.5vh;
}

/* Clear floats after the columns */
.main-row:after {
  content: "";
  display: table;
  clear: both;
}

.main-row {
  width: 100%;
}

.main-column {
  float: left;
}

.main-left {
  width: 75%;
}

.main-right {
  width: 25%;
  height: 45vh;
}

</style>