<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>glopcare</title>

  <base href="/" />

  <meta name="color-scheme" content="light dark" />
  <meta name="viewport"
    content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>assets/icon/favicon.png" />

  <!-- add to homescreen for ios -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="glopcare" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <meta name="google-signin-client_id" content="163364824738-ibm7fdikqof09igiusi2qopjaojhkut0.apps.googleusercontent.com">

  <!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDge5j5jvbNw3wLR8u29iDaxqSwMIAlV7Y&libraries=places">
  </script> -->
</head>

<body id="body" style="background: #000510;">
  <div id="app"></div>
</body>

<script>
  window.addEventListener('popstate', function (event) {
    document.getElementById('body').style.setProperty('background', '#000510');
  });
</script>

</html>