.half-circle {
    width: 200px;
    height: 100px;
    background-color: gold;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid gray;
    border-bottom: 0;
}

/* CIRCULO */

.circle {
    display: inline-block;
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    padding: 5px;
    color: #2776DF;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
    background-color: #DDDDDD;
}

.circle:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
    background-color: #DDDDDD;
}

.circle span {
    display: inline-block;
    vertical-align: middle;
}

/* RECTANGULO  */

.rectangle {
    display: inline-block;
    /* min-width: 20px; */
    width: -webkit-fill-available;
    min-height: 80px;
    padding: 5px;
    color: #2776DF;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
    background-color: #B6B6B6;
}

.rectangle:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 50%;
    height: 0;
}

.rectangle span {
    display: inline-block;
    vertical-align: middle;
}

/* CUADRO */

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 20px; */
    width: 80px;
    min-height: 80px;
    padding: 5px;
    color: #2776DF;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
    background-color: #B6B6B6;
}

.square:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 50%;
    height: 0;
}

.square span {
    display: inline-block;
    vertical-align: middle;
}

/* SQUARE FOR GRIDS */

.square-grid {
    display: inline-block;
    width: 100%; /* Set the width to 100% */
    padding-top: 100%; /* Set the padding-top to 100% */
    position: relative;
    background-color: #B6B6B6;
    color: #2776DF;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
}

.square-grid span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}