ion-content {
  --background: #000510;
  background: #000510;
  --padding-top: 8px !important;
}

ion-checkbox {
  --border-radius: 4px !important;
}

ion-progress-bar::part(track){
  border-radius: 5px;
}

ion-progress-bar::part(progress){
  border-radius: 30% 0 0 30%;
}

.top-toolbar {
  background: #000510 !important;
  --background: #000510 !important;
  background-repeat: no-repeat;
  background-size: cover;
  --border-style: none;
  --padding-end: 1.7rem;
}

.glopcare-info-button {
  position: absolute;
  width: 75px;
  height: 75px;
  right: 1%;
  border-radius: 50%;
  z-index: 99;
  margin-top: -17px;
}

.welcome-logo {
  padding-left: 30%;
  padding-right: 30%;
}

.continue-button {
  /* position: absolute; */
  /* width: 80%; */

  background: linear-gradient(270deg, #d0ff04 41.2%, #ffffff 100%);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #414243;
  letter-spacing: 0.03em;

}

.continue-button-condensed {
  /* position: absolute; */
  /* width: 80%; */

  background: linear-gradient(270deg, #d0ff04 41.2%, #ffffff 100%);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #414243;
  letter-spacing: 0.05em;

}

.cancel-button {
  /* position: absolute; */
  /* width: 80%; */

  background: #ffffff;
  box-shadow: inset 45px 0px 40px rgba(0, 0, 0, 0.3);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #414243;

}

.delete-button {
  /* position: absolute; */
  /* width: 80%; */

  background: #FF0707;
  box-shadow: inset 45px 0px 40px rgba(0, 0, 0, 0.3);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;

}

.continue-button-background {
  position: absolute;
  height: 50px;
  width: 50px;
  padding-left: 0px;
  margin-left: 0px;
  left: var(--ion-margin, 5px);
  background: url("../assets/img/button-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

ion-text {
  font-family: Roboto;
}

ion-icon {
  font-family: Roboto;
}

.register-list {
  border-radius: 9px;
  background: none;
}

.register-list-item {
  background: #DBDBE0;
  border-radius: 9px;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  max-height: 3rem;
  letter-spacing: 0.02em;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: transparent;
  --inner-box-shadow: none;
  --inner-padding-end: 0px;
  --border-width: 0;
}

.register-list-item-textarea {
  background: #DBDBE0;
  border-radius: 9px;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  max-height: 7rem;
  letter-spacing: 0.02em;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: transparent;
  --inner-box-shadow: none;
  --inner-padding-end: 0px;
}

.register-list-item-right {
  background: #DBDBE0;
  border-radius: 0px 9px 9px 0px;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  max-height: 3rem;
  letter-spacing: 0.02em;
  height: 100rem;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: transparent;
  --inner-box-shadow: none;
  border-left: 0.2rem solid #01091f;
}

.register-list-item-span {
  background: #DBDBE0;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  max-height: 3rem;
  letter-spacing: 0.02em;
  height: 100rem;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: transparent;
  --inner-box-shadow: none;
  border-left: 0.08rem solid #01091f;
}

.register-list-item-span-no {
  background: #DBDBE0;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  max-height: 3rem;
  letter-spacing: 0.02em;
  height: 100rem;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: transparent;
  --inner-box-shadow: none;
  border-left: 0 solid #01091f;
}

.register-list-item-span-no-right {
  border-radius: 0px 9px 9px 0px;
  background: #DBDBE0;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  max-height: 3rem;
  letter-spacing: 0.02em;
  height: 100rem;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: transparent;
  --inner-box-shadow: none;
  border-left: 0 solid #01091f;
}

.register-list-item-check {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  color: #515A5F;
  max-height: 1.2rem;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --background: transparent;
  --inner-box-shadow: none;
}

.register-list-item-transparent {
  --background: none; 
  background: none;
}

.register-list-item-transparent::part(native) {
  padding-left: 0rem;
  --padding-inline-end: 0px !important;
  --border-width: 0;
}

.prefix {
  font-family: 'Roboto Condensed';
  font-style: bold;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1rem;
}

ion-input {
  border-radius: 9px;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  margin-top: -1rem;
  margin-left: 0.5rem;
}

.ion-input {
  border: none;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  margin-left: 0.5rem;
  background: transparent;
}

[list]::-webkit-calendar-picker-indicator, input::-webkit-calendar-picker-indicator {
  display: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ion-textarea {
  border-radius: 9px;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  margin-top: -1rem;
  margin-left: 0.5rem;
}

ion-content::part(scroll) {
  padding-top: 0px !important;
}

.back-icon-shadow {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .75));
  filter: drop-shadow(px 1px 1px rgba(0, 0, 0, .75));
}

.register-list-item::part(native) {
  padding-left: 0.5rem;
  --padding-inline-end: 0px !important;
  --border-width: 0;
}

.item-inner {
  --padding-inline-end: 0px !important;
}

.item-input {
  --background: #DBDBE0 !important;
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  font-size: 0.9em !important;
}

/* .label-stacked {
  margin-top: 5px;
  color: #414243
} */

.small-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1rem;
  /* identical to box height */
  color: #C6C6C6;
  text-decoration: none;
}

.smalling-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1rem;
  /* identical to box height */
  color: #C6C6C6;
  text-decoration: none;
}

.overflow-text {
    display: -webkit-box;
    max-width: 95%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smaller-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6rem;
  line-height: 1rem;
  /* identical to box height */
  color: #C6C6C6;
}

.normal-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;

  color: #C6C6C6;
}

.normal-button {
  background: #dbdbe0;
  box-shadow: 0px 14px 31px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(36px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.9rem;


  text-align: center;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #414243;

}

.link-text {
  color: #2776DF;
}

.hello-sub-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  align-items: left;
  letter-spacing: 0.00em;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hello-sub-title-bold {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3rem;
  align-items: left;
  letter-spacing: 0.00em;
  color: #ffffff;
}

.hello-sub-title-small {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.2rem;
  align-items: left;
  letter-spacing: 0.00em;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hello-sub-title-gradient {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  align-items: left;
  letter-spacing: 0.007em;

  color: #ffffff;
  background: linear-gradient(270.11deg, #ffffff 47.4%, #d0ff04 69.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.schedule-office-address {
  background-color: #DBDBE0;
  border-radius: 9px;
}

/* TODO: Condicionar cuando resolucion < 375  */

.hello-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 1.45rem;
  line-height: 1.1rem;
  align-items: left;

  color: #ffffff;
}

.welcome-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.84;
  margin-top: 0.5rem;
}

/* ESTILOS DE ODONTO */

.header-label {
  background-color: #041e51;
  border-radius: 4px;
  padding: 6px;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
}

.header-label-constrast {
  background-color: white;
  border-radius: 4px;
  padding: 6px;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
}

.subtext-label {
  background-color: #041e51;
  border-radius: 4px;
  padding: 6px;
  font-family: 'Raleway';
  font-size: 14px;
  text-transform: uppercase;
}

ion-button {
  height: 2em !important;
  --border-radius: 4px !important;
}

ion-checkbox {
  --border-radius: 2px;
  --border-color: var(--ion-color-medium);
  --border-color-checked: var(--ion-color-secondary);
}

ion-textarea {
  --background: var(--ion-color-medium-light) !important;
  border-radius: 4px;
  --padding-top: 4px !important;
  --padding-bottom: 4px !important;
  --padding-start: 4px !important;
  font-size: 0.9em !important;
}


input::-ms-reveal,
input::-ms-clear {
  display: none;
}


input {
  /* background: var(--ion-color-medium-light) !important;
  background-color: var(--ion-color-medium-light) !important; */
  padding-top: 0px;
  padding-bottom: 0px;
}

.searchbox {
  --background: white !important;
  left: 0px;
  margin-right: 4px;
}

.ion-comments-card {
  text-align: center;
  border-radius: 4px;
  background: white !important;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

ion-select {
  background-color: var(--ion-color-medium-light);
  border-radius: 4px;
  min-width: 40%;
  font-size: 0.9rem;
}

.textarea {
  margin-top: 3px !important;
  --padding-start: opx !important;
  --padding-top: 2px !important;
  --padding-bottom: 2px !important;
  border-radius: 4px;
  margin-left: 0px;
}

.background {
  background: linear-gradient(29.73deg, #000000 18.37%, #010A22 57.4%, #131C32 73.98%, #414C69 112.61%) !important;
  --background: linear-gradient(29.73deg, #000000 18.37%, #010A22 57.4%, #131C32 73.98%, #414C69 112.61%) !important;
  height: 100%;
}

.curved-background {
  top: 4rem;
  background: linear-gradient(29.73deg, #000000 18.37%, #010A22 57.4%, #131C32 73.98%, #414C69 112.61%) !important;
  --background: linear-gradient(29.73deg, #000000 18.37%, #010A22 57.4%, #131C32 73.98%, #414C69 112.61%) !important;

  border-radius: 50px 0px 0px 0px;
  box-shadow: 0px -4px 10px #414C69;
}

.inner-options-background {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}

.settings-responsive {
  min-height: 14vh;
}

.text-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  /* identical to box height */
  color: #549DFF;
}

.img-square {
  width: 98%;
  padding-bottom: 98%;
  background-color: #E3E2E2;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.long_square {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.multiselect-search {
  background-color: white !important;
}

.header-spacer-label {
  background-color: transparent;
  padding-top: 30px;
}

.header-spacer-label-half {
  background-color: transparent;
  padding-top: 15px;
}

.remove-picture {
  line-height: 12px;
  width: 18px;
  font-size: 14pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 2;
  right: 0;
}

.edit-picture {
  background-color: var(--ion-color-primary) !important;
  line-height: 11px;
  width: 15px;
  font-size: 0.75rem;
  font-family: open sans;
  margin-top: 30%;
  margin-left: 0px;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  --placeholder-color: white;
  color: white;
  text-transform: uppercase;
}

.edit-picture-icon {
  line-height: 20px;
  width: 18px;
  font-size: 20pt;
  font-family: tahoma;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  --placeholder-coler: white;
  color: rgb(194, 194, 194);
}

.select-disabled {
  opacity: 1 !important;
}

/* ion-select::part(icon) {
  opacity: 0;
} */

.over-modal {
  z-index: 99999 !important;
}

.button-inner::part(icon) {
  font-size: 100px;
}

::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}

.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}

.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}


.template-background {
  z-index: 98;
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 5%;
  background-size: cover;
  background-repeat: no-repeat;
}

.template-background::part(image) {
  border-radius: 15px;
}

.marco-celular {
  position: relative;
  z-index: 99;
}

.marco-celular::part(image) {
  max-height: 35vh;
}

.preview-thumbnail {
  position: absolute;
  left: 0;
  top: 0%;
  width: 364%;
  height: 128vh;
  /* border-radius: 5%; */
  -webkit-transform: scale(0.28);
  -ms-transform: scale(0.28);
  transform: scale(0.28);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 10;
  /* border: 4px solid green; */
}

.preview-thumbnail:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  /* padding-top: 100%; */
  height: 0;
}

.preview-full {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.swiper-slide-preview-step {
  min-height: 35vh;
}

.phone-step {
  border: 10px solid #A6A9AA;
  border-width: 3px 3px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  min-height: max(35vh, 250px);
  width: 94%;
}
  
.phone-choose-step {
  border: 10px solid #A6A9AA;
  border-width: 3px 3px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  min-height: 25vh;
  width: 94%;
}

.preview-full-eyedrop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 100;
}

.hidden-eyedrop {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: inherit !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset; */
  transition: background-color 5000s ease-in-out 0s;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-ms-reveal {
  display: none;
}

.glowing-border {
  border: 3px solid #2772DF;
  border-radius: 18px;
  /* box-sizing: border-box; */

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.glowing-border-round {
  border: 3px solid #2772DF !important;
  border-radius: 50%;
  /* box-sizing: border-box; */

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.glowing-border-round-base {
  border: 3px solid transparent;
  border-radius: 50%;
  /* box-sizing: border-box; */

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.glowing-border-square-base {
  border: 3px solid transparent;
  border-radius: 1px;
  /* box-sizing: border-box; */

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.glowing-border-square {
  border: 3px solid #2772DF !important;
  border-radius: 1px;
  /* box-sizing: border-box; */

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.glow {
  filter: drop-shadow(0 0 0.5rem #2776DF);
}


.template-thumbnail {
  z-index: 98;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-size: cover;
  background-repeat: no-repeat;
}

.check-icon {
  font-size: 1.5rem;
  color: white;
}

.redo-icon {
  font-size: 2rem;
}

.undo-icon {
  font-size: 2rem;
}

.expand-icon {
  font-size: 1.5rem;
  color: white;
  top: 1rem;
  right: 1rem;
  position: absolute;
  z-index: 100;
}

.bottom-background-step {
  margin-top: -6rem;
}

.dropdown-button {
  border-radius: 9px 0px 0px 9px !important;
}

.list-item-color-picker {
  border: 2px solid #FFF;
}

.alert-wrapper {
  border-radius: 20px !important;
}

.swiper-marco {
  margin-left: 9%;
  margin-right: 2%;
}

.small-bullet {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  --size: 0.8rem;
}

.x-small-bullet {
  margin-top: 0.4rem;
  margin-left: 1rem;
  --size: 0.6rem;
}

.progress-bar {
  margin-top: 0.5rem;
  --background: #757983;
  --progress-background: #D0FF04;
  width: 90%;
  height: 0.4rem;
  margin-left: 5%;
}

.progress-bar-completed {
  margin-top: 0.5rem;
  --background: #D0FF04;
  --progress-background: #D0FF04;
  width: 90%;
  height: 0.4rem;
  margin-left: 5%;
}

.register-list-item-left {
  background: #DBDBE0;
  border-radius: 9px 0px 0px 9px;
  font-family: 'Roboto Condensed' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #414243;
  max-height: 3rem;
  height: 100rem;
  letter-spacing: 0.0001em;
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: transparent;
  --inner-box-shadow: none;
  --padding-end: 0rem;
  --inner-padding-end: 0rem;
  width: 100%;
}

ion-item::part(native) {
  min-height: unset;
  --highlight-height: 0px !important;
  --border-color: transparent;
  --border-width: 0px !important;
}

.item-interactive {
  min-height: unset;
  --highlight-height: 0px !important;
  --border-color: transparent;
  --border-width: 0px !important;
}

@media screen and (max-width: 400px) {
  .hello-sub-title {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4rem;
    align-items: left;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  .hello-sub-title-gradient {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 1.35rem;
    line-height: 1.35rem;
    align-items: left;
    letter-spacing: 0.007em;

    color: #ffffff;
    background: linear-gradient(270.11deg, #ffffff 47.4%, #d0ff04 69.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .hello-title {
    font-family: Roboto;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.3rem;
    align-items: left;

    color: #ffffff;
  }

  .settings-responsive {
    min-height: 15vh;
  }

  .check-icon {
    font-size: 1.5rem;
    color: white;
  }

  .marco-celular {
    position: relative;
    padding-left: 15%;
    z-index: 99;
  }

  .expand-icon {
    font-size: 1.2rem;
    color: white;
    top: 1em;
    right: 1rem;
    position: absolute;
    z-index: 100;
  }


  .template-thumbnail {
    z-index: 98;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bottom-background-step {
    margin-top: -3rem;
  }

  .register-list-item-left {
    background: #DBDBE0;
    border-radius: 9px 0px 0px 9px;
    font-family: 'Roboto Condensed' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    color: #414243;
    max-height: 3rem;
    letter-spacing: 0.0001em;
    --inner-padding-bottom: 0px;
    --inner-padding-top: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --background: transparent;
    --inner-box-shadow: none;
    width: 100%;
  }

  .register-list-item-left .item-native::part(native) .item-inner {
    padding-inline-end: 0px !important;
    min-height: unset;
  }

}