<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="false"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row style="height: 10%">
          <ion-col>
            <ion-accordion-group @ionChange="checkOption">
              <ion-accordion
                v-for="(item, index) in content"
                :key="item.header"
                toggle-icon="none"
                @click="item.action"
                toggleIcon=""
                :value="item.value"
              >
                <ion-item
                  slot="header"
                  class="accordeon-header ion-padding-start ion-padding-end"
                  lines="none"
                  @click="showOptions"
                  :style="index > 0 ? 'margin-top: 8px' : ''"
                >
                  <ion-thumbnail style="--size: 20px" slot="start">
                    <ion-img
                      :src="
                        item && item.image
                          ? item.image
                          : 'assets/img/accordeon-icon.png'
                      "
                    ></ion-img>
                  </ion-thumbnail>
                  <ion-row class="ion-wrap">
                    <ion-col>
                      <ion-row>
                        <ion-label
                          class="ion-margin-start"
                          style="color: white"
                          >{{ item.header }}</ion-label
                        >
                      </ion-row>
                      <ion-row>
                        <ion-label
                          class="ion-margin-start smaller-text"
                          style="color: white"
                          >{{ item.label }}</ion-label
                        >
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-list slot="content" class="inner-options-background">
                  <ion-item
                    v-for="option in item.options"
                    :key="option.text"
                    lines="none"
                    style="--background: none; background: none"
                    :style="option.delete && !deleteOption ? 'display: none ' : ''"
                    :class="option.deleteStyle ? 'ion-margin-end ' + option.deleteStyle : 'ion-margin-start'"
                    @click="callAction(option.action)"
                  >
                    <ion-icon
                      v-if="option.icon"
                      :icon="option.icon"
                      style="font-size: 1.5rem; margin-right: 0px"
                      slot="start"
                    ></ion-icon>
                    <ion-label
                      v-if="option.text"
                      class="ion-margin-start small-text"
                      style="color: white"
                      >{{ option.text }}</ion-label
                    >
                    <div style="text-align: center; margin: auto"
                        :style="option.delete && !deleteButton ? 'display: none ' : ''">                        
                      <ion-icon
                        v-if="option.icon2"
                        :icon="option.icon2"
                        style="font-size: 3.5rem; margin-right: 0px"
                        slot="start"
                      ></ion-icon>
                      <p
                        v-if="option.text2"
                        class="small-text"
                        style="color: white; font-size: 0.8rem"
                        >{{ option.text2 }}</p
                      >
                       <div v-if="option.text2"
                          class="normal-button ion-margin-bottom"
                          @click="callAction(option.action2)"
                        >
                          Eliminar Cuenta
                        </div>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 90vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonLabel,
  IonItem,
  IonAccordionGroup,
  IonAccordion,
  IonList,
  IonThumbnail,
  IonImg,
  IonIcon,
  alertController,
  onIonViewDidEnter,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { Storage } from "@ionic/storage";
import { useRouter } from "vue-router";
import api from "../api";

export default defineComponent({
  name: "AccountOptionsPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonItem,
    IonLabel,
    IonAccordionGroup,
    IonAccordion,
    IonList,
    IonThumbnail,
    IonImg,
    IonIcon,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);
    const deleteOption = ref(false);
    const deleteButton = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    };

    const dismissLoader = () => {
      isLoading.value = false;
    };
    const showDelete = () => {
      if (deleteOption.value == true) {
        deleteOption.value = false;        
      } else {
        deleteOption.value = true;            
      }
    };
    
    const showDeleteButton = () => {
      if (deleteButton.value == true) {
        deleteButton.value = false;        
      } else {
        deleteButton.value = true;            
      }
    };
    const showOptions = () => {
      deleteOption.value = false;   
    };
    const store = useStore();

    const router = useRouter();

    onIonViewDidEnter(() => {
      store.commit("setAccountOption", "account-options-account-help");
    });

    return {
      logo,
      isLoading,
      presentLoader,
      dismissLoader,
      router,
      showDelete,
      showDeleteButton,
      showOptions,
      deleteOption,
      deleteButton
    };
  },
  data: () => ({
    content: [
      {
        header: "Notificaciones",
        value: "notifications",
        //   label: "Oferta por 24 horas y actualizaciones",
        image: "assets/img/notification-icon.png",
        options: [
          {
            text: "Ofertas, promociones y/o anuncios",
          },
          {
            text: "Actualización de términos y condiciones de servicio",
          },
          {
            text: "Actualización de políticas de privacidad",
          },
          {
            text: "Actualización del aviso legal de glopcare",
          },
          {
            text: "Actualizaciones de la APP",
          },
        ],
      },
      {
        header: "Publicidad",
        value: "marketing",
        image: "assets/img/ads-icon.png",
        //label: "Sin programar / programada",
        options: [
          {
            text: "Asistencia para diseñar publicidad",
            icon: "assets/icon/accounts/whatsapp.svg",
            action: (async (accessToken, profile, ctx) => {
              window.open(
                "whatsapp://send?abid=+584144205003&text=Requiero%2C%20ayuda%2C%20con%2C%20glopcare",
                "_blank"
              );
            }).bind(this),
          },
          {
            text: "Edita tu publicidad",
            icon: "assets/icon/accounts/catalog.svg",
            action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/glopcard-catalog-step");
            }).bind(this),
          },
          // {
          //   text: "Ver historial de publicidad",
          //   icon: "assets/icon/accounts/history.svg",
          // },
        ],
      },
      // {
      //   header: "Clientes",
      //   value: "customers",
      //   label: "20 usuarios nuevos en tu glopcard",
      // },
      // {
      //   header: "Reportes",
      //   image: "assets/img/reports-icon.png",
      // },
      // {
      //   header: "Programa de referidos",
      //   image: "assets/img/referrals-icon.png",
      //   label: "20 de colegas disponibles",
      // },
      // {
      //   header: "Contratar servicios",
      //   image: "assets/img/services-icon.png",
      // },
      {
        header: "Configuración",
        value: "settings",
        image: "assets/img/settings-account-icon.png",        
        options: [   
          {
            text: "Cerrar Sesión",
            icon: "assets/icon/accounts/logout.svg",
            action: async function (accessToken, profile, ctx) {
              ctx.presentLoader();
              console.log("Logging out...");

              let objProfile = {
                is_active: true,
                profile: JSON.stringify(profile),
                close_session: true
              };

              api
                .post("profile/set", objProfile, {
                  headers: {
                    Authorization: `Bearer ${accessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);
                  console.log("Logging out...");

                  const storage = new Storage();

                  ctx.dismissLoader();

                  await storage.create();
                  await storage.clear();

                  document.location.reload(true);
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));

                  ctx.dismissLoader();

                  var message;

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.message;
                    }
                  } else {
                    message = error.message;
                  }
                })
                .finally(async () => {
                  const storage = new Storage();

                  await storage.create();
                  await storage.clear();

                  ctx.dismissLoader();

                  document.location.reload(true);
                });
            }.bind(this),
          },      
          {
            text: "Centro de Gestión",
            icon: "assets/icon/accounts/management-center.svg",
            action: (async (accessToken, profile, ctx) => {
              ctx.showDelete();
            }).bind(this),
          },
          {
            text: "Eliminar cuenta",
            delete: "yes",
            deleteStyle:"delete-style",
            icon: "assets/icon/accounts/delete-account.svg",
            action: (async (accessToken, profile, ctx) => {
              ctx.showDeleteButton();
            }).bind(this),
          },
          {
            text2: "Eliminar tu cuenta Glopcare implica perder definitivamente toda la información que registraste a lo largo de tu trayectoria, con el uso de nuestros servicios.",
            icon2: "assets/icon/accounts/delete-alert.svg",
            delete: "yes",
            deleteStyle:"delete-style2",
            action2: (async (accessToken, profile, ctx) => {
              ctx.presentLoader();
              console.log("Deleting account...");
              await api
                .post("send-delete-mail", null, {
                  headers: {
                    Authorization: `Bearer ${accessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);
                  ctx.dismissLoader();
                  const alert = await alertController.create({
                    header: "¡Advertencia!",
                    subHeader: "¿Confirma que desea eliminar su cuenta?",
                    message:
                      "Por seguridad hemos enviado un código a tu correo que expira dentro de 5 minutos.",
                    inputs: [
                      {
                        name: "code",
                        type: "text",
                        placeholder: "Ingresa el código aquí",
                      },
                    ],
                    buttons: [
                      {
                        text: "OK",
                        role: "confirm",
                        handler: (data) => {
                          console.log(data.code);
                          ctx.presentLoader();

                          api
                            .post(
                              "delete-account",
                              { code: data.code },
                              {
                                headers: {
                                  Authorization: `Bearer ${accessToken}`,
                                },
                              }
                            )
                            .then(async function (response) {
                              console.log(response);

                              ctx.dismissLoader();

                              console.log("Logging out...");
                              if (response.data.error_code) {
                                const alert = await alertController.create({
                                  header: "Alerta",
                                  subHeader: response.data.error_code,
                                  message: "",
                                  buttons: ["OK"],
                                });
                                await alert.present();
                              } else {
                                const storage = new Storage();
                                await storage.create();
                                await storage.clear();
                                ctx.router.push("/delete-account-message");
                              }
                            })
                            .catch(async function (error) {
                              console.error(JSON.stringify(error));
                              var message;

                              ctx.dismissLoader();

                              if (
                                error &&
                                error.response &&
                                error.response.status
                              ) {
                                switch (error.response.status) {
                                  default:
                                    message = error.response.message;
                                }
                              } else {
                                message = error.message;
                              }

                              const alert = await alertController.create({
                                header: "Alerta",
                                subHeader:
                                  "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion con la cuenta que deseas eliminar e intenta nuevamente eliminarla",
                                message: message,
                                buttons: ["OK"],
                              });
                              await alert.present();
                            });
                        },
                      },
                      {
                        text: "CANCELAR",
                        role: "Cancel",
                      },
                    ],
                  });
                  await alert.present();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  ctx.dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.message;
                    }
                  } else {
                    message = error.message;
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader:
                      "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion con la cuenta que deseas eliminar e intenta nuevamente eliminarla",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });
            }).bind(this),
          
          }, 
        ],
      },
    ],
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
  },
  methods: {
    callAction(action) {
      if (action) {
        action.call(null, this.getAccessToken, this.getUser.profile, this);
      }
    },

    checkOption(ev) {
      console.log(ev.target.value);
      this.$store.commit(
        "setAccountOption",
        "account-options-" + ev.target.value + "-help"
      );
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.welcome-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.84;
}

.cancel-button {
  /* position: absolute; */
  /* width: 80%; */

  background: #ffffff;
  box-shadow: inset 45px 0px 40px rgba(0, 0, 0, 0.3);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.accordeon-list {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}

ion-accordion {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}

ion-accordion-group {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}

.accordeon-list-item {
  background: #000000;
  --background: #000000;
}

.accordeon-header {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
  --background: none;
  box-shadow: 0px -4px 10px #414c69;
  border-radius: 24px 0px 0px 0px;
}

.inner-options-background {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}

.delete-style {
  margin-left:50px;
}

.delete-style2 {
  margin-left:0;
}
</style>

