<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="false"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end ion-margin-bottom">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Catálogo</span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6"> </ion-col>
        </ion-row>
        <ion-row style="height: 10%">
          <ion-col>
            <ion-accordion-group @ionChange="checkOption">
              <ion-accordion
                v-for="(item, index) in content"
                :key="item.header"
                toggle-icon="none"
                @click="goTo(item)"
                toggleIcon=""
                :value="item.value"
              >
                <ion-item
                  slot="header"
                  class="accordeon-header ion-padding-start"
                  lines="none"
                  :style="{
                    background: item.background,
                    'margin-top': index > 0 ? '8px' : '',
                  }"
                >
                  <ion-thumbnail style="--size: 20px" slot="start">
                    <ion-img
                      :src="
                        item && item.image
                          ? item.image
                          : 'assets/img/accordeon-icon.png'
                      "
                    ></ion-img>
                  </ion-thumbnail>
                  <ion-row class="ion-wrap">
                    <ion-col>
                      <ion-row>
                        <ion-label
                          class="ion-margin-start"
                          style="color: white; white-space: inherit;"
                          >{{ item.header }}</ion-label
                        >
                      </ion-row>
                      <ion-row>
                        <ion-label
                          class="ion-margin-start smaller-text"
                          style="color: white"
                          >{{ item.label }}</ion-label
                        >
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-list
                  slot="content"
                  class="inner-options-background"
                  :style="{ background: item.background }"
                >
                  <ion-item
                    v-for="option in item.options"
                    :key="option.text"
                    lines="none"
                    style="--background: none; background: none"
                    class="ion-margin-start"
                    @click="callAction(option.action)"
                  >
                    <ion-icon
                      :icon="option.icon"
                      style="font-size: 1.5rem; margin-right: 0px"
                      slot="start"
                    ></ion-icon>
                    <ion-label
                      class="ion-margin-start small-text"
                      style="color: white"
                      >{{ option.text }}</ion-label
                    >
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 90vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonLabel,
  IonItem,
  IonAccordionGroup,
  IonAccordion,
  IonList,
  IonThumbnail,
  IonImg,
  IonIcon,
  alertController,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { Storage } from "@ionic/storage";
import { useRouter } from "vue-router";
import api from "../api";

export default defineComponent({
  name: "CatalogOptionsPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonItem,
    IonLabel,
    IonAccordionGroup,
    IonAccordion,
    IonList,
    IonThumbnail,
    IonImg,
    IonIcon,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    };

    const dismissLoader = () => {
      isLoading.value = false;
    };

    const store = useStore();

    const router = useRouter();

    return {
      logo,
      isLoading,
      presentLoader,
      dismissLoader,
      router,
      store,
    };
  },
  data: () => ({
    content: [
      {
        header: "Registrar o editar",
        value: "edit-products",
        label: "Servicios y Productos",
        image: "assets/img/catalog-edit-icon.png",
        background: "#4d5364!important",
        action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/edit-product-options");
            }).bind(this),
        options: [
          /*  {
            text: "Registrar nuevo producto o servicio",
            action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/edit-product-options");
            }).bind(this),
          },
          {
            text: "Ver Servicios y/o Productos",
            action: (async (accessToken, profile, ctx) => {
              ctx.store.commit("setSelectedGroup", null);
              ctx.router.push("/list-catalog-items");
            }).bind(this),
          }, */
        ],
      },
      {
        header: "Editar grupos y categorías",
        value: "edit-categories",
        image: "assets/img/catalog-categories-icon.png",
        background: "#404759!important",
        options: [
          {
            text: "Editar grupos existentes",
            action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/edit-groups");
            }).bind(this),
          },
          {
            text: "Editar categorías existentes",
            action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/edit-categories");
            }).bind(this),
          },
        ],
      },
      {
        header: "Editar lista de precios",
        value: "edit-prices",
        image: "assets/img/catalog-find-icon.png",
        background: "#343b4e!important",
        action: (async (accessToken, profile, ctx) => {
          ctx.router.push("/edit-price-list");
        }).bind(this),
        options: [],
      },
/*       {
        header: "Servicios y Productos Publicados",
        value: "edit-ads",
        image: "assets/img/catalog-publish-icon.png",
        background: "#1a2238!important",
        options: [
          {
            text: "Asistencia para diseñar publicidad",
          },
          {
            text: "Edita tu publicidad",
          },
        ],
      }, */
      {
        header: "Servicios y Productos Archivados",
        value: "edit-archived",
        image: "assets/img/catalog-archived-icon.png",
        background: "#1a2238!important",
        options: [
          {
            text: "Administrar productos y servicios archivados",
            action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/list-catalog-items/archived");
            }).bind(this),
          },
        ],
      },      
      {
        header: "Integración con Calendly",
        value: "calendly-step",
        image: "assets/img/calendly-step-icon.png",
        background: "#0e162d!important",
        action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/glopcard-calendly-step");
            }).bind(this),
        options: [],
      },
      {
        header: "Información de Pago",
        value: "payment-methods",
        image: "assets/img/payment-methods.png",
        background: "#000209!important",
        options: [
          {
            text: "Editar métodos de pagos",
            action: (async (accessToken, profile, ctx) => {
              ctx.router.push("/payment-methods");
            }).bind(this),
          },
        ],
      },
    ],
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
  },
  methods: {
    callAction(action) {
      action.call(null, this.getAccessToken, this.getUser.profile, this);
    },

    goTo(item) {
      if (item.action) {
         this.callAction(item.action);
      }       
    },

    checkOption(ev) {
      console.log(ev.target.value);
      this.$store.commit(
        "setAccountOption",
        "account-options-" + ev.target.value + "-help"
      );
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.welcome-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.84;
}

.cancel-button {
  /* position: absolute; */
  /* width: 80%; */

  background: #ffffff;
  box-shadow: inset 45px 0px 40px rgba(0, 0, 0, 0.3);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.accordeon-list {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}

ion-accordion {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}

ion-accordion-group {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}

.accordeon-list-item {
  background: #000000;
  --background: #000000;
}

.accordeon-header {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
  --background: none;
  box-shadow: 0px -4px 10px #414c69;
  border-radius: 24px 0px 0px 0px;
  --inner-padding-end: 0px;
}

.inner-options-background {
  background: linear-gradient(
    270deg,
    #414c69 -7.21%,
    #010a22 26.49%,
    #000000 93.89%
  ) !important;
}
</style>

