<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>

        <ion-row class="ion-no-margin">
          <ion-img :src="logo" class="welcome-logo"></ion-img>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-title"> ¡Prueba ya! </ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-sub-title">{{$t("message.complete_register")}}</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="
                ion-margin-top ion-margin-start ion-margin-end
                register-list
              "
            >
              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
              >
                <span class="prefix">glopcare.com/</span>
                <ion-input
                  v-model="username"
                  type="email"
                  style="margin-top: 0px; margin-left: 0px"
                  placeholder="usuario"
                  @keypress="validateUsername($event)"
                ></ion-input>
              </ion-item>
              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    email && email.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Correo electrónico</ion-label
                >
                <ion-input
                  placeholder="Correo electrónico"
                  type="email"
                  :value="getUser.email"
                  disabled
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-margin-start ion-margin-end"
          style="margin-bottom: 0.7rem"
        >
          <ion-col size="12">
            <div style="position: relative; margin-top: 0.5rem">
              <p class="small-text ion-margin">
                Al presionar “CREAR CUENTA”, confirmas que leíste la
                <span class="link-text">Política de Privacidad</span> y que
                aceptas las <span class="link-text">Condiciones de Uso</span>
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="completeRegister()">
              {{ $t("button.create_account") }}
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  IonCheckbox,
  IonText,
  alertController
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { useRouter } from "vue-router";
import api from "../api";
import { mapGetters, useStore } from "vuex";

export default defineComponent({
  name: "CompleteRegisterPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
    IonCheckbox,
    IonText,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);
    const email = ref("");
    const username = ref("");
    const router = useRouter();
    const store = useStore();
    const user = reactive({});

    const completeRegister = () => {
      isLoading.value = true;

      const registerObject = new FormData();

      registerObject.append("username", username.value);
      registerObject.append("email", email.value);

      api
        .post("complete-register", registerObject, 
              {headers: {
                  Authorization: `Bearer ${store.getters.getAccessToken}`,
                }
              }
            )
        .then(async function (response) {
          console.log(response);
          const alert = await alertController.create({
            header: '¡Bienvenido!',
            subHeader: 'Gracias por confirmar tu usuario',
            message: '¡Ya puedes empezar a usar glopcare!',
            buttons: [
              {
                text: 'OK',
                role: 'confirm',
                handler: () => {
                  api
                    .get("me", {
                      headers: {
                        Authorization: `Bearer ${response.data.access_token}`,
                      },
                    })
                    .then((response) => {
                      console.log(response);
                      Object.assign(user, response.data);
                    })
                    .catch(function (error) {
                      console.log(error);
                      if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
                        alert(JSON.stringify(error.response.data.message), "danger");
                      } else {
                        alert(JSON.stringify(error.response.data));
                      }
                    });
                }
              }
            ]
          });

          await alert.present();
        })
        .catch(async function (error) {
          console.error(error);
          var message;

          switch (error.response.status){
            case 422:
                message = 'El nombre de usuario que has registrado es inválido o ya esta usado.';
              break;
            default:
              message = error.response.message;
          }
          
          const alert = await alertController.create({
              header: 'Alerta',
              subHeader: 'Ha ocurrido un error',
              message: message,
              buttons: ['OK'],
            });
          await alert.present();
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    return {
      logo,
      completeRegister,
      isLoading,
      email,
      username,
      user
    };
  },
  computed: {
    ...mapGetters(["getUser", "getAccessToken"]),
  },
  data: () => ({
    currentRole: null,
  }),
  methods: {
    toggleShowPassword() {
      this.showPassword = this.showPassword ? false : true;
    },
    validateUsername(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[a-z0-9]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    }
  },
  watch: {
    user: {
      deep: true,
      handler(value) {
        console.log(value);

        let parsedValue = JSON.parse(JSON.stringify(value));
        this.setLocalStorage("user", parsedValue);
        this.$store.commit("setUser", parsedValue);

        if (value) {
          this.$router.push("home");
        }
      },
    },
    accessToken(value) {
      console.log(value);
      this.setLocalStorage("accessToken", value);
      this.$store.commit("setAccessToken", value);
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
</style>

