x<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row
          class="ion-margin-start ion-margin-end"
          style="text-align: center; color: white; display: block; height: 200px"
        >
          <ion-col class="ion-margin-start ion-margin-end" size="12"
            ><h1 class="ion-margin-start ion-margin-end">
              Tu cuenta ha sido Eliminada
            </h1>
            <p class="ion-margin-start ion-margin-end">
              Para mejorar nuestros servicios, te agradeceríamos que brevemente
              describieras el motivo por el cual has decidido eliminar tu cuenta
              Glopcare
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="ion-margin-top ion-margin-start ion-margin-end register-list"
            >
              
              <ion-item
                style="max-height: 14rem"
                class="register-list-item-textarea ion-margin-bottom"
                lines="none"
              >
                <ion-textarea
                  v-model="message"
                  placeholder="Escriba su Mensaje"
                  :style="
                    message && message.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem; text-overflow: ellipsis'
                  "
                  class="textarea"
                  :rows="4"
                  inputmode="text"
                  :key="componentKey"
                ></ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="sendMessage()">
              Enviar
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import messages from "@/i18n";
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  IonIcon,
  alertController,
  IonTextarea,
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import api from "../api";

export default defineComponent({
  name: "DeleteAccountMessagePage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
    IonIcon,
    IonTextarea,
  },
  setup() {
    const message = ref("");
    const name = ref("");
    const email = ref("");
    const emailValidationMessage = ref("");
    const nameValidationMessage = ref("");

    const router = useRouter();

    const isLoading = ref(false);

    const store = useStore();

    const sendMessage = async () => {
      isLoading.value = true;
      if (!message.value
      //  || !name.value || !email.value
       ) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Por favor completa todos los campos",
          message:
            "Los campos de mensaje, nombre y correo electrónico son obligatorios",
          buttons: ["OK"],
        });
        await alert.present();
        isLoading.value = false;
        return;
      }
      const MessageObject = new FormData();
      MessageObject.append("message", message.value);
      MessageObject.append("name", store.getters.getUser.name);
      MessageObject.append("email", store.getters.getUser.email);

      api
        .post("delete-accout-message", MessageObject)
        .then(async function (response) {
          isLoading.value = false;
          router.push("/home").then(() => router.go(0));
        })
        .catch(async function (error) {
          //    console.error(JSON.stringify(error));
          var message;
          isLoading.value = false;

          if (error && error.response && error.response.status) {
            switch (error.response.status) {
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader:
              "Ha ocurrido un error. Por favor intenta enviar de nuevo",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    return {
      message,
      sendMessage,
      isLoading,
      name,
      email,
      emailValidationMessage,
      nameValidationMessage,
    };
  },

  watch: {},
  data: () => ({
    componentKey: 0,
  }),

  methods: {
    validateEmailKey(evt) {
      evt = evt ? evt : window.event;
      if (!evt.key.match(/[a-z0-9@.]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    async validateEmail(ev) {
      const value = ev.target.value;
      this.emailValidationMessage = "";

      if (
        !value.match(
          /^(?=.{1,254}$)(?=.{1,64}@)[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
        )
      ) {
        this.emailValidationMessage = "Correo electrónico inválido";
      }
    },

    async validateName(ev) {
      const value = ev.target.value;
      this.nameValidationMessage = "";

      if (value.length < 5) {
        this.nameValidationMessage = "Al menos 5 caracteres";
      }
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.welcome-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.84;
}
</style>


