<template>
  <ion-page>
    <ion-content
      :fullscreen="true"
      scroll="false"
      :style="'--background: ' + newBackground"
      ref="content"
    >
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="false"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-margin-start ion-margin-end ion-margin-top">
          <ion-col class="ion-margin" size="12"
            ><ion-text
              class="hello-sub-title"
              :style="'font-size: 1.2em; color: ' + userNameColor + ';'"
            >
              {{ productId ? "Editar" : "Registrar" }}
              {{
                getProductOrService == "service" ? "Servicio" : "Producto"
              }}</ion-text
            ><br />
            <ion-label class="small-text">{{
              product_response && product_response.status
                ? product_response.status == "draft"
                  ? "Borrador"
                  : "Publicado"
                : "Nuevo"
            }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end ion-margin-top">
          <ion-col size="4.1">
            <ion-list class="register-list">
              <ion-item class="register-list-item-left ion-margin-start">
                <ion-label
                  position="stacked"
                  :style="
                    getSelectedGroup && getSelectedGroup.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Grupo</ion-label
                >
                <ion-input
                  :value="getSelectedGroup ? getSelectedGroup : group"
                  placeholder="Grupo"
                  type="text"
                  :style="
                    getSelectedGroup && getSelectedGroup.length
                      ? 'margin-top: -0.5rem; text-overflow: ellipsis'
                      : 'margin-top:-1rem; text-overflow: ellipsis'
                  "
                  :readonly="true"
                ></ion-input>
                <ion-select
                  style="--placeholder-opacity: 1"
                  ref="refGroup"
                  @ionChange="updateGroup('refGroup')"
                  hidden
                >
                  <ion-select-option
                    v-for="group in getAvailableGroups"
                    :key="group.name"
                    :value="group.name"
                    >{{ group.name }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="1.7" style="padding-left: 0.1rem">
            <ion-list class="register-list">
              <div
                class="register-list-item-span-no-right ion-margin-bottom ion-justify-content-center"
                id="fontNameColorId"
              >
                <ion-icon
                  :icon="caretDownOutline"
                  style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refGroup.$el.open()"
                ></ion-icon>
              </div>
            </ion-list>
          </ion-col>

          <ion-col size="4" style="padding-left: 0.1rem">
            <ion-list class="register-list">
              <ion-item class="register-list-item-left">
                <ion-label
                  position="stacked"
                  :style="
                    getProductOrService && getProductOrService.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Producto o Servicio</ion-label
                >
                <ion-input
                  :value="
                    getProductOrService == 'service' ? 'Servicio' : 'Producto'
                  "
                  placeholder="Producto o Servicio"
                  type="text"
                  :style="
                    productOrService && productOrService.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem; text-overflow: ellipsis'
                  "
                  :readonly="true"
                ></ion-input>
                <ion-select
                  style="--placeholder-opacity: 1"
                  ref="refProductOrService"
                  :value="getProductOrService"
                  hidden
                  @ionChange="updateProductOrService('refProductOrService')"
                >
                  <ion-select-option value="product"
                    >Producto</ion-select-option
                  >
                  <ion-select-option value="service"
                    >Servicio</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="1.7" style="padding-left: 0.1rem">
            <ion-list class="register-list">
              <div
                class="register-list-item-span-no-right ion-margin-bottom ion-justify-content-center"
              >
                <ion-icon
                  :icon="caretDownOutline"
                  style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refProductOrService.$el.open()"
                ></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list class="ion-margin-start ion-margin-end register-list">
              <ion-item class="register-list-item-textarea" lines="none">
                <ion-label
                  position="stacked"
                  :style="
                    name && name.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >{{
                    "Nombre del " +
                    (getProductOrService == "service" ? "servicio" : "producto")
                  }}</ion-label
                >
                <ion-textarea
                  v-model="name"
                  :placeholder="
                    'Nombre del ' +
                    (getProductOrService == 'service' ? 'servicio' : 'producto')
                  "
                  :style="
                    name && name.length
                      ? 'margin-top: 0rem'
                      : 'margin-top:-1rem'
                  "
                  class="textarea"
                  :rows="2"
                  inputmode="text"
                  :key="componentKey"
                  maxlength="254"
                ></ion-textarea>
              </ion-item>

              <ul
                v-if="searchProduct.length && searchProduct.length > 1"
                class="autocomplete-results"
              >
                <li
                  v-for="item in searchProduct.filter((obj, index, self) => {return index === self.findIndex((t) => t.product_name === obj.product_name)})"
                  :key="item.product_name"
                  @click="selectProductName(item.product_name)"
                  class="autocomplete-result"
                >
                  {{ item.product_name }}
                </li>
              </ul>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
          <ion-col size="9.5">
            <ion-list class="register-list ion-margin-start">
              <ion-item class="register-list-item-left ion-margin-start">
                <ion-label position="stacked" :style="external_url && external_url.length
                  ? 'visibility:unset; padding-left: 4px; margin-top: -1rem; min-height: 30px !important;'
                  : 'visibility:hidden'
                  ">Url Externo (Opcional)</ion-label>
                <ion-input v-model="external_url"  @change="validateUrl(external_url)" class="ion-input"
                  placeholder="Url Externo (Opcional)" type="text"
                  :style="external_url && external_url.length
                    ? 'margin-top: -0.5rem'
                    : 'margin-top:-1rem; text-overflow: ellipsis'
                    "
                    ></ion-input>                
              </ion-item>


             

              <ion-item class="register-list-item-left ion-margin-start ion-margin-top">
                <ion-label
                  position="stacked"
                  :style="
                    productImages && productImages.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >{{
                    "Foto(s) del " +
                    (getProductOrService == "service" ? "servicio" : "producto")
                  }}</ion-label
                >
                <ion-input
                  :placeholder="
                    'Foto(s) del ' +
                    (getProductOrService == 'service'
                      ? 'servicio'
                      : 'producto') +
                    (currentLayout ? ' ' + currentLayout.length + '' : '')
                  "
                  type="text"
                  :style="
                    group && group.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem; text-overflow: ellipsis'
                  "
                  :readonly="true"
                ></ion-input>
              </ion-item>
              <ion-item
                class="register-list-item-left ion-margin-start ion-margin-top"
              >
                <span class="prefix ion-no-margin" slot="start">{{
                  priceTypeLabel
                }}</span>
                <ion-input
                  v-model="price"
                  :placeholder="
                    'Precio del ' +
                    (getProductOrService == 'service' ? 'servicio' : 'producto')
                  "
                  type="number"
                  step=".01"
                  :style="
                    price && price.length
                      ? 'margin-top: -0.1rem; text-align: right; --padding-end: 0.7rem'
                      : 'margin-top: -0.1rem; text-overflow: ellipsis'
                  "
                ></ion-input>
              </ion-item>

              <ion-item
                v-if="getProductOrService == 'service'"
                class="register-list-item-left ion-margin-start ion-margin-top"
              >
                <ion-label
                  position="stacked"
                  :style="
                    price_description && price_description.length
                      ? 'visibility:unset; padding-left: 4px; margin-top: -1rem; min-height: 30px !important;'
                      : 'visibility:hidden'
                  "
                  >Duración del servicio</ion-label
                >
                <ion-input
                  v-model="price_description"
                  placeholder="Duración del servicio"
                  type="text"
                  :style="
                    price_description && price_description.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem; text-overflow: ellipsis'
                  "
                  @click="
                    allow_edit_price_description == true ||
                    price_description == ''
                      ? ''
                      : $refs.priceDescription.$el.open()
                  "
                ></ion-input>
                <ion-select
                  :interface-options="priceDescriptionOptions"
                  ref="priceDescription"
                  cancel-text="Cancelar"
                  hidden
                  @ionChange="updatePriceDescription"
                >
                  <ion-select-option
                    v-for="item in priceDescriptions"
                    :key="item.value"
                    :value="item.value"
                    >{{ item.label }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="1.5">
            <ion-list class="register-list">
              <div class="register-list-item-right ion-justify-content-center" @click="clearUrl()">
                <ion-icon :icon="closeOutline" style="font-size: 2rem; margin-right: 0px"></ion-icon>
              </div>

              <div class="register-list-item-right ion-margin-top ion-justify-content-center">
                <ion-icon
                  :icon="imagesOutline"
                  style="font-size: 2rem; margin-right: 0px"
                  @click="setPicturesModalOpen(true)"
                ></ion-icon>
              </div>

              <div
                class="register-list-item-right ion-margin-top ion-justify-content-center"
                @click="presentPriceAlert()"
              >
                <ion-icon
                  :icon="caretDownOutline"
                  style="font-size: 2rem; margin-right: 0px"
                ></ion-icon>
              </div>

              <div
                v-if="getProductOrService == 'service'"
                class="register-list-item-right ion-justify-content-center ion-margin-top"
                @click="$refs.priceDescription.$el.open()"
              >
                <ion-icon
                  :icon="caretDownOutline"
                  style="font-size: 2rem; margin-right: 0px"
                ></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <!-- PRODUCT CATEGORIES -->

        <ion-row class="ion-margin">
          <ion-col class="ion-margin-start ion-margin-end ion-margin-top">
            <p class="small-text ion-no-margin">
              Puedes añadir el servicio a una categoría existente o crear una
              nueva:
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="10.3">
            <ion-list
              v-for="item in product_categories.filter(
                (e) => e.parent_category == null
              )"
              :key="item.id"
              class="register-list ion-margin-start"
            >
              <div
                class="register-list-item-left ion-padding-start ion-margin-end ion-margin-top"
              >
                {{ item.category_name }}
              </div>
              <div
                v-for="subitem in product_categories.filter(
                  (e) => e.parent_category == item.id
                )"
                :key="subitem.id"
                class="register-list-item-left ion-padding-start ion-margin-start ion-margin-end ion-margin-top"
              >
                {{ subitem.category_name }}
              </div>
            </ion-list>
          </ion-col>
          <ion-col size="1.7">
            <ion-list
              v-for="item in product_categories.filter(
                (e) => e.parent_category == null
              )"
              :key="item.id"
              class="register-list"
            >
              <div
                class="register-list-item-right ion-margin-end ion-justify-content-center ion-margin-top"
              >
                <ion-icon
                  :icon="closeOutline"
                  style="font-size: 2rem; margin-right: 0px"
                  @click="removeCategory(item)"
                ></ion-icon>
              </div>
              <div
                v-for="subitem in product_categories.filter(
                  (e) => e.parent_category == item.id
                )"
                :key="subitem.id"
                class="register-list-item-right ion-margin-end ion-justify-content-center ion-margin-top"
              >
                <ion-icon
                  :icon="closeOutline"
                  style="font-size: 2rem; margin-right: 0px"
                  @click="removeCategory(subitem)"
                ></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <!-- CATEGORY BUTTONS -->

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-list class="register-list ion-margin-start">
              <div
                class="register-list-item-left ion-margin-top ion-margin-end ion-justify-content-center"
                @click="presentDecideCategoryAlert()"
              >
                <p class="smalling-text link-text ion-text-center">
                  Agregar<br />CATEGORÍA
                </p>
              </div>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list class="register-list">
              <div
                class="register-list-item-right ion-margin-top ion-margin-end ion-justify-content-center"
                @click="presentDecideSubCategoryAlert()"
              >
                <p class="smalling-text link-text ion-text-center">
                  Agregar<br />SUBCATEGORÍA
                </p>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <!-- PRODUCT DESCRIPTION -->

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="ion-margin-top ion-margin-start ion-margin-end register-list ion-no-padding"
            >
              <ion-item
                class="register-list-item-textarea ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    description && description.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >{{
                    "Descripción de tu " +
                    (getProductOrService == "service" ? "servicio" : "producto")
                  }}</ion-label
                >
                <ion-textarea
                  v-model="description"
                  :placeholder="
                    'Descripción de tu ' +
                    (getProductOrService == 'service' ? 'servicio' : 'producto')
                  "
                  :style="
                    description && description.length
                      ? 'margin-top: 0rem'
                      : 'margin-top:-1rem'
                  "
                  class="textarea"
                  :rows="2"
                  inputmode="text"
                  :key="componentKey"
                  maxlength="2000"
                ></ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

       
        <!-- Event Calendly BUTTON -->

        <ion-row  v-if="getProductOrService == 'service'  && show_calendly_button && !calendly_event" class="ion-margin-start ion-margin-end ion-margin-bottom">
          <ion-col size="12">
            <ion-list class="register-list ion-margin-start ion-margin-end">
              <div
              style="border-radius: 9px;"
                class="register-list-item-left ion-margin-top ion-margin-end ion-justify-content-center"
                @click="!calendlyToken ? $router.push('glopcard-calendly-step') : $refs.refEventDuration.$el.open()"
              >
                <p class="small-text link-text ion-text-center">                  
                  {{ !calendlyToken ? 'Enlazar' : 'Integrar' }} CALENDLY
                </p>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>    
        <ion-row v-if="calendly_event" class=" ion-margin-bottom">
          <ion-col size="9.5">
            <ion-list class="register-list ion-margin-start">
              <ion-item
                class="register-list-item-left ion-margin-start"
              >
                <ion-label
                  position="stacked"
                  :style="
                    calendly_event && calendly_event.length
                      ? 'visibility:unset; padding-left: 4px; margin-top: -1rem; min-height: 30px !important;'
                      : 'visibility:hidden'
                  "
                  >Elige el Servicio1
                </ion-label
                >
                <ion-input
                  v-model="calendly_name"
                  placeholder="Elige el Servicio2"
                  type="text"
                  :style="
                    calendly_name && calendly_name.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem; text-overflow: ellipsis'
                  "  
                  :readonly="true"               
                ></ion-input>
              
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="1.5">
            <ion-list class="register-list">
              <div
                v-if="getProductOrService == 'service'"
                class="register-list-item-right ion-justify-content-center"
                  @click="$refs.refEventDuration.$el.open()"
              >
                <ion-icon
                  :icon="createOutline"
                  style="font-size: 2rem; margin-right: 0px"
                ></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-select
          style="--placeholder-opacity: 1"
          ref="refEventDuration"
          :value="calendly_event"
          hidden
          @ionChange="updateEventDuration($event)"
          placeholder="Ingresa una opción de esta lista"
          :interfaceOptions="{
            buttons: [{text: 'Cancelar', role: 'cancel'}, {text: 'ok'}],
            header: 'Elige el Servicio',
            message: 'Si no esta en esta lista, registralo en Calendly y aparecera aquí'
          }"
        >
          <ion-select-option
            v-for="event in availableEvents"
            :key="event.scheduling_url"
            :value="event.scheduling_url"
          >{{ event.name }}</ion-select-option>
        </ion-select>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="continue-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
              @click="createProduct()"
            >
              GUARDAR<br />CAMBIOS
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="$router.push('/catalog-options')"
            >
              MENÚ DEL<br />CATÁLOGO
              <!-- <div class="continue-button-background"></div> -->
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="min-height: 18vh"></ion-row>
      </ion-grid>

      <ion-modal
        :is-open="showPicturesModal"
        ref="picturesModal"
        @ionModalDidDismiss="showPicturesModal = false"
        style="--background: #000510"
      >
        <ion-header class="ion-no-border">
          <ion-toolbar class="top-toolbar">
            <ion-buttons
              slot="start"
              class="ion-margin-start"
              @click="setPicturesModalOpen(false)"
            >
              <ion-icon
                :icon="chevronBackOutline"
                style="font-size: 2em; color: white"
                class="back-icon-shadow"
              ></ion-icon>
              <ion-text style="font-size: 1em; color: white">Atrás</ion-text>
            </ion-buttons>
            <ion-img
              slot="end"
              src="assets/img/glopcare-text-logo-inline.png"
              style="height: 2.1em; margin-top: 4px; --padding-end: 0px"
            ></ion-img>
          </ion-toolbar>

          <div class="glopcare-info-button">
            <ion-thumbnail style="--size: 60px">
              <img src="assets/img/info-logo.png" />
            </ion-thumbnail>
          </div>
        </ion-header>

        <div
          class="curved-background ion-no-margin"
          style="height: 100%; overflow-y: scroll"
        >
          <ion-row class="ion-no-margin">
            <ion-col size="12">
              <ion-row class="ion-margin-start ion-margin-top">
                <ion-col size="11" class="ion-align-self-center">
                  <span class="hello-sub-title"
                    >Imágenes para tu
                    {{
                      getProductOrService == "service" ? "Servicio" : "Producto"
                    }}</span
                  >
                </ion-col>
              </ion-row>

              <ion-row
                :style="
                  'min-height: ' +
                  innerWidth *
                    (currentLayout && currentLayout.length < 3 ? 1 : 2) +
                  'px'
                "
              >
                <ion-col size="12" :key="componentKey">
                  <grid-layout
                    v-model:layout="currentLayout"
                    :col-num="2"
                    :row-height="innerWidth"
                    is-draggable
                    :is-resizable="false"
                    vertical-compact
                    use-css-transforms
                    :key="componentKey"
                    @layout-updated="layoutUpdated"
                  >
                    <grid-item
                      v-for="item in currentLayout"
                      :x="item.x"
                      :y="item.y"
                      :w="item.w"
                      :h="item.h"
                      :i="item.i"
                      :key="item.i"
                      :style="item.style"
                    >
                      <span class="remove" @click="removeItem(item.i)"
                        ><ion-icon :icon="close" class="remove-icon"> </ion-icon
                      ></span>
                    </grid-item>

                    <grid-item
                      v-if="currentLayout.length < 4"
                      :x="parseInt(currentLayout.length % 2)"
                      :y="parseInt(currentLayout.length / 2)"
                      :w="1"
                      :h="1"
                      :i="currentLayout.length"
                      :key="componentKey"
                    >
                      <div
                        v-if="currentLayout.length == 0"
                        class="square-grid"
                        @click="selectExploreImage"
                      >
                        <span>Subir<br />Imagen</span>
                      </div>
                    </grid-item>

                    <grid-item
                      v-if="currentLayout.length > 0 && currentLayout.length < 4"
                      :x="parseInt(currentLayout.length % 2)"
                      :y="parseInt(currentLayout.length / 2)"
                      :w="1"
                      :h="1"
                      :i="currentLayout.length"
                      :key="componentKey"
                    >
                      <div
                        v-if="currentLayout.length > 0"
                        class="square-grid"
                        @click="selectExploreImage"
                      >
                        <span>Subir Otra<br />Imagen</span>
                      </div>
                    </grid-item>
                  </grid-layout>
                </ion-col>
              </ion-row>

              <ion-row class="ion-margin-start ion-margin-end" :key="componentKey">
                <ion-col>
                  <input
                    type="file"
                    name="image_input"
                    ref="exploreImageInput"
                    accept="image/*"
                    @change="setExploreImage()"
                    style="display: none"
                  />
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="bottom-style ion-margin-start ion-margin-end" :key="componentKey">
                <ion-col size="6">
                  <div
                    class="cancel-button ion-margin-top"
                    style="margin-right: 4px"
                    @click="reset()"
                  >
                    RESTABLECER
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div
                    class="continue-button ion-margin-top ion-margin-end"
                    @click="
                      {
                        showPicturesModal = false;
                        upsertCatalog();
                      }
                    "
                  >
                    CONTINUAR
                    <div
                      class="continue-button-background"
                      style="left: 10px !important"
                    ></div>
                  </div>
                </ion-col>
              </ion-row>
          <ion-row style="min-height: 10vh"></ion-row>
        </div>
      </ion-modal>

      <ion-modal
        :is-open="showSelectedImageModal"
        @ionModalDidDismiss="showSelectedImageModal = false"
      >
        <div style="height: 100%">
          <cropper
            :src="selectedImage"
            ref="cropper"
            :auto-zoom="true"
            :canvas="{
              minHeight: 0,
              minWidth: 0,
              maxHeight: 500,
              maxWidth: 500,
            }"
            :stencil-component="$options.components.RectangleStencil"
            :stencil-props="{
              handlers: {},
              movable: false,
              scalable: false,
              resizable: false,
              aspectRatio: 1,
            }"
            :resize-image="{ adjustStencil: false }"
            image-restriction="stencil"
            style="height: 100%; background-color: white"
            @change="onSelectedImageCrop"
          ></cropper>
          <div style="position: absolute; right: 4px; top: 4px">
            <!-- <ion-button 
                v-if="selectedImageHeight > 0 && selectedImageWidth/selectedImageHeight >= 0.79 && selectedImageWidth/selectedImageHeight <= 0.81" 
                color="secondary" @click="addSelectedImage(true)">Mantener Original
              </ion-button> -->
            <ion-button color="secondary" @click="addSelectedImage(true)"
              >Tamaño Original
            </ion-button>
            <ion-button color="secondary" @click="addSelectedImage()"
              >Recortar
            </ion-button>
          </div>
        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonText,
  IonImg,
  IonLabel,
  IonIcon,
  IonInput,
  IonItem,
  IonList,
  IonSelect,
  IonSelectOption,
  IonTextarea,
  IonModal,
  IonHeader,
  IonButtons,
  IonButton,
  IonThumbnail,
  IonToolbar,
  onIonViewDidEnter,
  onIonViewWillLeave,
  toastController,
  alertController,
  loadingController,
} from "@ionic/vue";
import { defineComponent, ref, reactive, computed } from "vue";
import {
  share,
  imagesOutline,
  createOutline,
  closeOutline,
  caretDownOutline,
  chevronBackOutline,
} from "ionicons/icons";

import api from "../api";
import axios from 'axios';
import { mapGetters, useStore } from "vuex";

import { useRouter, useRoute, onBeforeRouteLeave } from "vue-router";

import { hexToCSSFilter } from "hex-to-css-filter";

import {
  Filesystem,
  Directory,
  Encoding,
  PermissionStatus,
  PermissionState,
} from "@capacitor/filesystem";

import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";

export default defineComponent({
  name: "EditProductPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonText,
    IonImg,
    IonLabel,
    IonIcon,
    IonInput,
    IonItem,
    IonList,
    IonSelect,
    IonSelectOption,
    IonTextarea,
    IonModal,
    Cropper,
    IonHeader,
    IonButtons,
    IonButton,
    IonThumbnail,
    IonToolbar,
  },
  setup() {
    onBeforeRouteLeave(async (to, from) => {
      if (await confirmStayInDirtyForm()) {
        return false;
      }
    });

    const confirmLeave = async () => {
      //console.log( initial_name.value , name.value , initial_group.value , group.value , initial_price.value , price.value , initial_images_lenght.value , productImages.length)
      const alert = await alertController.create({
        header: 'Confirmar',
        message: '¿Realmente quieres irte? ¡Tienes cambios sin guardar!',
        buttons: [
          {
            text: 'Cancelar',
            role: 'cancel',
            handler: () => {
              return false;
            },
          },
          {
            text: 'OK',
            handler: () => {
              return true;
            },
          },
        ],
        backdropDismiss: false,
      });

      await alert.present();
      const { role } = await alert.onDidDismiss();
      return role === 'cancel' ? false : true;
    };

    const confirmStayInDirtyForm = async () => {

      console.log(initial_name.value, name.value);
      console.log(initial_external_url.value, external_url.value);
      console.log(initial_group.value, group.value);
      console.log(initial_price.value, price.value);
      console.log(initial_images_lenght.value, productImages.length);
      console.log(initial_description.value, description.value);

      if (
        initial_name.value != name.value || initial_external_url.value != external_url.value || initial_group.value != group.value || initial_price.value != price.value || initial_images_lenght.value != productImages.length || initial_description.value != description.value
      ) {
        return !(await confirmLeave());
      } else {
        return false;
      }
    };

    const logo = "assets/img/glopcare-logo-with-text.png";

    const productImages = [];
    const close = "assets/icon/close-icon.svg";

    const name = ref(null);
    const external_url = ref(null);
    const calendly_event = ref(null);
    const calendly_name = ref(null);
    const isValidUrl = ref(false);
    const refName = ref(null);
    const price = ref(null);
    const priceTypeLabel = ref("$");
    const priceType = ref("fixed");
    const productId = ref(null);

    const price_description = ref(null);

    const priceDescriptions = [
      { value: "Minutos", label: "Minutos" },
      { value: "Horas", label: "Horas" },
      { value: "Escriba otra duración", label: "Escriba otra duración" },
    ];

    const allow_edit_price_description = ref(false);

    const priceDescriptionOptions = {
      header: "Selecciona una duración de tu servicio",
    };

    const presentPriceAlert = async () => {
      const alert = await alertController.create({
        header: null,
        subHeader: "Tipo de precio",
        message: "Selecciona el tipo de precio",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: "OK",
            role: "confirm",
            handler: (data) => {
              let priceLabel = "$";
              switch (data) {
                case "per-hour":
                  priceLabel = "Por hora $";
                  break;
                case "min":
                  priceLabel = "Desde $";
                  break;
                case "max":
                  priceLabel = "Hasta $";
                  break;
              }
              priceTypeLabel.value = priceLabel;
              priceType.value = data;
            },
          },
        ],
        inputs: [
          {
            label: "Precio fijo",
            type: "radio",
            value: "fixed",
            checked: priceType.value == "fixed",
          },
          {
            label: "Por hora",
            type: "radio",
            value: "per-hour",
            checked: priceType.value == "per-hour",
          },
          {
            label: "Desde",
            type: "radio",
            value: "min",
            checked: priceType.value == "min",
          },
          {
            label: "Hasta",
            type: "radio",
            value: "max",
            checked: priceType.value == "max",
          },
        ],
      });

      await alert.present();
    };

    const isLoading = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    };

    const dismissLoader = () => {
      isLoading.value = false;
    };

    const updateEventDuration = (event) => {
      if (event.target.value) {
        calendly_event.value = event.target.value;
        let selected = availableEvents.value.find(e => e.scheduling_url === calendly_event.value);
        calendly_name.value = selected.name;
        console.log('Opción seleccionada:', calendly_event.value, calendly_name.value);  
      } else {
         calendly_event.value = null;
         calendly_name.value = null;
      }
    };

    const categories = reactive([]);
    const select_categories = reactive([]);
    const product_categories = reactive([]);

    const presentDecideCategoryAlert = async () => {
      const alert = await alertController.create({
        header: null,
        subHeader: "Categorías",
        message:
          'Seleccione una de las categorías existentes o presione "NUEVA" para agregar una nueva',
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: "NUEVA",
            role: "confirm",
            handler: (data) => {
              presentCategoryAlert();
            },
          },
          {
            text: "OK",
            role: "confirm",
            handler: (data) => {
              //console.log("Selected Category:", data);
              let selected_category = categories.find((e) => e.id == data);

              if (!product_categories.find((e) => e.id == data)) {
                product_categories.push(selected_category);
              }
            },
          },
        ],
        inputs: select_categories.filter((s) => s.parent == null),
      });

      await alert.present();
    };
    
    const presentDecideSubCategoryAlert = async () => {
      const alert = await alertController.create({
        header: null,
        subHeader: "Categorías",
        message:
          'Seleccione una de las subcategorías existentes o presione "NUEVA" para agregar una nueva',
        cssClass: "no-wrap-radio",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: "NUEVA",
            role: "confirm",
            handler: (data) => {
              presentSubCategoryAlert();
            },
          },
          {
            text: "OK",
            role: "confirm",
            handler: (data) => {
              //console.log("Selected Category:", data);
              let selected_category = categories.find((e) => e.id == data);

              if (!product_categories.find((e) => e.id == data)) {
                product_categories.push(selected_category);
              }

              //console.log("New Product Categories:", product_categories);
            },
          },
        ],
        inputs: select_categories
          .filter((s) => s.parent != null)
          .map((x) => {
            x.label =
              select_categories.find((y) => y.value == x.parent).label +
              " - " +
              x.label;
            return x;
          }),
      });

      await alert.present();
    };

    const presentCategoryAlert = async () => {
      const alert = await alertController.create({
        header: null,
        subHeader: "Categorías",
        message: "Ingrese un nombre para la nueva categoría",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: "OK",
            role: "confirm",
            handler: (data) => {
              if (data && data.category_name) {
                presentLoader();

                let categoryObject = {
                  category_name: data.category_name,
                };

                api
                  .post("products/categories/create", categoryObject, {
                    headers: {
                      Authorization: `Bearer ${store.getters.getAccessToken}`,
                    },
                  })
                  .then(async function (response) {
                    //console.log(response);

                    getCategories();

                    let new_category = {
                      id: response.data,
                      category_name: data.category_name,
                      parent_category: null,
                      is_active: true,
                    };

                    product_categories.push(new_category);

                    dismissLoader();
                  })
                  .catch(async function (error) {
                    console.error(JSON.stringify(error));
                    var message;

                    dismissLoader();

                    if (error && error.response && error.response.status) {
                      switch (error.response.status) {
                        default:
                          message = error.response.data.message;
                      }
                    } else {
                      message = error.message;
                    }

                    const alert = await alertController.create({
                      header: "Alerta",
                      subHeader:
                        "Ha ocurrido un error. Por favor intenta cerrar sesión, e inicia de nuevo sesion para reintentar crear la categoría",
                      message: message,
                      buttons: ["OK"],
                    });
                    await alert.present();
                  });
              }
            },
          },
        ],
        inputs: [
          {
            label: "Nombre de la categoría",
            type: "text",
            placeholder: "Nombre para la categoría",
            name: "category_name",
          },
        ],
      });

      await alert.present();
    };

    const presentSubCategoryAlert = async () => {
      const alert = await alertController.create({
        header: null,
        subHeader: "Subcategorías",
        message: "Seleccione primero la categoria padre",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: "OK",
            role: "confirm",
            handler: async (data) => {
              let selectedCategory = data;

              const alert = await alertController.create({
                header: null,
                subHeader: "Subcategorias",
                message: "Ingrese ahora nombre para la nueva subcategoría",
                buttons: [
                  {
                    text: "CANCELAR",
                    role: "cancel",
                  },
                  {
                    text: "OK",
                    role: "confirm",
                    handler: (data) => {
                      if (data && data.category_name) {
                        presentLoader();

                        let categoryObject = {
                          category_name: data.category_name,
                          parent_category: selectedCategory,
                        };

                        api
                          .post(
                            "products/sub-categories/create",
                            categoryObject,
                            {
                              headers: {
                                Authorization: `Bearer ${store.getters.getAccessToken}`,
                              },
                            }
                          )
                          .then(async function (response) {
                            //console.log(response);

                            getCategories();

                            let new_category = {
                              id: response.data,
                              category_name: data.category_name,
                              parent_category: selectedCategory,
                              is_active: true,
                            };

                            product_categories.push(new_category);

                            dismissLoader();
                          })
                          .catch(async function (error) {
                            console.error(JSON.stringify(error));
                            var message;

                            dismissLoader();

                            if (
                              error &&
                              error.response &&
                              error.response.status
                            ) {
                              switch (error.response.status) {
                                default:
                                  message = error.response.data.message;
                              }
                            } else {
                              message = error.message;
                            }

                            const alert = await alertController.create({
                              header: "Alerta",
                              subHeader:
                                "Ha ocurrido un error. Por favor intenta cerrar sesión, e inicia de nuevo sesion para reintentar crear la categoría",
                              message: message,
                              buttons: ["OK"],
                            });
                            await alert.present();
                          });
                      }
                    },
                  },
                ],
                inputs: [
                  {
                    label: "Nombre de la categoría",
                    type: "text",
                    placeholder: "Nombre para la categoría",
                    name: "category_name",
                  },
                ],
              });

              alert.present();
            },
          },
        ],
        inputs: select_categories.filter((s) => s.parent == null),
      });

      await alert.present();
    };

    const router = useRouter();
    const store = useStore();

    const product_response = reactive({});
    const initial_name = ref(null);
    const initial_external_url = ref(null);
    const initial_group = ref(store.getters.getSelectedGroup);
    const initial_price = ref(null);
    const initial_images_lenght = ref(0);
    const initial_description = ref(null);

    const availableEvents = ref([]);
    const calendlyOrganization = ref(null);
    const calendlyToken = ref(null);
    const show_calendly_button = ref(false);
    
    
    const getCalendly =  () => {
      presentLoader();

      api
        .get("calendly-get", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          show_calendly_button.value = true;
          calendlyToken.value = response.data.calendly_secret;
          if (calendlyToken.value) {
            getCalendlyOrganization();
          }
        })
        .catch(function (error) {
          //console.log(error);
        })
        .finally(() => {
          dismissLoader();
        });
    };
    const getCalendlyOrganization = () => {
      availableEvents.value = [];
      presentLoader();
      var options = {
        method: "GET",
        url: "https://api.calendly.com/users/me",
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + calendlyToken.value,
        },
      };

      axios
        .request(options)
        .then(function (response) {
          calendlyOrganization.value = response.data.resource.current_organization;
          console.log(response.data.resource.current_organization);
          dismissLoader();
          if (calendlyOrganization.value) {
            getCalendlyEvents();            
          }
        })
        .catch(function (error) {
          console.error(error);
          dismissLoader();
        });
    };

    const getCalendlyEvents = () => {
      availableEvents.value = [];
      presentLoader();
      var options = {
        method: "GET",
        url: "https://api.calendly.com/event_types",
        params: {
          organization: calendlyOrganization.value,
        },
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + calendlyToken.value,
        },
      };

      axios
        .request(options)
        .then(function (response) {
          availableEvents.value = response.data.collection;  
          if (productId.value) {
            let selected = availableEvents.value.find(e => e.scheduling_url === calendly_event.value);
            calendly_name.value = selected.name;        
          }
          dismissLoader();
        })
        .catch(function (error) {
          console.error(error);
          dismissLoader();
        });
    };

    const createProduct = async (is_draft = false) => {
       if (productExists.value.length >= 1 && productExists.value[0].id != productId.value) {
          const alert = await alertController.create({
            header: "Alerta",
            subHeader:
              "El nombre ingresado ya existe para un producto o servicio. Por favor, elije otro",
            message: "",
            buttons: ["OK"],
          });
          await alert.present();
        } else  if (!isValidUrl.value && external_url.value) {
          const alert = await alertController.create({
            header: "Alerta",
            subHeader:
              "Url Inválida",
            message: "",
            buttons: ["OK"],
          });
          await alert.present();
        } else  if (!group.value) {
          const alert = await alertController.create({
            header: "Alerta",
            subHeader:
              "Debe ingresar un Grupo",
            message: "",
            buttons: ["OK"],
          });
          await alert.present();
        } else {
          presentLoader();
          if (productOrService.value != "service") {
            calendly_event.value = null;
          }

          let productObject = {
            id: productId.value,
            group_id: group.value,
            product_type: productOrService.value
              ? productOrService.value
              : "product",
            product_name: name.value ? name.value : "Nuevo Producto o Servicio",
            price: price.value ? price.value : 0,
            price_type: priceType.value,
            external_url: external_url.value,
            calendly_event: calendly_event.value,
            product_categories: product_categories,
            description: description.value,
            price_description: price_description.value,
            status: is_draft ? "draft" : "published",
          };
          
          //console.log(productObject);

          api
            .post("products/create", productObject, {
              headers: {
                Authorization: `Bearer ${store.getters.getAccessToken}`,
              },
            })
            .then(async function (response) {
              //console.log("Product Created", response);

              productId.value = response.data.id;

              Object.assign(product_response, response.data);

              initial_name.value = name.value;
              initial_external_url.value = external_url.value;
              initial_group.value = group.value;
              initial_price.value = price.value;
              initial_images_lenght.value = productImages.length;
              initial_description.value = description.value;

              openToast((store.getters.getProductOrService == 'service' ? 'Servicio ' : 'Producto ') + 'guardado satisfactoriamente', 2000, 'primary', 'top');

              dismissLoader();
            })
            .catch(async function (error) {
              console.error(JSON.stringify(error));
              var message;

              dismissLoader();

              if (error && error.response && error.response.status) {
                switch (error.response.status) {
                  default:
                    message = error.response.data.message;
                }
              } else {
                message = error.message;
              }

              const alert = await alertController.create({
                header: "Alerta",
                subHeader: "Ha ocurrido un error",
                message: message,
                buttons: ["OK"],
              });
              await alert.present();
            });
        }
    };

    const getCategories = () => {
      presentLoader();

      api
        .get("products/categories/list", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            //console.log("Categories:", response.data);
            await Object.assign(categories, response.data);

            while (select_categories.length) {
              await select_categories.pop();
            }

            await response.data.forEach((item) => {
              let select_category_item = {
                type: "radio",
                label: item.category_name,
                value: item.id,
                parent: item.parent_category,
              };
              select_categories.push(select_category_item);
            });
            //console.log("Categories for Select:", select_categories);
          }
        })
        .catch(function (error) {
          //console.log(error);
        })
        .finally(() => {
          dismissLoader();
        });
    };

    const products = reactive([]);

    const getProductsNames = () => {
      presentLoader();

      api
        .get("products/list", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            //console.log("Products:", response.data);
            Object.assign(products, response.data);
          }
        })
        .catch(function (error) {
          //console.log(error);
        })
        .finally(() => {
          dismissLoader();
        });
    };

    const route = useRoute();

    const content = ref();

    onIonViewDidEnter(async () => {
      await getCalendly();
      await getCategories();
      await getProductsNames();
      await getProduct();
      await getGroups();
      content.value.$el.scrollToTop(500);
    });

    const getProduct = async () => {
      productId.value = null;
      name.value = null;
      price.value = null;
      price_description.value = null;
      priceType.value = "fixed";
      calendly_event.value= null;
      while (product_categories.length) {
        product_categories.pop();
      }

      while (currentLayout.length) {
        currentLayout.pop();
      }

      await Object.assign(product_categories, []);
      description.value = null;

      if (route.params.id) {
        productId.value = route.params.id;
        //console.log("Editando producto:", productId.value);

        presentLoader();

        api
          .get("products/get/" + productId.value, {
            headers: {
              Authorization: `Bearer ${store.getters.getAccessToken}`,
            },
          })
          .then(async (response) => {
            if (response && response.data) {
              //console.log("Product:", response.data);

              let product = response.data;
              Object.assign(product_response, product);

              name.value = product.product_name;
              external_url.value = product.external_url;
              calendly_event.value = product.calendly_event;
              description.value = product.description;
              price.value = product.price;
              priceType.value = product.price_type;
              price_description.value = product.price_description;
              productOrService.value = product.product_type;
              store.commit("setProductOrService", product.product_type);


              initial_name.value = product.product_name;
              initial_external_url.value = product.external_url;
              initial_group.value = product.group_name;
              initial_price.value = product.price;
              initial_images_lenght.value = productImages.length;
              initial_description.value = description.value;

              validateUrl(external_url.value)
              product.categories.forEach((item) => {
                let category = categories.find((el) => el.id == item);

                //console.log("Categoria encontrada:", category);

                if (category) {
                  product_categories.push(category);
                }
              });

              group.value = product.group_name;
              store.commit("setSelectedGroup", product.group_name);

              getPrivateCatalog();
            }
          })
          .catch(function (error) {
            //console.log(error);
          })
          .finally(() => {
            dismissLoader();
          });
      }
    };

    const description = ref(null);
    const customShare = "assets/icon/share-black.svg";

    const lastBackground = ref(null);
    const newBackground = ref(null);

    const group = ref(store.getters.getSelectedGroup);
    const productOrService = ref(store.getters.getProductOrService);

    const openToast = async (message, duration, color, position) => {
      const toast = await toastController.create({
        message: message,
        duration: duration,
        color: color,
        position: position,
      });
      return toast.present();
    };

    const componentKey = ref(0);

    const activateDataList = () => {
      refName.value.focus();
      refName.value.click();
    };

    const removeCategory = (item) => {
      let index = product_categories.findIndex((el) => el.id == item.id);
      //console.log("Removing index:", index);
      if (index > 0) {
        product_categories.splice(index, 1);
      }
    };

    const clearUrl = () => {
      //console.log(isValidUrl.value)
      external_url.value = null;
    };

    const validateUrl = (url) => {
      const regex = /^(http|https):\/\/+[\www\d]+\.[\w]+(\/[\w\d]+)?/;
      isValidUrl.value = regex.test(url);
    };
    const showPicturesModal = ref(false);

    const setPicturesModalOpen = async (state) => {
      if (state == false) {
        // groups[currentGroupIdx.value].group_layout = currentLayout;
        upsertCatalog();
      } else {
        if (productId.value == null) {
          let draft = true;
          createProduct(draft);

          // const alert = await alertController.create({
          //   header: null,
          //   subHeader: 'Imágenes del ' + (store.getters.getProductOrService == 'service' ? 'Servicio' : 'Producto'),
          //   message: 'Antes de cargar imágenes, por favor complete y guarde los datos generales de su ' + (store.getters.getProductOrService == 'service' ? 'Servicio' : 'Producto'),
          //   buttons: [{
          //     text: "OK",
          //     role: "cancel",
          //   },
          //   ],
          // });

          // alert.present();
          // return;
        }
      }
      showPicturesModal.value = state;
    };

    const addSelectedImage = async (preferOriginal = false) => {
      const nextY = parseInt(currentLayout.length / 2);
      const nextX = currentLayout.length % 2;
      const nextI = currentLayout.length;

      if (preferOriginal) {
        // //console.log('Original Image Preferred:', selectedOriginalImage.value);

        currentLayout.push({
          x: nextX,
          y: nextY,
          w: 1,
          h: 1,
          i: nextI,
          style: {
            backgroundSize: "contain",
            backgroundRepeat: "no-repeat",
            backgroundImage: 'url("' + selectedOriginalImage.value + '")',
          },
          image_binary: selectedOriginalImage.value,
        });

        componentKey.value++;

        setSelectedImageModalOpen(false);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Si recortas la imagen perderá calidad",
          message:
            "Para mantener la calidad de la imagen que publiques, diseña en formato 1080 x 1080 (Post cuadrado de instagram) y escoge la opción 'TAMAÑO ORIGINAL'",
          buttons: [
            {
              text: "CANCELAR",
              role: "cancel",
            },
            {
              text: "OK",
              role: "confirm",
              handler: () => {
                currentLayout.push({
                  x: nextX,
                  y: nextY,
                  w: 1,
                  h: 1,
                  i: nextI,
                  style: {
                    backgroundSize: "contain",
                    backgroundRepeat: "no-repeat",
                    backgroundImage:
                      'url("' + selectedImageDataURL.value + '")',
                  },
                  image_binary: selectedImageDataURL.value,
                });

                componentKey.value++;

                setSelectedImageModalOpen(false);
              },
            },
          ],
        });
        await alert.present();
      }
    };

    const currentLayout = reactive([]);
    const selectedOriginalImage = ref(null);
    const selectedImageDataURL = ref(null);

    const setSelectedImageModalOpen = (state) => {
      if (state == false) {
        // console.table(currentLayout);
        // groups[currentGroupIdx.value].group_layout = currentLayout;
        upsertCatalog();
      }

      showSelectedImageModal.value = state;
    };

    const showSelectedImageModal = ref(false);

    const onSelectedImageCrop = ({ coordinates, canvas }) => {
      selectedImageDataURL.value = canvas.toDataURL("image/png", 1.0);
    };

    const layoutUpdated = (event) => {
      //console.log(event);

      const filteredImages = event.filter((image) => image.id);

      presentLoader();

      let objGallery = {
        gallery: JSON.stringify(filteredImages),
      };

      api
        .post("products/gallery/sort", objGallery, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          //console.log(response);
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));

          var message;

          if (error && error.response && error.response.status) {
            switch (error.response.status) {
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader:
              "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion, y reintenta editar tu catálogo nuevamente",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        })
        .finally(() => {
          dismissLoader();
        });
    };

    const selectExploreImage = async (ev) => {
      ev.stopPropagation();

      if (currentLayout.value && currentLayout.value.length > 3) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "Has superado el límite de imágemes que puedes mostrar para tu " +
            (store.getters.getProductOrService == "service"
              ? "Servicio"
              : "Producto"),
          message:
            "Para agregar otra imagem, elimina alguna de las existentes presionando la X ubicada en la esquina superior derecha.",
          buttons: ["OK"],
        });
        await alert.present();
        return;
      }

      exploreImageInput.value.click();
    };

    const exploreImageInput = ref(null);

    const setExploreImage = () => {
      //console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        selectedImage.value = e.target.result;
        selectedOriginalImage.value = e.target.result;

        //console.log("Original Image:", selectedOriginalImage.value);

        var image = new Image();
        image.src = e.target.result;

        image.onload = function () {
          selectedImageWidth.value = this.width;
          selectedImageHeight.value = this.height;
        };

        showSelectedImageModal.value = true;
      };
      reader.readAsDataURL(event.target.files[0]);
      event.target.value = null;
    };

    const selectedImageWidth = ref(0);
    const selectedImageHeight = ref(0);
    const selectedImage = ref(null);

    const upsertCatalog = async () => {
      console.table(currentLayout);

      let objCatalog = {
        product_id: productId.value,
        catalog: JSON.stringify(currentLayout),
      };

      if (productId.value == null) {
        let draft = true;
        createProduct(draft);
      }

      presentLoader();
      const loading = await loadingController.create({
        message: "Espere por favor...",
        showBackdrop: true,
      });
      loading.present();

      api
        .post("products/gallery/set", objCatalog, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          //console.log(response);
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));

          var message;

          if (error && error.response && error.response.status) {
            switch (error.response.status) {
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader:
              "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion, y reintenta compartir",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        })
        .finally(() => {
          dismissLoader();
          loading.dismiss();
          getPrivateCatalog();
        });
    };

    const getPrivateCatalog = async () => {
      api
        .get("products/gallery/get/" + productId.value, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          //console.log(response);
          Object.assign(currentLayout, response.data);
        })
        .catch(function (error) {
          //console.log(error);
        })
        .finally(() => {
          dismissLoader();
        });
    };

    const removeItem = (val) => {
      const index = currentLayout.map((item) => item.i).indexOf(val);
      currentLayout.splice(index, 1);

      const newLayout = currentLayout.map((element, index) => {
        const nextY = parseInt(index / 2);
        const nextX = index % 2;
        const nextI = index;

        element.x = nextX;
        element.y = nextY;
        element.i = nextI;

        return element;
      });

      Object.assign(currentLayout, newLayout);
      upsertCatalog();
    };

    const searchProduct = computed(() => {
      if (name.value === "" || name.value === null) {
        return [];
      }

      let matches = 0;

      return products.filter((item) => {
        if (
          name.value &&
          item.product_name.toLowerCase().includes(name.value.toLowerCase()) &&
          matches < 10
        ) {
          matches++;
          return item;
        }
      });
    });
    const available_groups = ref(store.getters.getAvailableGroups);
    const productExists = computed(() => {
      if (
        name.value === "" ||
        name.value === null ||
        group.value === "" ||
        group.value === null
      ) {
        return [];
      }
      let selectedGroup = available_groups.value.find(
        (g) => g.name == group.value
      );

      return products.filter(
        (item) =>
          item.product_name.toLowerCase() == name.value.toLowerCase() &&
          item.group_id == selectedGroup.id
      );
    });

    const selectProductName = (product_name) => {
      name.value = product_name;
    };

    let selectedProductName = ref("");

    const getGroups = () => {
      presentLoader();

      api
        .get("products/groups/list", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            //console.log("groups:", response.data);
            available_groups.value = response.data;
            store.commit("setAvailableGroups", response.data);
          }
        })
        .catch(function (error) {
          //console.log(error);
        })
        .finally(() => {
          dismissLoader();
          group.value = store.getters.getSelectedGroup;
        });
    };

    return {
      logo,
      group,
      customShare,
      name,
      description,
      share,
      close,
      imagesOutline,
      openToast,
      productOrService,
      newBackground,
      createOutline,
      closeOutline,
      componentKey,
      caretDownOutline,
      price,
      presentPriceAlert,
      priceType,
      priceTypeLabel,
      isLoading,
      presentCategoryAlert,
      categories,
      presentDecideCategoryAlert,
      product_categories,
      createProduct,
      availableEvents,
      getCalendlyEvents,
      calendlyOrganization,
      getCalendlyOrganization,
      getCalendly,
      calendlyToken,
      show_calendly_button,
      initial_name,
      initial_external_url,
      initial_group,
      initial_price,
      initial_images_lenght,
      initial_description,
      products,
      refName,
      activateDataList,
      productId,
      presentDecideSubCategoryAlert,
      productImages,
      removeCategory,
      priceDescriptions,
      allow_edit_price_description,
      price_description,
      external_url,
      calendly_event,
      calendly_name,
      isValidUrl,
      priceDescriptionOptions,
      showPicturesModal,
      currentLayout,
      selectedOriginalImage,
      selectedImageDataURL,
      setSelectedImageModalOpen,
      showSelectedImageModal,
      onSelectedImageCrop,
      setPicturesModalOpen,
      clearUrl,
      validateUrl,
      chevronBackOutline,
      layoutUpdated,
      selectExploreImage,
      exploreImageInput,
      setExploreImage,
      selectedImageWidth,
      selectedImageHeight,
      selectedImage,
      addSelectedImage,
      upsertCatalog,
      removeItem,
      product_response,
      searchProduct,
      selectProductName,
      productExists,
      getGroups,
      updateEventDuration,
      content
    };
  },
  data: () => ({}),
  computed: {
    ...mapGetters([
      "getUser",
      "getProductOrService",
      "getAvailableGroups",
      "getSelectedGroup",
    ]),
    fillToFilter() {
      let fill =
        this.getUser && this.getUser.profile.selected_template
          ? this.getUser.profile.selected_template.style.templateUserName.color
          : "#FFF";
      return hexToCSSFilter(fill).filter;
    },
    userNameColor() {
      return this.getUser && this.getUser.profile.selected_template
        ? this.getUser.profile.selected_template.style.templateUserName.color
        : "#FFF";
    },
    innerWidth() {
      return parseInt(window.innerWidth / 2 * 0.88);
    },
  },
  methods: {
    updateProductOrService(element) {
      var el = this.$refs[element].$el.value;
      //console.log("Selected:", el);
      this.productOrService = el;
      this.$store.commit("setProductOrService", el);
    },

    updateGroup(element) {
      var el = this.$refs[element].$el.value;
      //console.log("Selected:", el);
      this.group = el;
      this.$store.commit("setSelectedGroup", el);
    },

    async updatePriceDescription(event) {
      if (event.detail.value == "Escriba otra duración") {
        this.allow_edit_price_description = true;
        this.price_description = event.target.value;
      } else {
        const alert = await alertController.create({
          header: null,
          subHeader: "Ingresa la duración en " + event.target.value,
          message: null,
          buttons: [
            {
              text: "CANCELAR",
              role: "cancel",
            },
            {
              text: "OK",
              role: "confirm",
              handler: (data) => {
                this.price_description =
                  data.duracion + " " + event.target.value;
              },
            },
          ],
          inputs: [
            {
              name: "duracion",
              label: "duracion",
              placeholder: "1",
              type: "number",
            },
          ],
        });

        await alert.present();

        this.allow_edit_price_description = false;
      }
    },
  },
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped src="../theme/figures.css"></style>

<style scoped>
.vue-grid-layout {
  background: transparent;
}

.vue-grid-item {
  background-size: cover !important;
}

.vue-grid-item:not(.vue-grid-placeholder) {
  /* background: #ccc; */
  border: 0px solid black;
}

.vue-grid-item .resizing {
  opacity: 0.9;
}

.vue-grid-item .static {
  /* background: #cce; */
}

.vue-grid-item .picture {
  height: 100%;
  width: 100%;
}

.vue-grid-item .rectangle {
  height: 100%;
  padding: 0 !important;
}

.rectangle span {
  display: block !important;
  vertical-align: middle;
}

.vue-grid-item .no-drag {
  height: 100%;
  width: 100%;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

.vue-draggable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>")
    no-repeat;
  background-position: bottom right;
  padding: 0 8px 8px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: pointer;
}

.remove-icon {
  font-size: 1.5rem;
  color: #01091f;
  top: 1rem;
  right: 1rem;
  position: absolute;
}

#wrapper {
  transform-origin: top left;
  transform: scale(0.5);
  position: relative;
}

.autocomplete-results {
  position: relative;
  left: 0;
  z-index: 2;
  background-color: #dbdbe0;
  width: 100%;
  list-style: none;
  margin-top: 0.01rem;
  border-radius: 5px;
  border-width: 1px;
}

.autocomplete-result {
  margin: 0.5rem 0px;
}
</style>

<style>
.no-wrap-radio {
  white-space: normal;
}
.alert-radio-label.sc-ion-alert-md {
  white-space: normal !important;
}

.bottom-style {
    width: 100%;
    position: fixed;
    left: 50%;
    bottom: 16px;
    transform: translateX(-52%);
}
</style>