<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal v-model:active="isLoading" :can-cancel="false" :is-full-page="true" />
      <ion-grid class="ion-no-padding background">
        <ion-row class="ion-margin">
          <ion-col class="ion-margin-start ion-margin-end ion-margin-top">
            <p class="small-text ion-no-margin">
              Ver o editar <br> servicios y/o productos
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin" size="1">
            <ion-thumbnail class="small-bullet">
              <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
            </ion-thumbnail>
          </ion-col>
          <ion-col class="ion-margin">
            <div class="small-text">
              Selecciona el grupo a quien va dirigido tu servicio o producto
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin">
          <ion-col class="ion-margin">
            <div class="continue-button" @click="presentAlert()">
              {{ 'Agregar Grupo' }}
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-accordion-group @ionChange="checkOption" v-if="content && content.length">
              <ion-accordion v-for="(item, index) in content" :key="item.header" toggle-icon="none" @click="item.action"
                toggleIcon="" :value="item.value">
                <ion-item-sliding slot="header">
                  <ion-item class="accordeon-header ion-padding-start ion-padding-end" lines="none"
                    :style="index > 0 ? 'margin-top: 8px' : ''">
                    <ion-thumbnail style="--size: 20px" slot="start">
                      <ion-img :src="
                        item && item.image
                          ? item.image
                          : 'assets/img/accordeon-icon.png'
                      "></ion-img>
                    </ion-thumbnail>
                    <ion-row class="ion-wrap">
                      <ion-col>
                        <ion-row>
                          <ion-label class="ion-margin-start" style="color: white">{{ item.header }}</ion-label>
                        </ion-row>
                        <ion-row>
                          <ion-label class="ion-margin-start smaller-text" style="color: white">{{
                            item.label
                          }}</ion-label>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                    <!-- <span class="remove" slot="end"><ion-icon :icon="close" class="remove-icon" @click="deleteGroup(item.id)"></ion-icon></span> -->
                  </ion-item>
                  <ion-item-options>
                    <ion-item-option color="danger" @click="deleteGroup(item.id)">Quitar</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                <ion-list slot="content" class="inner-options-background">
                  <ion-item v-for="option in item.options" :key="option.text" lines="none"
                    style="--background: none; background: none" class="ion-margin-start"
                    @click="callAction(option.action)">
                    <ion-icon :icon="option.icon" style="font-size: 1.5rem; margin-right: 0px" slot="start"></ion-icon>
                    <ion-label class="ion-margin-start small-text" style="color: white">{{ option.text }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      <!--   <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div class="cancel-button ion-margin-start ion-margin-top" style="margin-right: 4px">
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="continue-button ion-margin-end ion-margin-top" style="margin-left: 4px">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row> -->
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonLabel,
  IonItem,
  IonItemOption, IonItemOptions, IonItemSliding,
  IonAccordionGroup,
  IonAccordion,
  IonList,
  IonThumbnail,
  IonImg,
  IonIcon,
  alertController,
  onIonViewDidEnter
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { mapGetters, useStore } from "vuex";
import { Storage } from "@ionic/storage";
import { useRouter } from 'vue-router';
import api from "../api";

import {
  close
} from "ionicons/icons";

export default defineComponent({
  name: "EditProductOptionsPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonItem, IonItemOption, IonItemOptions, IonItemSliding,
    IonLabel,
    IonAccordionGroup,
    IonAccordion,
    IonList,
    IonThumbnail,
    IonImg,
    IonIcon,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    }

    const dismissLoader = () => {
      isLoading.value = false;
    }

    const store = useStore();

    const router = useRouter();

    const content = reactive([]);

    const getGroups = () => {
      presentLoader();

      api
        .get("products/groups/list", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            const responseData = await response.data.map((x) => {
              x.header = x.name;
              x.value = 'edit-products' + x.name;
              x.label = x.product_count > 0 ? 'Tienes ' + x.product_count + ' productos o servicios' : 'Aun no tienes productos o servicios';
              x.image = "assets/img/accordeon-icon.png";
              x.options = [
                {
                  text: "Registrar Servicio",
                  icon: "assets/img/catalog-service-icon.svg",
                  action: (async (accessToken, profile, ctx) => {
                    ctx.store.commit('setProductOrService', 'service');
                    ctx.store.commit('setSelectedGroup', x.name);
                    ctx.router.push('/edit-product');
                  }).bind(this)
                },
                {
                  text: "Registrar Producto",
                  icon: "assets/img/catalog-product-icon.svg",
                  action: (async (accessToken, profile, ctx) => {
                    ctx.store.commit('setProductOrService', 'product');
                    ctx.store.commit('setSelectedGroup', x.name);
                    ctx.router.push('/edit-product');
                  }).bind(this)
                },
                {
                  text: "Ver o Editar Servicios y/o Productos",
                  icon: "assets/img/catalog-list-icon.svg",
                  action: (async (accessToken, profile, ctx) => {
                    ctx.store.commit('setSelectedGroup', x.name);
                    ctx.router.push('/list-catalog-items');
                  }).bind(this)
                }
              ];
            });

            console.log('Groups:', response.data);
            Object.assign(content, response.data);
            store.commit('setAvailableGroups', response.data);
          }
        })
        .catch(function (error) {
          console.log(error);
        }).finally(() => {
          dismissLoader();
        });
    };

    const deleteGroup = (idx) => {
      presentLoader();

      let groupObject = {
        id: idx
      }

      api
        .post("products/groups/delete", groupObject, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            while (content.length) {
              content.pop();
            }
            getGroups();
          }
        })
        .catch(async (error) => {
          console.error(error);
          var message;

          dismissLoader();

          if (error && error.response && error.response.status) {
            switch (error.response.status) {
              default:
                message = error.response.data.message;
            }
          } else {
            message = error.message
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: 'Ha ocurrido un error',
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        }).finally(() => {
          dismissLoader();
        });
    }

    onIonViewDidEnter(() => {
      getGroups();
    });

    const presentAlert = async (section) => {
      const alert = await alertController.create({
        header: 'Ingrese el nombre para el nuevo grupo',
        inputs: [
          {
            name: 'group_name',
            placeholder: 'No necesito crear grupos',
          },
        ],
        buttons: [
          {
            text: "OK",
            role: "confirm",
            handler: (e) => {

              presentLoader();

              let groupObject = {
                name: e.group_name
              }

              if (!e || !e.group_name) {
                dismissLoader();
                return;
              }

              api
                .post("products/groups/create", groupObject, {
                  headers: {
                    Authorization: `Bearer ${store.getters.getAccessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);

                  // content.push({
                  //   id: response.data,
                  //   header: e.group_name,
                  //   value: "edit-products" + e.group_name,
                  //   label: e.group_name,
                  //   image: "assets/img/notification-icon.png",
                  //   options: [
                  //     {
                  //       text: "Servicios",
                  //       action: (async (accessToken, profile, ctx) => {
                  //         ctx.router.push('/edit-product-step');
                  //       }).bind(this)
                  //     },
                  //     {
                  //       text: "Productos",
                  //       action: (async (accessToken, profile, ctx) => {
                  //         ctx.router.push('/edit-product-step');
                  //       }).bind(this)
                  //     },
                  //   ],
                  // });

                  getGroups();

                  dismissLoader();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.message;
                    }
                  } else {
                    message = error.message
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader: "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion con la cuenta que deseas eliminar e intenta nuevamente eliminarla",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });
            },
          },
          {
            text: "CANCELAR",
            role: "Cancel",
          },
        ],
      });

      await alert.present();
    };

    return {
      logo, isLoading, presentLoader, dismissLoader, router, content, presentAlert, close, deleteGroup, store
    };
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
  },
  methods: {
    callAction(action) {
      action.call(null, this.getAccessToken, this.getUser.profile, this);
    },

    checkOption(ev) {
      console.log(ev.target.value);
      this.$store.commit('setAccountOption', 'account-options-' + ev.target.value + '-help');
    }
  },
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped>
.remove-icon {
  font-size: 1.5rem;
  color: white;
  top: 1rem;
  right: 1rem;
  position: absolute;
}

.accordeon-list {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}

ion-accordion {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}

ion-accordion-group {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}

.accordeon-list-item {
  background: #000000;
  --background: #000000;
}

.accordeon-header {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
  --background: none;
  box-shadow: 0px -4px 10px #414c69;
  border-radius: 24px 0px 0px 0px;
}

.inner-options-background {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}
</style>

