<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="false"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-margin-start ion-margin-end ion-margin-top">
          <ion-col class="ion-margin" size="12"
            ><ion-text
              class="hello-sub-title"
              :style="'font-size: 1.2em; color: ' + userNameColor + ';'"
            >
              Registrar Metodo de Pago</ion-text
            ><br />
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p
                class="small-text ion-margin-start ion-margin-end ion-margin-bottom link-text"
                @click="addNewPaymentMethod"
              >
                Agregar otro instrumento de pago
              </p>
            </div>
          </ion-col>
        </ion-row>
        <div v-for="(item, index) in payment_methods" :key="index">
          <ion-row class="ion-margin-start ion-margin-end">
            <ion-col size="4.1">
              <ion-list class="register-list">
                <ion-item class="register-list-item-left ion-margin-start">
                  <ion-label
                    position="stacked"
                    :style="
                      item.currency && item.currency.length
                        ? 'visibility:hidden; padding-left: 4px;'
                        : 'visibility:hidden'
                    "
                    >Moneda</ion-label
                  >
                  <ion-input
                    :value="item.currency"
                    placeholder="Moneda"
                    type="text"
                    :style="
                      getSelectedGroup && getSelectedGroup.length
                        ? 'margin-top: -0.5rem; text-overflow: ellipsis'
                        : 'margin-top:-1rem; text-overflow: ellipsis'
                    "
                    :readonly="true"
                  ></ion-input>
                  <ion-select
                    :id="'refCurrency' + index"
                    :value="item.currency"
                    style="--placeholder-opacity: 1"
                    @ionChange="updateCurrency($event, index)"
                    hidden
                  >
                    <ion-select-option value="USD">USD</ion-select-option>
                    <ion-select-option value="EUR">EUR</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>

            <ion-col size="1.7" style="padding-left: 0.1rem">
              <ion-list class="register-list">
                <div
                  class="register-list-item-span-no-right ion-justify-content-center"
                  id="fontNameColorId"
                >
                  <ion-icon
                    :icon="caretDownOutline"
                    style="font-size: 1.8rem; margin-right: 0px"
                    @click="openSelect(index)"
                  ></ion-icon>
                </div>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-start ion-margin-end">
            <ion-col size="12">
              <ion-list class="ion-margin-start ion-margin-end register-list">
                <ion-item class="register-list-item-textarea" lines="none">
                  <ion-label
                    position="stacked"
                    :style="
                      item.name && item.name.length
                        ? 'visibility:unset; padding-left: 4px;'
                        : 'visibility:hidden'
                    "
                    >{{ "Nombre del Metodo de Pago" }}</ion-label
                  >
                  <ion-input
                    v-model="item.name"
                    class="ion-input"
                    :placeholder="'Nombre del Instrumento de Pago'"
                    type="text"
                    :style="
                      item.name && item.name.length
                        ? 'margin-top: -0.5rem'
                        : 'margin-top:-1rem; text-overflow: ellipsis'
                    "
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-start ion-margin-end">
            <ion-col size="12">
              <ion-list
                class="ion-margin-start ion-margin-end register-list ion-no-padding"
              >
                <ion-item
                  class="register-list-item-textarea"
                  lines="none"
                >
                  <ion-label
                    position="stacked"
                    :style="
                      item.instructions && item.instructions.length
                        ? 'visibility:unset; padding-left: 4px;'
                        : 'visibility:hidden'
                    "
                    >{{ "Información de Pago" }}</ion-label
                  >
                  <ion-textarea
                    v-model="item.instructions"
                    :placeholder="'Información de Pago'"
                    :style="
                      item.instructions && item.instructions.length
                        ? 'margin-top: 0rem'
                        : 'margin-top:-1rem'
                    "
                    class="textarea"
                    :rows="2"
                    inputmode="text"
                    :key="componentKey"
                  ></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-start ion-margin-end">
            <ion-col size="12">
              <div>
                <p
                  style="color: red; text-align: right"
                  class="small-text ion-margin-start ion-margin-end ion-margin-bottom link-text"
                  @click="deletePaymentMethod(item, index)"
                >
                   {{ item.id ? 'Eliminar' : 'Descartar' }}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <ion-row class="ion-margin">
          <ion-col class="ion-margin">
            <div class="continue-button" @click="createPaymentMethod()">
              GUARDAR CAMBIOS
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>


<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonInput,
  IonTextarea,
  onIonViewDidEnter,
  IonModal,
  IonLabel,
  IonCheckbox,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonThumbnail,
  IonText,
  IonChip,
  IonProgressBar,
  alertController,
  IonSelect,
  IonSelectOption,
} from "@ionic/vue";
import { defineComponent, reactive, ref, computed, onMounted } from "vue";
import { mapGetters, useStore } from "vuex";
import api from "../api";
import { caretDownOutline } from "ionicons/icons";

export default defineComponent({
  name: "EditPaymentsMethodsPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    IonTextarea,
    IonInput,
    IonModal,
    onIonViewDidEnter,
    IonLabel,
    IonCheckbox,
    IonChip,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonThumbnail,
    IonProgressBar,
    IonText,
    IonSelect,
    IonSelectOption,
  },
  setup() {
    const payment_methodId = ref(null);
    const name = ref(null);
    const instructions = ref(null);
    const isLoading = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    };

    const dismissLoader = () => {
      isLoading.value = false;
    };

    // const refCurrency = ref([]);

    const openSelect = (index) => {
      const select = document.getElementById("refCurrency" + index);
      select.open();
    };

    onIonViewDidEnter(async () => {
      getPaymentMethods();
    });

    const store = useStore();

    const currency = ref('USD');
    const payment_methods = ref([]);

    const addNewPaymentMethod = () => {
      let paymentMethodObject = {
        id: payment_methodId.value,
        currency: currency.value,
        name: name.value,
        instructions: instructions.value,
      };

      payment_methods.value.unshift(paymentMethodObject);
      // refCurrency = payment_methods.map(item => item.$refs.select);
    };

    const deletePaymentMethod = async (item, index) => {     
      if (item.id > 0) {
        const alert = await alertController.create({
          header: "¡Advertencia!",
          subHeader: "¿Confirma que desea eliminar registro?",
          message: "Al presionar OK ELIMINAS DEFINITIVAMENTE este registro.",
          buttons: [
            {
              text: "OK",
              role: "confirm",
              handler: () => {
                presentLoader();
                let methodObject = {
                  id: item.id,
                };
                api
                  .post("/payment_method/delete", methodObject, {
                    headers: {
                      Authorization: `Bearer ${store.getters.getAccessToken}`,
                    },
                  })
                  .then(async function (response) {
                    payment_methods.value.splice(index, 1);
                    dismissLoader();
                  })
                  .catch(async function (error) {
                    console.error(JSON.stringify(error));
                    var message;
                    dismissLoader();

                    if (error && error.response && error.response.status) {
                      switch (error.response.status) {
                        default:
                          message = error.response.message;
                      }
                    } else {
                      message = error.message;
                    }

                    const alert = await alertController.create({
                      header: "Alerta",
                      subHeader:
                        "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion con la cuenta que deseas eliminar e intenta nuevamente eliminarla",
                      message: message,
                      buttons: ["OK"],
                    });
                    await alert.present();
                  });
              },
            },
            {
              text: "CANCELAR",
              role: "Cancel",
            },
          ],
        });
        await alert.present();
      } else {
        payment_methods.value.splice(index, 1);
      }
    };

    const paymenthMethodExists = computed(() => {
      let names = payment_methods.value.map(
        (payment_method) => payment_method.name
      );
      let duplicates = names.filter(
        (item, index) => names.indexOf(item) != index
      );
      return duplicates;
    });

    const hasNullOrEmptyValues = computed(() => {
      let nullOrEmptyValues = payment_methods.value.filter(
        (payment_method) =>
          payment_method.name === null ||
          payment_method.name === "" ||
          payment_method.instructions === null ||
          payment_method.instructions === ""
      );
      return nullOrEmptyValues;
    });
    const createPaymentMethod = async () => {
      if (paymenthMethodExists.value.length > 0) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "Estos metodos se encuentran duplicados: " +
            paymenthMethodExists.value +
            ". Elije otros",
          message: "",
          buttons: ["OK"],
        });
        await alert.present();
      } else if (hasNullOrEmptyValues.value.length > 0) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Existen campos vacios. Por favor verifique",
          message: "",
          buttons: ["OK"],
        });
        await alert.present();
      } else {
        presentLoader();
        api
          .post("payment_method/create", payment_methods.value, {
            headers: {
              Authorization: `Bearer ${store.getters.getAccessToken}`,
            },
          })
          .then(async function (response) {
            for (let i = 0; i < payment_methods.value.length; i++) {
              if (payment_methods.value[i].id === null) {
                payment_methods.value[i].id = response.data[i].id;
              }
            }

            dismissLoader();
            const alert = await alertController.create({
              header: "Registro Exitoso!",
              subHeader: "Registros modificados/registrados",
              message: "",
              buttons: ["OK"],
            });
            await alert.present();
          })
          .catch(async function (error) {
            console.error(JSON.stringify(error));
            var message;

            dismissLoader();

            if (error && error.response && error.response.status) {
              switch (error.response.status) {
                default:
                  message = error.response.message;
              }
            } else {
              message = error.message;
            }

            const alert = await alertController.create({
              header: "Alerta",
              subHeader:
                "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion con la cuenta que deseas eliminar e intenta nuevamente eliminarla",
              message: message,
              buttons: ["OK"],
            });
            await alert.present();
          });
      }
    };

    const updateCurrency = (element, index) => {
      payment_methods.value[index].currency = element.target.value;
    };

    const getPaymentMethods = () => {
      presentLoader();
      api
        .get("payment_method/list", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            await response.data.forEach((item) => {
              let payment_method = {
                id: item.id,
                currency: item.currency,
                name: item.name,
                instructions: item.instructions,
              };
              payment_methods.value.push(payment_method);
              if (!payment_methods.value.length) {
                addNewPaymentMethod();
              }
            });
          }
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          dismissLoader();
        });
    };

    return {
      name,
      payment_methods,
      instructions,
      payment_methodId,
      addNewPaymentMethod,
      deletePaymentMethod,
      getPaymentMethods,
      createPaymentMethod,
      caretDownOutline,
      openSelect,
      isLoading,
      updateCurrency,
    };
  },
  data: () => ({
    componentKey: 0,
  }),
  computed: {
    ...mapGetters(["getUser", "getSelectedGroup"]),

    userNameColor() {
      return this.getUser && this.getUser.profile.selected_template
        ? this.getUser.profile.selected_template.style.templateUserName.color
        : "#FFF";
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
ion-chip {
  --background: #fffff;
}
</style>
