<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" :style="'--background: ' + newBackground">
      <loading-modal v-model:active="isLoading" :can-cancel="false" :is-full-page="true" />
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-margin-start ion-margin-end ion-margin-top">
          <ion-col class="ion-margin" size="12">
            <ion-text class="hello-sub-title" :style="'font-size: 1.2em; color: ' + userNameColor + ';'">
              Editar Grupos
            </ion-text>
          </ion-col>
        </ion-row>


        <!-- PRODUCT groups -->

        <ion-row class="ion-margin">
          <ion-col class="ion-margin-start ion-margin-end ion-margin-top">
            <p class="small-text ion-no-margin">
              Puedes añadir, editar o eliminar grupos
            </p>
            <p class="smaller-text ion-no-margin">
              Las modificaciones que realices se aplican de inmmediato y no se pueden deshacer
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="9">
            <ion-list v-for="item in select_groups.filter(e => e.value !== null)" :key="item.value"
              class="register-list ion-margin-start">
              <div class="
                  register-list-item-left ion-padding-start
                  ion-margin-end ion-margin-top">
                {{ item.label }}
              </div>
            </ion-list>
          </ion-col>
          <ion-col size="1.3">
            <ion-list v-for="item in select_groups.filter(e => e.value !== null)" :key="item.value"
              class="register-list">
              <div class="register-list-item-span ion-justify-content-center ion-margin-top">
                <ion-icon :icon="createOutline" style="font-size: 2rem; margin-right: 0px"
                  @click="presentEditGroupAlert(item)"></ion-icon>
              </div>
            </ion-list>
          </ion-col>
          <ion-col size="1.7">
            <ion-list v-for="item in select_groups.filter(e => e.value !== null)" :key="item.value"
              class="register-list">
              <div class="register-list-item-right ion-margin-end ion-justify-content-center ion-margin-top">
                <ion-icon :icon="closeOutline" style="font-size: 2rem; margin-right: 0px"
                  @click="presentRemoveGroupAlert(item)"></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <!-- CATEGORY BUTTONS -->

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
              <div class="cancel-button ion-margin-start ion-margin-top ion-margin-end ion-justify-content-center
                " @click="presentGroupAlert()">
                <p class="
                  small-text
                  link-text ion-text-center">
                  Agregar<br>GRUPO
                </p>
              </div>
          </ion-col>
        </ion-row>

        <!-- PRODUCT DESCRIPTION -->


        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div class="continue-button ion-margin-start ion-margin-end ion-margin-top"
              @click="$router.push('/catalog-options')">
              MENÚ DEL<br>CATÁLOGO
              <!-- <div class="continue-button-background"></div> -->
            </div>
          </ion-col>
        </ion-row>


        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonText,
  IonImg,
  IonLabel,
  IonIcon,
  IonInput,
  IonItem,
  IonList,
  IonSelect,
  IonSelectOption,
  IonTextarea,
  IonModal,
  IonHeader,
  IonButtons,
  IonButton,
  IonThumbnail,
  IonToolbar,
  onIonViewDidEnter,
  onIonViewWillLeave,
  toastController,
  alertController,
  loadingController
} from "@ionic/vue";
import { defineComponent, ref, reactive, computed } from "vue";
import { share, imagesOutline, createOutline, closeOutline, copyOutline, caretDownOutline, chevronBackOutline } from "ionicons/icons";

import api from "../api";

import { mapGetters, useStore } from "vuex";

import { useRouter, useRoute } from "vue-router";

import { hexToCSSFilter } from 'hex-to-css-filter';

import { Filesystem, Directory, Encoding, PermissionStatus, PermissionState } from '@capacitor/filesystem';

import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";

export default defineComponent({
  name: "EditCategoryPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonText,
    IonImg,
    IonLabel,
    IonIcon,
    IonInput,
    IonItem,
    IonList,
    IonSelect,
    IonSelectOption,
    IonTextarea,
    IonModal,
    Cropper,
    IonHeader,
    IonButtons,
    IonButton,
    IonThumbnail,
    IonToolbar
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";

    const close = "assets/icon/close-icon.svg";

    const isLoading = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    }

    const dismissLoader = () => {
      isLoading.value = false;
    }

    const groups = reactive([]);
    const select_groups = reactive([]);


    const presentGroupAlert = async () => {
      const alert = await alertController.create({
        header: null,
        subHeader: 'Grupos',
        message: 'Ingrese un nombre para el nuevo grupo',
        buttons: [{
          text: "CANCELAR",
          role: "cancel",
        },
        {
          text: 'OK',
          role: 'confirm',
          handler: (data) => {
            if (data && data.group_name) {
              presentLoader();

              let groupObject = {
                name: data.group_name
              }

              api
                .post("products/groups/create", groupObject, {
                  headers: {
                    Authorization: `Bearer ${store.getters.getAccessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);

                  getGroups();

                  let new_group = {
                    id: response.data,
                    group_name: data.name,
                    is_active: true
                  }

                  // product_groups.push(new_category);

                  dismissLoader();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.data.message;
                    }
                  } else {
                    message = error.message
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader: "Ha ocurrido un error. Por favor intenta cerrar sesión, e inicia de nuevo sesion para reintentar crear el grupo",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });
            }

          }
        }],
        inputs: [
          {
            label: 'Nombre del grupo',
            type: 'text',
            placeholder: 'Nombre para el grupo',
            name: 'group_name',
          },
        ]
      });

      await alert.present();
    };

    const presentEditGroupAlert = async (item) => {
      const alert = await alertController.create({
        header: null,
        subHeader: 'Grupos',
        message: 'Ingrese el nuevo nombre para el grupo ' + item.label,
        buttons: [{
          text: "CANCELAR",
          role: "cancel",
        },
        {
          text: 'OK',
          role: 'confirm',
          handler: (data) => {
            if (data && data.group_name) {
              presentLoader();

              let groupObject = {
                id: item.value,
                name: data.group_name
              }

              api
                .post("products/groups/edit", groupObject, {
                  headers: {
                    Authorization: `Bearer ${store.getters.getAccessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);

                  getGroups();

                  // product_groups.push(new_category);

                  dismissLoader();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.data.message;
                    }
                  } else {
                    message = error.message
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader: "Ha ocurrido un error. Por favor intenta cerrar sesión, e inicia de nuevo sesion para reintentar renombrar el grupo",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });
            }

          }
        }],
        inputs: [
          {
            label: 'Nombre del grupo',
            type: 'text',
            placeholder: 'Nombre para el grupo',
            name: 'group_name',
          },
        ]
      });

      await alert.present();
    };

    const router = useRouter();

    const getGroups = () => {
      presentLoader();

      api
        .get("products/groups/list", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            console.log('groups:', response.data);
            await Object.assign(groups, response.data);

            while (select_groups.length) {
              await select_groups.pop();
            }

            await response.data.forEach((item) => {
              let select_group_item = {
                type: 'radio',
                label: item.name,
                value: item.id
              }

              select_groups.push(select_group_item);
            });

            store.commit('setAvailableGroups', response.data);
            
            console.log('groups for Select:', select_groups);
          }
        })
        .catch(function (error) {
          console.log(error);
        }).finally(() => {
          dismissLoader();
        });
    };

    const route = useRoute();

    onIonViewDidEnter(async () => {
      await getGroups();
    }
    );


    const lastBackground = ref(null);
    const newBackground = ref(null);

    const store = useStore();


    const openToast = async (message, duration, color, position) => {
      const toast = await toastController
        .create({
          message: message,
          duration: duration,
          color: color,
          position: position
        })
      return toast.present();
    };

    const componentKey = ref(0);

    const presentRemoveGroupAlert = async (item) => {
      const alert = await alertController.create({
        header: null,
        subHeader: 'Grupos',
        message: '¿Confirmas que deseas ELIMINAR el grupo ' + item.label + '? Los productos y/o servicios asociados deben moverse a otro grupo antes de continuar',
        buttons: [{
          text: "CANCELAR",
          role: "cancel",
        },
        {
          text: 'OK',
          role: 'confirm',
          handler: () => {
              presentLoader();

              let groupObject = {
                id: item.value
              }

              api
                .post("products/groups/delete", groupObject, {
                  headers: {
                    Authorization: `Bearer ${store.getters.getAccessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);

                  getGroups();

                  dismissLoader();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.data.message;
                    }
                  } else {
                    message = error.message
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader: "Ha ocurrido un error. Por favor intenta cerrar sesión, e inicia de nuevo sesion para reintentar eliminar el grupo",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });

          }
        }]
      });

      await alert.present();
    };


    const removeGroup = (item) => {
      let index = select_groups.findIndex(el => el.value == item.value);
      console.log('Removing index:', index);
      if (index > 0) {
        select_groups.splice(index, 1);
      }
    }

    return {
      logo,
      close,
      openToast,
      newBackground,
      closeOutline,
      copyOutline,
      createOutline,
      componentKey,
      caretDownOutline,
      isLoading,
      presentGroupAlert,
      groups,
      presentRemoveGroupAlert,
      select_groups,
      chevronBackOutline,
      presentEditGroupAlert
    };
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters(["getUser"]),
    fillToFilter() {
      let fill = (this.getUser && this.getUser.profile.selected_template) ? this.getUser.profile.selected_template.style.templateUserName.color : '#FFF';
      return hexToCSSFilter(fill).filter;
    },
    userNameColor() {
      return (this.getUser && this.getUser.profile.selected_template) ? this.getUser.profile.selected_template.style.templateUserName.color : '#FFF';
    },
    innerWidth() {
      return parseInt(window.innerWidth / 2 * 1.2);
    },
  },
  methods: {
  },
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped src="../theme/figures.css"></style>

<style scoped>
.vue-grid-layout {
  background: transparent;
}

.vue-grid-item {
  background-size: cover !important;
}

.vue-grid-item:not(.vue-grid-placeholder) {
  /* background: #ccc; */
  border: 0px solid black;
}

.vue-grid-item .resizing {
  opacity: 0.9;
}

.vue-grid-item .static {
  /* background: #cce; */
}

.vue-grid-item .picture {
  height: 100%;
  width: 100%;
}

.vue-grid-item .rectangle {
  height: 100%;
  padding: 0 !important;
}

.rectangle span {
  display: block !important;
  vertical-align: middle;
}

.vue-grid-item .no-drag {
  height: 100%;
  width: 100%;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

.vue-draggable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
  background-position: bottom right;
  padding: 0 8px 8px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: pointer;
}

.remove-icon {
  font-size: 1.5rem;
  color: #01091f;
  top: 1rem;
  right: 1rem;
  position: absolute;
}

#wrapper {
  transform-origin: top left;
  transform: scale(0.5);
  position: relative;
}

.autocomplete-results {
  position: relative;
  left: 0;
  z-index: 2;
  background-color: #DBDBE0;
  width: 100%;
  list-style: none;
  margin-top: 0.01rem;
  border-radius: 5px;
  border-width: 1px;
}

.autocomplete-result {
  margin: 0.5rem 0px;
}
</style>