<template>
  <ion-page>
    <ion-content
      :fullscreen="true"
      scroll="false"
      :style="'--background: ' + newBackground"
    >
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="false"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding"
        ><!-- v-if="showForm" -->
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin" size="12"
            ><ion-text
              class="hello-sub-title"
              :style="'font-size: 1.2em; color: ' + userNameColor + ';'"
            >
              Integra CALENDLY <br />
              para agendar tus citas</ion-text
            ><br />
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end ion-margin-top">
          <ion-col size="12">
            <ion-list class="ion-margin-start ion-margin-end register-list">
              <ion-icon
                icon="assets/icon/calendly-check-icon.svg"
                style="font-size: 1.5rem; margin-right: 0px"
                slot="start"
              ></ion-icon>
              <ion-label
                class="ion-margin-start small-text"
                style="color: white"
                >PASO 1</ion-label
              >
              <br />
              <ion-label class="small-text" style="color: white"
                >Inicia Sesión en Calendly AQUÍ↓</ion-label
              >
              <ion-col class="ion-margin-bottom" size="12">
                <div
                  class="continue-button ion-margin-bottom ion-margin-top"
                  @click="gotoSite('https://calendly.com/login')"
                >
                  INICIAR SESIÓN
                </div>
              </ion-col>
              <ion-icon
                icon="assets/icon/calendly-check-icon.svg"
                style="font-size: 1.5rem; margin-right: 0px"
                class="ion-margin-top"
                slot="start"
              ></ion-icon>
              <ion-label
                class="ion-margin-start small-text"
                style="color: white"
                >PASO 2</ion-label
              >
              <br />
              <ion-label class="small-text" style="color: white"
                >Copia y pega la URL de tu cuenta Calendly</ion-label
              >
              <ion-item
                class="register-list-item-textarea ion-margin-top ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    calendly_url && calendly_url.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >URL</ion-label
                >
                <ion-input
                  v-model="calendly_url"
                  @change="validateUrl(calendly_url)"
                  :disabled="calendlyId"
                  class="ion-input"
                  :placeholder="'https://calendly.com/'"
                  type="text"
                  :style="
                    calendly_url && calendly_url.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem; text-overflow: ellipsis'
                  "
                ></ion-input>
              </ion-item>
              <ion-icon
                icon="assets/icon/calendly-check-icon.svg"
                style="font-size: 1.5rem; margin-right: 0px"
                class="ion-margin-top"
                slot="start"
              ></ion-icon>
              <ion-label
                class="ion-margin-start small-text"
                style="color: white"
                >PASO 3</ion-label
              >
              <br />
              <ion-label class="small-text" style="color: white"
                >Copia y pega el TOKEN de tu cuenta Calendly</ion-label
              >
              <ion-col class="ion-margin-bottom" size="12">
                <div
                  class="continue-button ion-margin-bottom ion-margin-top"
                  @click="
                    gotoSite('https://calendly.com/integrations/api_webhooks')
                  "
                >
                  SOLICITA TU TOKEN
                </div>
              </ion-col>
              <ion-item
                class="register-list-item-textarea ion-margin-top ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    calendly_secret && calendly_secret.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >TOKEN</ion-label
                >
                <ion-textarea
                  v-model="calendly_secret"
                  :disabled="calendlyId"
                  placeholder="Pega el TOKEN Aquí"
                  :style="
                    -+calendly_secret && calendly_secret.length
                      ? 'margin-top: 0rem'
                      : 'margin-top:-1rem'
                  "
                  class="textarea"
                  :rows="4"
                  inputmode="text"
                  :key="componentKey"
                ></ion-textarea>
              </ion-item>
              <span
                @click="gotoSite('https://calendly.com/')"
                style="text-decoration: underline"
                class="small-text link-text"
              >
                Ver tutorial para integrar Calendly</span
              >
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end ion-margin-top">
          <ion-col size="12">
            <div
              class="continue-button ion-margin-start ion-margin-top ion-margin-end"
              @click="calendlyId ? deleteCalendly() : testCalendly()"
            >
              {{ calendlyId ? "Eliminar" : "Guardar" }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonText,
  IonImg,
  IonLabel,
  IonIcon,
  IonInput,
  IonItem,
  IonList,
  IonSelect,
  IonSelectOption,
  IonTextarea,
  IonModal,
  IonHeader,
  IonButtons,
  IonButton,
  IonThumbnail,
  IonToolbar,
  onIonViewDidEnter,
  alertController,
} from "@ionic/vue";
import { defineComponent, ref, reactive, computed } from "vue";
import {
  createOutline,
  globeOutline,
  keyOutline,
  caretDownOutline,
  chevronBackOutline,
} from "ionicons/icons";

import api from "../api";
import axios from "axios";

import { mapGetters, useStore } from "vuex";

import { useRouter, useRoute, onBeforeRouteLeave } from "vue-router";

import { hexToCSSFilter } from "hex-to-css-filter";

import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";

export default defineComponent({
  name: "GlopcardCalendlyStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonText,
    IonImg,
    IonLabel,
    IonIcon,
    IonInput,
    IonItem,
    IonList,
    IonSelect,
    IonSelectOption,
    IonTextarea,
    IonModal,
    Cropper,
    IonHeader,
    IonButtons,
    IonButton,
    IonThumbnail,
    IonToolbar,
  },
  setup() {
    onBeforeRouteLeave(async (to, from) => {
      if (await confirmStayInDirtyForm()) {
        return false;
      }
    });

    const confirmLeave = async () => {
      console.log(
        initial_calendly_secret.value,
        calendly_secret.value,
        initial_calendly_url.value,
        calendly_url.value
      );
      const alert = await alertController.create({
        header: "Confirmar",
        message: "¿Realmente quieres irte? ¡Tienes cambios sin guardar!",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              return false;
            },
          },
          {
            text: "OK",
            handler: () => {
              return true;
            },
          },
        ],
        backdropDismiss: false,
      });

      await alert.present();
      const { role } = await alert.onDidDismiss();
      return role === "cancel" ? false : true;
    };

    const confirmStayInDirtyForm = async () => {
      if (
        initial_calendly_secret.value != calendly_secret.value ||
        initial_calendly_url.value != calendly_url.value
      ) {
        return !(await confirmLeave());
      } else {
        return false;
      }
    };

    const logo = "assets/img/glopcare-logo-with-text.png";

    const close = "assets/icon/close-icon.svg";

    const showForm = ref(false);
    const calendly_secret = ref(null);
    //const calendly_key = ref(null);
    const calendly_url = ref(null);
    const isValidUrl = ref(false);
    const calendlyId = ref(null);

    const isLoading = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    };

    const dismissLoader = () => {
      isLoading.value = false;
    };

    const router = useRouter();

    const initial_calendly_secret = ref(null);
    const initial_calendly_url = ref(null);

    const testCalendly = async () => {
      if (calendly_secret.value && calendly_url.value) {
        if (!isValidUrl.value) {
          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Url Inválida",
            message: "",
            buttons: ["OK"],
          });
          await alert.present();
        } else {
          presentLoader();
          var options = {
            method: "GET",
            url: "https://api.calendly.com/users/me",
            headers: {
              "Content-Type": "application/json",
              Authorization: "Bearer " + calendly_secret.value,
            },
          };

          axios
            .request(options)
            .then(async function (response) {
              if (response.data.resource.scheduling_url) {
                createCalendly();
              }
              console.log(calendly_url.value);
            })
            .catch(async function (error) {
              const alert = await alertController.create({
                header: "Token inválido",
                subHeader:
                  "Solicita nuevamente el token y asegúrate de copiarlo completo",
                message: "",
                buttons: ["OK"],
              });
              await alert.present();
              console.error("error " + error);
              dismissLoader();
            });
        }
      } else {
        let empty_message = "";
        if (!calendly_secret.value) {
          empty_message = "Copia y pega nuevamente el Token en el paso 3";
        }
        if (!calendly_url.value) {
          empty_message = "Copia y pega nuevamente la URL en el paso 2";
        }
        if (!calendly_secret.value && !calendly_url.value) {
          empty_message = "Todos los campos son obligatorios";
        }
        const alert = await alertController.create({
          header: "Campos Obligatorios",
          subHeader: empty_message,
          message: "",
          buttons: ["OK"],
        });
        await alert.present();
      }
    };

    const createCalendly = async (is_draft = false) => {
      presentLoader();

      let calendlyObject = {
        id: calendlyId.value,
        calendly_secret: calendly_secret.value,
        calendly_url: calendly_url.value,
      };

      console.log(calendlyObject);

      api
        .post("calendly-update", calendlyObject, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          calendlyId.value = response.data.id;
          if (!is_draft) {
            initial_calendly_secret.value = calendly_secret.value;
            initial_calendly_url.value = calendly_url.value;
          }

          dismissLoader();
          const alert = await alertController.create({
            header: "Registro Exitoso!",
            subHeader:
              "La integración a Calendly ha sido realizada exitosamente. Recuerda integrar el evento correspondiente a cada servicio.",
            message: "",
            buttons: ["OK"],
          });
          await alert.present();
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));
          var message;

          dismissLoader();

          if (error && error.response && error.response.status) {
            switch (error.response.status) {
              default:
                message = error.response.data.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        });
    };

    const gotoSite = (url) => {
      window.open(url, "_blank");
    };

    const deleteCalendly = async () => {
      const alert = await alertController.create({
        header: null,
        subHeader: "Calendly",
        message: "¿Confirmas que deseas ELIMINAR el registro de Calendly?",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: "OK",
            role: "confirm",
            handler: () => {
              presentLoader();

              let calendlyObject = {
                id: calendlyId.value,
              };

              api
                .post("calendly-delete", calendlyObject, {
                  headers: {
                    Authorization: `Bearer ${store.getters.getAccessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);
                  dismissLoader();
                  getCalendly();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.data.message;
                    }
                  } else {
                    message = error.message;
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader:
                      "Ha ocurrido un error. Por favor intenta cerrar sesión, e inicia de nuevo sesion para reintentar eliminar el grupo",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });
            },
          },
        ],
      });

      await alert.present();
    };

    const route = useRoute();

    onIonViewDidEnter(async () => {
      await getCalendly();
    });

    const getCalendly = async () => {
      showForm.value = false;
      calendly_secret.value = null;
      calendlyId.value = null;
      calendly_url.value = null;
      initial_calendly_secret.value = null;
      initial_calendly_url.value = null;

      presentLoader();

      api
        .get("calendly-get", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            let calendly = response.data;
            if (Object.keys(calendly).length === 0) {
              showForm.value = true;
              console.log("vacio");
            } else {
              calendlyId.value = calendly.id;
              calendly_secret.value = calendly.calendly_secret;
              calendly_url.value = calendly.calendly_url;
              initial_calendly_secret.value = calendly.calendly_secret;
              initial_calendly_url.value = calendly.calendly_url;
              showForm.value = true;
            }
          }
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));
          var message;

          dismissLoader();

          if (error && error.response && error.response.status) {
            switch (error.response.status) {
              default:
                message = error.response.data.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        })
        .finally(() => {
          dismissLoader();
        });
    };

    const newBackground = ref(null);

    const store = useStore();

    const componentKey = ref(0);

    const validateUrl = (url) => {
      const regex = /^(http|https):\/\/+[\www\d]+\.[\w]+(\/[\w\d]+)?/;
      isValidUrl.value = regex.test(url);
    };

    return {
      logo,
      calendly_url,
      calendly_secret,
      close,
      newBackground,
      createOutline,
      globeOutline,
      keyOutline,
      componentKey,
      caretDownOutline,
      isLoading,
      createCalendly,
      deleteCalendly,
      gotoSite,
      testCalendly,
      initial_calendly_url,
      //  initial_calendly_key,
      initial_calendly_secret,
      calendlyId,
      isValidUrl,
      validateUrl,
      chevronBackOutline,
      showForm,
    };
  },
  data: () => ({}),
  computed: {
    ...mapGetters(["getUser"]),
    fillToFilter() {
      let fill =
        this.getUser && this.getUser.profile.selected_template
          ? this.getUser.profile.selected_template.style.templateUserName.color
          : "#FFF";
      return hexToCSSFilter(fill).filter;
    },
    userNameColor() {
      return this.getUser && this.getUser.profile.selected_template
        ? this.getUser.profile.selected_template.style.templateUserName.color
        : "#FFF";
    },
    innerWidth() {
      return parseInt((window.innerWidth / 2) * 1.2);
    },
  },
  methods: {},
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped src="../theme/figures.css"></style>

<style scoped>
.vue-grid-layout {
  background: transparent;
}

.vue-grid-item {
  background-size: cover !important;
}

.vue-grid-item:not(.vue-grid-placeholder) {
  /* background: #ccc; */
  border: 0px solid black;
}

.vue-grid-item .resizing {
  opacity: 0.9;
}

.vue-grid-item .static {
  /* background: #cce; */
}

.vue-grid-item .picture {
  height: 100%;
  width: 100%;
}

.vue-grid-item .rectangle {
  height: 100%;
  padding: 0 !important;
}

.rectangle span {
  display: block !important;
  vertical-align: middle;
}

.vue-grid-item .no-drag {
  height: 100%;
  width: 100%;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

.vue-draggable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>")
    no-repeat;
  background-position: bottom right;
  padding: 0 8px 8px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: pointer;
}

.remove-icon {
  font-size: 1.5rem;
  color: #01091f;
  top: 1rem;
  right: 1rem;
  position: absolute;
}

#wrapper {
  transform-origin: top left;
  transform: scale(0.5);
  position: relative;
}

.autocomplete-results {
  position: relative;
  left: 0;
  z-index: 2;
  background-color: #dbdbe0;
  width: 100%;
  list-style: none;
  margin-top: 0.01rem;
  border-radius: 5px;
  border-width: 1px;
}

.autocomplete-result {
  margin: 0.5rem 0px;
}
</style>

<style>
.no-wrap-radio {
  white-space: normal;
}
.alert-radio-label.sc-ion-alert-md {
  white-space: normal !important;
}
</style>