<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Registra</span><br />
                <span class="hello-sub-title">tus redes</span><br />
                <span class="hello-sub-title">sociales</span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper
              :slides-per-view="1"
              :loop="true"
              id="swiper"
              :allowSlideNext="false"
              :allowSlidePrev="false"
              class="swiper-marco"
            >
              <swiper-slide @click="$router.push('preview')">
                <!-- <img
                  src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"
                />
                <ion-icon
                  :icon="expand"
                  class="expand-icon"
                  @click="$router.push('preview')"
                ></ion-icon>
                <div
                  v-if="getSelectedTemplate && getSelectedTemplate.template"
                  class="template-background"
                  id="previewContainer"
                  name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor"
                >
                  <component
                    id="preview"
                    name="preview"
                    :is="
                      customTemplate && customTemplate.template
                        ? customTemplate.template
                        : getSelectedTemplate.template
                    "
                    class="preview-thumbnail"
                    :key="componentKey"
                  >
                  </component>
                </div>
                <div
                  v-else
                  :style="
                    'background-image: url(' +
                    (getSelectedTemplate && getSelectedTemplate.background
                      ? getSelectedTemplate.background
                      : '') +
                    ')'
                  "
                  class="template-thumbnail"
                ></div> -->
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".75"></ion-progress-bar>
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row
          class="ion-text-center ion-margin-start ion-margin-end ion-margin-top ion-margin-bottom"
          style="font-size: 3rem"
        >
          <ion-col
            ><ion-icon
              id="fb_icon"
              :src="fb_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
          <ion-col
            ><ion-icon
              id="insta_icon"
              :src="insta_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
          <ion-col
            ><ion-icon
              id="tiktok_icon"
              :src="tiktok_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
          <ion-col
            ><ion-icon
              id="twitter_icon"
              :src="twitter_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
        </ion-row>
        <ion-row
          class="ion-text-center ion-margin-start ion-margin-end"
          style="font-size: 3rem"
        >
          <ion-col
            ><ion-icon
              id="snapchat_icon"
              :src="snapchat_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
          <ion-col
            ><ion-icon
              id="pinterest_icon"
              :src="pinterest_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
          <ion-col
            ><ion-icon
              id="youtube_icon"
              :src="youtube_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
          <ion-col
            ><ion-icon
              id="linkedin_icon"
              :src="linkedin_icon"
              @click="selectSocial"
              class="glowing-border-square-base"
            ></ion-icon
          ></ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="10">
            <ion-list class="ion-margin-top register-list">
              <ion-item
                v-for="social in socials.filter((el) => el.visible)"
                :key="social.icon"
                class="
                  register-list-item-left
                  ion-margin-start ion-margin-bottom
                "
              >
                <ion-label
                  position="stacked"
                  :style="
                    social && social.value && social.value.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >{{ social.placeholder }}</ion-label
                >

                <img :src="'assets/icon/socials/' + social.id + (getUser.profile.social_icon_family ? getUser.profile.social_icon_family : getSelectedTemplate.default_social_icon_family) + '.svg'" :style="'max-height: 2rem; margin-right: 0; filter:' + fillToFilter('#808080') + ';'" slot="start"/>

                <ion-input
                  v-model="social.value"
                  :placeholder="social.placeholder"
                  @ionBlur="checkStatus"
                  :style="((social.value && social.value.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="2">
            <ion-list class="ion-margin-top register-list">
              <div
                v-for="social in socials.filter((el) => el.visible)"
                :key="social.icon"
                class="
                  register-list-item-right
                  ion-margin-bottom ion-margin-end ion-justify-content-center
                "
              >
                <ion-icon
                  :id="'close' + social.id"
                  :icon="closeOutline"
                  style="font-size: 2rem; margin-right: 0px"
                  @click="deselectSocial"
                ></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="cancel-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
              @click="reset()"
            >
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="validateContinue('glopcard-icons-step')"
            >
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 16vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonInput,
  IonProgressBar,
  IonLabel,
  IonThumbnail,
  onIonViewDidEnter,
  alertController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";

import { hexToCSSFilter } from 'hex-to-css-filter';

import { Storage } from "@ionic/storage";
const storage = new Storage();

import { closeOutline } from "ionicons/icons";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

export default defineComponent({
  name: "GlopcardSocialNetworksStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    Swiper,
    SwiperSlide,
    IonInput,
    IonProgressBar,
    IonLabel,
    IonThumbnail,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";
    const check = "assets/icon/check-icon.svg";

    const fb_icon = "assets/icon/socials/fb_icon.svg";
    const insta_icon = "assets/icon/socials/insta_icon.svg";
    const tiktok_icon = "assets/icon/socials/tiktok_icon.svg";
    const twitter_icon = "assets/icon/socials/twitter_icon.svg";
    const snapchat_icon = "assets/icon/socials/snapchat_icon.svg";
    const pinterest_icon = "assets/icon/socials/pinterest_icon.svg";
    const youtube_icon = "assets/icon/socials/youtube_icon.svg";
    const linkedin_icon = "assets/icon/socials/linkedin_icon.svg";

    const store = useStore();

    const customTemplate = reactive({});

    const justEntered = ref(false);
    const firstValue = ref('');

    const defaultSocials = [
      {
        id: "fb_icon",
        placeholder: "Facebook",
        icon: fb_icon,
        value: "",
        visible: false,
        href: 'https://www.facebook.com/',
        modified: false
      },
      {
        id: "insta_icon",
        placeholder: "Instagram",
        icon: insta_icon,
        value: "",
        visible: false,
        href: 'https://www.instagram.com/',
        modified: false
      },
      {
        id: "tiktok_icon",
        placeholder: "Tiktok",
        icon: tiktok_icon,
        value: "",
        visible: false,
        href: 'https://www.tiktok.com/@',
        modified: false
      },
      {
        id: "twitter_icon",
        placeholder: "Twitter",
        icon: twitter_icon,
        value: "",
        visible: false,
        href: 'https://twitter.com/',
        modified: false
      },
      {
        id: "snapchat_icon",
        placeholder: "Snapchat",
        icon: snapchat_icon,
        value: "",
        visible: false,
        href: 'https://www.snapchat.com/add/',
        modified: false
      },
      {
        id: "pinterest_icon",
        placeholder: "Pinterest",
        icon: pinterest_icon,
        value: "",
        visible: false,
        href: 'https://www.pinterest.com/',
        modified: false
      },
      {
        id: "youtube_icon",
        placeholder: "Youtube",
        icon: youtube_icon,
        value: "",
        visible: false,
        href: 'https://www.youtube.com/@',
        modified: false
      },
      {
        id: "linkedin_icon",
        placeholder: "LinkedIn",
        icon: linkedin_icon,
        value: "",
        visible: false,
        href: 'https://www.linkedin.com/in/',
        modified: false
      },
    ];

    const socials = reactive(store.getters.getUser.profile.socials ? store.getters.getUser.profile.socials : defaultSocials);

    const router = useRouter();

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;

      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status && socials && socials.filter(el => (el.visible)).every(it => it.value && it.value.length > 0)) {
        glopcard.status = 'in_progress';
        glopcard.last_step = route;

        glopcard.socials = socials;

        save(glopcard);

        router.push(route);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Necesitas vincular una cuenta a cada red social seleccionada.",
          message: "Ingresa la informacion necesaria para asociar tu cuenta al icono correspondiente o presiona X para eliminarlo.",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const reset = async () => {
			const alert = await alertController.create({
				header: "Alerta",
				subHeader:
					"Perderás los cambios realizados",
				message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
				buttons: [
					{
						text: "CANCELAR",
						role: "cancel",
					},
					{
						text: 'OK',
						role: 'confirm',
						handler: () => {
							let glopcard = store.getters.getUser.profile;

              socials.map((el) => {
                if (document.getElementById(el.id).classList.contains('glowing-border-square')){
                    document.getElementById(el.id).classList.toggle('glowing-border-square');
                  }
                  el.visible = false;
              });
              
              Object.assign(socials, defaultSocials);
              glopcard.socials = socials.value;

							save(glopcard);
						}
					}
				],
			});
			await alert.present();
		};

    const save = async (glopcard = null) => {
			let user = store.getters.getUser;

			if (glopcard) {
				user.profile = glopcard;
			}

			store.commit("setUser", user);
			await storage.create();

			console.log('From professional:', glopcard);
			await storage.set("user", JSON.parse(JSON.stringify(user)));
		};

    onIonViewDidEnter(() => {
      socials.forEach(element => {
        if (element.visible) {
          let el = document.getElementById(element.id);
          if (!el.classList.contains('glowing-border-square')){
            document.getElementById(element.id).classList.add('glowing-border-square');
          }
        }
      });

      justEntered.value = true;
    });

    return {
      logo,
      check,
      expand,
      fb_icon,
      insta_icon,
      tiktok_icon,
      twitter_icon,
      snapchat_icon,
      pinterest_icon,
      youtube_icon,
      linkedin_icon,
      socials,
      closeOutline,
      customTemplate,
      save,
      validateContinue,
      reset,
      defaultSocials,
      justEntered,
      firstValue
    };
  },
  data() {
    return {
      componentKey: 0,
    };
  },
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  },
  methods: {
    fillToFilter(fill){
      fill = fill.slice(0, 7);
      return hexToCSSFilter(fill).filter;
    },

    checkStatus(ev){
      if (ev.target.value && ev.target.value.length > 0){
        ev.target.style.color = '#414243';
        if(ev.target.value[0] != '@') {
          ev.target.value = '@' + ev.target.value;
        }
      } else {
        ev.target.style.color = 'red';
      }

      if (this.justEntered && ev.target.value && ev.target.value.length > 3) {
          this.justEntered = false;
          this.firstValue = ev.target.value;
      }
    },
    
    async selectSocial(event) {
      // console.log(event.target);

      let arrSocials = [];

      if (event.target.id.indexOf('close') >= 0){
        document.getElementById((event.target.id).replace('close', '')).classList.toggle('glowing-border-square');

        arrSocials = this.socials.map((el) => {
        if (el.id == (event.target.id).replace('close', '')){
          el.visible = !el.visible;
        }
          return el;
        });
      } else {

        if (this.socials.filter(el => el.visible).length >= this.getSelectedTemplate.max_socials){
          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Has superado el límite de redes sociales",
            message: 'Para agregar otra, elimina una de las existentes o busca una plantilla que se adapte a tu necesidad. Si necesitas ayuda, comunícate con nuestro equipo de soporte glopcare.',
            buttons: ["OK"],
          });
          await alert.present();
          return;
        }

        arrSocials = this.socials.map((el) => {
          if (el.id == event.target.id){
            if (!el.visible){
              event.target.classList.toggle('glowing-border-square');
              el.visible = true;
              if (!el.modified) {
                el.modified = true;
                el.value = this.firstValue;
              }
            }
          }
          return el;
        });
      }

      Object.assign(this.socials, arrSocials);

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.socials = this.socials;

      this.save(glopcard);
    },

    async deselectSocial(event) {
      // console.log(event.target);

      let arrSocials = [];

      if (event.target.id.indexOf('close') >= 0){
        document.getElementById((event.target.id).replace('close', '')).classList.toggle('glowing-border-square');

        arrSocials = this.socials.map((el) => {
        if (el.id == (event.target.id).replace('close', '')){
          el.visible = !el.visible;
        }
          return el;
        });
      } else {

        arrSocials = this.socials.map((el) => {
          if (el.id == event.target.id){
            if (el.visible){
              event.target.classList.toggle('glowing-border-square');
              el.visible = false;
            }
          }
          return el;
        });
      }

      Object.assign(this.socials, arrSocials);

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.socials = this.socials;

      this.save(glopcard);
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>

.picture-sub-title {
  width: 74px;
  height: 43px;
  left: 72px;
  top: 599px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;

  color: #ffffff;
}

.vc-colorpicker {
  margin: 0 auto !important;
}

.vc-colorpicker--container {
  padding: 1px !important;
}
</style>

<style lang="scss">
.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;
  &__handler {
    position: absolute;
    right: 15%;
    top: 14%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
  &__preview {
    border-radius: 50%;
    overflow: hidden;
  }
}
</style>

<style scoped>
ion-select::part(icon) {
  display: none !important;
}
</style>