<template>
  <ion-page>
    <ion-content
      :fullscreen="true"
      scroll="false"
      style="--offset-top: -3% !important"
    >
      <ion-grid
        class="ion-no-padding inner-options-background"
        style="width: 100%"
        slot="fixed"
      >
        <ion-row style="min-height: 4vh"></ion-row>
        <ion-row class="ion-margin-start">
          <ion-col size="1" class="ion-margin-start ion-align-self-center">
            <ion-icon
              icon="assets/icon/edit-bar.svg"
              style="font-size: 1.8rem; color: white"
            ></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-margin ion-align-self-center">
            <div style="position: relative" class="ion-no-margin">
              <p class="ion-no-margin">
                <span class="hello-sub-title">Editar</span>
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start">
          <ion-col size="12" class="ion-margin-start">
            <span class="hello-sub-title-bold">Tu Contacto</span><br />
            <span class="hello-sub-title-gradient">Interactivo</span>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 1vh"></ion-row>
      </ion-grid>
      <ion-grid class="ion-no-padding inner-options-background">
        <ion-row class="settings-responsive"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end ion-margin-bottom">
          <ion-col class="ion-margin-bottom">
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-choose-template-step')"
            >
              Plantilla
            </div>
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-pictures-step')"
            >
              Imágenes de tu pantalla de inicio
            </div>
            <!-- <div class="normal-button ion-margin" @click="$router.push('/glopcard-background-color-step')">Color de fondo</div> -->
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-professional-information-step')"
            >
              Datos de tu pantalla de inicio
            </div>
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-text-color-step')"
            >
              Colores y tipografías
            </div>
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-contact-information-step')"
            >
              Datos de contacto
            </div>
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-social-networks-step')"
            >
              Redes sociales
            </div>
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-icons-step')"
            >
              Tipo y color de íconos
            </div>
            <div
              class="normal-button ion-margin"
              @click="$router.push('/glopcard-location-step')"
            >
              Ubicación y horario de trabajo
            </div>
            <div class="normal-button ion-margin" @click="$router.push('catalog-options')">Catálogo</div>
            <div class="normal-button ion-margin" @click="$router.push('glopcard-catalog-step')">Publicidad</div>
          </ion-col>
        </ion-row>

        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonIcon,
  alertController
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "GlopcardSettingsStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonIcon
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";

    const alertMessage = async (message, subHeader = '', buttons = null) => {
      const alert = await alertController.create({
              header: 'Alerta',
              subHeader: subHeader,
              message: message,
              buttons: buttons ? buttons : ['OK'],
            });
          await alert.present();
    }

    return {
      logo, alertMessage
    };
  },
  data: () => ({
    currentRole: null,
  }),
  methods: {},
});
</script>

<style scoped src="../theme/style.css">
</style>

