<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Registra</span><br />
                <span class="hello-sub-title">tu ubicación</span><br />
                <span class="hello-sub-title">y horario de</span><br />
                <span class="hello-sub-title">trabajo</span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper :slides-per-view="1" :loop="true" id="swiper" :allowSlideNext="false" :allowSlidePrev="false"
              class="swiper-marco">
              <swiper-slide @click="$router.push('preview')">
                <!-- <img src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"/>
                <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                  id="previewContainer" name="previewContainer" :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor">
                  <component id="preview" name="preview" :is="
                    customTemplate && customTemplate.template
                      ? customTemplate.template
                      : getSelectedTemplate.template
                  " class="preview-thumbnail" :key="componentKey">
                  </component>
                </div>
                <div v-else :style="
                  'background-image: url(' +
                  (getSelectedTemplate && getSelectedTemplate.background
                    ? getSelectedTemplate.background
                    : '') +
                  ')'
                " class="template-thumbnail"></div> -->
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar-completed" value="0"></ion-progress-bar>
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8">
            <ion-list class="ion-margin-start register-list">
              <ion-item v-for="(item, index) in offices" :key="index" class="
                  register-list-item-left
                  ion-margin-start ion-margin-top ion-align-items-center
                " @click="showMapModal = false">
                <ion-icon icon="assets/icon/maps-icon.svg" style="font-size: 2rem; margin-right: 0px" slot="start"
                  @click="setMapModalOpen(true)"></ion-icon>
                <GMapAutocomplete class="ion-input" :placeholder="item.office_address ? item.office_address : 'Ubicación'" @place_changed="getAddressData"
                  @click="current_office = index">
                </GMapAutocomplete>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="2">
            <ion-list class="register-list">
              <div v-for="(item, index) in offices" :key="index" class="
                  register-list-item-span
                  ion-justify-content-center ion-margin-top
                ">
                <ion-icon :icon="scheduleTime" style="font-size: 2rem; margin-right: 0px"
                  @click="showCurrentSchedule(index)"></ion-icon>
              </div>
            </ion-list>
          </ion-col>
          <ion-col size="2">
            <ion-list class="register-list ion-margin-end">
              <div v-for="(item, index) in offices" :key="index" class="
                  register-list-item-right
                  ion-margin-end ion-justify-content-center ion-margin-top
                ">
                <ion-icon :icon="closeOutline" style="font-size: 2rem; margin-right: 0px"
                  @click="offices.splice(index, 1)"></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p class="
                  small-text
                  ion-margin-start ion-margin-end ion-margin-bottom
                  link-text
                " @click="addNewOffice">
                Agregar ubicación y horario
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div class="cancel-button ion-margin-start ion-margin-top" style="margin-right: 4px" @click="reset()">
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="continue-button ion-margin-end ion-margin-top" style="margin-left: 4px"
              @click="validateContinue('home')">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
      <ion-modal :is-open="showMapModal" ref="mapModal" @didPresent="loadMap"
        @ionModalDidDismiss="setMapModalOpen(false)">
        <ion-header class="ion-no-border">
          <ion-toolbar class="top-toolbar">
            <ion-buttons slot="start" class="ion-margin-start">
              <ion-icon :icon="chevronBackOutline" @click="setCurrentLocation()" style="font-size: 2em; color: white"
                class="back-icon-shadow"></ion-icon>
              <ion-text @click="setCurrentLocation()" style="font-size: 1em; color: white">Atrás</ion-text>
            </ion-buttons>
            <ion-img slot="end" src="assets/img/glopcare-text-logo-inline.png"
              style="height: 2.1em; margin-top: 4px; --padding-end: 0px"></ion-img>
          </ion-toolbar>
          <div class="glopcare-info-button">
            <ion-thumbnail style="--size: 60px">
              <img src="assets/img/info-logo.png" />
            </ion-thumbnail>
          </div>
        </ion-header>
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <!-- <div id="map" style="height: 100%; width: 100%"> -->
            <GMapMap :center="{ lat: currentLatitude, lng: currentLongitude }" :zoom="7"
              style="width: 100vw; height: 100vh" @click="setCurrentLocation">
              <GMapMarker :position="{ lat: currentLatitude, lng: currentLongitude }" :clickable="false"
                :draggable="false" />
            </GMapMap>
          </ion-col>
        </ion-row>
      </ion-modal>
      <ion-modal :is-open="showScheduleModal" @ionModalDidDismiss="setScheduleModalOpen(false)"
        style="--background: #000510">
        <ion-header class="ion-no-border">
          <ion-toolbar class="top-toolbar">
            <ion-buttons slot="start" class="ion-margin-start">
              <ion-icon :icon="chevronBackOutline" @click="setCurrentSchedule()" style="font-size: 2em; color: white"
                class="back-icon-shadow"></ion-icon>
              <ion-text @click="setCurrentSchedule()" style="font-size: 1em; color: white">Atrás</ion-text>
            </ion-buttons>
            <ion-img slot="end" src="assets/img/glopcare-text-logo-inline.png"
              style="height: 2.1em; margin-top: 4px; --padding-end: 0px"></ion-img>
          </ion-toolbar>
          <div class="glopcare-info-button">
            <ion-thumbnail style="--size: 60px">
              <img src="assets/img/info-logo.png" />
            </ion-thumbnail>
          </div>
        </ion-header>
        <div class="curved-background ion-no-margin" style="height: 100%; overflow-y: scroll;">
          <!-- <ion-item lines="none">
            <ion-button
              slot="end"
              color="secondary"
              @click="setCurrentSchedule()"
              >Listo</ion-button
            >
          </ion-item> -->

          <ion-row class="ion-no-margin">
            <ion-col size="12">
              <ion-row class="ion-margin-start ion-margin-top">
                <ion-col size="1" class="ion-align-self-center">
                  <ion-icon :icon="locationTime" class="check-icon"></ion-icon>
                </ion-col>
                <ion-col size="11" class="ion-align-self-center">
                  <span class="hello-title">Ubicación</span>
                </ion-col>
              </ion-row>
              <ion-row class="ion-margin">
                <ion-col class="ion-align-self-center">
                  <ion-item class="register-list-item-textarea ion-margin-bottom" lines="none">
                    <ion-label position="stacked" :style="
                      offices[current_office].office_address && offices[current_office].office_address.length
                        ? 'visibility:unset; padding-left: 4px;'
                        : 'visibility:hidden'
                    ">Dirección de tu trabajo</ion-label>
                    <ion-textarea v-model="offices[current_office].office_address" placeholder="Dirección" :style="
                      offices[current_office].office_address && offices[current_office].office_address.length
                        ? 'margin-top: 0rem'
                        : 'margin-top:-1rem'
                    " class="textarea" :rows="2" inputmode="text"></ion-textarea>
                    <ion-icon :icon="close" slot="end" style="right: 0px" @click="offices[current_office].office_address = ''" :hidden="!(offices[current_office].office_address && offices[current_office].office_address.length)"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row id="daysOfTheWeek" class="ion-justify-content-between" style="display: none;">
                <ion-row>
                <ion-col class="ion-margin-end ion-text-center" size="12">
                  <ion-chip @click="toggleChip($event)" value="0">L</ion-chip>
                  <ion-chip @click="toggleChip($event)" value="1">M</ion-chip>
                  <ion-chip @click="toggleChip($event)" value="2">M</ion-chip>
                  <ion-chip @click="toggleChip($event)" value="3">J</ion-chip>
                  <ion-chip @click="toggleChip($event)" value="4">V</ion-chip>
                  <ion-chip @click="toggleChip($event)" value="5">S</ion-chip>
                  <ion-chip @click="toggleChip($event)" value="6">D</ion-chip>
                </ion-col>
              </ion-row>
              </ion-row>

              <ion-row class="ion-margin-start ion-margin-top">
                <ion-col size="1" class="ion-align-self-center">
                  <ion-icon :icon="scheduleTimeWhite" class="check-icon"></ion-icon>
                </ion-col>
                <ion-col size="11" class="ion-align-self-center">
                  <span class="hello-title">Horario de trabajo</span>
                </ion-col>
              </ion-row>
              <ion-list style="background: none">
                <div v-for="(item, index) in current_schedule" :key="index">
                  <ion-item lines="none" style="--background: none">
                    <ion-checkbox slot="start" @update:modelValue="item.active = $event" :modelValue="item.active"
                      :checked="item.active" @ionChange="($event.target.checked && item.times.length == 0) ? item.times.push({
                          start: new Date(0, 0, 0, 9, 0, 0),
                          end: new Date(0, 0, 0, 17, 0, 0),
                        }) : ''"></ion-checkbox>
                    <ion-label slot="start" color="light">{{
                        item.label
                    }}</ion-label>
                  </ion-item>
                  <ion-list v-if="item.active" lines="none" class="ion-margin-start ion-margin-end"
                    style="background: none">
                    <ion-item v-for="(time, idx) in item.times" :key="idx" style="--background: none">
                      <ion-col size="2">
                        <ion-label color="light">De</ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label color="light" @click="openDatePicker(item, index, idx, 'start')">{{
                            (time.start instanceof Date) ? time.start.toLocaleTimeString("es-VE", {
                              hour: "2-digit",
                              minute: "2-digit",
                              hour12: true,
                            }) : (new Date(time.start)).toLocaleTimeString("es-VE", {
                              hour: "2-digit",
                              minute: "2-digit",
                              hour12: true,
                            })
                        }}</ion-label>
                      </ion-col>
                      <ion-col size="1">
                        <ion-label color="light">a</ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label color="light" @click="openDatePicker(item, index, idx, 'end')">{{
                            (time.end instanceof Date) ? time.end.toLocaleTimeString("es-VE", {
                              hour: "2-digit",
                              minute: "2-digit",
                              hour12: true,
                            })  : (new Date(time.end)).toLocaleTimeString("es-VE", {
                              hour: "2-digit",
                              minute: "2-digit",
                              hour12: true,
                            })
                        }}</ion-label>
                      </ion-col>
                      <ion-col size="1">
                        <ion-icon style="font-size: 1em; color: white" :src="closeOutline"
                          @click="item.times.splice(idx, 1)">
                        </ion-icon>
                      </ion-col>
                    </ion-item>
                    <ion-item lines="none" style="--background: none">
                      <ion-label slot="end" color="light" @click="
                        item.times.push({
                          start: new Date(0, 0, 0, 9, 0, 0),
                          end: new Date(0, 0, 0, 17, 0, 0),
                        })
                      ">Agregar Horario</ion-label>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-start ion-margin-end">
            <ion-col size="6">
              <div class="cancel-button ion-margin-start ion-margin-top" style="margin-right: 0px"
                @click="resetCurrentSchedule()">
                RESTABLECER
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="continue-button ion-margin-end ion-margin-top" style="margin-left: 0px"
                @click="setCurrentSchedule()">
                CONTINUAR
                <div class="continue-button-background"></div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="min-height: 14vh"></ion-row>
        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>


<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonInput,
  IonTextarea,
  onIonViewDidEnter,
  IonModal,
  IonLabel,
  IonCheckbox,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonThumbnail,
  IonText,
  IonChip,
  IonProgressBar,
  pickerController,
  alertController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";

import {
  closeOutline,
  locationOutline,
  calendar,
  chevronBackOutline,
  close
} from "ionicons/icons";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

import { Storage } from "@ionic/storage";
const storage = new Storage();

// import { GoogleMap } from "@capacitor/google-maps";
import { Geolocation } from "@capacitor/geolocation";

export default defineComponent({
  name: "GlopcardLocationStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    IonTextarea,
    Swiper,
    SwiperSlide,
    IonInput,
    IonModal,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005,
    onIonViewDidEnter,
    IonLabel,
    IonCheckbox,
    IonChip,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonThumbnail,
    IonProgressBar,
    IonText,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";
    const check = "assets/icon/check-icon.svg";
    const locationTime = "assets/icon/location-time-icon.svg";
    const scheduleTimeBlue = "assets/icon/schedule-time-icon-blue.svg";
    const scheduleTimeWhite = "assets/icon/schedule-time-icon-white.svg";
    const scheduleTime = "assets/icon/schedule-time-icon.svg";

    const showMapModal = ref(false);

    const setMapModalOpen = (state) => (showMapModal.value = state);

    const location = ref(null);

    const currentLatitude = ref(null);
    const currentLongitude = ref(null);

    const checkGeoPermission = async () => {
      let permission = await Geolocation.checkPermissions();
      console.log(permission);

      if (permission.location != "granted") {
        let request = await Geolocation.requestPermissions();
        console.log(request);
      } else {
        return true;
      }

      return false;
    };

    onIonViewDidEnter(async () => {
      let permission = await Geolocation.checkPermissions();
      console.log(permission);

      if (checkGeoPermission()) {
        let currentCoordinates = await Geolocation.getCurrentPosition();
        console.log("Current position:", currentCoordinates.coords);
        currentLongitude.value = currentCoordinates.coords.longitude;
        currentLatitude.value = currentCoordinates.coords.latitude;
      } else {
        alert(
          "Revise que no tiene bloqueado permisos de localización para esta aplicación."
        );
      }

      if (!offices.length) {
        addNewOffice();
      }
    });

    const customTemplate = reactive({});
    const selectedDays = reactive([]);

    const showScheduleModal = ref(false);
    const setScheduleModalOpen = (state) => (showScheduleModal.value = state);

    const store = useStore();

    const offices = reactive(store.getters.getUser.profile.offices ? store.getters.getUser.profile.offices : []);

    const current_schedule = reactive([]);

    const addNewOffice = () => {
      let officeObject = {
        office_name: "",
        office_address: "",
        office_location: { latitude: 0, longitude: 0 },
        office_schedule: [
          {
            label: "Lunes",
            index: 1,
            times: [],
            active: false,
          },
          {
            label: "Martes",
            index: 2,
            times: [],
            active: false,
          },
          {
            label: "Miercoles",
            index: 3,
            times: [],
            active: false,
          },
          {
            label: "Jueves",
            index: 4,
            times: [],
            active: false,
          },
          {
            label: "Viernes",
            index: 5,
            times: [],
            active: false,
          },
          {
            label: "Sábado",
            index: 6,
            times: [],
            active: false,
          },
          {
            label: "Domingo",
            index: 7,
            times: [],
            active: false,
          },
        ],
      };

      offices.push(officeObject);
    };

    const reset = async () => {
			const alert = await alertController.create({
				header: "Alerta",
				subHeader:
					"Perderás los cambios realizados",
				message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
				buttons: [
					{
						text: "CANCELAR",
						role: "cancel",
					},
					{
						text: 'OK',
						role: 'confirm',
						handler: () => {
							let glopcard = store.getters.getUser.profile;

              while(offices.length){
                offices.pop();
              }

              glopcard.offices = offices;

              addNewOffice();

							save(glopcard);
						}
					}
				],
			});
			await alert.present();
		};

    const save = async (glopcard) => {
      let user = store.getters.getUser;
      user.profile = glopcard;
      store.commit("setUser", user);
      await storage.create();
      console.log('From location:', glopcard);
      await storage.set("user", JSON.parse(JSON.stringify(user)));
    };

    const router = useRouter();

    const validateContinue = async (route) => {
      let glopcard = store.getters.getUser.profile;

      if (glopcard && glopcard.status) {
        glopcard.status = 'finished';
        glopcard.last_step = route;
        save(glopcard);
      }
      router.push(route);
    };

    const current_office = ref(0);

    const addDaysOptions = async() => {
      var customPickerCollection = document.getElementsByClassName('picker-wrapper');
      console.log(customPickerCollection);
      var customPicker = customPickerCollection[0];

      var tmpDays = document.getElementById('daysOfTheWeek').cloneNode(true);
      tmpDays.id = 'tmpDaysOfTheWeek';
      console.log(tmpDays);


      // Reseting selected days
      while(selectedDays.length){
        selectedDays.pop();
      }

      let daysToAdd = offices[current_office.value].office_schedule;

      daysToAdd.forEach((day) => {
        if (day.active){
          selectedDays.push(day.index - 1);
        }
      });

      console.log('Dias seleccionados previamente:', selectedDays);

      while (tmpDays.children.length > 0) {
        let chipCollection = tmpDays.children[0].children[0].children;

        for (let i = 0; i < chipCollection.length; i++) {

          console.log(chipCollection[i]);


          if (selectedDays.findIndex((day) => {return day == i}) >= 0){
            chipCollection[i].style.backgroundColor = 'lightblue';
          }
        }

        tmpDays.children[0].addEventListener('click', toggleChip);
        customPicker.appendChild(tmpDays.children[0]);
      }

    }

    const toggleChip = (event) => {
      let style = event.target.style;
      let value = parseInt(event.target.attributes.value.value);

      if (style.background == 'lightblue') {
        selectedDays.splice(selectedDays.indexOf(value), 1);
        style.background = '#FFF';
      } else {
        style.background = 'lightblue';
        if (!selectedDays.find(e => e == value)){
          selectedDays.push(value);
        }
      }

      console.log(selectedDays);
      
    }

    return {
      logo,
      check,
      expand,
      locationOutline,
      closeOutline,
      chevronBackOutline,
      calendar,
      showMapModal,
      setMapModalOpen,
      location,
      currentLatitude,
      currentLongitude,
      showScheduleModal,
      setScheduleModalOpen,
      offices,
      addNewOffice,
      current_schedule,
      locationTime,
      scheduleTimeBlue,
      scheduleTimeWhite,
      scheduleTime,
      customTemplate,
      save,
      reset,
      close,
      validateContinue,
      addDaysOptions,
      toggleChip,
      selectedDays,
      current_office,
    };
  },
  data: () => ({
    componentKey: 0,
  }),
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  },
  methods: {
    showCurrentSchedule(currentOfficeIdx) {
      this.current_office = currentOfficeIdx;
      this.current_schedule = this.offices.at(currentOfficeIdx).office_schedule;
      this.setScheduleModalOpen(true);
    },
    setCurrentSchedule() {
      this.offices[this.current_office].current_schedule = this.current_schedule;

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.offices = this.offices;
      this.save(glopcard);
      
      this.setScheduleModalOpen(false);
    },

    async resetCurrentSchedule() {
			const alert = await alertController.create({
				header: "Alerta",
				subHeader:
					"Perderás los cambios realizados",
				message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
				buttons: [
					{
						text: "CANCELAR",
						role: "cancel",
					},
					{
						text: 'OK',
						role: 'confirm',
						handler: () => {

              this.current_schedule.forEach(item => {
                item.active = false,
                item.times = []
              })
						}
					}
				],
			});
			await alert.present();
		},

    setCurrentLocation(location) {

      if (location && location.latLng) {
        console.log(location);
        this.currentLatitude = location.latLng.lat();
        this.currentLongitude = location.latLng.lng();
      } else {
        this.setMapModalOpen(false);
        this.$refs.mapModal.$el.dismiss();

      }
    },

    getAddressData: function (addressData) {
      this.offices[this.current_office].office_address =
        addressData.formatted_address;
      console.log(addressData);

      this.currentLatitude = addressData.geometry.location.lat();
      this.currentLongitude = addressData.geometry.location.lng();

      this.offices[this.current_office].office_location = {
        latitude: this.currentLatitude,
        longitude: this.currentLongitude,
      };

      console.log(this.offices[this.current_office].office_location);

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.offices = this.offices;
      this.save(glopcard);
    },

    async loadMap(event) {
      console.log(event);

      if (!this.currentLatitude || !this.currentLongitude) {
        alert(
          "No pudimos ubicar tus coordenadas actuales. Espera un poco antes de volver a mostrar el mapa"
        );
        this.currentLatitude = 0;
        this.currentLongitude = 0;
      }
    },

    async openDatePicker(item, idxSchedule, idxTime, time) {
      const picker = await pickerController.create({
        columns: [
          {
            name: "hour",
            options: [...Array(12).keys()].map((e) => {
              return {
                text: (e + 1).toLocaleString('en-US', {
                  minimumIntegerDigits: 2,
                  useGrouping: false
                }), value: e + 1
              };
            }),
            selectedIndex: time == 'start' ? this.current_schedule[idxSchedule].times[idxTime].start.getHours() > 12 ? this.current_schedule[idxSchedule].times[idxTime].start.getHours() - 13 : this.current_schedule[idxSchedule].times[idxTime].start.getHours() - 1 : this.current_schedule[idxSchedule].times[idxTime].end.getHours() > 12 ? this.current_schedule[idxSchedule].times[idxTime].end.getHours() - 13 : this.current_schedule[idxSchedule].times[idxTime].end.getHours() - 1
          },
          {
            name: "minute",
            options: [...Array(60).keys()].map((e) => {
              return {
                text: e.toLocaleString('en-US', {
                  minimumIntegerDigits: 2,
                  useGrouping: false
                }), value: e
              };
            }),
            selectedIndex: time == 'start' ? this.current_schedule[idxSchedule].times[idxTime].start.getMinutes() : this.current_schedule[idxSchedule].times[idxTime].end.getMinutes()
          },
          {
            name: "hour12",
            options: [
              { text: "a.m.", value: 0 },
              { text: "p.m.", value: 12 },
            ],
            selectedIndex: time == 'start' ? this.current_schedule[idxSchedule].times[idxTime].start.getHours() > 12 ? 1 : 0 : this.current_schedule[idxSchedule].times[idxTime].end.getHours() > 12 ? 1 : 0
          },
        ],
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: "Aceptar",
            handler: (value) => {

              this.selectedDays.forEach(e => {
                let date = new Date();

                date.setHours(value.hour.value + value.hour12.value);
                date.setMinutes(value.minute.value);

                if (this.current_schedule[e].times && !this.current_schedule[e].times[idxTime]) {
                  console.log('Pushing new time because it does not exist...');
                  this.current_schedule[e].times.push({
                    start: new Date(),
                    end: new Date(),
                  });
                  console.log('Added new time for ' + e, this.current_schedule[e].times);
                }

                if (time == "start") {
                  this.current_schedule[e].times[idxTime].start = date;
                } else {
                  this.current_schedule[e].times[idxTime].end = date;
                }

                this.current_schedule[e].active = true;
              });


              // let date = new Date();

              // date.setHours(value.hour.value + value.hour12.value);
              // date.setMinutes(value.minute.value);

              // if (time == "start") {
              //   this.current_schedule[idxSchedule].times[idxTime].start = date;
              // } else {
              //   this.current_schedule[idxSchedule].times[idxTime].end = date;
              // }

              // console.log(this.current_schedule[idxSchedule].times[idxTime]);
            },
          },
          // {
          //   text: "Seleccionar días",
          //   handler: async (value) => {

          //     const alert = await alertController.create({
          //       header: 'Selecciona los días para agregar este horario',
          //       inputs: [
          //         {
          //           label: 'Lunes',
          //           type: 'checkbox',
          //           value: 0,
          //         },
          //         {
          //           label: 'Martes',
          //           type: 'checkbox',
          //           value: 1,
          //         },
          //         {
          //           label: 'Miércoles',
          //           type: 'checkbox',
          //           value: 2,
          //         },
          //         {
          //           label: 'Jueves',
          //           type: 'checkbox',
          //           value: 3,
          //         },
          //         {
          //           label: 'Viernes',
          //           type: 'checkbox',
          //           value: 4,
          //         },
          //         {
          //           label: 'Sábado',
          //           type: 'checkbox',
          //           value: 5,
          //         },
          //         {
          //           label: 'Domingo',
          //           type: 'checkbox',
          //           value: 6,
          //         },
          //       ],
          //       buttons: [
          //         {
          //           text: 'CANCELAR',
          //           role: 'cancel',
          //         },
          //         {
          //           text: 'Aceptar',
          //           role: 'confirm',
          //           handler: (data) => {
          //             data.forEach(e => {
          //               let date = new Date();

          //               date.setHours(value.hour.value + value.hour12.value);
          //               date.setMinutes(value.minute.value);

          //               if (this.current_schedule[e].times && !this.current_schedule[e].times.length) {
          //                 this.current_schedule[e].times.push({
          //                   start: new Date(),
          //                   end: new Date(),
          //                 })
          //               }

          //               if (time == "start") {
          //                 this.current_schedule[e].times[idxTime].start = date;
          //               } else {
          //                 this.current_schedule[e].times[idxTime].end = date;
          //               }

          //               this.current_schedule[e].active = true;
          //             });
          //           },
          //         },
          //       ],
          //     });

          //     await alert.present();

          //     let date = new Date();

          //     date.setHours(value.hour.value + value.hour12.value);
          //     date.setMinutes(value.minute.value);

          //     if (time == "start") {
          //       this.current_schedule[idxSchedule].times[idxTime].start = date;
          //     } else {
          //       this.current_schedule[idxSchedule].times[idxTime].end = date;
          //     }

          //     console.log(this.current_schedule[idxSchedule].times[idxTime]);
          //   },
          // },
        ],
      });
      await picker.present();
      this.addDaysOptions();
    },
  },
});
</script>

<style scoped src="../theme/style.css">

</style>

<style scoped>
ion-chip {
  --background: #fffff;
}
</style>
