<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background" id="main-content">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Registra</span><br />
                <span class="hello-sub-title">los datos de</span><br />
                <span class="hello-sub-title">tu pantalla</span><br />
                <span class="hello-sub-title">de inicio</span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper
              :slides-per-view="1"
              :loop="true"
              id="swiper"
              :allowSlideNext="false"
              :allowSlidePrev="false"
              class="swiper-marco"
            >
              <swiper-slide @click="$router.push('preview')">
                <!-- <img
                  src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"
                />
                <ion-icon
                  :icon="expand"
                  class="expand-icon"
                  @click="$router.push('preview')"
                ></ion-icon>
                <div
                  v-if="getSelectedTemplate && getSelectedTemplate.template"
                  class="template-background"
                  id="previewContainer"
                  name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor"
                >
                  <component
                    id="preview"
                    name="preview"
                    :is="
                      customTemplate && customTemplate.template
                        ? customTemplate.template
                        : getSelectedTemplate.template
                    "
                    class="preview-thumbnail"
                    :key="componentKey"
                  >
                  </component>
                </div>
                <div
                  v-else
                  :style="
                    'background-image: url(' +
                    (getSelectedTemplate && getSelectedTemplate.background
                      ? getSelectedTemplate.background
                      : '') +
                    ')'
                  "
                  class="template-thumbnail"
                ></div> -->
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".375"></ion-progress-bar>
              <!-- <ion-row class="ion-align-items-center ion-margin-top">
                <ion-col class="ion-text-end ion-margin-end">
                </ion-col>
                <ion-col class="ion-text-start ion-margin-start">
                    <ion-icon :icon="timerOutline" style="font-size: 1.7em; color: white;" class="back-icon-shadow ion-margin-start" @click="openMenu()"></ion-icon>
                </ion-col>
              </ion-row> -->
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="
                ion-margin-top ion-margin-start ion-margin-end
                register-list
                ion-no-padding
              "
            >
              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    alias_name && alias_name.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Nombre o Alias</ion-label
                >
                <ion-input
                  :value="alias_name"
                  placeholder="Nombre o Alias"
                  type="text"
                  :style="
                    alias_name && alias_name.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                  @keyup="updateAliasName"
                  :key="componentKey"
                  @ionBlur="saveState"
                ></ion-input>
                <ion-icon :icon="close" slot="end" style="margin-right: -4px" @click="alias_name = ''; updateAliasName({target: { value: '' }})" :hidden="!(alias_name && alias_name.length)"></ion-icon>
              </ion-item>
              <ion-item
                class="register-list-item-textarea ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    professional_title && professional_title.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Título profesional que te identifica</ion-label
                >
                <ion-textarea
                  :value="professional_title"
                  placeholder="Título profesional que te identifica"
                  :style="
                    professional_title && professional_title.length
                    ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                  class="textarea"
                  :rows="2"
                  inputmode="text"
                  @keyup="updateProfessionalTitle"
                  :key="componentKey"
                  @ionBlur="saveState"
                ></ion-textarea>
                <ion-icon :icon="close" slot="end" style="margin-right: -4px" @click="professional_title = ''; updateProfessionalTitle({target: { value: '' }})" :hidden="!(professional_title && professional_title.length)"></ion-icon>
              </ion-item>
              <ion-item
                class="register-list-item-textarea ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    professional_description && professional_description.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Descripción de tu trabajo</ion-label
                >
                <ion-textarea
                  :value="professional_description"
                  placeholder="Descripción de tu trabajo"
                  :style="
                    professional_description && professional_description.length
                      ? 'margin-top: 0rem'
                      : 'margin-top:-1rem'
                  "
                  class="textarea"
                  :rows="2"
                  inputmode="text"
                  @keyup="updateProfessionalDescription"
                  :key="componentKey"
                  @ionBlur="saveState"
                ></ion-textarea>
                <ion-icon :icon="close" slot="end" style="margin-right: -4px" @click="professional_description = ''; updateProfessionalDescription({target: { value: '' }})" :hidden="!(professional_description && professional_description.length)"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="9.5">
            <ion-list class="register-list ion-margin-start">
              <ion-item
                class="
                  register-list-item-left
                  ion-margin-bottom ion-margin-start
                "
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    catalog_name && catalog_name.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Nombre de la barra de catálogo</ion-label
                >
                <ion-input
                  :value="catalog_name"
                  placeholder="Nombre de la barra de catálogo"
                  type="text"
                  :style="
                    catalog_name && catalog_name.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                  :readonly="false"
                  @keyup="updateKeyCatalogName"
                  @click="
                    (allow_edit_catalog_name == true || catalog_name == '') ? '' : $refs.catalogName.$el.open()
                  "
                  @ionBlur="saveState"
                  :key="componentKey"
                ></ion-input>
                <ion-select
                  :interface-options="catalogNameOptions"
                  ref="catalogName"
                  cancel-text="Cancelar"
                  hidden
                  @ionChange="updateCatalogName"
                  @ionBlur="saveState"
                >
                  <ion-select-option
                    v-for="item in catalogNames"
                    :key="item.value"
                    :value="item.value"
                    >{{ item.label }}
                  </ion-select-option>
                </ion-select>
                <ion-icon :icon="close" slot="end" style="margin-right: 5px" @click="catalog_name = ''; updateCatalogName({detail: '', target: { value: '' }});" :hidden="!(catalog_name && catalog_name.length)"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="2.5" style="padding-left: 0.1rem">
            <ion-list class="register-list ion-margin-end">
              <div
                class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-bottom ion-margin-end ion-justify-content-center
                "
                id="fontNameColorId"
              >
                <ion-icon
                  :icon="caretDownOutline"
                  style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.catalogName.$el.open()"
                ></ion-icon>
                <input
                  type="color"
                  style="display: none"
                  id="fontNameColor"
                  @change="updateChosenColor('fontNameColor')"
                />
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="cancel-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
              @click="reset()"
            >
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="validateContinue('glopcard-text-color-step')" 
            >
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 16vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonInput,
  IonTextarea,
  IonLabel,
  IonSelect,
  IonSelectOption,
  IonThumbnail,
  IonProgressBar,
  alertController,
  onIonViewDidEnter,
  menuController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";
import { Storage } from "@ionic/storage";

const storage = new Storage();

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

import { caretDownOutline, close, timerOutline } from "ionicons/icons";

export default defineComponent({
  name: "GlopcardProfessionalInformationStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    IonTextarea,
    Swiper,
    SwiperSlide,
    IonInput,
    IonLabel,
    IonSelect,
    IonSelectOption,
    IonThumbnail,
    IonProgressBar,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";
    const check = "assets/icon/check-icon.svg";
    const undoIcon = "assets/icon/undo.svg";
    const redoIcon = "assets/icon/redo.svg";

    const store = useStore();
    const router = useRouter();

    const alias_name = ref(store.getters.getUser.profile.alias_name ? store.getters.getUser.profile.alias_name : store.getters.getUser.profile.selected_template.default_alias);
    const professional_title = ref(store.getters.getUser.profile.professional_title ? store.getters.getUser.profile.professional_title : store.getters.getUser.profile.selected_template.default_professional_title);
    const professional_description = ref(store.getters.getUser.profile.professional_description ? store.getters.getUser.profile.professional_description : store.getters.getUser.profile.selected_template.default_professional_description);
    const allow_edit_catalog_name = ref(false);
    const catalog_name = ref(store.getters.getUser.profile.catalog_name ? store.getters.getUser.profile.catalog_name : store.getters.getUser.profile.selected_template.default_catalog_name);
    

    const catalogNames = [
      { value: "Ver Catálogo", label: "Ver Catálogo" },
      { value: "Servicios y Productos", label: "Servicios y Productos" },
      { value: "Ver Servicios", label: "Ver Servicios" },
      { value: "Mis Trabajos", label: "Mis Trabajos" },
      { value: "Escribe otro nombre", label: "Escribe otro nombre" },
    ];

    const catalogNameOptions = {
      header: "Selecciona un nombre para tu barra de catálogo",
    };

    const customTemplate = reactive({});

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;
      
      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status) {
        glopcard.status = 'in_progress';
        glopcard.last_step = route;

        let user = store.getters.getUser;
        user.profile = glopcard;

        // Store selected template
        store.commit("setUser", user);

        await storage.create();

        // console.log('From professional information:', glopcard);
        await storage.set("user", JSON.parse(JSON.stringify(user)));

        router.push(route);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "",
          message: "Antes de continuar, necesitas cargar las imágenes de tu perfil",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const reset = async () => {
      const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "Perderás los cambios realizados",
          message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
          buttons: [
            {
              text: "CANCELAR",
              role: "cancel",
            },
            {
                text: 'OK',
                role: 'confirm',
                handler: () => {
                  let glopcard = store.getters.getUser.profile;

                  glopcard.professional_title = null;
                  professional_title.value = glopcard.selected_template.default_professional_title;

                  glopcard.professional_description = null;
                  professional_description.value = glopcard.selected_template.default_professional_description;

                  glopcard.catalog_name = null;
                  catalog_name.value = glopcard.selected_template.default_catalog_name;

                  let user = store.getters.getUser;
                  user.alias_name = null;
                  alias_name.value = store.getters.getUser.name;

                  save(glopcard);
                }
              }
          ],
        });
        await alert.present();
    };

    const undoStack = reactive([]);
    const redoStack = reactive([]);
    const previousState = ref(null);
    const componentKey = ref(0);

    const saveState = (ev, setInitial) => {
      console.log('Saving state...');

      let user = store.getters.getUser;
      user.timestamp = Date.now();
      let toPush = JSON.stringify(user);

      if (setInitial || previousState.value == null) {
        previousState.value = toPush;
      } else {
        if (previousState.value != toPush){
          console.info('User state changed. Pushing to undo Stack');
          undoStack.push(previousState.value);
          previousState.value = toPush;
        }
      }
    }

    onIonViewDidEnter(() => {
      saveState(null, true);
    });

    const save = async (glopcard = null) => {
      let user = store.getters.getUser;

      if (glopcard){
        user.profile = glopcard;
      }
      
      store.commit("setUser", user);
      await storage.create();
      await storage.set("user", JSON.parse(JSON.stringify(user)));
    };

    const undo = async () => {
      if (undoStack.length) {
        let currentState = undoStack.pop();

        if (currentState){
          redoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);

          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          alias_name.value = toParse.alias_name;
          professional_title.value = toParse.profile.professional_title;
          professional_description.value = toParse.profile.professional_description;
          catalog_name.value = toParse.profile.catalog_name;

          previousState.value = currentState;

          componentKey.value++;
        }
        
      } else {
        console.info('Undo Stack Empty. Nothing to Undo');
      }
    }

    const openMenu = () => {
      menuController.open();
    }

    const setPoint = async (point) => {

      menuController.close();

      if (point){
        let toParse = JSON.parse(point);

        store.commit("setUser", toParse);
        await storage.create();
        await storage.set("user", toParse);

        alias_name.value = toParse.profile.alias_name;
        professional_title.value = toParse.profile.professional_title;
        professional_description.value = toParse.profile.professional_description;
        catalog_name.value = toParse.profile.catalog_name;

        componentKey.value++;
      } else {
        console.info('Point Empty. Nothing to Undo');
      }
    }

    const redo = async () => {
      if (redoStack.length) {
        let currentState = redoStack.pop();

        if (currentState) {
          undoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);

          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          alias_name.value = toParse.alias_name;
          professional_title.value = toParse.profile.professional_title;
          professional_description.value = toParse.profile.professional_description;
          catalog_name.value = toParse.profile.catalog_name;

          previousState.value = currentState;

          componentKey.value++;
        }
        
      } else {
        console.info('Redo Stack Empty. Nothing to Redo');
      }
    }

    return {
      logo,
      check,
      expand,
      alias_name,
      professional_title,
      professional_description,
      catalog_name,
      customTemplate,
      catalogNames,
      caretDownOutline,
      catalogNameOptions,
      allow_edit_catalog_name,
      validateContinue,
      save,
      reset,
      close,
      undoIcon,
      redoIcon,
      undo,
      redo,
      undoStack,
      redoStack,
      componentKey,
      saveState,
      previousState,
      timerOutline,
      setPoint,
      openMenu
    };
  },
  data() {
    return {
      timer: null,
    };
  },
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  },
  methods: {
    updateAliasName(event) {

      if(this.timer){
        clearTimeout(this.timer);
      }

      this.alias_name = event.target.value;

      let aliasFn = () => {
        var profile = this.getUser.profile;
        profile.alias_name = this.alias_name;

        var user = this.getUser;
        user.profile = profile;

        this.save(); // LLamada al api de firebase
      }

      this.timer = setTimeout(aliasFn, 100);
    },

    updateProfessionalTitle(event) {
      if(this.timer){
        clearTimeout(this.timer);
      }

      this.professional_title = event.target.value;

      let titleFn = () => {
        var profile = this.getUser.profile;
        profile.professional_title = this.professional_title;

        var user = this.getUser;
        user.profile = profile;

        this.save(profile);
      };

      this.timer = setTimeout(titleFn, 200);
    },

    updateProfessionalDescription(event) {
      
      if(this.timer){
        clearTimeout(this.timer);
      }

      this.professional_description = event.target.value;

      let descriptionFn = () => {
        
        var profile = this.getUser.profile;
        profile.professional_description = this.professional_description;

        var user = this.getUser;
        user.profile = profile;

        this.save(profile);
      };

      this.timer = setTimeout(descriptionFn, 200);
    },

    updateCatalogName(event) {
      if (event.detail.value == "Escribe otro nombre") {
        this.allow_edit_catalog_name = true;
      } else {
        this.allow_edit_catalog_name = false;
      }

      if(this.timer){
        clearTimeout(this.timer);
      }

      this.catalog_name = event.target.value;

      let catalogFn = () => {
        var profile = this.getUser.profile;
        profile.catalog_name = this.catalog_name;

        var user = this.getUser;
        user.profile = profile;
        
        this.save(profile);
      }

      this.timer = setTimeout(catalogFn, 200);
    },

    updateKeyCatalogName(event) {
      if(this.timer){
        clearTimeout(this.timer);
      }

      let catalogFn = () => {
        var profile = this.getUser.profile;
        profile.catalog_name = event.target.value;

        var user = this.getUser;
        user.profile = profile;

        this.save(profile);
      }
      this.timer = setTimeout(catalogFn, 200);
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>

.vc-colorpicker {
  margin: 0 auto !important;
}

.vc-colorpicker--container {
  padding: 1px !important;
}
</style>

<style lang="scss">
.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;
  &__handler {
    position: absolute;
    right: 15%;
    top: 14%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
  &__preview {
    border-radius: 50%;
    overflow: hidden;
  }
}
</style>

<style scoped>
ion-select::part(icon) {
  display: none !important;
}
</style>