<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-icon
                  :icon="check"
                  class="check-icon"
                ></ion-icon>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Color</span><br />
                <span class="hello-sub-title">de fondo</span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col
            size="6"
          >
            <swiper
              :slides-per-view="1"
              :loop="true"
              id="swiper"
              :allowSlideNext="false"
              :allowSlidePrev="false"
              class="swiper-marco"
            >
              <swiper-slide @click="$router.push('preview')">
                <img
                  src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"
                />
                <ion-icon
                  :icon="expand"
                  class="expand-icon"
                  @click="$router.push('preview')"
                ></ion-icon>
                <div
                  v-if="getSelectedTemplate && getSelectedTemplate.template"
                  class="template-background"
                  id="previewContainer"
                  name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor"
                >
                  <component
                    id="preview"
                    name="preview"
                    :is="
                      customTemplate && customTemplate.template
                        ? customTemplate.template
                        : getSelectedTemplate.template
                    "
                    class="preview-thumbnail"
                  >
                  </component>
                </div>
                <div
                  v-else
                  :style="
                    'background-image: url(' +
                    (getSelectedTemplate && getSelectedTemplate.background
                      ? getSelectedTemplate.background
                      : '') +
                    ')'
                  "
                  class="template-thumbnail"
                ></div>
              </swiper-slide>
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row>
          <ion-col size="9.5">
            <ion-list class="ion-margin-start register-list">
              <ion-item
                class="
                  register-list-item-left
                  ion-margin-start ion-margin-bottom
                "
              >
                <ion-label
                  position="stacked"
                  :style="
                    chosenColor && chosenColor.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Color de fondo</ion-label
                >
                <ion-input
                  v-model="chosenColor"
                  :placeholder="chosenColor ? chosenColor : 'Color de fondo'"
                  :style="((chosenColor && chosenColor.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')"
                  maxlength="7"
                  @keyup="validateHexa($event)"
                ></ion-input>
              </ion-item>
              
              
            </ion-list>
          </ion-col>

          <ion-col size="2.5">
            <ion-list class="register-list ion-margin-end" style="padding-left: 0.2rem">
              <div
                class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-bottom ion-margin-end ion-justify-content-center
                "
                id="colorSample"
                @click="showColorPicker"
                
              >
              <ion-icon
                  :icon="colorPaletteOutline"
                  style="font-size: 2rem; margin-right: 0px"
                ></ion-icon>
              <input type="color" style="display:none;" id="colorPicker" @change="updateChosenColor()"/>
              </div>
              
              
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="cancel-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
            >
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="$router.push('/glopcard-professional-information-step')"
            >
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonButton,
  IonIcon,
  IonItem,
  IonList,
  IonLabel,
  IonInput,
  toastController
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { mapGetters } from "vuex";
import { useRouter } from "vue-router";
import { Cropper, CircleStencil } from "vue-advanced-cropper";
import { Swiper, SwiperSlide } from "swiper/vue";

import { ColorPicker } from "vue3-colorpicker";
// import "vue3-colorpicker/style.css";

import html2canvas from 'html2canvas';

import EyedropComponent from "../components/EyedropComponent.vue";

import {
  eyedropOutline,
  colorPaletteOutline
} from "ionicons/icons";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage001.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

export default defineComponent({
  name: "GlopcardBackgroundColorStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonList,
    IonButton,
    Cropper,
    CircleStencil,
    ColorPicker, 
    IonIcon,
    IonItem,
    IonLabel,
    EyedropComponent,
    Swiper, SwiperSlide,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const router = useRouter();
    const check = "assets/icon/check-icon.svg";
    const close = "assets/icon/close-icon.svg";
    const expand = "assets/icon/expand-icon.svg";
    const isPreviewing = ref(false);
    const chosenColor = ref('');
    const selectedEyedropImage = ref('');

    const customTemplate = reactive({});

    const selectedTemplate = ref(null);

    const profile_image_file = ref(null);

    const openToast = async (message, duration, color, position) => {
      const toast = await toastController
        .create({
          message: message,
          duration: duration,
          color: color,
          position: position
        })
      return toast.present();
    };

    const isDescendant = (parent, child) => {

      if (!child){
        openToast('Elije primero una plantilla', 2000, 'primary', 'top');
      }

      var node = child.parentNode;
      if (node == parent) {
        return true;
      }

      return false;
    };

    const togglePreview = (abort) => {

      if (abort) {
        console.info('Entering toggle preview and should abort');
        return;
      } else {
        console.info('Entering toggle preview and continue');
      }

      var element = document.getElementById("previewBackgroundColorStep");
      var parent = document.getElementById("app");
      var preview = document.getElementById("previewContainerBackgroundColorStep");

      let icon = document.createElement('ion-icon');
      icon.src = close;
      icon.className = "close-icon";
      icon.style = "font-size: 3rem; color: white; top: 1.7rem; right: 2rem; position: absolute; z-index: 101;";
      icon.onclick = () => {togglePreview(false)};

      if (isDescendant(parent, element)) {
        preview.appendChild(element);
        isPreviewing.value = false;

        if (preview.querySelector('.close-icon')){
          const elements = preview.getElementsByClassName('close-icon');
          while(elements.length > 0){
              elements[0].parentNode.removeChild(elements[0]);
          }
        }

      } else {
        if (!preview.querySelector('.close-icon')){
          element.append(icon);
        }

        parent.appendChild(element);
        isPreviewing.value = true;
      }

      element.classList.toggle("preview-full");
    };

    const toggleEyedrop = (abort) => {

      if (abort) {
        console.info('Entering toggle eyedrop and should abort');
        return;
      } else {
        console.info('Entering toggle eyedrop and continue');
      }

      var element = document.getElementById("fullEyedrop");
      var parent = document.getElementById("app");
      var preview = document.getElementById("colorArea");

      let icon = document.createElement('ion-icon');
      icon.src = close;
      icon.className = "close-icon";
      icon.style = "font-size: 3rem; color: white; top: 1.7rem; right: 2rem; position: absolute; z-index: 101;";
      icon.onclick = () => {toggleEyedrop(false)};

      if (isDescendant(parent, element)) {
        preview.appendChild(element);
        isPreviewing.value = false;

        if (preview.querySelector('.close-icon')){
          const elements = preview.getElementsByClassName('close-icon');
          while(elements.length > 0){
              elements[0].parentNode.removeChild(elements[0]);
          }
        }

      } else {
        if (!preview.querySelector('.close-icon')){
          element.append(icon);
        }

        parent.appendChild(element);
        isPreviewing.value = true;
      }

      element.classList.toggle("hidden-eyedrop");
      element.classList.toggle("preview-full-eyedrop");
    };

    return {
      logo,
      selectedTemplate,
      togglePreview,
      check,
      close,
      expand,
      chosenColor,
      selectedEyedropImage,
      toggleEyedrop,
      eyedropOutline,
      colorPaletteOutline,
      customTemplate
    };
  },
  data: () => ({}),
  computed: {
    ...mapGetters(["getSelectedTemplate"]),
    innerHeight() {
      return window.innerHeight;
    },
    innerWidth(){
      return window.innerWidth;
    }
  },
  methods: {
    updateChosenColor(color = null){
      console.log(color);
      var el;
      if (color){
        el = color;
      } else {
        el = document.getElementById('colorPicker').value;
      }
      
      
      document.getElementById('colorSample').style.backgroundColor = el;
      this.chosenColor = el;


      var customSelectedTemplate = this.getSelectedTemplate;

      if(!customSelectedTemplate) {
        alert('Seleccione una plantilla primero para continuar');
        return;
      }
      
      customSelectedTemplate.style.flexStack.backgroundColor = el;

      this.$store.commit('setSelectedTemplate', customSelectedTemplate);
      Object.assign(this.customTemplate, customSelectedTemplate);
    },
    showColorPicker(){
      document.getElementById("colorPicker").click();
    },
    setEyedropImage(){
      this.togglePreview(false);
      html2canvas(document.getElementById('previewBackgroundColorStep')).then((canvas) => {
        this.selectedEyedropImage = canvas.toDataURL();
        this.togglePreview(false);
        this.toggleEyedrop(false);
      });
    },
    validateHexa(ev){
      let regEx = /^[0-9a-fA-F]+$/;
      let isHex = regEx.test(ev.target.value.substring(1));
      if(!isHex) {
        this.chosenColor = this.chosenColor.slice(0, -1);
        if (this.chosenColor[0] != '#'){
          this.chosenColor = '#' + this.chosenColor;
        }
      } else {
        if (this.chosenColor.length == 7){
          this.updateChosenColor(this.chosenColor);
        }
      }
    }
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>


.picture-sub-title {
  width: 74px;
  height: 43px;
  left: 72px;
  top: 599px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;

  color: #ffffff;
}

.vc-colorpicker {
  margin: 0 auto !important;
  background-color: transparent !important;
}

.vc-fk-colorPicker {
  background-color: transparent !important;
}

.vc-colorpicker--container{
  padding: 1px !important;
  background-color: transparent !important;
}
  
</style>

<style lang="scss">
.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;
  &__handler {
    position: absolute;
    right: 15%;
    top: 14%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
  &__preview {
    border-radius: 50%;
    overflow: hidden;
  }
}
</style>