<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal v-model:active="isLoading" :can-cancel="false" :is-full-page="true" class="over-modal" />
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end" style="max-height: min(350px,40vh)">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Edita tu</span><br />
                <span class="hello-sub-title">publicidad</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Planifica tu</span><br />
                <span class="hello-sub-title">publicidad</span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center">
            <!-- <div class="swiper-marco">
              <div @click="$router.push('preview-catalog')">
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="'PreviewCatalogPage'"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </div>
              <ion-progress-bar class="progress-bar-completed" value="0"></ion-progress-bar>
            </div> -->
            <div id="wrapper">
              <div class="phone view_3" id="phone_1">
                <iframe ref="frame" :src="'https://glopcard.glopcare.com/catalog/' + getUID" id="frame_1"
                  style="pointer-events: none;" scrolling="no"></iframe>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8">
            <ion-list class="ion-margin-start register-list">
              <ion-item v-for="(item, index) in groups" :key="index" class="
                      register-list-item-left
                      ion-margin-start ion-margin-top ion-align-items-center
                    " @click="showGroupModal = false">
                <ion-label position="stacked" :style="
                  item && item.group_name.value && item.group_name.value.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">{{ item.group_placeholder ? item.group_placeholder : item.group_name }}</ion-label>
                <ion-input v-model="item.group_name" :placeholder="item.group_placeholder"
                  :style="((item.group_name.value && item.group_name.value.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="2">
            <ion-list class="register-list">
              <div v-for="(item, index) in groups" :key="index" class="
                      register-list-item-span
                      ion-justify-content-center ion-margin-top
                    ">
                <ion-icon :icon="imagesOutline" style="font-size: 2rem; margin-right: 0px"
                  @click="showCurrentGroup(index)"></ion-icon>
              </div>
            </ion-list>
          </ion-col>
          <ion-col size="2">
            <ion-list class="register-list ion-margin-end">
              <div v-for="(item, index) in groups" :key="index" class="
                      register-list-item-right
                      ion-margin-end ion-justify-content-center ion-margin-top
                    ">
                <ion-icon :icon="closeOutline" style="font-size: 2rem; margin-right: 0px"
                  @click="removeGroup(index)"></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p class="
                  small-text
                  ion-margin-start ion-margin-end ion-margin-bottom
                  link-text
                " @click="addNewGroup">
                Agregar publicidad por grupo
              </p>
            </div>
          </ion-col>
        </ion-row> -->

        <a href="whatsapp://send?abid=+584144205003&text=Requiero%2C%20ayuda%2C%20con%2C%20glopcare" class="small-text">
          <ion-row class="ion-margin-start ion-margin-end">
            <ion-col size="10">
              <div>
                <p class="small-text ion-margin-start">
                  ¿Requieres Asistencia para diseñar tu publicidad?
                </p>
              </div>
            </ion-col>
            <ion-col size="2">
              <div>
                <p class="small-text ion-margin-end"><img src="assets/img/whatsapp-help-icon.png"
                    style="height: 5.6vh; width: auto; vertical-align: middle" />
                </p>
              </div>
            </ion-col>
          </ion-row>
        </a>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div class="cancel-button ion-margin-start ion-margin-top" style="margin-right: 4px" @click="reset">
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="continue-button ion-margin-end ion-margin-top" style="margin-left: 4px"
              @click="$router.push('/home')">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>

      <ion-modal :is-open="showPicturesModal" ref="picturesModal" @ionModalDidDismiss="showPicturesModal = false"
        style="--background: #000510">
        <ion-header class="ion-no-border">
          <ion-toolbar class="top-toolbar">
            <ion-buttons slot="start" class="ion-margin-start" @click="setPicturesModalOpen(false)">
              <ion-icon :icon="chevronBackOutline" style="font-size: 2em; color: white"
                class="back-icon-shadow"></ion-icon>
              <ion-text style="font-size: 1em; color: white">Atrás</ion-text>
            </ion-buttons>
            <ion-img slot="end" src="assets/img/glopcare-text-logo-inline.png"
              style="height: 2.1em; margin-top: 4px; --padding-end: 0px"></ion-img>
          </ion-toolbar>

          <div class="glopcare-info-button">
            <ion-thumbnail style="--size: 60px">
              <img src="assets/img/info-logo.png" />
            </ion-thumbnail>
          </div>
        </ion-header>

        <div class="curved-background ion-no-margin" style="height: 100%; overflow-y: scroll;">
          <ion-row class="ion-no-margin">
            <ion-col size="12">
              <ion-row class="ion-margin-start ion-margin-top">
                <ion-col size="11" class="ion-align-self-center">
                  <!-- <span class="hello-sub-title">Publicidad ({{ (groups[currentGroupIdx].group_name && groups[currentGroupIdx].group_name.length) ? groups[currentGroupIdx].group_name : 'Grupo ' + (currentGroupIdx + 1) }})</span> -->
                  <span class="hello-sub-title">Publicidad para<br>todos tus clientes</span>
                </ion-col>
              </ion-row>

              <ion-row
                :style="'min-height: ' + (innerWidth * ((currentLayout && currentLayout.length < 3) ? 1 : 2)) + 'px'">
                <ion-col size="12" :key="componentKey">
                  <grid-layout v-model:layout="currentLayout" :col-num="2" :row-height="innerWidth" is-draggable
                    :is-resizable="false" vertical-compact use-css-transforms :key="componentKey"
                    @layout-updated="layoutUpdated">
                    <grid-item v-for="item in currentLayout" :x="item.x" :y="item.y" :w="item.w" :h="item.h" :i="item.i"
                      :key="item.i" :style="item.style">
                      <span class="picture" :style="item.style"></span>
                      <span class="remove" @click="removeItem(item.i)"><ion-icon :icon="close" class="remove-icon">

                        </ion-icon></span>
                    </grid-item>

                    <grid-item v-if="currentLayout.length < 4" :x="parseInt(currentLayout.length % 2)"
                      :y="parseInt(currentLayout.length / 2)" :w="1" :h="1" :i="currentLayout.length" :key="componentKey">
                      <div v-if="currentLayout.length == 0" class="rectangle" @click="selectExploreImage">
                        <span>Subir<br>Imagen</span>
                      </div>
                      <!-- <div v-else class="rectangle" @click="selectExploreImage">
                      <span>Subir otra<br>Imagen</span>
                    </div> -->
                    </grid-item>

                  </grid-layout>
                </ion-col>
              </ion-row>


              <ion-row class="ion-margin-start ion-margin-end">
                <ion-col v-if="currentLayout && currentLayout.length > 0 && currentLayout.length < 4" size="12">
                  <div>
                    <p class="
                            small-text ion-margin-end ion-margin-bottom
                            link-text
                          " @click="selectExploreImage">
                      Subir otra Imagen
                    </p>
                  </div>
                </ion-col>
                <ion-col>
                  <input type="file" name="image_input" ref="exploreImageInput" accept="image/*"
                    @change="setExploreImage()" style="display: none" />
                </ion-col>
              </ion-row>
              <ion-row class="ion-margin-start ion-margin-end">
                <ion-col size="6">
                  <div class="cancel-button ion-margin-top" style="margin-right: 4px" @click="reset()">
                    RESTABLECER
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="continue-button ion-margin-top" style="margin-left: 4px"
                    @click="{ showPicturesModal = false; upsertCatalog() }">
                    CONTINUAR
                    <div class="continue-button-background" style="left: 10px !important"></div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="min-height: 10vh"></ion-row>
        </div>
      </ion-modal>

      <ion-modal :is-open="showSelectedImageModal" @ionModalDidDismiss="showSelectedImageModal = false">
        <div style="height: 100%">
          <cropper :src="selectedImage" ref="cropper" :auto-zoom="true" :canvas="{
            minHeight: 0,
            minWidth: 0,
            maxHeight: 500,
            maxWidth: 500,
          }" :stencil-component="$options.components.RectangleStencil" :stencil-props="{
  handlers: {},
  movable: false,
  scalable: false,
  resizable: false,
  aspectRatio: 0.8,
}" :resize-image="{ adjustStencil: false }" image-restriction="stencil" style="height: 100%; background-color: white"
            @change="onSelectedImageCrop"></cropper>
          <div style="position: absolute; right: 4px; top: 4px">
            <!-- <ion-button 
                v-if="selectedImageHeight > 0 && selectedImageWidth/selectedImageHeight >= 0.79 && selectedImageWidth/selectedImageHeight <= 0.81" 
                color="secondary" @click="addSelectedImage(true)">Mantener Original
              </ion-button> -->
            <ion-button color="secondary" @click="addSelectedImage(true)">Tamaño Original
            </ion-button>
            <ion-button color="secondary" @click="addSelectedImage()">Recortar
            </ion-button>
          </div>

        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>


<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonInput,
  onIonViewDidEnter,
  IonModal,
  IonLabel,
  IonCheckbox,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonThumbnail,
  IonText,
  IonProgressBar,
  pickerController,
  alertController,
  loadingController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";

import PreviewCatalogPage from "./PreviewCatalogPage.vue";

import {
  closeOutline,
  imagesOutline,
  calendar,
  chevronBackOutline,
  cloudUploadOutline,
  closeCircleOutline
} from "ionicons/icons";

import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";

import { Storage } from "@ionic/storage";
const storage = new Storage();

import api from "../api";

export default defineComponent({
  name: "GlopcardCatalogStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    IonInput,
    IonModal,
    onIonViewDidEnter,
    IonLabel,
    IonCheckbox,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonThumbnail,
    IonProgressBar,
    IonText,
    Cropper,
    PreviewCatalogPage
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";
    const check = "assets/icon/check-icon.svg";
    const close = "assets/icon/close-icon.svg";

    const frame = ref(null);

    const showPicturesModal = ref(false);
    const setPicturesModalOpen = (state) => {
      if (state == false) {
        groups[currentGroupIdx.value].group_layout = currentLayout;
        upsertCatalog();
      }
      showPicturesModal.value = state;
    };

    onIonViewDidEnter(async () => {
      if (!groups.length) {
        getPrivateCatalog();
        // addNewGroup();
      }
      if (!store.getters.getUID) {
        upsertGlopcard();
      }
    });

    const upsertGlopcard = async () => {


      let objGlopcard = {
        is_active: true,
        snapshot: JSON.stringify(store.getters.getUser.profile),
        template_id: store.getters.getUser.profile.selected_template.template_id
      }

      if (objGlopcard.snapshot !== null) {
        api
        .post("glopcard/set", objGlopcard, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          console.log(response);
          console.log('Glopcard UID value:', response.data.snapshot.uid);
          store.commit('setUID', response.data.snapshot.uid);
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));

          var message;

          if (error && error.response && error.response.status){
            switch (error.response.status) {
              case 403:
                message = error.response.data.message;
              break;
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error.",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        });
      }

      

    }

    const store = useStore();

    const groups = reactive([]);

    const current_schedule = reactive([]);

    const addNewGroup = async () => {

      let totalImages = 0;

      groups.forEach(element => {
        totalImages += element.group_layout.length;
      });

      if (totalImages > 3) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Has superado el límite de publicidades que puedes mostrar en glopcare",
          message: 'Para agregar otra publicidad, elimina alguna de las existentes presionando la X ubicada a la derecha de cada grupo.',
          buttons: ["OK"],
        });
        await alert.present();
        return;
      }

      let groupObject = {
        group_name: "Para todos tus clientes",
        group_placeholder: "Para todos tus clientes",
        group_layout: []
      };

      groups.push(groupObject);
    };

    const exploreImageInput = ref(null);

    const selectExploreImage = async (ev) => {
      ev.stopPropagation();

      if (currentLayout.value && currentLayout.value.length > 3) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Has superado el límite de publicidades que puedes mostrar en glopcare",
          message: 'Para agregar otra publicidad, elimina alguna de las existentes presionando la X ubicada en la esquina superior derecha.',
          buttons: ["OK"],
        });
        await alert.present();
        return;
      }

      exploreImageInput.value.click();
    }

    const selectedImage = ref(null);
    const selectedOriginalImage = ref(null);

    const selectedImageWidth = ref(0);
    const selectedImageHeight = ref(0);

    const showSelectedImageModal = ref(false);

    const setSelectedImageModalOpen = (state) => {
      if (state == false) {
        console.table(currentLayout);
        groups[currentGroupIdx.value].group_layout = currentLayout;
        upsertCatalog();
      }

      showSelectedImageModal.value = state;
    };

    const setExploreImage = () => {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        selectedImage.value = e.target.result;
        selectedOriginalImage.value = e.target.result;

        console.log('Original Image:', selectedOriginalImage.value);

        var image = new Image();
        image.src = e.target.result;

        image.onload = function () {
          selectedImageWidth.value = this.width;
          selectedImageHeight.value = this.height;
        };

        showSelectedImageModal.value = true;
      };
      reader.readAsDataURL(event.target.files[0]);
      event.target.value = null;
    }

    const selectedImageDataURL = ref(null);

    const onSelectedImageCrop = ({ coordinates, canvas }) => {
      selectedImageDataURL.value = canvas.toDataURL('image/png', 1.0);
    }

    const addSelectedImage = async (preferOriginal = false) => {

      const nextY = parseInt(currentLayout.value.length / 2);
      const nextX = currentLayout.value.length % 2;
      const nextI = currentLayout.value.length;

      // console.log(nextY, nextY, nextI);

      // console.log(window.innerWidth / 2);


      if (preferOriginal) {
        // console.log('Original Image Preferred:', selectedOriginalImage.value);

        currentLayout.value.push({
          x: nextX,
          y: nextY,
          w: 1,
          h: 1,
          i: nextI,
          style: {
            backgroundSize: 'contain',
            backgroundRepeat: 'no-repeat',
            backgroundImage: 'url("' + selectedOriginalImage.value + '")'
          },
          image_binary: selectedOriginalImage.value
        });

        componentKey.value++;

        setSelectedImageModalOpen(false);

      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "Si recortas la imagen perderá calidad",
          message: "Para mantener la calidad de la imagen que publiques, diseña en formato 1080 x 1350 (Post vertical de instagram) y escoge la opción 'TAMAÑO ORIGINAL'",
          buttons: [
            {
              text: "CANCELAR",
              role: "cancel",
            },
            {
              text: 'OK',
              role: 'confirm',
              handler: () => {
                currentLayout.value.push({
                  x: nextX,
                  y: nextY,
                  w: 1,
                  h: 1,
                  i: nextI,
                  style: {
                    backgroundSize: 'contain',
                    backgroundRepeat: 'no-repeat',
                    backgroundImage: 'url("' + selectedImageDataURL.value + '")'
                  },
                  image_binary: selectedImageDataURL.value
                });

                componentKey.value++;

                setSelectedImageModalOpen(false);
              }
            }
          ],
        });
        await alert.present();
      }
    }

    const currentGroupIdx = ref(0);

    const currentLayout = ref([]);

    const componentKey = ref(0);

    const showCurrentGroup = (groupIdx) => {
      currentGroupIdx.value = groupIdx;
      // Object.assign(currentLayout, groups[groupIdx].group_layout);
      currentLayout.value = groups[groupIdx].group_layout;
      setPicturesModalOpen(true);
    }

    const isLoading = ref(false);

    const presentLoader = () => {
      isLoading.value = true;
    }

    const dismissLoader = () => {
      isLoading.value = false;
    }

    const upsertCatalog = async () => {

      console.table(groups);

      let objCatalog = {
        catalog: JSON.stringify(groups)
      }

      presentLoader();
      const loading = await loadingController.create({
        message: 'Espere por favor...',
        showBackdrop: true,
      });
      loading.present();

      api
        .post("catalog/set", objCatalog, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          console.log(response);
          // frame.value.contentWindow.location.reload();
          frame.value.contentWindow.location = 'https://glopcard.glopcare.com/catalog/' + store.getters.getUID;
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));

          var message;

          if (error && error.response && error.response.status){
            switch (error.response.status) {
              case 403:
                message = error.response.data.message;
              break;
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error.",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        })
        .finally(() => {
          dismissLoader();
          loading.dismiss();
          getPrivateCatalog();
        });
    }

    const reset = async () => {
      const alert = await alertController.create({
        header: "Alerta",
        subHeader:
          "Perderás los cambios realizados",
        message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: 'OK',
            role: 'confirm',
            handler: () => {
              while (groups.length) {
                groups.pop();
              }

              upsertCatalog();
            }
          }
        ],
      });
      await alert.present();
    };

    const getPrivateCatalog = async () => {

      presentLoader();

      api
        .get("catalog/get", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          console.log(response);
          Object.assign(groups, response.data);

          if (response.data.length == 0) {
            addNewGroup();
          }

          if (groups.length > 0) {
            currentLayout.value = groups[0].group_layout;
          }
        })
        .catch(function (error) {
          console.log(error);
        }).finally(() => {
          dismissLoader();
        });
    }

    const removeItem = (val) => {
      const index = currentLayout.value.map(item => item.i).indexOf(val);
      currentLayout.value.splice(index, 1);

      const newLayout = currentLayout.value.map((element, index) => {
        const nextY = parseInt(index / 2);
        const nextX = index % 2;
        const nextI = index;

        element.x = nextX;
        element.y = nextY;
        element.i = nextI;

        return element;
      });

      groups[currentGroupIdx.value].group_layout = newLayout;
      upsertCatalog();
    }

    const removeGroup = (index) => {
      groups.splice(index, 1);
      upsertCatalog();
    }

    const layoutUpdated = (event) => {
      console.log(event);

      const filteredImages = event.filter(image => image.id);

      presentLoader();

      let objGallery = {
        gallery: JSON.stringify(filteredImages)
      }

      api
        .post("catalog/gallery/sort", objGallery, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          console.log(response);
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));

          var message;

          if (error && error.response && error.response.status) {
            switch (error.response.status) {
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error. Por favor intenta cerrar sesión, inicia de nuevo sesion, y reintenta editar tu catálogo nuevamente",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        }).finally(() => {
          dismissLoader();
        });
    }

    return {
      logo,
      check,
      expand,
      closeOutline,
      chevronBackOutline,
      calendar,
      showPicturesModal,
      setPicturesModalOpen,
      showSelectedImageModal,
      setSelectedImageModalOpen,
      location,
      groups,
      addNewGroup,
      close,
      imagesOutline,
      cloudUploadOutline,
      selectExploreImage,
      exploreImageInput,
      setExploreImage,
      selectedImage,
      onSelectedImageCrop,
      addSelectedImage,
      currentGroupIdx,
      showCurrentGroup,
      currentLayout,
      componentKey,
      upsertCatalog,
      isLoading,
      removeItem,
      closeCircleOutline,
      removeGroup,
      reset,
      frame,
      selectedImageWidth,
      selectedImageHeight,
      selectedOriginalImage,
      layoutUpdated
    };
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser", "getUID"]),
    innerWidth() {
      return parseInt(window.innerWidth / 2 * 1.2);
    }
  },
  methods: {

  },
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped src="../theme/figures.css"></style>

<style scoped>
.vue-grid-layout {
  background: transparent;
}

.vue-grid-item {
  background-size: cover !important;
}

.vue-grid-item:not(.vue-grid-placeholder) {
  /* background: #ccc; */
  border: 0px solid black;
}

.vue-grid-item .resizing {
  opacity: 0.9;
}

.vue-grid-item .static {
  /* background: #cce; */
}

.vue-grid-item .picture {
  height: 100%;
  width: 100%;
}

.vue-grid-item .rectangle {
  height: 100%;
  padding: 0 !important;
}

.rectangle span {
  display: block !important;
  vertical-align: middle;
}

.vue-grid-item .no-drag {
  height: 100%;
  width: 100%;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

.vue-draggable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
  background-position: bottom right;
  padding: 0 8px 8px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: pointer;
}

.remove-icon {
  font-size: 1.5rem;
  color: #01091f;
  top: 1rem;
  right: 1rem;
  position: absolute;
}

#wrapper {
  transform-origin: top left;
  transform: scale(0.5);
  position: relative;
}

.phone {
  border: 10px solid #A6A9AA;
  border-width: 5px 7px;
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.5s ease;
  width: 85vw;
  height: 70vh;
}

.phone iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

/*Different Perspectives*/

.phone.view_3 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0px 1px 0 #BBB, 0px 4px 0 #BBB, 0px 5px 0 #BBB, 0px 1px 0 #BBB, 0px 1px 1px #666;
}
</style>