<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">

        <!-- PARTE SUPERIOR -->

        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"></ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Selecciona</span><br />
                <span class="hello-sub-title">una plantilla</span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper :slides-per-view="1" :loop="true" :modules="modules" id="swiper" :allowSlideNext="false"
              :allowSlidePrev="false" class="swiper-marco">
              <swiper-slide @click="$router.push('preview')" class="swiper-slide-preview">

                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div class="template-background" id="previewContainer" name="previewContainer"
                    :style="'background-color: ' + (getUser.profile.selected_template ? getUser.profile.selected_template.style.flexStack.backgroundColor : (getSelectedTemplate ? getSelectedTemplate.style.flexStack.backgroundColor : ''))">

                    <component v-if="selectedTemplate" id="preview" name="preview" :is="selectedTemplate.template"
                      class="preview-thumbnail">
                    </component>
                  </div>
                </div>

              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".125"></ion-progress-bar>
            </swiper>

          </ion-col>
        </ion-row>

        <!-- PARTE INFERIOR -->

        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="1" class="ion-text-end">
            <ion-icon :icon="back" style="font-size: 1.8rem; color: white" @click="swipePrev"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <swiper :slides-per-view="3" :loop="true" :modules="modules" @swiper="setSwiperInstance" id="swiper">
              <swiper-slide v-for="item in templatesData" :key="item.name" @click="setTemplate(item)">
                <div style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem;"
                  :class="selectedTemplate ? (selectedTemplate.name == item.name ? 'glowing-border phone-choose-step' : 'phone-choose-step') : 'phone-choose-step'">
                  <div :style="'background-image: url(' + item.background + ')'" class="template-thumbnail">
                  </div>
                </div>
              </swiper-slide>

            </swiper>
          </ion-col>
          <ion-col size="1">
            <ion-icon :icon="next" style="font-size: 1.8rem; color: white" @click="swipeNext"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end" id="buttons">
          <ion-col size="6">
            <div class="cancel-button ion-margin-start" style="margin-right: 4px" @click="resetTemplate">
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="continue-button ion-margin-end" style="margin-left: 4px"
              @click="validateContinue('glopcard-pictures-step')">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  onIonViewDidEnter,
  IonicSlides,
  toastController,
  IonThumbnail,
  IonProgressBar,
  alertController
} from "@ionic/vue";
import api from "../api";
import { defineComponent, ref, onMounted, reactive } from "vue";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";
import { mapGetters, useStore } from "vuex";
import { Navigation } from "swiper";
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";
import "@ionic/vue/css/ionic-swiper.css";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

import { Storage } from "@ionic/storage";
const storage = new Storage();


export default defineComponent({
  name: "GlopcardChoseTemplateStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    Swiper,
    SwiperSlide,
    IonImg,
    IonIcon,
    IonThumbnail,
    IonProgressBar,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const check = "assets/icon/check-icon.svg";
    const expand = "assets/icon/expand-icon.svg";
    const close = "assets/icon/close-icon.svg";
    const router = useRouter();

    const back = "assets/icon/back-button.svg";
    const next = "assets/icon/next-button.svg";

    const modules = [Navigation, IonicSlides];

    const selectedTemplate = ref(null);

    const templatesData = reactive([]);

    // const templatesData = [
    //   {
    //     name: "template_001",
    //     profilePictureStencil: "circle",
    //     profilePictureStencilAspectRatio: 1,
    //     headerPictureStencil: "rectangle",
    //     headerPictureStencilAspectRatio: 1.7,
    //     profile_picture_placeholder: "circle",
    //     complementary_profile_picture_placeholder: "rectangle",
    //     background: "assets/img/template_001.png",
    //     background_placeholder:
    //       "assets/img/glopcard_background_placeholder.png",
    //     template: "TemplatePage001",
    //     default_alias: 'Usuario glopcare',
    //     default_professional_title: 'Título profesional',
    //     default_professional_description: 'Describe brevemente los servicios y/o productos que ofreces para atraer clientes y hacer crecer tu negocio',
    //     default_catalog_name: 'Servicios y Productos',
    //     default_contact_icon_family: '_plain',
    //     default_social_icon_family: '_plain',
    //     max_contacts: 5,
    //     max_socials: 5,
    //     style: {
    //       templateUserName: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Chonburi',
    //         default_fontFamily: 'Chonburi',
    //         fontSize: '32px',
    //         default_fontSize: '32px',
    //         aux_fontSize: 'xxx-large'
    //       },
    //       templateUserTitle: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Questrial',
    //         default_fontFamily: 'Questrial',
    //         fontSize: '28px',
    //         default_fontSize: '28px',
    //         aux_fontSize: 'x-large'
    //       },
    //       templateUserDescription: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Roboto',
    //         default_fontFamily: 'Roboto',
    //         fontSize: '18px',
    //         default_fontSize: '18px',
    //         aux_fontSize: 'medium'
    //       },
    //       templateServicesDescription: {
    //         color: '#3444D1',
    //         default_color: '#3444D1',
    //         fontFamily: 'Chonburi',
    //         default_fontFamily: 'Chonburi',
    //         fontSize: '28px',
    //         default_fontSize: '28px',
    //         aux_fontSize: 'xx-large'
    //       },
    //       templateHeader: {
    //         background: '',
    //         backgroundSize: 'cover'
    //       },
    //       templateAvatar: {
    //         background: '',
    //         backgroundSize: 'contain'
    //       },
    //       flexStack: {
    //         backgroundColor: '#3444D1',
    //         default_color: '#3444D1',
    //       },
    //       templateContacts: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //       templateSocials: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //     }
    //   },
    //   {
    //     name: "template_002",
    //     profilePictureStencil: "rectangle",
    //     profilePictureStencilAspectRatio: 1,
    //     headerPictureStencil: "rectangle",
    //     headerPictureStencilAspectRatio: 1.7,
    //     profile_picture_placeholder: "square",
    //     complementary_profile_picture_placeholder: "rectangle",
    //     background: "assets/img/template_002.png",
    //     background_placeholder:
    //       "assets/img/glopcard_background_placeholder.png",
    //     template: "TemplatePage002",
    //     default_alias: 'Usuario glopcare',
    //     default_professional_title: 'Título profesional',
    //     default_professional_description: 'Describe brevemente los servicios y/o productos que ofreces para atraer clientes y hacer crecer tu negocio',
    //     default_catalog_name: 'Ver Servicios y Productos',
    //     default_contact_icon_family: '_plain',
    //     default_social_icon_family: '_plain',
    //     max_contacts: 5,
    //     max_socials: 6,
    //     style: {
    //       templateUserName: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Dancing Script',
    //         default_fontFamily: 'Dancing Script',
    //         fontSize: '45px',
    //         default_fontSize: '45px',
    //         aux_fontSize: 'xxx-large'
    //       },
    //       templateUserTitle: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Roboto',
    //         default_fontFamily: 'Roboto',
    //         fontSize: '24px',
    //         default_fontSize: '24px',
    //         aux_fontSize: 'x-large'
    //       },
    //       templateUserDescription: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Roboto',
    //         default_fontFamily: 'Roboto',
    //         fontSize: '21px',
    //         default_fontSize: '21px',
    //         aux_fontSize: 'large'
    //       },
    //       templateServicesDescription: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Dancing Script',
    //         default_fontFamily: 'Dancing Script',
    //         fontSize: '35px',
    //         default_fontSize: '35px',
    //         aux_fontSize: 'x-large'
    //       },
    //       templateHeader: {
    //         background: '',
    //         backgroundSize: 'cover'
    //       },
    //       templateAvatar: {
    //         background: '',
    //         backgroundSize: 'contain'
    //       },
    //       flexStack: {
    //         backgroundColor: '#BD065E',
    //         default_color: '#BD065E'
    //       },
    //       templateContacts: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //       templateSocials: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //     }
    //   },
    //   {
    //     name: "template_003",
    //     profilePictureStencil: "rectangle",
    //     profilePictureStencilAspectRatio: 1,
    //     headerPictureStencil: "rectangle",
    //     headerPictureStencilAspectRatio: 1.7,
    //     profile_picture_placeholder: "square",
    //     complementary_profile_picture_placeholder: "rectangle",
    //     background: "assets/img/template_003.png",
    //     background_placeholder:
    //       "assets/img/glopcard_background_placeholder.png",
    //     template: "TemplatePage003",
    //     default_alias: 'Usuario glopcare',
    //     default_professional_title: 'Título profesional',
    //     default_professional_description: 'Describe brevemente los servicios y/o productos que ofreces para atraer clientes y hacer crecer tu negocio',
    //     default_catalog_name: 'Ver Servicios y Productos',
    //     default_contact_icon_family: '_plain',
    //     default_social_icon_family: '_plain',
    //     max_contacts: 5,
    //     max_socials: 6,
    //     style: {
    //       templateUserName: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Anton',
    //         default_fontFamily: 'Anton',
    //         fontSize: '32px',
    //         default_fontSize: '32px',
    //         aux_fontSize: 'xxx-large'
    //       },
    //       templateUserTitle: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Roboto',
    //         default_fontFamily: 'Roboto',
    //         fontSize: '24px',
    //         default_fontSize: '24px',
    //         aux_fontSize: 'large'
    //       },
    //       templateUserDescription: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Roboto',
    //         default_fontFamily: 'Roboto',
    //         fontSize: '18px',
    //         default_fontSize: '18px',
    //         aux_fontSize: 'medium'
    //       },
    //       templateServicesDescription: {
    //         color: '#FFFFFF',
    //         default_color: '#FFFFFF',
    //         fontFamily: 'Anton',
    //         default_fontFamily: 'Anton',
    //         fontSize: '28px',
    //         default_fontSize: '28px',
    //         aux_fontSize: 'xx-large'
    //       },
    //       templateHeader: {
    //         background: '',
    //         backgroundSize: 'cover'
    //       },
    //       templateAvatar: {
    //         background: '',
    //         backgroundSize: 'contain'
    //       },
    //       flexStack: {
    //         backgroundColor: '#485F3A',
    //         default_color: '#485F3A'
    //       },
    //       templateContacts: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //       templateSocials: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //     }
    //   },
    //   {
    //     name: "template_004",
    //     profilePictureStencil: "circle",
    //     profilePictureStencilAspectRatio: 1,
    //     headerPictureStencil: "rectangle",
    //     headerPictureStencilAspectRatio: 1.7,
    //     profile_picture_placeholder: "circle",
    //     complementary_profile_picture_placeholder: "rectangle",
    //     background: "assets/img/template_004.png",
    //     background_placeholder:
    //       "assets/img/glopcard_background_placeholder.png",
    //     template: "TemplatePage004",
    //     default_alias: 'Usuario glopcare',
    //     default_professional_title: 'Título profesional',
    //     default_professional_description: 'Describe brevemente los servicios y/o productos que ofreces para atraer clientes y hacer crecer tu negocio',
    //     default_catalog_name: 'Ver Servicios y Productos',
    //     default_contact_icon_family: '_plain',
    //     default_social_icon_family: '_plain',
    //     max_contacts: 5,
    //     max_socials: 6,
    //     style: {
    //       templateUserName: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Great Vibes',
    //         default_fontFamily: 'Great Vibes',
    //         fontSize: '40px',
    //         default_fontSize: '40px',
    //         aux_fontSize: 'xxx-large'
    //       },
    //       templateUserTitle: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Pompiere',
    //         default_fontFamily: 'Pompiere',
    //         fontSize: '32px',
    //         default_fontSize: '32px',
    //         aux_fontSize: 'large'
    //       },
    //       templateUserDescription: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Roboto',
    //         default_fontFamily: 'Roboto',
    //         fontSize: '16px',
    //         default_fontSize: '16px',
    //         aux_fontSize: 'medium'
    //       },
    //       templateServicesDescription: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Pompiere',
    //         default_fontFamily: 'Pompiere',
    //         fontSize: '32px',
    //         default_fontSize: '32px',
    //         aux_fontSize: 'xx-large'
    //       },
    //       templateHeader: {
    //         background: '',
    //         backgroundSize: 'cover'
    //       },
    //       templateAvatar: {
    //         background: '',
    //         backgroundSize: 'contain'
    //       },
    //       flexStack: {
    //         backgroundColor: '#F4AF4E',
    //         default_color: '#F4AF4E'
    //       },
    //       templateContacts: {
    //         fill: '#808080',
    //         default_fill: '#808080',
    //       },
    //       templateSocials: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //     }
    //   },
    //   {
    //     name: "template_005",
    //     special_edition_module: true,
    //     special_edition_module_component: 'GlopcardCustomCardStepPage',
    //     special_edition_module_name: 'Glopcard Custom Card Step',
    //     special_edition_module_path: '/glopcard-custom-card-step',
    //     profilePictureStencil: "circle",
    //     profilePictureStencilAspectRatio: 1,
    //     headerPictureStencil: "rectangle",
    //     headerPictureStencilAspectRatio: 1.7,
    //     profile_picture_placeholder: "circle",
    //     complementary_profile_picture_placeholder: "rectangle",
    //     background: "assets/img/template_005.png",
    //     background_placeholder:
    //       "assets/img/glopcard_background_placeholder.png",
    //     template: "TemplatePage005",
    //     default_alias: 'Usuario glopcare',
    //     default_professional_title: 'Título profesional',
    //     default_professional_description: 'Describe brevemente los servicios y/o productos que ofreces para atraer clientes y hacer crecer tu negocio',
    //     default_catalog_name: 'Ver Servicios y Productos',
    //     default_contact_icon_family: '_plain',
    //     default_social_icon_family: '_plain',
    //     max_contacts: 5,
    //     max_socials: 6,
    //     style: {
    //       templateUserName: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Great Vibes',
    //         default_fontFamily: 'Great Vibes',
    //         fontSize: '40px',
    //         default_fontSize: '40px',
    //         aux_fontSize: 'xxx-large'
    //       },
    //       templateUserTitle: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Pompiere',
    //         default_fontFamily: 'Pompiere',
    //         fontSize: '32px',
    //         default_fontSize: '32px',
    //         aux_fontSize: 'large'
    //       },
    //       templateUserDescription: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Roboto',
    //         default_fontFamily: 'Roboto',
    //         fontSize: '16px',
    //         default_fontSize: '16px',
    //         aux_fontSize: 'medium'
    //       },
    //       templateServicesDescription: {
    //         color: '#000000',
    //         default_color: '#000000',
    //         fontFamily: 'Pompiere',
    //         default_fontFamily: 'Pompiere',
    //         fontSize: '32px',
    //         default_fontSize: '32px',
    //         aux_fontSize: 'xx-large'
    //       },
    //       templateHeader: {
    //         background: '',
    //         backgroundSize: 'cover'
    //       },
    //       templateAvatar: {
    //         background: '',
    //         backgroundSize: 'contain'
    //       },
    //       flexStack: {
    //         backgroundColor: '#F4AF4E',
    //         default_color: '#F4AF4E'
    //       },
    //       templateContacts: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //       templateSocials: {
    //         fill: '#808080',
    //         default_fill: '#808080'
    //       },
    //     },
    //     specialStyle: {
    //       templateVerticalSpacer: {
    //         height: '4vh',
    //       },
    //       templateServicesTop: {
    //         text: 'Texto Superior',
    //         backgroundColorGradient: '#d8ff2c',
    //         fontFamily: 'Roboto',
    //         fontSize: '32px',
    //         aux_fontSize: 'xx-large',
    //         color: '#000000'
    //       },
    //       templateServicesBottom: {
    //         text: 'Texto Inferior',
    //         backgroundColorGradient: '#5e6880',
    //         fontFamily: 'Roboto',
    //         fontSize: '32px',
    //         aux_fontSize: 'xx-large',
    //         color: '#000000'
    //       }
    //     }
    //   },
    // ];

    const store = useStore();
    // const storage = useStorage();

    const setTemplate = async (template) => {

      console.info('Current Template', store.getters.getSelectedTemplate ? store.getters.getSelectedTemplate.name : 'not set');
      console.info('Selected Template', template.name);
      console.info('Profile Status', store.getters.getUser.profile.status);

      if (store.getters.getSelectedTemplate && store.getters.getSelectedTemplate.name != template.name && (['finished', 'in_progress'].includes(store.getters.getUser.profile.status))) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Al cambiar de plantilla, perderás parte de la información registrada",
          cssClass: 'warning-alert',
          message:
            "Si cambias de plantilla, debes seleccionar nuevamente las fotos, y además reingresar y/o reajustar información, de acuerdo al nuevo diseño de Tu Contacto Interactivo.",
          buttons: [
            {
              text: "OK",
              role: "confirm",
              handler: () => {

                // Backing up profile and header pictures
                // let templateAvatar = store.getters.getUser.profile.selected_template.style.templateAvatar;
                // let templateHeader = store.getters.getUser.profile.selected_template.style.templateHeader;
                let templateStyle = store.getters.getUser.profile.selected_template.style;

                store.commit("setSelectedTemplate", template);
                selectedTemplate.value = template;

                let glopcard = store.getters.getUser.profile;
                glopcard.selected_template = selectedTemplate.value;

                // glopcard.selected_template.style.templateAvatar = templateAvatar;
                // glopcard.selected_template.style.templateHeader = templateHeader;
                glopcard.selected_template.style = templateStyle;

                save(glopcard);
              },
            },
            {
              text: "CANCELAR",
              role: "Cancel",
            },
          ],
        });

        await alert.present();
      } else {
        store.commit("setSelectedTemplate", template);
        selectedTemplate.value = template;
      }
    };

    const resetTemplate = async () => {
      if (store.getters.getSelectedTemplate) {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: "Perderás TODA la información que has registrado en tu APP",
          message: "Si presionas OK tendrás que registrar la información nuevamente.",
          cssClass: 'danger-alert',
          buttons: [
            {
              text: "OK",
              role: "confirm",
              handler: () => {
                selectedTemplate.value = null;
                store.commit("setSelectedTemplate", null);

                let glopcard = store.getters.getUser.profile;
                glopcard.selected_template = null;

                save(glopcard);
              },
            },
            {
              text: "CANCELAR",
              role: "Cancel",
            },
          ],
        });

        await alert.present();
      }
    };

    const slides = ref();
    const setSwiperInstance = (swiper) => {
      slides.value = swiper;
    };

    const swipeNext = () => {
      slides.value.slideNext();
    };

    const swipePrev = () => {
      slides.value.slidePrev();
    };

    const openToast = async (message, duration, color, position) => {
      const toast = await toastController
        .create({
          message: message,
          duration: duration,
          color: color,
          position: position
        })
      return toast.present();
    };


    onIonViewDidEnter(() => {
      setTimeout(() => {
        let topPos = document
          .getElementById("swiper")
          .getBoundingClientRect().top;

        console.log(topPos);

        let bottomPos = document
          .getElementById("buttons")
          .getBoundingClientRect().top;

        console.log(bottomPos);
      }, 700);

      if (store.getters.getSelectedTemplate && store.getters.getSelectedTemplate.name) {
        selectedTemplate.value = store.getters.getSelectedTemplate;
      }
    });

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;

      // Accesing custom edition module
      if (selectedTemplate.value.special_edition_module) {
        const alert = await alertController.create({
          header: "Información",
          subHeader: "Acceder a edición personalizada",
          cssClass: 'warning-alert',
          message:
            "Esta plantilla tiene un modulo de personalización específico. ¿Deseas acceder para realizar cambios?",
          buttons: [
            {
              text: "OK",
              role: "confirm",
              handler: () => {

                router.push(selectedTemplate.value.special_edition_module_path);
              },
            },
            {
              text: "CANCELAR",
              role: "Cancel",
            },
          ],
        });

        await alert.present();
        return;
      }

      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status && selectedTemplate.value) {
        glopcard.status = 'in_progress';
        glopcard.last_step = route;
        glopcard.selected_template = selectedTemplate.value;

        save(glopcard);

        router.push(route);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "Selecciona una plantilla",
          message: "Para continuar, necesitas seleccionar una plantilla",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const previewHeight = ref(screen.height);
    const previeWidth = ref(screen.width);

    const save = async (glopcard) => {
      let user = store.getters.getUser;
      user.profile = glopcard;
      store.commit("setUser", user);
      await storage.create();
      console.log('From choose template:', glopcard);
      await storage.set("user", JSON.parse(JSON.stringify(user)));
    };

    const getAvailableTemplates = () => {
      api
        .get("glopcard/templates", {headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`
          }}
        )
        .then(async (response) => {
          console.log('Available Templates:', response);
          if (response.data) {
            response.data.forEach(element => {
              let templateObj = JSON.parse(element.template);

              templateObj.template_id = element.id;
              templateObj.style = JSON.parse(element.style);

              if(element.special_style){
                templateObj.specialStyle = JSON.parse(element.special_style);
              }

              templatesData.push(templateObj);
            });
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    };

    onMounted(() => {
      getAvailableTemplates();
    });

    return {
      logo,
      selectedTemplate,
      templatesData,
      modules,
      check,
      setTemplate,
      setSwiperInstance,
      swipeNext,
      swipePrev,
      expand,
      back,
      next,
      previewHeight,
      previeWidth,
      save,
      validateContinue,
      resetTemplate
    };
  },
  data: () => ({}),
  mounted() {
    let viewport = document.querySelector('meta[name=viewport]');
    if (viewport) {
      viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
    }
  },
  methods: {
  },
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  }
});
</script>

<style scoped src="../theme/style.css">

</style>

<style scoped>
.swiper-wrapper {
  margin-left: 16px;
  margin-right: 16px;
}

.swiper-button-prev {
  left: 0.7rem !important;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../public/assets/icon/back-button.svg) !important;
}

.swiper-button-next {
  right: 0.7rem !important;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../public/assets/icon/next-button.svg) !important;
}

</style>

<style>

/* .danger-alert {
  --background: #F1BFBF;
}

.danger-alert .alert-message {
  color: black;
}

.warning-alert {
  --background: #D0FF04;
  color: black;
}

.warning-alert .alert-message {
  color: black;
} */
</style>