<template>

  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background" id="main-content">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Cambia</span><br />
                <span class="hello-sub-title">colores y tipografías</span><br />
                <br />
                <span class="hello-sub-title-small">Sino deseas</span><br />
                <span class="hello-sub-title-small">realizar cambios</span><br />
                <span class="hello-sub-title-small">presiona</span><br />
                <span class="hello-sub-title-small"><u>CONTINUAR</u></span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper :slides-per-view="1" :loop="true" id="swiper" :allowSlideNext="false" :allowSlidePrev="false"
              class="swiper-marco">
              <swiper-slide @click="$router.push('preview')">
                <!-- <img src="assets/img/marco-celular.png" style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"/>
                <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                  id="previewContainer" name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor">
                  <component id="preview" name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail" :key="componentKey">
                  </component>
                </div>
                <div v-else :style="
                  'background-image: url(' +
                  (getSelectedTemplate && getSelectedTemplate.background
                    ? getSelectedTemplate.background
                    : '') +
                  ')'
                " class="template-thumbnail"></div> -->
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".5"></ion-progress-bar>

              <!-- <ion-row class="ion-align-items-center ion-margin-top">
                <ion-col class="ion-text-end ion-margin-end">
                </ion-col>
                <ion-col class="ion-text-start ion-margin-start">
                    <ion-icon :icon="timerOutline" style="font-size: 1.7em; color: white;" class="back-icon-shadow ion-margin-start" @click="openMenu()"></ion-icon>
                </ion-col>
              </ion-row> -->
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
          <ion-col size="9.5">
            <ion-list class="ion-margin-start register-list">
              <ion-item class="register-list-item-left ion-margin-start">
                <ion-label position="stacked" :style="
                  chosenColor && chosenColor.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Color de fondo</ion-label>
                <ion-input style="--placeholder-opacity: 1; font-size: 0.9rem;" :value="chosenColor"
                  :placeholder="chosenColor ? chosenColor : 'Color de fondo'"
                  :style="((chosenColor && chosenColor.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')"
                  maxlength="7" @keyup="validateHexa($event)" @ionBlur="saveState"></ion-input>
              </ion-item>


            </ion-list>
          </ion-col>

          <ion-col size="2.5">
            <ion-list class="register-list ion-margin-end" style="padding-left: 0.2rem">
              <div class="register-list-item-right list-item-color-picker ion-margin-end ion-justify-content-center"
                id="backgroundColorId">
                <LvColorpicker v-model="chosenColor" :withoutInput="true" id="chosenColor" :value="chosenColor"
                  :key="componentKey" @click="saveState" :colors="colorPalette"/>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6.1">
            <ion-list class="ion-margin-start register-list">
              <ion-item class="register-list-item-left ion-margin-start ion-margin-bottom">
                <ion-label position="stacked" :style="
                  nameFontFamily && nameFontFamily.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Nombre o alias</ion-label>
                <ion-input :value="nameFontFamily" placeholder="Nombre o alias" type="text" :style="
                  nameFontFamily && nameFontFamily.length
                    ? 'margin-top: -0.5rem'
                    : 'margin-top:-1rem'
                " :readonly="true"></ion-input>
                <ion-select style="--placeholder-opacity: 1; --padding-end: 0px;" placeholder="Nombre o alias"
                  :interface-options="fontNameOptions" ref="refNameFontFamily" hidden
                  @ionChange="updateChosenFontFamily('refNameFontFamily', 'refNameFontSize')" @ionDismiss="saveState"
                  cancel-text="Cancelar" :value="nameFontFamily">
                  <ion-select-option v-for="font in fonts" :key="font.family" :value="font.family"
                    :class="font.family.replaceAll(' ', '-')">{{ font.family }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="register-list-item-left ion-margin-start ion-margin-bottom">
                <ion-label position="stacked" :style="
                  professionFontFamily && professionFontFamily.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Titulo Profesional</ion-label>
                <ion-input :value="professionFontFamily" placeholder="Titulo Profesional" type="text" :style="
                  professionFontFamily && professionFontFamily.length
                    ? 'margin-top: -0.5rem'
                    : 'margin-top:-1rem'
                " :readonly="true"></ion-input>
                <ion-select style="--placeholder-opacity: 1;" placeholder="Titulo Profesional"
                  :interface-options="fontProfessionOptions" ref="refProfessionFontFamily" hidden
                  @ionChange="updateChosenFontFamily('refProfessionFontFamily', 'refProfessionFontSize')" cancel-text="Cancelar" @ionDismiss="saveState" :value="professionFontFamily">
                  <ion-select-option v-for="font in fontsLimited" :key="font.family" :value="font.family"
                    :class="font.family.replaceAll(' ', '-')">{{ font.family }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="register-list-item-left ion-margin-start ion-margin-bottom">
                <ion-label position="stacked" :style="
                  descriptionFontFamily && descriptionFontFamily.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Descripción de tu trabajo</ion-label>
                <ion-input :value="descriptionFontFamily" placeholder="Descripción de tu trabajo" type="text" :style="
                  descriptionFontFamily && descriptionFontFamily.length
                    ? 'margin-top: -0.5rem'
                    : 'margin-top:-1rem; text-overflow: ellipsis'
                " :readonly="true"></ion-input>
                <ion-select style="--placeholder-opacity: 1;" placeholder="Descripción de tu trabajo"
                  :interface-options="fontDescriptionOptions" ref="refDescriptionFontFamily" hidden
                  @ionChange="updateChosenFontFamily('refDescriptionFontFamily', 'refDescriptionFontSize')" cancel-text="Cancelar" @ionDismiss="saveState" :value="descriptionFontFamily">
                  <ion-select-option v-for="font in fontsLimited" :key="font.family" :value="font.family"
                    :class="font.family.replaceAll(' ', '-')">{{ font.family }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="register-list-item-left ion-margin-start">
                <ion-label position="stacked" :style="
                  catalogFontFamily && catalogFontFamily.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Nombre de la barra de catálogo</ion-label>
                <ion-input :value="catalogFontFamily" placeholder="Nombre de la barra de catálogo" type="text" :style="
                  catalogFontFamily && catalogFontFamily.length
                    ? 'margin-top: -0.5rem'
                    : 'margin-top:-1rem; text-overflow: ellipsis'
                " :readonly="true"></ion-input>
                <ion-select style="--placeholder-opacity: 1;" placeholder="Catálogo"
                  :interface-options="fontCatalogOptions" ref="refCatalogFontFamily" hidden
                  @ionChange="updateChosenFontFamily('refCatalogFontFamily', 'refCatalogFontSize')" cancel-text="Cancelar" @ionDismiss="saveState" :value="catalogFontFamily">
                  <ion-select-option v-for="font in fontsLimited" :key="font.family" :value="font.family"
                    :class="font.family.replaceAll(' ', '-')">{{ font.family }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="1.7" style="padding-left: 0.1rem">
            <ion-list class="register-list">
              <div class="
                  register-list-item-span-no
                  ion-margin-bottom ion-justify-content-center
                " id="fontNameColorId">
                <ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refNameFontFamily.$el.open()"></ion-icon>
              </div>
              <div class="
                  register-list-item-span-no
                  ion-margin-bottom ion-justify-content-center
                " id="fontProfessionColorId">
                <ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refProfessionFontFamily.$el.open()"></ion-icon>
              </div>
              <div class="
                  register-list-item-span-no
                  ion-margin-bottom ion-justify-content-center
                " id="fontDescriptionColorId">
                <ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refDescriptionFontFamily.$el.open()"></ion-icon>
              </div>
              <div class="
                  register-list-item-span-no ion-justify-content-center
                " id="fontCatalogColorId">
                <ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refCatalogFontFamily.$el.open()"></ion-icon>
              </div>
            </ion-list>
          </ion-col>

          <ion-col size="1.7">
            <ion-list class="register-list">
              <div class="
                  register-list-item-span
                  ion-margin-bottom ion-justify-content-center
                " @click="$refs.refNameFontSize.$el.open()">
                Aa
              </div>
              <ion-select :interface-options="fontNameOptions" ref="refNameFontSize" hidden :value="nameFontSize"
                @ionChange="updateChosenFontSize('refNameFontSize')" @ionDismiss="saveState" cancel-text="Cancelar">
                <ion-select-option v-for="font in fontSizes" :key="font.value" :value="font.value">{{
                  font.label
                }}
                </ion-select-option>
              </ion-select>
              <div class="
                  register-list-item-span
                  ion-margin-bottom ion-justify-content-center
                " @click="$refs.refProfessionFontSize.$el.open()">
                Aa
              </div>
              <ion-select :interface-options="fontProfessionOptions" ref="refProfessionFontSize" hidden
                :value="professionFontSize" @ionChange="updateChosenFontSize('refProfessionFontSize')" @ionDismiss="saveState" cancel-text="Cancelar">
                <ion-select-option v-for="font in fontSizesLimited" :key="font.value" :value="font.value">{{
                  font.label
                }}
                </ion-select-option>
              </ion-select>
              <div class="register-list-item-span ion-margin-bottom ion-justify-content-center"
                @click="$refs.refDescriptionFontSize.$el.open()">
                Aa
              </div>
              <ion-select :interface-options="fontDescriptionOptions" ref="refDescriptionFontSize" hidden
                :value="descriptionFontSize" @ionChange="updateChosenFontSize('refDescriptionFontSize')" @ionDismiss="saveState" cancel-text="Cancelar">
                <ion-select-option v-for="font in fontSizesLimited.filter(item => item.value == 'medium')" :key="font.value" :value="font.value">{{
                  font.label
                }}
                </ion-select-option>
              </ion-select>
              <div class="register-list-item-span ion-justify-content-center"
                @click="$refs.refCatalogFontSize.$el.open()">
                Aa
              </div>
              <ion-select :interface-options="fontCatalogOptions" ref="refCatalogFontSize" hidden
                :value="catalogFontSize" @ionChange="updateChosenFontSize('refCatalogFontSize')" @ionDismiss="saveState" cancel-text="Cancelar">
                <ion-select-option v-for="font in fontSizesLimited" :key="font.value" :value="font.value">{{
                  font.label
                }}
                </ion-select-option>
              </ion-select>
            </ion-list>
          </ion-col>

          <ion-col size="2.5" style="padding-left: 0.1rem">
            <ion-list class="register-list ion-margin-end">
              <div class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-bottom ion-margin-end ion-justify-content-center
                " id="fontNameColorId" @click="saveState">
                <LvColorpicker v-model="userNameColor" :withoutInput="true" id="fontNameColor" :value="userNameColor"
                  :key="componentKey" @click="saveState" :colors="colorPalette"/>
              </div>
              <div class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-bottom ion-margin-end ion-justify-content-center
                " id="fontProfessionColorId" @click="saveState">
                <LvColorpicker v-model="userTitleColor" :withoutInput="true" id="fontProfessionColor"
                  :value="userTitleColor" :key="componentKey" @click="saveState" :colors="colorPalette"/>
              </div>
              <div class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-bottom ion-margin-end ion-justify-content-center
                " id="fontDescriptionColorId" @click="saveState">
                <LvColorpicker v-model="userDescriptionColor" :withoutInput="true" id="fontDescriptionColor"
                  :value="userDescriptionColor" :key="componentKey" @click="saveState" :colors="colorPalette"/>
              </div>
              <div class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-end ion-justify-content-center
                " id="fontCatalogColorId" @click="saveState">
                <LvColorpicker v-model="servicesDescriptionColor" :withoutInput="true" id="fontCatalogColor"
                  :value="servicesDescriptionColor" :key="componentKey" @click="saveState" :colors="colorPalette"/>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div class="cancel-button ion-margin-start ion-margin-top" style="margin-right: 4px" @click="reset()">
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="continue-button ion-margin-end ion-margin-top" style="margin-left: 4px"
              @click="validateContinue('glopcard-contact-information-step')">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonModal,
  IonSelect,
  IonSelectOption,
  onIonViewDidEnter,
  IonThumbnail,
  IonProgressBar,
  IonInput,
  IonLabel,
  menuController,
  alertController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";
import axios from "axios";

import { Storage } from "@ionic/storage";
const storage = new Storage();

import { load } from "google-fonts-loader";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

import { colorPaletteOutline, caretDownOutline, timerOutline } from "ionicons/icons";

export default defineComponent({
  name: "GlopcardTextColorStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    IonModal,
    Swiper,
    SwiperSlide,
    IonSelect,
    IonSelectOption,
    IonThumbnail,
    IonProgressBar,
    IonInput,
    IonLabel,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005,
  },
  setup() {
    const componentKey = ref(0);
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";
    const undoIcon = "assets/icon/undo.svg";
    const redoIcon = "assets/icon/redo.svg";

    const router = useRouter();
    const fonts = reactive([]);
    const fontsLimited = reactive([]);
    const customTemplate = reactive({});

    const store = useStore();

    const justEntered = ref(false);

    const nameFontSize = ref(store.getters.getUser.profile.selected_template.style.templateUserName.aux_fontSize);
    const nameFontFamily = ref(store.getters.getUser.profile.selected_template.style.templateUserName.fontFamily);
    const fontNameOptions = {
      header: "Fuente de tu nombre",
      cssClass: "customFontName",
    };

    const professionFontSize = ref(store.getters.getUser.profile.selected_template.style.templateUserTitle.aux_fontSize);
    const professionFontFamily = ref(store.getters.getUser.profile.selected_template.style.templateUserTitle.fontFamily);
    const fontProfessionOptions = {
      header: "Fuente de tu oficio",
      cssClass: "customFontName",
    };

    const descriptionFontSize = ref(store.getters.getUser.profile.selected_template.style.templateUserDescription.aux_fontSize);
    const descriptionFontFamily = ref(store.getters.getUser.profile.selected_template.style.templateUserDescription.fontFamily);
    const fontDescriptionOptions = {
      header: "Fuente de tu descripción",
      cssClass: "customFontName",
    };

    const catalogFontSize = ref(store.getters.getUser.profile.selected_template.style.templateServicesDescription.aux_fontSize);
    const catalogFontFamily = ref(store.getters.getUser.profile.selected_template.style.templateServicesDescription.fontFamily);
    const fontCatalogOptions = {
      header: "Fuente de tu catálogo",
      cssClass: "customFontName",
    };

    const fontSizes = [
      { value: "medium", label: "Pequeña" },
      { value: "large", label: "Normal" },
      { value: "x-large", label: "Grande" },
      { value: "xx-large", label: "Muy Grande" },
      { value: "xxx-large", label: "Extra Grande" },
    ];

    const fontSizesLimited = [
      { value: "medium", label: "Pequeña" },
      { value: "large", label: "Normal" },
      { value: "x-large", label: "Grande" },
    ];    

    const check = "assets/icon/check-icon.svg";

    const selectedTemplate = ref(null);

    const showProfileImageModal = ref(false);

    const setProfileImageModalOpen = (state) =>
      (showProfileImageModal.value = state);

    const profile_image_file = ref(null);

    const isDescendant = (parent, child) => {
      var node = child.parentNode;
      if (node == parent) {
        return true;
      }

      return false;
    };

    const servicesDescriptionColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.style.templateServicesDescription.color : '');
    const userDescriptionColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.style.templateUserDescription.color : '');
    const userTitleColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.style.templateUserTitle.color : '');
    const userNameColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.style.templateUserName.color : '');
    const chosenColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.style.flexStack.backgroundColor : '');

    const filterFonts = [
        {
          name: "Courgette",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Modak",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Oswald",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Kaushan Script",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Kurale",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Yanone Kaffeesatz",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Yatra One",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },

        {
          name: "Abril Fatface",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Anton",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Cinzel",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Chonburi",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Lemonada",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Limelight",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Playfair",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Roboto",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },

        {
          name: "Carter One",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Jura",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Montserrat",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Open Sans",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Questrial",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Sansita",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Alegreya",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        

        
        {
          name: "Dancing Script",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Great Vibes",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Kalam",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "League Gothic",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Medula One",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Shadows Into Light",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        


        {
          name: "Allura",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
          {
          name: "Mirza",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
          {
          name: "Mr Dafoe",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Oregano",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Pompiere",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Satisfy",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Yellowtail",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Caveat",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Sacramento",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },

        {
          name: "Tangerine",
          medium: '35px',
          large: '40px',
          'x-large': '45px',
          'xx-large': '55px',
          'xxx-large': '65px',
        },
    ];

    const filterFontsLimited = [
        
        {
          name: "Anton",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
       
        {
          name: "Roboto",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },

      
        {
          name: "Questrial",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Sansita",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Alegreya",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },

        {
          name: "Yanone Kaffeesatz",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        
    ];

    onIonViewDidEnter(() => {
      

      axios
        .get(
          "https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyDxIs_FJ28Y0plYbrrX6I2H63_-9QJmFQI"
        )
        .then((response) => {
          // console.log(response.data);
          response.data.items.forEach((item) => {
            if (
              filterFonts.find((el) => {
                return el.name.includes(item.family) ? true : false;
              })
            ) {
              fonts.push(item);

              const style = document.createElement("style");
              style.type = "text/css";
              const css =
                "." +
                item.family.replaceAll(" ", "-") +
                '{font-family:"' +
                item.family +
                // (filterFontsLarge.includes(item.family) ? '"; font-size: x-large !important' : '')
              '"}';
              style.appendChild(document.createTextNode(css));
              var head =
                document.head || document.getElementsByTagName("head")[0];
              head.appendChild(style);
              load([{ family: item.family }]);
            }

            if (
              filterFontsLimited.find((el) => {
                return el.name.includes(item.family) ? true : false;
              })
            ) {
              fontsLimited.push(item);
            }
          });
        })
        .catch()
        .finally();

      justEntered.value = true;

      saveState(null, true);
    });

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;

      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status) {
        glopcard.status = 'in_progress';
        glopcard.last_step = route;

        // Modify only if there were changes
        if (Object.keys(customTemplate).length > 0) {
          glopcard.selected_template = customTemplate;
        }

        save(glopcard);

        router.push(route);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "",
          message: "Antes de continuar, necesitas cargar las imágenes de tu perfil",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const reset = async () => {
      const alert = await alertController.create({
        header: "Alerta",
        subHeader:
          "Perderás los cambios realizados",
        message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: 'OK',
            role: 'confirm',
            handler: () => {
              let glopcard = store.getters.getUser.profile;

              glopcard.selected_template.style.flexStack.backgroundColor = glopcard.selected_template.style.flexStack.default_color;
              chosenColor.value = glopcard.selected_template.style.flexStack.backgroundColor;


              // UserName
              glopcard.selected_template.style.templateUserName.color = glopcard.selected_template.style.templateUserName.default_color;
              userNameColor.value = glopcard.selected_template.style.templateUserName.color;

              glopcard.selected_template.style.templateUserName.fontFamily = glopcard.selected_template.style.templateUserName.default_fontFamily;
              nameFontFamily.value = glopcard.selected_template.style.templateUserName.default_fontFamily;

              glopcard.selected_template.style.templateUserName.fontSize = glopcard.selected_template.style.templateUserName.default_fontSize;
              nameFontSize.value = glopcard.selected_template.style.templateUserName.default_fontSize;


              // ProfessionalTitle
              glopcard.selected_template.style.templateUserTitle.color = glopcard.selected_template.style.templateUserTitle.default_color;
              userTitleColor.value = glopcard.selected_template.style.templateUserTitle.color;

              glopcard.selected_template.style.templateUserTitle.fontFamily = glopcard.selected_template.style.templateUserTitle.default_fontFamily;
              professionFontFamily.value = glopcard.selected_template.style.templateUserTitle.default_fontFamily;

              glopcard.selected_template.style.templateUserTitle.fontSize = glopcard.selected_template.style.templateUserTitle.default_fontSize;
              professionFontSize.value = glopcard.selected_template.style.templateUserTitle.default_fontSize;


              // Description
              glopcard.selected_template.style.templateUserDescription.color = glopcard.selected_template.style.templateUserDescription.default_color;
              userDescriptionColor.value = glopcard.selected_template.style.templateUserDescription.color;

              glopcard.selected_template.style.templateUserDescription.fontFamily = glopcard.selected_template.style.templateUserDescription.default_fontFamily;
              descriptionFontFamily.value = glopcard.selected_template.style.templateUserDescription.default_fontFamily;

              glopcard.selected_template.style.templateUserDescription.fontSize = glopcard.selected_template.style.templateUserDescription.default_fontSize;
              descriptionFontSize.value = glopcard.selected_template.style.templateUserDescription.default_fontSize;


              // ServicesDescription
              glopcard.selected_template.style.templateServicesDescription.color = glopcard.selected_template.style.templateServicesDescription.default_color;
              servicesDescriptionColor.value = glopcard.selected_template.style.templateServicesDescription.color;

              glopcard.selected_template.style.templateServicesDescription.fontFamily = glopcard.selected_template.style.templateServicesDescription.default_fontFamily;
              catalogFontFamily.value = glopcard.selected_template.style.templateServicesDescription.default_fontFamily;

              glopcard.selected_template.style.templateServicesDescription.fontSize = glopcard.selected_template.style.templateServicesDescription.default_fontSize;
              catalogFontSize.value = glopcard.selected_template.style.templateServicesDescription.default_fontSize;

              //   glopcard.professional_description = null;
              //   professional_description.value = glopcard.selected_template.default_professional_description;

              //   glopcard.catalog_name = null;
              //   catalog_name.value = glopcard.selected_template.default_catalog_name;

              //   let user = store.getters.getUser;
              //   user.alias_name = null;
              //   alias_name.value = store.getters.getUser.name;

              componentKey.value++;

              save(glopcard);
            }
          }
        ],
      });
      await alert.present();
    };

    const undoStack = reactive([]);
    const redoStack = reactive([]);
    const previousState = ref(null);

    const colorPalette = reactive([
      "#000000",
      "#858585",
      "#FFFFFF",
      "#DE0050",
      "#9C27B0",
      "#00BCD4",
      "#4CAF50",
      "#FFC107"
    ]);

    const saveState = (ev, setInitial) => {

      let user = store.getters.getUser;
      user.timestamp = Date.now();
      let toPush = JSON.stringify(user);

      if (setInitial || previousState.value == null) {
        previousState.value = toPush;
      } else {
        if (previousState.value != toPush) {
          console.info('User state changed. Pushing to undo Stack');
          undoStack.push(previousState.value);
          previousState.value = toPush;
        }
      }
    }

    const openMenu = () => {
      menuController.open();
    }

    const setPoint = async (point) => {

      menuController.close();

      if (point){
        let toParse = JSON.parse(point);

        store.commit("setUser", toParse);
        await storage.create();
        await storage.set("user", toParse);

        catalogFontFamily.value = toParse.profile.selected_template.style.templateServicesDescription.fontFamily;
        nameFontFamily.value = toParse.profile.selected_template.style.templateUserName.fontFamily;
        descriptionFontFamily.value = toParse.profile.selected_template.style.templateUserDescription.fontFamily;
        professionFontFamily.value = toParse.profile.selected_template.style.templateUserTitle.fontFamily;

        nameFontSize.value = toParse.profile.selected_template.style.templateUserName.aux_fontSize;
        professionFontSize.value = toParse.profile.selected_template.style.templateUserTitle.aux_fontSize;
        descriptionFontSize.value = toParse.profile.selected_template.style.templateUserDescription._aux_fontSize;
        catalogFontSize.value = toParse.profile.selected_template.style.templateServicesDescription.aux_fontSize;

        chosenColor.value = toParse.profile.selected_template.style.flexStack.backgroundColor;
        servicesDescriptionColor.value = toParse.profile.selected_template.style.templateServicesDescription.color;
        userDescriptionColor.value = toParse.profile.selected_template.style.templateUserDescription.color;
        userTitleColor.value = toParse.profile.selected_template.style.templateUserTitle.color;
        userNameColor.value = toParse.profile.selected_template.style.templateUserName.color;

        componentKey.value++;
      } else {
        console.info('Point Empty. Nothing to Undo');
      }
    }

    const undo = async () => {
      if (undoStack.length) {
        let currentState = undoStack.pop();

        if (currentState) {
          redoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);

          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          // chosenColor.value = toParse.profile.selected_template.style.flexStack.backgroundColor;
          // console.log(chosenColor.value);
          catalogFontFamily.value = toParse.profile.selected_template.style.templateServicesDescription.fontFamily;
          nameFontFamily.value = toParse.profile.selected_template.style.templateUserName.fontFamily;
          descriptionFontFamily.value = toParse.profile.selected_template.style.templateUserDescription.fontFamily;
          professionFontFamily.value = toParse.profile.selected_template.style.templateUserTitle.fontFamily;

          nameFontSize.value = toParse.profile.selected_template.style.templateUserName.aux_fontSize;
          professionFontSize.value = toParse.profile.selected_template.style.templateUserTitle.aux_fontSize;
          descriptionFontSize.value = toParse.profile.selected_template.style.templateUserDescription.aux_fontSize;
          catalogFontSize.value = toParse.profile.selected_template.style.templateServicesDescription.aux_fontSize;

          chosenColor.value = toParse.profile.selected_template.style.flexStack.backgroundColor;
          servicesDescriptionColor.value = toParse.profile.selected_template.style.templateServicesDescription.color;
          userDescriptionColor.value = toParse.profile.selected_template.style.templateUserDescription.color;
          userTitleColor.value = toParse.profile.selected_template.style.templateUserTitle.color;
          userNameColor.value = toParse.profile.selected_template.style.templateUserName.color;

          previousState.value = currentState;

          componentKey.value++;
        }

      } else {
        console.info('Undo Stack Empty. Nothing to Undo');
      }
    }

    const redo = async () => {
      if (redoStack.length) {
        let currentState = redoStack.pop();

        if (currentState) {
          undoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);

          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          catalogFontFamily.value = toParse.profile.selected_template.style.templateServicesDescription.fontFamily;
          nameFontFamily.value = toParse.profile.selected_template.style.templateUserName.fontFamily;
          descriptionFontFamily.value = toParse.profile.selected_template.style.templateUserDescription.fontFamily;
          professionFontFamily.value = toParse.profile.selected_template.style.templateUserTitle.fontFamily;

          nameFontSize.value = toParse.profile.selected_template.style.templateUserName.aux_fontSize;
          professionFontSize.value = toParse.profile.selected_template.style.templateUserTitle.aux_fontSize;
          descriptionFontSize.value = toParse.profile.selected_template.style.templateUserDescription._aux_fontSize;
          catalogFontSize.value = toParse.profile.selected_template.style.templateServicesDescription.aux_fontSize;

          chosenColor.value = toParse.profile.selected_template.style.flexStack.backgroundColor;
          servicesDescriptionColor.value = toParse.profile.selected_template.style.templateServicesDescription.color;
          userDescriptionColor.value = toParse.profile.selected_template.style.templateUserDescription.color;
          userTitleColor.value = toParse.profile.selected_template.style.templateUserTitle.color;
          userNameColor.value = toParse.profile.selected_template.style.templateUserName.color;

          previousState.value = currentState;

          componentKey.value++;
        }

      } else {
        console.info('Redo Stack Empty. Nothing to Redo');
      }
    };

    const save = async (glopcard = null) => {
      let user = store.getters.getUser;

      if (glopcard) {
        user.profile = glopcard;
      }

      store.commit("setUser", user);
      await storage.create();

      console.log('From professional:', glopcard);
      await storage.set("user", JSON.parse(JSON.stringify(user)));
    };

    const checkPalette = (color) => {
      if (!colorPalette.includes(color)) {
        colorPalette.value = colorPalette.splice(3, 1);
        colorPalette.push(color);
        store.commit('setColorPalette', colorPalette)
      }
    };

    return {
      logo,
      check,
      expand,
      selectedTemplate,
      fonts,
      fontsLimited,
      fontNameOptions,
      fontProfessionOptions,
      fontDescriptionOptions,
      fontCatalogOptions,
      showProfileImageModal,
      colorPaletteOutline,
      caretDownOutline,
      fontSizes,
      setProfileImageModalOpen,
      professionFontSize,
      descriptionFontSize,
      nameFontSize,
      customTemplate,
      nameFontFamily,
      professionFontFamily,
      descriptionFontFamily,
      chosenColor,
      servicesDescriptionColor,
      userDescriptionColor,
      userTitleColor,
      userNameColor,
      validateContinue,
      catalogFontFamily,
      catalogFontSize,
      save,
      reset,
      componentKey,
      undoStack,
      redoStack,
      previousState,
      undo,
      redo,
      undoIcon,
      redoIcon,
      saveState,
      filterFonts,
      justEntered,
      timerOutline,
      setPoint,
      openMenu,
      colorPalette,
      checkPalette,
      fontSizesLimited,
      filterFontsLimited
    };
  },
  data: () => ({
    timer: null,
    timerNameColor: null,
    timerTitleColor: null,
    timerDescriptionColor: null,
    timerCatalogColor: null
  }),
  watch: {
    async servicesDescriptionColor(newColor, oldColor) {
      if (newColor != oldColor){

        if (this.timerCatalogColor) {
          clearTimeout(this.timerCatalogColor);
        }

        let servicesDescriptionFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.style.templateServicesDescription.color = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing other colors too...');
            this.userDescriptionColor = this.servicesDescriptionColor;
            this.userTitleColor = this.servicesDescriptionColor;
            this.userNameColor = this.servicesDescriptionColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timerCatalogColor = setTimeout(servicesDescriptionFn, 100);
      }
    },

    async userDescriptionColor(newColor, oldColor) {
      if (newColor != oldColor){
        if (this.timerDescriptionColor) {
          clearTimeout(this.timerDescriptionColor);
        }

        let userDescriptionFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.style.templateUserDescription.color = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing other colors too...');
            this.servicesDescriptionColor = this.userDescriptionColor;
            this.userTitleColor = this.userDescriptionColor;
            this.userNameColor = this.userDescriptionColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timerDescriptionColor = setTimeout(userDescriptionFn, 100);
      }
    },

    async userTitleColor(newColor, oldColor) {
      if (newColor != oldColor){
        if (this.timerTitleColor) {
          clearTimeout(this.timerTitleColor);
        }

        let userTitleFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.style.templateUserTitle.color = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing other colors too...');
            this.servicesDescriptionColor = this.userTitleColor;
            this.userDescriptionColor = this.userTitleColor;
            this.userNameColor = this.userTitleColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timerTitleColor = setTimeout(userTitleFn, 100);
      }
    },

    async userNameColor(newColor, oldColor) {
      if (newColor != oldColor){
        if (this.timerNameColor) {
          clearTimeout(this.timerNameColor);
        }

        let userNameFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.style.templateUserName.color = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing other colors too...');
            this.servicesDescriptionColor = this.userNameColor;
            this.userDescriptionColor = this.userNameColor;
            this.userTitleColor = this.userNameColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timerNameColor = setTimeout(userNameFn, 100);
      }
    },

    async chosenColor(newColor, oldColor) {
      if (newColor != oldColor){
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let chosenColorFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.style.flexStack.backgroundColor = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);
          
          this.save(glopcard);
        }

        this.timer = setTimeout(chosenColorFn, 100);
      }
    }
  },
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  },
  methods: {
    updateChosenFontSize(element) {
      console.log(this.$refs[element].$el.value);

      var customSelectedTemplate = this.getSelectedTemplate;

      var el = this.$refs[element].$el.value;
      
      var size = el;

      switch (element) {
        case 'refNameFontSize':
          size = this.filterFonts.find(({name}) => name == this.nameFontFamily);
          this.nameFontSize =  el;
          customSelectedTemplate.style.templateUserName.fontSize = size[el] ? size[el] : el;
          customSelectedTemplate.style.templateUserName.aux_fontSize = el;
          break;
        case 'refProfessionFontSize':
          size = this.filterFonts.find(({name}) => name == this.professionFontFamily);
          this.professionFontSize =  el;
          customSelectedTemplate.style.templateUserTitle.fontSize = size[el] ? size[el] : el;
          customSelectedTemplate.style.templateUserTitle.aux_fontSize = el;
          break;
        case 'refDescriptionFontSize':
          size = this.filterFonts.find(({name}) => name == this.descriptionFontFamily);
          this.descriptionFontSize =  el;
          customSelectedTemplate.style.templateUserDescription.fontSize = size[el] ? size[el] : el;
          customSelectedTemplate.style.templateUserDescription.aux_fontSize = el;
          break;
        case 'refCatalogFontSize':
          size = this.filterFonts.find(({name}) => name == this.catalogFontFamily);
          this.catalogFontSize = el;
          customSelectedTemplate.style.templateServicesDescription.fontSize = size[el] ? size[el] : el;
          customSelectedTemplate.style.templateServicesDescription.aux_fontSize = el;
          break;
      }

      this.$store.commit('setSelectedTemplate', customSelectedTemplate);
      Object.assign(this.customTemplate, customSelectedTemplate);

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.selected_template = customSelectedTemplate;
      this.save(glopcard);
    },

    updateChosenFontFamily(element, size = null) {
      var customSelectedTemplate = this.getSelectedTemplate;

      var el = this.$refs[element].$el.value;

      switch (element) {
        case 'refNameFontFamily':
          this.nameFontFamily = el;
          customSelectedTemplate.style.templateUserName.fontFamily = el;
          break;
        case 'refProfessionFontFamily':
          this.professionFontFamily = el;
          customSelectedTemplate.style.templateUserTitle.fontFamily = el;
          break;
        case 'refDescriptionFontFamily':
          this.descriptionFontFamily = el;
          customSelectedTemplate.style.templateUserDescription.fontFamily = el;
          break;
        case 'refCatalogFontFamily':
          this.catalogFontFamily = el;
          customSelectedTemplate.style.templateServicesDescription.fontFamily = el;
          break;
      }

      if (size) {
        this.updateChosenFontSize(size);
      } else {
        this.$store.commit('setSelectedTemplate', customSelectedTemplate);
        Object.assign(this.customTemplate, customSelectedTemplate);

        let glopcard = this.$store.getters.getUser.profile;
        glopcard.selected_template = customSelectedTemplate;
        this.save(glopcard);
      }
    },

    validateHexa(ev) {
      let regEx = /^[0-9a-fA-F]+$/;
      let isHex = regEx.test(ev.target.value.substring(1));
      
      if (isHex && ev.target.value && ev.target.value.length == 7){
        this.chosenColor = ev.target.value;
        this.componentKey++;
      }
    },
  },
});
</script>

<style scoped src="../theme/style.css">

</style>

<style scoped>
.picture-sub-title {
  width: 74px;
  height: 43px;
  left: 72px;
  top: 599px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;

  color: #ffffff;
}

.vc-colorpicker {
  margin: 0 auto !important;
}

.vc-colorpicker--container {
  padding: 1px !important;
}
</style>

<style lang="scss">
.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;

  &__handler {
    position: absolute;
    right: 15%;
    top: 14%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }

  &__preview {
    border-radius: 50%;
    overflow: hidden;
  }
}
</style>

<style scoped>
ion-select::part(icon) {
  display: none !important;
}
</style>