<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Registra</span><br />
                <span class="hello-sub-title">tus datos</span><br />
                <span class="hello-sub-title">de contacto</span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper
              :slides-per-view="1"
              :loop="true"
              id="swiper"
              :allowSlideNext="false"
              :allowSlidePrev="false"
              class="swiper-marco"
            >
              <swiper-slide @click="$router.push('preview')">
                <!-- <img
                  src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"
                />
                <ion-icon
                  :icon="expand"
                  class="expand-icon"
                  @click="$router.push('preview')"
                ></ion-icon>
                <div
                  v-if="getSelectedTemplate && getSelectedTemplate.template"
                  class="template-background"
                  id="previewContainer"
                  name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor"
                >
                  <component
                    id="preview"
                    name="preview"
                    :is="
                      customTemplate && customTemplate.template
                        ? customTemplate.template
                        : getSelectedTemplate.template
                    "
                    class="preview-thumbnail"
                    :key="componentKey"
                  >
                  </component>
                </div>
                <div
                  v-else
                  :style="
                    'background-image: url(' +
                    (getSelectedTemplate && getSelectedTemplate.background
                      ? getSelectedTemplate.background
                      : '') +
                    ')'
                  "
                  class="template-thumbnail"
                ></div> -->
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".625"></ion-progress-bar>
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center ion-margin-start ion-margin-end ion-margin-top ion-margin-bottom" style="font-size: 3rem">
          <ion-col><ion-icon id="phone_icon" :src="phone_icon" @click="selectContact" class="glowing-border-round-base"></ion-icon></ion-col>
          <ion-col><ion-icon id="sms_icon" :src="sms_icon" @click="selectContact" class="glowing-border-round-base"></ion-icon></ion-col>
          <ion-col><ion-icon id="gram_icon" :src="gram_icon" @click="selectContact" class="glowing-border-round-base"></ion-icon></ion-col>
          <ion-col><ion-icon id="ws_icon" :src="ws_icon" @click="selectContact" class="glowing-border-round-base"></ion-icon></ion-col>
        </ion-row>
        <ion-row class="ion-text-center ion-margin-start ion-margin-end ion-margin-bottom" style="font-size: 3rem">
          <ion-col><ion-icon id="web_icon" :src="web_icon" @click="selectContact"></ion-icon></ion-col>
          <ion-col><ion-icon id="mail_icon" :src="mail_icon" @click="selectContact"></ion-icon></ion-col>
          <ion-col><ion-icon id="fb_msn_icon" :src="fb_msn_icon" @click="selectContact"></ion-icon></ion-col>
          <ion-col><ion-icon id="we_chat_icon" :src="we_chat_icon" @click="selectContact"></ion-icon></ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12" style="margin-bottom: 0.4rem;">
            <div v-if="contacts.filter(el => el.visible && el.type == 'phone').length > 0" class="ion-margin-start ion-margin-end">
                <MazPhoneNumberInput
                  show-code-on-list
                  color="info"
                  :preferred-countries="['VE', 'US']"
                  :translations="{
                    countrySelector: {
                      placeholder: 'País',
                      error: 'Elige el país',
                    },
                  }"
                  :default-country-code="getUser.profile.countryCode"
                  :default-phone-number="getUser.profile.nationalNumber"
                  @keypress="validatePhoneKey($event)"
                  @update="updatePhoneNumber"
                />
              </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="10">
            <ion-list
              class="register-list"
            >
              <ion-item v-for="contact in contacts.filter(el => el.visible)" :key="contact.icon" class="ion-margin-bottom ion-margin-start register-list-item-left"
                style="--padding-start: 0.5rem;"
              >
                <ion-label
                  position="stacked"
                  :style="
                    contact && contact.value && contact.value.length
                      ? 'visibility:unset; padding-left: 0.7rem;'
                      : 'visibility:hidden'
                  "
                  >{{contact.placeholder}}</ion-label
                >
                
                <img :src="'assets/icon/contact/' + contact.id + (getUser.profile.contact_icon_family ? getUser.profile.contact_icon_family : getSelectedTemplate.default_contact_icon_family) + '.svg'" :style="'max-height: 2rem; margin-right: 0; filter:' + fillToFilter('#808080') + ';'" slot="start"/>
                
                <ion-input
                  role="presentation"
                  autocomplete="off"
                  v-model="contact.value"
                  @ionBlur="checkStatus"
                  @keypress="contact.type == 'phone' ? validatePhoneKey($event) : validateEmailKey($event)"
                  :placeholder="contact.placeholder"
                  :style="((contact.value && contact.value.length) ? 'margin-top: -0.5rem; --placeholder-opacity: 1; margin-left: 1rem' : 'margin-top:-1rem; --placeholder-opacity: 1;')"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="2">
            <ion-list class="register-list">
              <div v-for="contact in contacts.filter(el => el.visible)" :key="contact.icon"
                class="
                  register-list-item-right ion-margin-end ion-justify-content-center ion-margin-bottom
                ">
                <ion-icon
                  :id="'close' + contact.id"
                  :icon="closeOutline"
                  style="font-size: 2rem; margin-right: 0px;"
                  @click="deselectContact"
                ></ion-icon>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="cancel-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
              @click="reset()"
            >
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="validateContinue('glopcard-social-networks-step')"
            >
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 16vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonInput,
  onIonViewDidEnter,
  IonProgressBar,
  IonThumbnail,
  IonLabel,
  alertController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";

import { hexToCSSFilter } from 'hex-to-css-filter';

import { Storage } from "@ionic/storage";
const storage = new Storage();

import {
  closeOutline,
} from "ionicons/icons";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

export default defineComponent({
  name: "GlopcardContactInformationStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    Swiper,
    SwiperSlide,
    IonInput,
    IonProgressBar,
    IonThumbnail,
    IonLabel,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";
    const check = "assets/icon/check-icon.svg";

    const phone_icon = "assets/icon/contact/phone_icon.svg";
    const sms_icon = "assets/icon/contact/sms_icon.svg";
    const gram_icon = "assets/icon/contact/gram_icon.svg";
    const ws_icon = "assets/icon/contact/ws_icon.svg";
    const web_icon = "assets/icon/contact/web_icon.svg";
    const mail_icon = "assets/icon/contact/mail_icon.svg";
    const fb_msn_icon = "assets/icon/contact/fb_msn_icon.svg";
    const we_chat_icon = "assets/icon/contact/we_chat_icon.svg";

    const store = useStore();

    const defaultContacts = [
      {
        id: 'phone_icon',
        placeholder: 'Teléfono',
        icon: phone_icon,
        value: '',
        visible: false,
        href: 'tel:',
        type: 'phone'
      },
      {
        id: 'sms_icon',
        placeholder: 'Número para mensaje de texto',
        icon: sms_icon,
        value: '',
        visible: false,
        href: 'sms:',
        type: 'phone'
      },
      {
        id: 'gram_icon',
        placeholder: 'Telegram',
        icon: gram_icon,
        value: '',
        visible: false,
        type: 'phone'
      },
      {
        id: 'ws_icon',
        placeholder: 'Whatsapp',
        icon: ws_icon,
        value: '',
        visible: false,
        href: 'https://wa.me/',
        type: 'phone'
      },
      {
        id: 'web_icon',
        placeholder: 'Sitio web',
        icon: web_icon,
        value: '',
        visible: false,
        href: 'https://',
        type: 'url'
      },
      {
        id: 'mail_icon',
        placeholder: 'Correo electrónico',
        icon: mail_icon,
        value: '',
        visible: false,
        href: 'mailto:',
        type: 'email'
      },
      {
        id: 'fb_msn_icon',
        placeholder: 'Facebook messenger',
        icon: fb_msn_icon,
        value: '',
        visible: false
      },
      {
        id: 'we_chat_icon',
        placeholder: 'WeChat',
        icon: we_chat_icon,
        value: '',
        visible: false,
        type: 'phone'
      },

    ];

    const contacts = reactive(store.getters.getUser.profile.contacts ? store.getters.getUser.profile.contacts : defaultContacts);

    const customTemplate = reactive({});

    const router = useRouter();

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;

      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status && contacts && contacts.filter(el => (el.visible)).length > 0 && contacts.filter(el => (el.visible)).every(it => it.value && it.value.length > 0)) {
        glopcard.status = 'in_progress';
        glopcard.last_step = route;

        glopcard.contacts = contacts;

        save(glopcard);

        router.push(route);
      } else {
        let subHeader = '';
        let message = "Antes de continuar, necesitas cargar al menos un contacto";
        if (contacts.filter(el => (el.visible)).length > 1) {
          subHeader = "Necesitas vincular la informacion de contacto al icono seleccionado";
          message = "Ingresa la informacion necesaria para asociar tu contacto a los iconos correspondientes o presiona X para eliminarlo.";
        }
        const alert = await alertController.create({
          header: "Alerta",
          subHeader: subHeader,
          message: message,
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const reset = async () => {
			const alert = await alertController.create({
				header: "Alerta",
				subHeader:
					"Perderás los cambios realizados",
				message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
				buttons: [
					{
						text: "CANCELAR",
						role: "cancel",
					},
					{
						text: 'OK',
						role: 'confirm',
						handler: () => {
							let glopcard = store.getters.getUser.profile;

              contacts.map((el) => {
                  if (document.getElementById(el.id).classList.contains('glowing-border-round')){
                    document.getElementById(el.id).classList.toggle('glowing-border-round');
                  }
                  el.visible = false;
              });
              
              Object.assign(contacts, defaultContacts);
              glopcard.contacts = contacts.value;

							save(glopcard);
						}
					}
				],
			});
			await alert.present();
		};

    const save = async (glopcard = null) => {
			let user = store.getters.getUser;

			if (glopcard) {
				user.profile = glopcard;
			}

			store.commit("setUser", user);
			await storage.create();

			console.log('From professional:', glopcard);
			await storage.set("user", JSON.parse(JSON.stringify(user)));
		};

    onIonViewDidEnter(() => {
      contacts.forEach(element => {
        if (element.visible) {
          let el = document.getElementById(element.id);
          if (!el.classList.contains('glowing-border-round')){
            document.getElementById(element.id).classList.add('glowing-border-round');
          }
        }
      });
    });

    return {
      logo,
      check,
      expand,
      phone_icon,
      sms_icon,
      gram_icon,
      ws_icon,
      web_icon,
      mail_icon,
      fb_msn_icon,
      we_chat_icon,
      contacts,
      closeOutline,
      customTemplate,
      save,
      validateContinue,
      reset,
      defaultContacts
    };
  },
  data() {
    return {
      timer: null,
      componentKey: 0,
    };
  },
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  },
  methods: {
    fillToFilter(fill){
      fill = fill.slice(0, 7);
      return hexToCSSFilter(fill).filter;
    },

    checkStatus(ev){
      if (ev.target.value && ev.target.value.length > 0){
        ev.target.style.color = '#414243';
      } else {
        ev.target.style.color = 'red';
      }
    },

    async selectContact(event){
      let arrContacts = [];

      if (event.target.id.indexOf('close') >= 0){
        document.getElementById((event.target.id).replace('close', '')).classList.toggle('glowing-border-round');

        arrContacts = this.contacts.map((el) => {
        if (el.id == (event.target.id).replace('close', '')){
          el.visible = !el.visible;
        }
          return el;
        });
      } else {

        if (this.contacts.filter(el => el.visible).length >= this.getSelectedTemplate.max_contacts){
          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Has superado el límite de contactos",
            message: 'Para agregar otro, elimina uno de los existentes, o busca una plantilla que se adapte a tu necesidad. Si necesitas ayuda, comunícate con nuestro equipo de soporte glopcare.',
            buttons: ["OK"],
          });
          await alert.present();
          return;
        }

        arrContacts = this.contacts.map((el) => {
          if (el.id == event.target.id) {
            if (!el.visible) {
              event.target.classList.toggle('glowing-border-round');
              el.visible = true;
            }
          }

          return el;
        });
      }

      Object.assign(this.contacts, arrContacts);

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.contacts = this.contacts;

      this.save(glopcard);
    },

    async deselectContact(event){
      let arrContacts = [];

      if (event.target.id.indexOf('close') >= 0){
        document.getElementById((event.target.id).replace('close', '')).classList.toggle('glowing-border-round');

        arrContacts = this.contacts.map((el) => {
        if (el.id == (event.target.id).replace('close', '')){
          el.visible = !el.visible;
        }
          return el;
        });
      } else {

        arrContacts = this.contacts.map((el) => {
          if (el.id == event.target.id){
            if (el.visible){
              event.target.classList.toggle('glowing-border-round');
              el.visible = false;
            }
          }
          return el;
        });
      }

      Object.assign(this.contacts, arrContacts);

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.contacts = this.contacts;

      this.save(glopcard);
    },

    updateNumbers(number){

      let arrContacts = this.contacts.map((contact) => {
         if (contact.type == 'phone'){
          contact.value = number
         }
         return contact;
      });

      Object.assign(this.contacts, arrContacts);
    },

    updatePhoneNumber(code){
      
      if(this.timer){
        clearTimeout(this.timer);
      }

      let updatePhoneNumberFn = (code) => {

        if (!code.countryCode || !code.nationalNumber) {
          this.updateNumbers('');
        } else {
          console.log(code);
          this.updateNumbers(code.e164);
        }

        let glopcard = this.$store.getters.getUser.profile;
        glopcard.countryCode = code.countryCode;
        glopcard.nationalNumber = code.nationalNumber;

        this.save(glopcard);
      }

      this.timer = setTimeout(updatePhoneNumberFn, 200, code);
    },

    validateEmailKey(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[a-z0-9@.]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    validatePhoneKey(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[0-9+]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
ion-select::part(icon) {
  display: none !important;
}
</style>