<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background" id="main-content">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Ajusta</span><br />
                <span class="hello-sub-title">tu plantilla</span><br />
                <br />
                <span class="hello-sub-title-small">Sino deseas</span><br />
                <span class="hello-sub-title-small">realizar cambios</span><br />
                <span class="hello-sub-title-small">presiona</span><br />
                <span class="hello-sub-title-small"><u>CONTINUAR</u></span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper :slides-per-view="1" :loop="true" id="swiper" :allowSlideNext="false" :allowSlidePrev="false"
              class="swiper-marco">
              <swiper-slide @click="$router.push('preview')">
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview" name="preview"
                      :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                      class="preview-thumbnail" :key="componentKey"></component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".5"></ion-progress-bar>
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12" class="ion-margin-start ion-margin-end">
            <div>
              <p class="
                    small-text ion-margin-end ion-margin-bottom
                    link-text
                  " @click="selectExploreImage">
                Seleccionar Imagen de Fondo
              </p>
            </div>
            <input type="file" name="image_input" ref="exploreImageInput" accept="image/*" @change="setExploreImage()"
              style="display: none" />
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-list class="ion-margin-start register-list ion-margin-end">
              <ion-item class="register-list-item ion-margin-start ion-margin-end">
                <ion-label position="stacked"
                  :style="'visibility:unset; padding-left: 16px; padding-top: 4px;'">Separación vertical {{ verticalSpace
                  }}%</ion-label>
                <ion-range class="ion-no-padding ion-padding-start ion-padding-end" v-model="verticalSpace"></ion-range>
              </ion-item>
            </ion-list>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="9.5">
            <ion-list class="ion-margin-start register-list">
              <ion-item class="register-list-item-left ion-margin-start ion-margin-bottom">
                <ion-label position="stacked" :style="
                  textTop && textTop.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Texto Superior</ion-label>
                <ion-icon :icon="textTopLink ? linkOutline : unlinkOutline" slot="end" class="ion-margin-end" @click="presentAlert('top')"></ion-icon>
                <ion-input style="--placeholder-opacity: 1; font-size: 0.9rem;" v-model="textTop"
                  placeholder="Texto Superior"
                  :style="((textTop && textTop.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')"
                  @ionBlur="saveState"></ion-input>
              </ion-item>

              <ion-item class="register-list-item-left ion-margin-start">
                <ion-label position="stacked" :style="
                  textBottom && textBottom.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Texto Inferior</ion-label>
                <ion-icon :icon="textBottomLink ? linkOutline : unlinkOutline" slot="end" class="ion-margin-end" @click="presentAlert('bottom')"></ion-icon>
                <ion-input style="--placeholder-opacity: 1; font-size: 0.9rem;" v-model="textBottom"
                  placeholder="Texto Inferior"
                  :style="((textBottom && textBottom.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')"
                  @ionBlur="saveState"></ion-input>
              </ion-item>


            </ion-list>
          </ion-col>

          <ion-col size="2.5">
            <ion-list class="register-list ion-margin-end" style="padding-left: 0.2rem">
              <div
                class="register-list-item-right list-item-color-picker ion-margin-end ion-justify-content-center ion-margin-bottom"
                id="textTopBackgroundId">
                <LvColorpicker v-model="textTopBackground" :withoutInput="true" id="textTopBackground"
                  :value="textTopBackground" :key="componentKey" @click="saveState" :colors="colorPalette" />
              </div>

              <div class="register-list-item-right list-item-color-picker ion-margin-end ion-justify-content-center"
                id="textBottomBackgroundId">
                <LvColorpicker v-model="textBottomBackground" :withoutInput="true" id="textBottomBackground"
                  :value="textBottomBackground" :key="componentKey" @click="saveState" :colors="colorPalette" />
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6.1">
            <ion-list class="ion-margin-start register-list">
              <ion-item class="register-list-item-left ion-margin-start ion-margin-bottom">
                <ion-label position="stacked" :style="
                  topFontFamily && topFontFamily.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Texto Superior</ion-label>
                <ion-input :value="topFontFamily" placeholder="Texto Superior" type="text" :style="
                  topFontFamily && topFontFamily.length
                    ? 'margin-top: -0.5rem'
                    : 'margin-top:-1rem'
                " :readonly="true"></ion-input>
                <ion-select style="--placeholder-opacity: 1; --padding-end: 0px;" placeholder="Texto Superior"
                  :interface-options="fontTopOptions" ref="refTopFontFamily" hidden
                  @ionChange="updateChosenFontFamily('refTopFontFamily', 'refTopFontSize')" @ionDismiss="saveState"
                  cancel-text="Cancelar" :value="topFontFamily">
                  <ion-select-option v-for="font in fonts" :key="font.family" :value="font.family"
                    :class="font.family.replaceAll(' ', '-')">{{ font.family }}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="register-list-item-left ion-margin-start ion-margin-bottom">
                <ion-label position="stacked" :style="
                  bottomFontFamily && bottomFontFamily.length
                    ? 'visibility:unset; padding-left: 4px;'
                    : 'visibility:hidden'
                ">Texto Inferior</ion-label>
                <ion-input :value="bottomFontFamily" placeholder="Texto Inferior" type="text" :style="
                  bottomFontFamily && bottomFontFamily.length
                    ? 'margin-top: -0.5rem'
                    : 'margin-top:-1rem'
                " :readonly="true"></ion-input>
                <ion-select style="--placeholder-opacity: 1;" placeholder="Texto Inferior"
                  :interface-options="fontBottomOptions" ref="refBottomFontFamily" hidden
                  @ionChange="updateChosenFontFamily('refBottomFontFamily', 'refBottomFontSize')" cancel-text="Cancelar"
                  @ionDismiss="saveState" :value="bottomFontFamily">
                  <ion-select-option v-for="font in fonts" :key="font.family" :value="font.family"
                    :class="font.family.replaceAll(' ', '-')">{{ font.family }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="1.7" style="padding-left: 0.1rem">
            <ion-list class="register-list">
              <div class="
                    register-list-item-span-no
                    ion-margin-bottom ion-justify-content-center">
                <ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refTopFontFamily.$el.open()"></ion-icon>
              </div>
              <div class="
                    register-list-item-span-no
                    ion-margin-bottom ion-justify-content-center">
                <ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
                  @click="$refs.refBottomFontFamily.$el.open()"></ion-icon>
              </div>
            </ion-list>
          </ion-col>

          <ion-col size="1.7">
            <ion-list class="register-list">
              <div class="
                    register-list-item-span
                    ion-margin-bottom ion-justify-content-center
                  " @click="$refs.refTopFontSize.$el.open()">
                Aa
              </div>
              <ion-select :interface-options="fontTopOptions" ref="refTopFontSize" hidden :value="topFontSize"
                @ionChange="updateChosenFontSize('refTopFontSize')" @ionDismiss="saveState" cancel-text="Cancelar">
                <ion-select-option v-for="font in fontSizes" :key="font.value" :value="font.value">{{
                  font.label
                }}
                </ion-select-option>
              </ion-select>
              <div class="
                    register-list-item-span
                    ion-margin-bottom ion-justify-content-center
                  " @click="$refs.refBottomFontSize.$el.open()">
                Aa
              </div>
              <ion-select :interface-options="fontBottomOptions" ref="refBottomFontSize" hidden :value="bottomFontSize"
                @ionChange="updateChosenFontSize('refBottomFontSize')" @ionDismiss="saveState" cancel-text="Cancelar">
                <ion-select-option v-for="font in fontSizes" :key="font.value" :value="font.value">{{
                  font.label
                }}
                </ion-select-option>
              </ion-select>
            </ion-list>
          </ion-col>

          <ion-col size="2.5" style="padding-left: 0.1rem">
            <ion-list class="register-list ion-margin-end">
              <div class="
                    register-list-item-right
                    list-item-color-picker
                    ion-margin-bottom ion-margin-end ion-justify-content-center
                  " id="fontNameColorId" @click="saveState">
                <LvColorpicker v-model="topTextColor" :withoutInput="true" id="fontTopColor" :value="topTextColor"
                  :key="componentKey" @click="saveState" :colors="colorPalette" />
              </div>
              <div class="
                    register-list-item-right
                    list-item-color-picker
                    ion-margin-bottom ion-margin-end ion-justify-content-center
                  " id="fontProfessionColorId" @click="saveState">
                <LvColorpicker v-model="bottomTextColor" :withoutInput="true" id="fontBottomColor"
                  :value="bottomTextColor" :key="componentKey" @click="saveState" :colors="colorPalette" />
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div class="cancel-button ion-margin-start ion-margin-top" style="margin-right: 4px" @click="reset()">
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="continue-button ion-margin-end ion-margin-top" style="margin-left: 4px"
              @click="validateContinue('glopcard-contact-information-step')">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonModal,
  IonSelect,
  IonSelectOption,
  onIonViewDidEnter,
  IonThumbnail,
  IonProgressBar,
  IonInput,
  IonLabel,
  IonRange,
  alertController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";
import axios from "axios";

import { Storage } from "@ionic/storage";
const storage = new Storage();

import { load } from "google-fonts-loader";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

import { colorPaletteOutline, caretDownOutline, timerOutline, linkOutline, unlinkOutline } from "ionicons/icons";

export default defineComponent({
  name: "GlopcardCustomCardStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    IonModal,
    Swiper,
    SwiperSlide,
    IonSelect,
    IonSelectOption,
    IonThumbnail,
    IonProgressBar,
    IonInput,
    IonLabel,
    IonRange,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005,
  },
  setup() {
    const componentKey = ref(0);
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";

    const router = useRouter();
    const fonts = reactive([]);
    const fontsLimited = reactive([]);
    const customTemplate = reactive({});

    const store = useStore();

    const justEntered = ref(false);

    const topFontSize = ref(store.getters.getUser.profile.selected_template.specialStyle.templateServicesTop.aux_fontSize);
    const topFontFamily = ref(store.getters.getUser.profile.selected_template.specialStyle.templateServicesTop.fontFamily);
    const fontTopOptions = {
      header: "Fuente Texto Superior",
      cssClass: "customFontName",
    };

    const bottomFontSize = ref(store.getters.getUser.profile.selected_template.specialStyle.templateServicesBottom.aux_fontSize);
    const bottomFontFamily = ref(store.getters.getUser.profile.selected_template.specialStyle.templateServicesBottom.fontFamily);
    const fontBottomOptions = {
      header: "Fuente Texto Inferior",
      cssClass: "customFontName",
    };

    const fontSizes = [
      { value: "medium", label: "Pequeña" },
      { value: "large", label: "Normal" },
      { value: "x-large", label: "Grande" },
      { value: "xx-large", label: "Muy Grande" },
      { value: "xxx-large", label: "Extra Grande" },
    ];

    const fontSizesLimited = [
      { value: "medium", label: "Pequeña" },
      { value: "large", label: "Normal" },
      { value: "x-large", label: "Grande" },
    ];

    const check = "assets/icon/check-icon.svg";

    const selectedTemplate = ref(null);

    const showBackgroundImageModal = ref(false);

    const setBackgroundImageModalOpen = (state) =>
      (showBackgroundImageModal.value = state);

    const profile_image_file = ref(null);

    const bottomTextColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesTop.color : '');
    const topTextColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesBottom.color : '');

    const textTop = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesTop.text : '');
    const textBottom = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesBottom.text : '');

    const textTopBackground = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesTop.backgroundColorGradient : '');
    const textBottomBackground = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesBottom.backgroundColorGradient : '');

    const textTopLink = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesTop.textLink : '');
    const textBottomLink = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.specialStyle.templateServicesBottom.textLink : '');

    const verticalSpace = ref(store.getters.getUser.profile.selected_template.specialStyle ? (store.getters.getUser.profile.selected_template.specialStyle.templateVerticalSpacer.height).match(/\d+/)[0] : 0);

    const filterFonts = [
      {
        name: "Courgette",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },
      {
        name: "Modak",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },
      {
        name: "Oswald",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },
      {
        name: "Kaushan Script",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },
      {
        name: "Kurale",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },
      {
        name: "Yanone Kaffeesatz",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },
      {
        name: "Yatra One",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },

      {
        name: "Abril Fatface",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },
      {
        name: "Anton",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },
      {
        name: "Cinzel",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },
      {
        name: "Chonburi",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },
      {
        name: "Lemonada",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },
      {
        name: "Limelight",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },
      {
        name: "Playfair",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },
      {
        name: "Roboto",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },

      {
        name: "Carter One",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Jura",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Montserrat",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Open Sans",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Questrial",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Sansita",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Alegreya",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },



      {
        name: "Dancing Script",
        medium: '25px',
        large: '30px',
        'x-large': '35px',
        'xx-large': '40px',
        'xxx-large': '45px',
      },
      {
        name: "Great Vibes",
        medium: '25px',
        large: '30px',
        'x-large': '35px',
        'xx-large': '40px',
        'xxx-large': '45px',
      },
      {
        name: "Kalam",
        medium: '25px',
        large: '30px',
        'x-large': '35px',
        'xx-large': '40px',
        'xxx-large': '45px',
      },
      {
        name: "League Gothic",
        medium: '25px',
        large: '30px',
        'x-large': '35px',
        'xx-large': '40px',
        'xxx-large': '45px',
      },
      {
        name: "Medula One",
        medium: '25px',
        large: '30px',
        'x-large': '35px',
        'xx-large': '40px',
        'xxx-large': '45px',
      },
      {
        name: "Shadows Into Light",
        medium: '25px',
        large: '30px',
        'x-large': '35px',
        'xx-large': '40px',
        'xxx-large': '45px',
      },



      {
        name: "Allura",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Mirza",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Mr Dafoe",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Oregano",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Pompiere",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Satisfy",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Yellowtail",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Caveat",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },
      {
        name: "Sacramento",
        medium: '30px',
        large: '35px',
        'x-large': '40px',
        'xx-large': '45px',
        'xxx-large': '50px',
      },

      {
        name: "Tangerine",
        medium: '35px',
        large: '40px',
        'x-large': '45px',
        'xx-large': '55px',
        'xxx-large': '65px',
      },
    ];

    const filterFontsLimited = [

      {
        name: "Anton",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },

      {
        name: "Roboto",
        medium: '18px',
        large: '21px',
        'x-large': '24px',
        'xx-large': '28px',
        'xxx-large': '32px',
      },


      {
        name: "Questrial",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Sansita",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },
      {
        name: "Alegreya",
        medium: '18px',
        large: '24px',
        'x-large': '28px',
        'xx-large': '32px',
        'xxx-large': '35px',
      },

      {
        name: "Yanone Kaffeesatz",
        medium: '20px',
        large: '25px',
        'x-large': '30px',
        'xx-large': '35px',
        'xxx-large': '40px',
      },

    ];

    onIonViewDidEnter(() => {


      axios
        .get(
          "https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyDxIs_FJ28Y0plYbrrX6I2H63_-9QJmFQI"
        )
        .then((response) => {
          // console.log(response.data);
          response.data.items.forEach((item) => {
            if (
              filterFonts.find((el) => {
                return el.name.includes(item.family) ? true : false;
              })
            ) {
              fonts.push(item);

              const style = document.createElement("style");
              style.type = "text/css";
              const css =
                "." +
                item.family.replaceAll(" ", "-") +
                '{font-family:"' +
                item.family +
                // (filterFontsLarge.includes(item.family) ? '"; font-size: x-large !important' : '')
                '"}';
              style.appendChild(document.createTextNode(css));
              var head =
                document.head || document.getElementsByTagName("head")[0];
              head.appendChild(style);
              load([{ family: item.family }]);
            }

            if (
              filterFontsLimited.find((el) => {
                return el.name.includes(item.family) ? true : false;
              })
            ) {
              fontsLimited.push(item);
            }
          });
        })
        .catch()
        .finally();

      justEntered.value = true;

      saveState(null, true);
    });

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;

      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status) {
        glopcard.status = 'in_progress';
        glopcard.last_step = route;

        // Modify only if there were changes
        if (Object.keys(customTemplate).length > 0) {
          glopcard.selected_template = customTemplate;
        }

        save(glopcard);

        router.push(route);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "",
          message: "Antes de continuar, necesitas cargar las imágenes de tu perfil",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const reset = async () => {
      const alert = await alertController.create({
        header: "Alerta",
        subHeader:
          "Perderás los cambios realizados",
        message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
        buttons: [
          {
            text: "CANCELAR",
            role: "cancel",
          },
          {
            text: 'OK',
            role: 'confirm',
            handler: () => {
              let glopcard = store.getters.getUser.profile;

              // TopText
              glopcard.selected_template.specialStyle.templateServicesTop.color = glopcard.selected_template.specialStyle.templateServicesTop.default_color;
              topTextColor.value = glopcard.selected_template.specialStyle.templateServicesTop.color;

              glopcard.selected_template.specialStyle.templateServicesTop.fontFamily = glopcard.selected_template.specialStyle.templateServicesTop.default_fontFamily;
              topFontFamily.value = glopcard.selected_template.specialStyle.templateServicesTop.default_fontFamily;

              glopcard.selected_template.specialStyle.templateServicesTop.fontSize = glopcard.selected_template.specialStyle.templateServicesTop.default_fontSize;
              topFontSize.value = glopcard.selected_template.specialStyle.templateServicesTop.default_fontSize;


              // BottomText
              glopcard.selected_template.specialStyle.templateServicesBottom.color = glopcard.selected_template.specialStyle.templateServicesBottom.default_color;
              bottomTextColor.value = glopcard.selected_template.specialStyle.templateServicesBottom.color;

              glopcard.selected_template.specialStyle.templateServicesBottom.fontFamily = glopcard.selected_template.specialStyle.templateServicesBottom.default_fontFamily;
              bottomFontFamily.value = glopcard.selected_template.specialStyle.templateServicesBottom.default_fontFamily;

              glopcard.selected_template.specialStyle.templateServicesBottom.fontSize = glopcard.selected_template.specialStyle.templateServicesBottom.default_fontSize;
              bottomFontSize.value = glopcard.selected_template.specialStyle.templateServicesBottom.default_fontSize;

              componentKey.value++;

              save(glopcard);
            }
          }
        ],
      });
      await alert.present();
    };

    const previousState = ref(null);

    const colorPalette = reactive([
      "#000000",
      "#858585",
      "#FFFFFF",
      "#DE0050",
      "#9C27B0",
      "#00BCD4",
      "#4CAF50",
      "#FFC107"
    ]);

    const saveState = (ev, setInitial) => {

      let user = store.getters.getUser;
      user.timestamp = Date.now();
      let toPush = JSON.stringify(user);

      if (setInitial || previousState.value == null) {
        previousState.value = toPush;
      } else {
        if (previousState.value != toPush) {
          console.info('User state changed. Pushing to undo Stack');
          previousState.value = toPush;
        }
      }
    }

    const save = async (glopcard = null) => {
      let user = store.getters.getUser;

      if (glopcard) {
        user.profile = glopcard;
      }

      store.commit("setUser", user);
      await storage.create();

      console.log('From professional:', glopcard);
      await storage.set("user", JSON.parse(JSON.stringify(user)));
    };

    const checkPalette = (color) => {
      if (!colorPalette.includes(color)) {
        colorPalette.value = colorPalette.splice(3, 1);
        colorPalette.push(color);
        store.commit('setColorPalette', colorPalette)
      }
    };

    const selectExploreImage = async (ev) => {
      ev.stopPropagation();
      exploreImageInput.value.click();
    }

    const exploreImageInput = ref(null);


    const presentAlert = async (section) => {
      const alert = await alertController.create({
        header: 'Inserta el enlace para el texto ' + (section == 'top' ? 'superior' : 'inferior'),
        inputs: [
          {
            name: 'link',
            type: 'textarea',
            placeholder: 'Enlace',
          },
        ],
        buttons: [
          {
            text: "OK",
            role: "confirm",
            handler: (e) => {
              switch (section){
                case 'top':
                  textTopLink.value = e.link;
                  break;
                case 'bottom':
                  textBottomLink.value = e.link;
                  break;
              }
            },
          },
          {
            text: "CANCELAR",
            role: "Cancel",
          },
        ],
      });

      await alert.present();
    };


    return {
      logo,
      check,
      expand,
      selectedTemplate,
      fonts,
      fontsLimited,
      fontTopOptions,
      fontBottomOptions,
      showBackgroundImageModal,
      colorPaletteOutline,
      caretDownOutline,
      fontSizes,
      setBackgroundImageModalOpen,
      bottomFontSize,
      topFontSize,
      customTemplate,
      topFontFamily,
      bottomFontFamily,
      bottomTextColor,
      topTextColor,
      validateContinue,
      save,
      reset,
      componentKey,
      previousState,
      saveState,
      filterFonts,
      justEntered,
      timerOutline,
      colorPalette,
      checkPalette,
      fontSizesLimited,
      filterFontsLimited,
      verticalSpace,
      textTop,
      textBottom,
      textTopBackground,
      textBottomBackground,
      exploreImageInput,
      selectExploreImage,
      linkOutline,
      unlinkOutline,
      presentAlert,
      textTopLink,
      textBottomLink
    };
  },
  data: () => ({
    timer: null,
    timerTopColor: null,
    timerBottomColor: null,
    timerTopBackground: null,
    timerBottomBackground: null
  }),
  watch: {

    async textTopBackground(newColor, oldColor) {
      if (newColor != oldColor) {
        if (this.timerTopBackground) {
          clearTimeout(this.timerTopBackground);
        }

        let textTopBackgroundFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesTop.backgroundColorGradient = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          this.save(glopcard);
        }

        this.timerTopBackground = setTimeout(textTopBackgroundFn, 100);
      }
    },

    async textBottomBackground(newColor, oldColor) {
      if (newColor != oldColor) {
        if (this.timerBottomBackground) {
          clearTimeout(this.timerBottomBackground);
        }

        let textBottomBackgroundFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesBottom.backgroundColorGradient = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          this.save(glopcard);
        }

        this.timerBottomBackground = setTimeout(textBottomBackgroundFn, 100);
      }
    },

    async bottomTextColor(newColor, oldColor) {
      if (newColor != oldColor) {
        if (this.timerBottomColor) {
          clearTimeout(this.timerBottomColor);
        }

        let textBottomColorFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesBottom.color = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing other colors too...');
            this.topTextColor = this.bottomTextColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timerBottomColor = setTimeout(textBottomColorFn, 100);
      }
    },

    async topTextColor(newColor, oldColor) {
      if (newColor != oldColor) {
        if (this.timerTopColor) {
          clearTimeout(this.timerTopColor);
        }

        let textTopColorFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesTop.color = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing other colors too...');
            this.bottomTextColor = this.topTextColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timerTopColor = setTimeout(textTopColorFn, 100);
      }
    },

    async verticalSpace(newSpace, oldSpace) {
      if (newSpace != oldSpace) {
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let verticalSpacerFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateVerticalSpacer.height = newSpace/2 + 'vh';

          console.log(customSelectedTemplate.specialStyle.templateVerticalSpacer.height);

          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.save(glopcard);
        }

        this.timer = setTimeout(verticalSpacerFn, 100);
      }
    },

    async textTop(newText, oldText) {
      if (newText != oldText) {
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let textTopFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesTop.text = newText;

          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.save(glopcard);
        }

        this.timer = setTimeout(textTopFn, 100);
      }
    },

    async textBottom(newText, oldText) {
      if (newText != oldText) {
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let textTopFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesBottom.text = newText;

          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.save(glopcard);
        }

        this.timer = setTimeout(textTopFn, 100);
      }
    },

    async textTopLink(newText, oldText) {
      if (newText != oldText) {
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let textTopLinkFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesTop.textLink = newText;

          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.save(glopcard);
        }

        this.timer = setTimeout(textTopLinkFn, 100);
      }
    },

    async textBottomLink(newText, oldText) {
      if (newText != oldText) {
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let textBottomLinkFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.specialStyle.templateServicesBottom.textLink = newText;

          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;
          glopcard.selected_template = customSelectedTemplate;

          this.save(glopcard);
        }

        this.timer = setTimeout(textBottomLinkFn, 100);
      }
    },

  },
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  },
  methods: {
    setExploreImage(index) {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        console.log('Loaded image', e.target.result);

        var customSelectedTemplate = this.getSelectedTemplate;
        customSelectedTemplate.style.flexStack.background = 'url("' + e.target.result + '")';

        let glopcard = this.$store.getters.getUser.profile;
        glopcard.selected_template = customSelectedTemplate;
        this.save(glopcard);
      };

      reader.readAsDataURL(event.target.files[0]);
      event.target.value = null;
    },

    updateChosenFontSize(element) {
      console.log(this.$refs[element].$el.value);

      var customSelectedTemplate = this.getSelectedTemplate;

      var el = this.$refs[element].$el.value;

      var size = el;

      switch (element) {
        case 'refTopFontSize':
          size = this.filterFonts.find(({ name }) => name == this.topFontFamily);
          this.topFontSize = el;
          customSelectedTemplate.specialStyle.templateServicesTop.fontSize = size[el] ? size[el] : el;
          customSelectedTemplate.specialStyle.templateServicesTop.aux_fontSize = el;
          break;
        case 'refBottomFontSize':
          size = this.filterFonts.find(({ name }) => name == this.bottomFontFamily);
          this.bottomFontSize = el;
          customSelectedTemplate.specialStyle.templateServicesBottom.fontSize = size[el] ? size[el] : el;
          customSelectedTemplate.specialStyle.templateServicesBottom.aux_fontSize = el;
          break;
      }

      this.$store.commit('setSelectedTemplate', customSelectedTemplate);
      Object.assign(this.customTemplate, customSelectedTemplate);

      let glopcard = this.$store.getters.getUser.profile;
      glopcard.selected_template = customSelectedTemplate;
      this.save(glopcard);
    },

    updateChosenFontFamily(element, size = null) {
      var customSelectedTemplate = this.getSelectedTemplate;

      var el = this.$refs[element].$el.value;

      switch (element) {
        case 'refTopFontFamily':
          this.topFontFamily = el;
          customSelectedTemplate.specialStyle.templateServicesTop.fontFamily = el;
          break;
        case 'refBottomFontFamily':
          this.bottomFontFamily = el;
          customSelectedTemplate.specialStyle.templateServicesBottom.fontFamily = el;
          break;
      }

      if (size) {
        this.updateChosenFontSize(size);
      } else {
        this.$store.commit('setSelectedTemplate', customSelectedTemplate);
        Object.assign(this.customTemplate, customSelectedTemplate);

        let glopcard = this.$store.getters.getUser.profile;
        glopcard.selected_template = customSelectedTemplate;
        this.save(glopcard);
      }
    },

  },
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped>
.picture-sub-title {
  width: 74px;
  height: 43px;
  left: 72px;
  top: 599px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;

  color: #ffffff;
}

.vc-colorpicker {
  margin: 0 auto !important;
}

.vc-colorpicker--container {
  padding: 1px !important;
}
</style>

<style lang="scss">
.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;

  &__handler {
    position: absolute;
    right: 15%;
    top: 14%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }

  &__preview {
    border-radius: 50%;
    overflow: hidden;
  }
}
</style>

<style scoped>
ion-select::part(icon) {
  display: none !important;
}
</style>