<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Elige</span><br />
                <span class="hello-sub-title">el tipo y color</span><br />
                <span class="hello-sub-title">de íconos</span><br />
                <br />
                <span class="hello-sub-title-small">Sino deseas</span><br />
                <span class="hello-sub-title-small">realizar cambios</span><br />
                <span class="hello-sub-title-small">presiona</span><br />
                <span class="hello-sub-title-small"><u>CONTINUAR</u></span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper
              :slides-per-view="1"
              :loop="true"
              id="swiper"
              :allowSlideNext="false"
              :allowSlidePrev="false"
              class="swiper-marco"
            >
              <swiper-slide @click="$router.push('preview')">
                <!-- <img
                  src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"
                />
                <ion-icon
                  :icon="expand"
                  class="expand-icon"
                  @click="$router.push('preview')"
                ></ion-icon>
                <div
                  v-if="getSelectedTemplate && getSelectedTemplate.template"
                  class="template-background"
                  id="previewContainer"
                  name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor"
                >
                  <component
                    id="preview"
                    name="preview"
                    :is="
                      customTemplate && customTemplate.template
                        ? customTemplate.template
                        : getSelectedTemplate.template
                    "
                    class="preview-thumbnail"
                    :key="componentKey"
                  >
                  </component>
                </div>
                <div
                  v-else
                  :style="
                    'background-image: url(' +
                    (getSelectedTemplate && getSelectedTemplate.background
                      ? getSelectedTemplate.background
                      : '') +
                    ')'
                  "
                  class="template-thumbnail"
                ></div> -->
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".875"></ion-progress-bar>
              <ion-row class="ion-align-items-center ion-margin-top">
                <ion-col class="ion-text-end ion-margin-end">
                  <ion-icon :icon="undoIcon" class="undo-icon" @click="undo()"
                    :style="(previousState && undoStack && undoStack.length) ? 'display: inline-block;' : 'display: none'"></ion-icon>
                </ion-col>
                <ion-col class="ion-text-start ion-margin-start">
                  <ion-icon :icon="redoIcon" class="redo-icon" @click="redo()"
                    :style="(previousState && redoStack && redoStack.length) ? 'display: inline-block;' : 'display: none'"></ion-icon>
                </ion-col>
              </ion-row>
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
          <ion-col size="7.8">
            <ion-list class="ion-margin-start register-list">
              <ion-item class="
                  register-list-item-left
                  ion-margin-start ion-margin-bottom
                ">

                <ion-label position="stacked" style="visibility:unset; padding-left: 4px;">Contactos</ion-label>

                <ion-input :value="styles.find((el) => el.id == getUser.profile.contact_icon_family) ? styles.find((el) => el.id == getUser.profile.contact_icon_family).name : styles.find((el) => el.id == getUser.profile.selected_template.default_contact_icon_family).name" placeholder="Contactos" type="text" :style="
									styles.find((el) => el.id == getUser.profile.contact_icon_family) && styles.find((el) => el.id == getUser.profile.contact_icon_family).name && styles.find((el) => el.id == getUser.profile.contact_icon_family).name.length ? 'margin-top: -0.5rem'	: 'margin-top:-1rem'" :readonly="true"></ion-input>

                <ion-select v-model="getUser.profile.contact_icon_family"
                  style="--placeholder-opacity: 1; --padding-end: 0px;" placeholder="Contacto"
                  :interface-options="contactStyleOptions" ref="refContactIconFamily" hidden
                  @ionChange="updateChosenStyle('refContactIconFamily')" cancel-text="Cancelar">
                  <ion-select-option v-for="style in styles" :key="style.id" :value="style.id"
                    >{{ style.name }}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="
                  register-list-item-left
                  ion-margin-start ion-margin-bottom
                ">

                <ion-label position="stacked" style="visibility:unset; padding-left: 4px;">Redes sociales</ion-label>

                <ion-input :value="styles.find((el) => el.id == getUser.profile.social_icon_family) ? styles.find((el) => el.id == getUser.profile.social_icon_family).name : styles.find((el) => el.id == getUser.profile.selected_template.default_social_icon_family).name" placeholder="Redes sociales" type="text" :style="
									styles.find((el) => el.id == getUser.profile.social_icon_family) && styles.find((el) => el.id == getUser.profile.social_icon_family).name && styles.find((el) => el.id == getUser.profile.social_icon_family).name.length ? 'margin-top: -0.5rem'	: 'margin-top:-1rem'" :readonly="true"></ion-input>

                <ion-select v-model="getUser.profile.social_icon_family" 
                style="--placeholder-opacity: 1;" placeholder="Redes Sociales"
                  :interface-options="socialStyleOptions" ref="refSocialIconFamily" hidden
                  @ionChange="updateChosenStyle('refSocialIconFamily')" cancel-text="Cancelar">
                  <ion-select-option v-for="style in styles" :key="style.id" :value="style.id"
                    >{{ style.name }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="1.7" style="padding-left: 0.1rem">
						<ion-list class="register-list">
							<div class="
                  register-list-item-span-no
                  ion-margin-bottom ion-justify-content-center
                " id="fontNameColorId">
								<ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
									@click="$refs.refContactIconFamily.$el.open()"></ion-icon>
							</div>
							<div class="
                  register-list-item-span-no
                  ion-margin-bottom ion-justify-content-center
                " id="fontProfessionColorId">
								<ion-icon :icon="caretDownOutline" style="font-size: 1.8rem; margin-right: 0px"
									@click="$refs.refSocialIconFamily.$el.open()"></ion-icon>
							</div>
						</ion-list>
					</ion-col>

          <ion-col size="2.5" style="padding-left: 0.05rem">
            <ion-list class="register-list ion-margin-end">
              <div class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-end ion-margin-bottom ion-justify-content-center">
								<LvColorpicker v-model="contactsColor" :withoutInput="true" :value="contactsColor" :key="componentKey" @click="saveState" :colors="getColorPalette"/>
							</div>
              <div class="
                  register-list-item-right
                  list-item-color-picker
                  ion-margin-end ion-justify-content-center">
								<LvColorpicker v-model="socialsColor" :withoutInput="true" :value="socialsColor" :key="componentKey" @click="saveState" :colors="getColorPalette"/>
							</div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="cancel-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
              @click="reset()"
            >
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="validateContinue('glopcard-location-step')"
            >
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonIcon,
  IonItem,
  IonList,
  IonButton,
  IonInput,
  IonProgressBar,
  IonSelect,
  IonSelectOption,
  IonThumbnail,
  IonLabel,
  onIonViewDidEnter,
  alertController
} from "@ionic/vue";
import { defineComponent, reactive, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Swiper, SwiperSlide } from "swiper/vue";

import { Storage } from "@ionic/storage";
const storage = new Storage();

import { closeOutline, colorPaletteOutline, caretDownOutline } from "ionicons/icons";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

export default defineComponent({
  name: "GlopcardIconsStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonIcon,
    IonItem,
    IonList,
    IonButton,
    Swiper,
    SwiperSlide,
    IonInput,
    IonProgressBar,
    IonSelect,
    IonSelectOption,
    IonThumbnail,
    IonLabel,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const expand = "assets/icon/expand-icon.svg";
    const check = "assets/icon/check-icon.svg";
    const undoIcon = "assets/icon/undo.svg";
    const redoIcon = "assets/icon/redo.svg";

    const store = useStore();
    const router = useRouter();

    const alertMessage = async (message, subHeader = '', buttons = null) => {
      const alert = await alertController.create({
              header: 'Alerta',
              subHeader: subHeader,
              message: message,
              buttons: buttons ? buttons : ['OK'],
            });
          await alert.present();
    };

    const contactStyleOptions = {
      header: "Selecciona tipo de ícono de contactos",
    };

    const socialStyleOptions = {
      header: "Selecciona tipo de ícono de redes sociales",
    };

    const styles = [
      {
        id: '_plain',
        name: 'Sin marco'
      },
      {
        id: '_outline',
        name: 'Circular'
      },
      {
        id: '_outline_square',
        name: 'Cuadrado'
      },
      {
        id: '_outline_square_round',
        name: 'Redondeado'
      }
    ];

    const justEntered  = ref(false);

    const customTemplate = reactive({});

    const contactsColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.style.templateContacts.fill : '');
    const socialsColor = ref(store.getters.getUser.profile.selected_template ? store.getters.getUser.profile.selected_template.style.templateSocials.fill : '');

    const contact_icon_family = ref(store.getters.getUser.profile.contact_icon_family ? store.getters.getUser.profile.contact_icon_family : store.getters.getUser.profile.selected_template.default_contact_icon_family);
    const social_icon_family = ref(store.getters.getUser.profile.social_icon_family ? store.getters.getUser.profile.social_icon_family : store.getters.getUser.profile.selected_template.default_social_icon_family);

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;

      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status) {

        let user = store.getters.getUser;

        await storage.create();
        console.log('From icons style:', glopcard);
        await storage.set("user", JSON.parse(JSON.stringify(user)));

        router.push(route);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "",
          message: "Antes de continuar, necesitas cargar al menos una red social",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const componentKey = ref(0);

    const reset = async () => {
			const alert = await alertController.create({
				header: "Alerta",
				subHeader:
					"Perderás los cambios realizados",
				message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
				buttons: [
					{
						text: "CANCELAR",
						role: "cancel",
					},
					{
						text: 'OK',
						role: 'confirm',
						handler: () => {
							let glopcard = store.getters.getUser.profile;

              glopcard.contact_icon_family = glopcard.selected_template.default_contact_icon_family;
							glopcard.selected_template.style.templateContacts.fill = glopcard.selected_template.style.templateContacts.default_fill;
							contactsColor.value = glopcard.selected_template.style.templateContacts.fill;

              glopcard.social_icon_family = glopcard.selected_template.default_social_icon_family;
							glopcard.selected_template.style.templateSocials.fill = glopcard.selected_template.style.templateSocials.default_fill;
							socialsColor.value = glopcard.selected_template.style.templateSocials.fill;

							componentKey.value++;

							save(glopcard);
						}
					}
				],
			});
			await alert.present();
		};

    const undoStack = reactive([]);
    const redoStack = reactive([]);
    const previousState = ref(null);

    const saveState = (ev, setInitial) => {

      let user = store.getters.getUser;
      let toPush = JSON.stringify(user);

      if (setInitial) {
        previousState.value = toPush;
      } else {
        if (previousState.value != toPush) {
          console.info('User state changed. Pushing to undo Stack');
          undoStack.push(previousState.value);
          previousState.value = toPush;
        }
      }
    }

    const undo = async () => {
      if (undoStack.length) {
        let currentState = undoStack.pop();

        if (currentState) {
          redoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);

          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          contactsColor.value = toParse.profile.selected_template.style.templateContacts.fill;
          socialsColor.value = toParse.profile.selected_template.style.templateSocials.fill;

          previousState.value = currentState;

          componentKey.value++;
        }

      } else {
        console.info('Undo Stack Empty. Nothing to Undo');
      }
    }

    const redo = async () => {
      if (redoStack.length) {
        let currentState = redoStack.pop();

        if (currentState) {
          undoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);

          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          contactsColor.value = toParse.profile.selected_template.style.templateContacts.fill;
          socialsColor.value = toParse.profile.selected_template.style.templateSocials.fill;

          previousState.value = currentState;

          componentKey.value++;
        }

      } else {
        console.info('Redo Stack Empty. Nothing to Redo');
      }
    }

    const save = async (glopcard = null) => {
			let user = store.getters.getUser;

			if (glopcard) {
				user.profile = glopcard;
			}

			store.commit("setUser", user);
			await storage.create();

			console.log('From professional:', glopcard);
			await storage.set("user", JSON.parse(JSON.stringify(user)));
		};

    const colorPalette = reactive([
      // "#000000",
      // "#858585",
      // "#FFFFFF",
      // "#DE0050",
      // "#9C27B0",
      // "#00BCD4",
      // "#4CAF50",
      // "#FFC107"
    ]);

    onIonViewDidEnter(() => {
      saveState(null, true);
      justEntered.value = true;
      if (store.getters.getColorPalette && store.getters.getColorPalette.length > 0){
        console.log('Getting color palette...', store.getters.getColorPalette);
        colorPalette.value = store.getters.getColorPalette;
      } else {
        Object.assign(colorPalette, [
          "#000000",
          "#858585",
          "#FFFFFF",
          "#DE0050",
          "#9C27B0",
          "#00BCD4",
          "#4CAF50",
          "#FFC107"
        ]);
        store.commit('setColorPalette', colorPalette);
        componentKey.value++;
      }
    });

    const checkPalette = (color) => {
      if (!colorPalette.includes(color)) {
        colorPalette.value = colorPalette.splice(3, 1);
        colorPalette.push(color);
        store.commit('setColorPalette', colorPalette)
      }
    };

    return {
      logo,
      check,
      colorPaletteOutline,
      caretDownOutline,
      expand,
      closeOutline,
      contactStyleOptions,
      socialStyleOptions,
      alertMessage,
      styles,
      contactsColor,
      socialsColor,
      contact_icon_family,
      social_icon_family,
      customTemplate,
      save,
      validateContinue,
      reset,
      componentKey,
      undoIcon,
      redoIcon,
      undoStack,
      redoStack,
      previousState,
      saveState,
      undo,
      redo,
      justEntered,
      colorPalette,
      checkPalette
    };
  },
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser", "getColorPalette"]),
  },
  methods: {
    updateChosenStyle(element) {
      console.log(this.$refs[element].$el.value);

      var profile = this.getUser.profile;

      var el = this.$refs[element].$el.value;

      switch (element) {
        case 'refContactIconFamily':
          this.contact_icon_family = el;
          profile.contact_icon_family = el;
          break;
        case 'refSocialIconFamily':
          this.social_icon_family = el;
          profile.social_icon_family = el;
          break;
      }

      this.save(profile);
    },
  },
  data: () => ({
    timer: null
  }),
  watch: {
		async contactsColor(newColor, oldColor) {
      if (newColor != oldColor){
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let contactsColorFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.style.templateContacts.fill = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;

          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing social colors too...');
            this.socialsColor = this.contactsColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timer = setTimeout(contactsColorFn, 100);
      }
			
		},
    async socialsColor(newColor, oldColor) {
      if (newColor != oldColor){
        if (this.timer) {
          clearTimeout(this.timer);
        }

        let socialsColorFn = () => {
          var customSelectedTemplate = this.getSelectedTemplate;
          customSelectedTemplate.style.templateSocials.fill = newColor;
          this.$store.commit('setSelectedTemplate', customSelectedTemplate);
          Object.assign(this.customTemplate, customSelectedTemplate);

          let glopcard = this.$store.getters.getUser.profile;

          glopcard.selected_template = customSelectedTemplate;

          this.checkPalette(newColor);

          if (this.justEntered) {
            this.justEntered = false;
            console.log('Changing contacts colors too...');
            this.contactsColor = this.socialsColor;
            this.componentKey++;
          }

          this.save(glopcard);
        }

        this.timer = setTimeout(socialsColorFn, 100);
      }
		},
  }
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>

.picture-sub-title {
  width: 74px;
  height: 43px;
  left: 72px;
  top: 599px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;

  color: #ffffff;
}

.vc-colorpicker {
  margin: 0 auto !important;
}

.vc-colorpicker--container {
  padding: 1px !important;
}
</style>

<style lang="scss">
.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;
  &__handler {
    position: absolute;
    right: 15%;
    top: 14%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
  &__preview {
    border-radius: 50%;
    overflow: hidden;
  }
}
</style>

<style scoped>
ion-select::part(icon) {
  display: none !important;
}
</style>