<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-icon
                  :icon="check"
                  class="check-icon"
                ></ion-icon>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Adjunta la</span><br />
                <span class="hello-sub-title">imagen de fondo</span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col
            size="6"
          >
            <swiper
              :slides-per-view="1"
              :loop="true"
              id="swiper"
              :allowSlideNext="false"
              :allowSlidePrev="false"
              class="swiper-marco"
            >
              <swiper-slide @click="$router.push('preview')">
                <img
                  src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"
                />
                <ion-icon
                  :icon="expand"
                  class="expand-icon"
                  @click="$router.push('preview')"
                ></ion-icon>
                <div
                  v-if="getSelectedTemplate && getSelectedTemplate.template"
                  class="template-background"
                  id="previewContainer"
                  name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor"
                >
                  <component
                    id="preview"
                    name="preview"
                    :is="getSelectedTemplate.template"
                    class="preview-thumbnail"
                  >
                  </component>
                </div>
                <div
                  v-else
                  :style="
                    'background-image: url(' +
                    (getSelectedTemplate && getSelectedTemplate.background
                      ? getSelectedTemplate.background
                      : '') +
                    ')'
                  "
                  class="template-thumbnail"
                ></div>
              </swiper-slide>
            </swiper>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin bottom-background-step">
          <ion-col class="ion-margin-start ion-margin-end ion-text-center ion-align-self-center">
            <ion-img
              :src="
                getSelectedTemplate
                  ? getSelectedTemplate.background_placeholder
                  : ''
              "
              @click="selectExploreBackgroundImage($event)"
            class="ion-margin-bottom"/>
            <input
              type="file"
              name="background_image"
              id="upload_background_image"
              ref="upload_background_image"
              accept="image/*"
              @change="setBackgroundImage()"
              style="display: none"
            />
          </ion-col>
          <ion-col class="ion-margin-start ion-margin-end ion-text-center ion-align-self-center">
            <ion-text class="picture-sub-title">Tamaño de la imagen <br /> 1080 x 1920 px</ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="cancel-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
            >
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="$router.push('/glopcard-background-color-step')"
            >
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>

      <ion-modal
        :is-open="showBackgroundImageModal"
        @ionModalDidDismiss="setBackgroundImageModalOpen(false)"
      >
        <div style="height: 100%">
          <cropper
            :src="background_image_file"
            ref="cropper"
            :auto-zoom="true"
            :canvas="{
              minHeight: 0,
              minWidth: 0,
              maxHeight: 500,
              maxWidth: 500,
            }"
            :stencil-component="
              getSelectedTemplate && getSelectedTemplate.stencil == 'circle'
                ? $options.components.CircleStencil
                : $options.components.RectangleStencil
            "
            :stencil-props="{
              handlers: {},
              movable: false,
              scalable: false,
              aspectRatio: 1,
            }"
            :resize-image="{ adjustStencil: true }"
            image-restriction="stencil"
            style="height: 100%; background-color: white"
            @change="onBackgroundImageCrop"
          ></cropper>
          <ion-button
            color="secondary"
            style="position: absolute; right: 4px; top: 4px"
            @click="setBackgroundImageModalOpen(false)"
            >Listo</ion-button
          >
        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonButton,
  IonModal,
  IonIcon,
  IonText,
  toastController, 
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import { useRouter } from "vue-router";
import { Cropper, CircleStencil } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";
import { Swiper, SwiperSlide } from "swiper/vue";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

export default defineComponent({
  name: "GlopcardBackgroundStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonButton,
    IonModal,
    Cropper,
    IonIcon,
    IonText,
    CircleStencil,
    Swiper, SwiperSlide,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const router = useRouter();
    const check = "assets/icon/check-icon.svg";
    const isPreviewing = ref(false);
    const selectedTemplate = ref(null);
    const close = "assets/icon/close-icon.svg";
    const showBackgroundImageModal = ref(false);
    const expand = "assets/icon/expand-icon.svg";

    const setBackgroundImageModalOpen = (state) =>
      (showBackgroundImageModal.value = state);

    const background_image_file = ref(null);

    const openToast = async (message, duration, color, position) => {
      const toast = await toastController
        .create({
          message: message,
          duration: duration,
          color: color,
          position: position
        })
      return toast.present();
    };

    const isDescendant = (parent, child) => {

      if (!child){
        openToast('Elije primero una plantilla', 2000, 'primary', 'top');
      }

      var node = child.parentNode;
      if (node == parent) {
        return true;
      }

      return false;
    };

    return {
      logo,
      selectedTemplate,
      showBackgroundImageModal,
      setBackgroundImageModalOpen,
      close,
      check,
      expand
    };
  },
  data: () => ({}),
  computed: {
    ...mapGetters(["getSelectedTemplate"]),
  },
  methods: {
    selectExploreBackgroundImage(ev) {
      ev.stopPropagation();
      document.getElementById("upload_background_image").click();
    },
    setBackgroundImage(index) {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        this.background_image_file = e.target.result;
        this.showBackgroundImageModal = true;
      };
      reader.readAsDataURL(event.target.files[0]);
    },
    onBackgroundImageCrop({ coordinates, canvas }) {
      console.log(coordinates);

      var elements = document.getElementsByClassName("flex-stack");

      Array.from(elements).forEach((element) => {
        element.style.backgroundImage = 'url("' + canvas.toDataURL() + '")';
        element.style.backgroundSize = "cover";
      });

      this.background_image_file = canvas.toDataURL();
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>

.picture-sub-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;
  margin-top: 50%;
  color: #ffffff;
}
</style>

<style lang="scss">
.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;
  &__handler {
    position: absolute;
    right: 15%;
    top: 14%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
  &__preview {
    border-radius: 50%;
    overflow: hidden;
  }
}
</style>