<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">

        <!-- PARTE SUPERIOR -->

        <ion-row style="min-height: 5vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <ion-row class="ion-margin-bottom">
              <ion-col size="2"> </ion-col>
              <ion-col size="10">
                <span class="hello-title">Personaliza</span><br />
                <span class="hello-sub-title-bold">Tu Contacto</span><br />
                <span class="hello-sub-title-gradient">Interactivo</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="small-bullet">
                  <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <span class="hello-sub-title">Elige</span><br />
                <span class="hello-sub-title">las imágenes</span><br />
                <span class="hello-sub-title">de tu pantalla</span><br />
                <span class="hello-sub-title">de inicio</span><br />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <swiper
              :slides-per-view="1"
              :loop="true"
              id="swiper"
              :allowSlideNext="false"
              :allowSlidePrev="false"
              class="swiper-marco"
            >
              <swiper-slide @click="$router.push('preview')">
                <!-- <img
                  src="assets/img/marco-celular.png"
                  style="z-index: 99; margin-left: 0.3rem; margin-right: 0.3rem"
                />
                <ion-icon
                  :icon="expand"
                  class="expand-icon"
                  @click="$router.push('preview')"
                ></ion-icon>
                <div
                  v-if="getSelectedTemplate && getSelectedTemplate.template"
                  class="template-background"
                  id="previewContainer"
                  name="previewContainer"
                  :style="'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor"
                >
                  <component
                    id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey"
                  >
                  </component>
                </div>
                <div
                  v-else
                  :style="
                    'background-image: url(' +
                    (getSelectedTemplate && getSelectedTemplate.background
                      ? getSelectedTemplate.background
                      : '') +
                    ')'
                  "
                  class="template-thumbnail"
                ></div> -->
                <div class="phone-step">
                  <ion-icon :icon="expand" class="expand-icon" @click="$router.push('preview')"></ion-icon>
                  <div v-if="getSelectedTemplate && getSelectedTemplate.template" class="template-background"
                    id="previewContainer" name="previewContainer"
                    :style="getUser.profile.selected_template ? 'background-color: ' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">

                    <component id="preview"
                    name="preview"
                    :is="(customTemplate && customTemplate.template) ? customTemplate.template : getSelectedTemplate.template"
                    class="preview-thumbnail"
                    :key="componentKey">
                    </component>
                  </div>
                </div>
              </swiper-slide>
              <ion-progress-bar class="progress-bar" value=".25"></ion-progress-bar>

              <ion-row class="ion-align-items-center ion-margin-top">
                <ion-col class="ion-text-end ion-margin-end">
                  <ion-icon
                    :icon="undoIcon"
                    class="undo-icon"
                    @click="undo()"
                    :style="(previousState && undoStack && undoStack.length) ? 'display: inline-block;' : 'display: none'"
                  ></ion-icon>
                </ion-col>
                <ion-col class="ion-text-start ion-margin-start">
                  <ion-icon
                    :icon="redoIcon"
                    class="redo-icon"
                    @click="redo()"
                    :style="(previousState && redoStack && redoStack.length) ? 'display: inline-block;' : 'display: none'"
                  ></ion-icon>
                </ion-col>
              </ion-row>
            </swiper>
          </ion-col>
        </ion-row>

        <!-- PARTE INFERIOR -->

        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-text-center ion-align-self-center" size="6" style="display: flex; justify-content: space-around;">
            <!-- <img
              :src="
                getSelectedTemplate
                  ? getSelectedTemplate.profile_picture_placeholder
                  : ''
              "
              @click="selectExploreProfileImage($event)"
            /> -->
            <div
              :class="getSelectedTemplate ? getSelectedTemplate.profile_picture_placeholder : ''"
              @click="selectExploreProfileImage($event)"
              :style="(getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateAvatar) ? getUser.profile.selected_template.style.templateAvatar : ''"
            >
              <!-- <ion-icon :icon="uploadArrow"></ion-icon> -->
              <span v-if="!(getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateAvatar.background)">Subir<br>Imagen</span>
            </div>
            <input
              type="file"
              name="profile_image"
              id="upload_profile_image"
              ref="upload_profile_image"
              accept="image/*"
              @change="setProfileImage()"
              style="display: none"
            />
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center" size="6">
            <div
              :class="
                getSelectedTemplate.complementary_profile_picture_placeholder +
                ' ion-margin-end'"
                :style="(getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateHeader) ? getUser.profile.selected_template.style.templateHeader : ''"
              @click="selectExploreHeaderImage($event)"
            >
              <span v-if="!(getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateHeader.background)">Subir<br>Imagen</span>
            </div>
            <input
              type="file"
              name="header_image"
              id="upload_header_image"
              ref="upload_header_image"
              accept="image/*"
              @change="setHeaderImage()"
              style="display: none"
            />
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end ion-margin-top">
          <ion-col class="ion-text-center ion-align-self-center">
            <ion-text class="picture-sub-title" :style="(getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateAvatar.background) ? 'color: #2776DF;' : 'color: #FFFFFF;'" @click="selectExploreProfileImage($event)">Imagen<br />del Perfil</ion-text>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center ion-margin-end">
            <ion-text class="picture-sub-title" :style="(getUser.profile.selected_template.style && getUser.profile.selected_template.style.templateHeader.background) ? 'color: #2776DF;' : 'color: #FFFFFF;'" @click="selectExploreHeaderImage($event)">Imagen<br />Complementaria</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div
              class="cancel-button ion-margin-start ion-margin-top"
              style="margin-right: 4px"
              @click="reset()"
            >
              RESTABLECER
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="continue-button ion-margin-end ion-margin-top"
              style="margin-left: 4px"
              @click="validateContinue('glopcard-professional-information-step')"
            >
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>

      <!-- PROFILE IMAGE CROPPER -->

      <ion-modal
        :is-open="showProfileImageModal"
        @ionModalDidDismiss="setProfileImageModalOpen(false)"
      >
        <div style="height: 100%">
          <cropper
            :src="profile_image_file"
            ref="cropper"
            :auto-zoom="true"
            :canvas="{
              minHeight: 200,
              minWidth: 200,
              maxHeight: 500,
              maxWidth: 500,
            }"
            :stencil-component="
              getSelectedTemplate &&
              getSelectedTemplate.profilePictureStencil == 'circle'
                ? $options.components.CircleStencil
                : $options.components.RectangleStencil
            "
            :stencil-props="{
              handlers: {},
              movable: false,
              scalable: false,
              resizable: false,
              aspectRatio: getSelectedTemplate.profilePictureStencilAspectRatio,
            }"
            :resize-image="{ adjustStencil: false }"
            image-restriction="stencil"
            style="height: 100%; background-color: white"
            @change="onProfileImageCrop"
          ></cropper>
          <ion-button
            color="secondary"
            style="position: absolute; right: 4px; top: 4px"
            @click="setProfileImageModalOpen(false)"
            >Listo</ion-button
          >
        </div>
      </ion-modal>

      <!-- HEADER IMAGE CROPPER -->

      <ion-modal
        :is-open="showHeaderImageModal"
        @ionModalDidDismiss="setHeaderImageModalOpen(false)"
      >
        <div style="height: 100%">
          <cropper
            :src="header_image_file"
            ref="cropper"
            :auto-zoom="true"
            :canvas="{
              minHeight: 0,
              minWidth: 0,
              maxHeight: 500,
              maxWidth: 500,
            }"
            :stencil-component="
              getSelectedTemplate &&
              getSelectedTemplate.headerPictureStencil == 'circle'
                ? $options.components.CircleStencil
                : $options.components.RectangleStencil
            "
            :stencil-props="{
              handlers: {},
              movable: false,
              scalable: false,
              resizable: false,
              aspectRatio: getSelectedTemplate.headerPictureStencilAspectRatio,
            }"
            :resize-image="{ adjustStencil: false }"
            image-restriction="stencil"
            style="height: 100%; background-color: white"
            @change="onHeaderImageCrop"
          ></cropper>
          <ion-button
            color="secondary"
            style="position: absolute; right: 4px; top: 4px"
            @click="setHeaderImageModalOpen(false)"
            >Listo</ion-button
          >
        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonButton,
  IonModal,
  IonText,
  IonIcon,
  IonThumbnail,
  IonProgressBar,
  toastController,
  onIonViewDidEnter,
  alertController
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Cropper, CircleStencil } from "vue-advanced-cropper";
import { Swiper, SwiperSlide } from "swiper/vue";
import "vue-advanced-cropper/dist/style.css";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

import { Storage } from "@ionic/storage";
const storage = new Storage();

export default defineComponent({
  name: "GlopcardPicturesStepPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonButton,
    IonModal,
    Cropper,
    CircleStencil,
    IonText,
    IonIcon,
    Swiper,
    SwiperSlide,
    IonThumbnail,
    IonProgressBar,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const router = useRouter();
    const isPreviewing = ref(false);
    const expand = "assets/icon/expand-icon.svg";
    const undoIcon = "assets/icon/undo.svg";
    const redoIcon = "assets/icon/redo.svg";
    const selectedTemplate = ref(null);
    const close = "assets/icon/close-icon.svg";
    const uploadArrow = "assets/icon/upload_arrow.svg";

    const customTemplate = reactive({});

    const showProfileImageModal = ref(false);
    const showHeaderImageModal = ref(false);

    const setProfileImageModalOpen = (state) =>
      {
        saveState();
        showProfileImageModal.value = state;
      }

    const setHeaderImageModalOpen = (state) =>
      {
        saveState();
        showHeaderImageModal.value = state
      };

    const profile_image_file = ref(null);
    const header_image_file = ref(null);

    const openToast = async (message, duration, color, position) => {
      const toast = await toastController.create({
        message: message,
        duration: duration,
        color: color,
        position: position,
      });
      return toast.present();
    };

    const isDescendant = (parent, child) => {
      if (!child) {
        openToast("Elije primero una plantilla", 2000, "primary", "top");
      }

      var node = child.parentNode;
      if (node == parent) {
        return true;
      }

      return false;
    };

    const store = useStore();

    const reset = async () => {
      const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "Perderás los cambios realizados",
          message: "Al presionar OK perderás todos los cambios que hayas realizado en esta pantalla. Si quieres mantener esta información, presiona CANCELAR.",
          buttons: [
            {
              text: "CANCELAR",
              role: "cancel",
            },
            {
                text: 'OK',
                role: 'confirm',
                handler: () => {
                  let glopcard = store.getters.getUser.profile;
                  
                  glopcard.selected_template.style.templateAvatar.background = '';
                  glopcard.selected_template.style.templateHeader.background = '';

                  save(glopcard);
                }
              }
          ],
        });
        await alert.present();
    };

    const undoStack = reactive([]);
    const redoStack = reactive([]);
    const previousState = ref(null);
    const componentKey = ref(0);

    onIonViewDidEnter(() => {
      saveState(null, true);
    });

    const saveState = (ev, setInitial) => {
      console.log('Saving state...');

      let user = store.getters.getUser;
      let toPush = JSON.stringify(user);

      if (setInitial){
        previousState.value = toPush;
      } else {
        if (previousState.value != toPush){
          console.info('User state changed. Pushing to undo Stack');
          undoStack.push(previousState.value);
          previousState.value = toPush;
        }
      }
    }

    const undo = async () => {
      if (undoStack.length) {
        let currentState = undoStack.pop();

        if (currentState){
          redoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);

          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          previousState.value = currentState;

          componentKey.value++;
        }
        
      } else {
        console.info('Undo Stack Empty. Nothing to Undo');
      }
    }

    const redo = async () => {
      if (redoStack.length) {
        let currentState = redoStack.pop();

        if (currentState){
          undoStack.push(previousState.value);

          let toParse = JSON.parse(currentState);
          
          store.commit("setUser", toParse);
          await storage.create();
          await storage.set("user", toParse);

          previousState.value = currentState;

          componentKey.value++;
        }
        
      } else {
        console.info('Redo Stack Empty. Nothing to Redo');
      }
    }

    const save = async (glopcard) => {
      let user = store.getters.getUser;

      if (glopcard) {
        user.profile = glopcard;
      }
      
      store.commit("setUser", user);
      await storage.create();
      console.log('From pictures:', glopcard);
      await storage.set("user", JSON.parse(JSON.stringify(user)));
    };

    const validateContinue = async (route, alert = false) => {
      let glopcard = store.getters.getUser.profile;
      
      if (glopcard && glopcard.status && glopcard.status == "finished") {
        router.push(route);
      } else if (glopcard && glopcard.status && ((customTemplate.style && customTemplate.style.templateAvatar.background) || glopcard.selected_template.style.templateAvatar.background)) {
        glopcard.status = 'in_progress';
        glopcard.last_step = route;

        save(glopcard);

        router.push(route);
      } else {
        const alert = await alertController.create({
          header: "Alerta",
          subHeader:
            "No has eligido las imágenes de tu pantalla de inicio",
          message: "Antes de continuar, necesitas subir las imágenes de tu pantalla de inicio",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
      }
    };

    const previewHeight = ref(screen.height);
    const previeWidth = ref(screen.width);

    return {
      logo,
      selectedTemplate,
      showProfileImageModal,
      showHeaderImageModal,
      setProfileImageModalOpen,
      setHeaderImageModalOpen,
      isPreviewing,
      expand,
      undoIcon,
      redoIcon,
      close,
      uploadArrow,
      customTemplate,
      validateContinue,
      previewHeight,
      previeWidth,
      save,
      reset,
      undoStack,
      redoStack,
      previousState,
      undo,
      redo,
      componentKey,
    };
  },
  data: () => ({
    timer: null
  }),
  computed: {
    ...mapGetters(["getSelectedTemplate", "getUser"]),
  },
  methods: {
    selectExploreProfileImage(ev) {
      ev.stopPropagation();
      document.getElementById("upload_profile_image").click();
    },
    selectExploreHeaderImage(ev) {
      ev.stopPropagation();
      document.getElementById("upload_header_image").click();
    },
    setProfileImage(index) {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        this.profile_image_file = e.target.result;
        this.showProfileImageModal = true;
      };
      reader.readAsDataURL(event.target.files[0]);
      event.target.value = null;
    },
    setHeaderImage(index) {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        this.header_image_file = e.target.result;
        this.showHeaderImageModal = true;
      };
      reader.readAsDataURL(event.target.files[0]);
      event.target.value = null;
    },
    onProfileImageCrop({ coordinates, canvas }) {

      if(this.timer){
        clearTimeout(this.timer);
      }

      this.profile_image_file = canvas.toDataURL();

      var customSelectedTemplate = this.getSelectedTemplate;
      customSelectedTemplate.style.templateAvatar.background = 'url("' + canvas.toDataURL() + '")';

      // this.$store.commit('setSelectedTemplate', customSelectedTemplate);
      // Object.assign(this.customTemplate, customSelectedTemplate);

      let profileFn = () => {
        let glopcard = this.$store.getters.getUser.profile;
        glopcard.selected_template = customSelectedTemplate;
        this.save(glopcard);
      }

      this.timer = setTimeout(profileFn, 200);
    },

    onHeaderImageCrop({ coordinates, canvas }) {

      if(this.timer){
        clearTimeout(this.timer);
      }

      this.header_image_file = canvas.toDataURL();

      var customSelectedTemplate = this.getSelectedTemplate;
      customSelectedTemplate.style.templateHeader.background = 'url("' + canvas.toDataURL() + '")';

      this.$store.commit('setSelectedTemplate', customSelectedTemplate);
      Object.assign(this.customTemplate, customSelectedTemplate);

      let headerFn = () => {
        let glopcard = this.$store.getters.getUser.profile;
        glopcard.selected_template = customSelectedTemplate;
        this.save(glopcard);
      }

      this.timer = setTimeout(headerFn, 200);
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped src="../theme/figures.css">
</style>

<style scoped>
.picture-sub-title {
  width: 74px;
  height: 43px;
  left: 72px;
  top: 599px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;

  color: #ffffff;
}

</style>
