<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <ion-grid class="ion-no-padding background">
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12" class="ion-margin-start ion-margin-end">
            <div style="position: relative">
              <p>
                <span class="hello-title">¡Hola!</span><br />
                <span class="hello-sub-title">{{(getUser && getUser.profile && getUser.profile.alias_name) ? getUser.profile.alias_name : ''}}</span>
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end" style="max-height: 350px">
          <ion-col class="ion-margin-start ion-justify-content-center">
          <div id="wrapper">
              <div class="phone view_3" id="phone_1">
                <iframe :src="'https://glopcard.glopcare.com/' + glopcardId" id="frame_1" style="pointer-events: none;" scrolling="no"></iframe>
              </div>
          </div>
          </ion-col>
          <!-- <ion-col v-else>
            <ion-img
              src="assets/img/glopcare-home-placeholder.png"
              class="ion-margin-start ion-margin-end"
              style="height: 40vh"
              @click="validateContinue(getUser.profile.last_step, true)"
            />
          </ion-col> -->
          <div class="glopcare-register-information-button">
            <ion-thumbnail style="--size: 12rem" @click="validateContinue(getUser.profile.last_step, true)">
              <img src="assets/img/glopcare-register-information.png" style="border-radius: 50%; filter: drop-shadow(0px 2px 8px rgba(255, 255, 255, 0.75));"/>
            </ion-thumbnail>
          </div>
        </ion-row>
        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-text-center">
            <!-- <ion-text class="text-link" @click="validateContinue(getUser.profile.last_step, true)">{{(getUser && getUser.profile && getUser.profile.status && getUser.profile.status == "finished") ? 'Ver Tu Contacto Interactivo' : ''}}</ion-text> -->
            <ion-text v-if="getUser && getUser.profile && getUser.profile.status && (getUser.profile.status == 'finished' || glopcardId)" class="text-link" @click="goToGlopcard">Ver Tu Contacto Interactivo</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div
              class="
                normal-button
                ion-margin-start ion-margin-bottom ion-margin-end
              "
              @click="$router.push('catalog-options')"
            >
              Catálogo
            </div>
            <!-- <div class="normal-button ion-margin" @click="alertMessage('Próximamente disponible')">Cliente</div> -->
            <div class="normal-button ion-margin" @click="$router.push('glopcard-catalog-step')">Publicidad</div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonText,
  IonImg,
  IonThumbnail,
  alertController,
  onIonViewDidEnter
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import api from "../api";

export default defineComponent({
  name: "HomePage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonText,
    IonImg,
    IonThumbnail,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const store = useStore();

    const glopcardId = ref(null);

    const upsertGlopcard = async () => {

      let objGlopcard = {
        is_active: true,
        snapshot: JSON.stringify(store.getters.getUser.profile),
        template_id: store.getters.getUser.profile.selected_template.template_id
      }

      if (objGlopcard.snapshot !== null) {
        api
        .post("glopcard/set", objGlopcard, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          glopcardId.value = response.data.snapshot.uid;
          store.commit('setUID', glopcardId.value);
          console.log(response);
        })
        .catch(async function (error) {
          console.error(JSON.stringify(error));

          var message;

          if (error && error.response && error.response.status){
            switch (error.response.status) {
              case 403:
                message = error.response.data.message;
              break;
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error.",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        });
      }

      

    }


    onIonViewDidEnter(() => {
      if (store.getters.getUser && store.getters.getUser.profile){
        upsertGlopcard();
      }
      
    });

    const alertMessage = async (message, subHeader = '', buttons = null) => {
      const alert = await alertController.create({
              header: 'Alerta',
              subHeader: subHeader,
              message: message,
              buttons: buttons ? buttons : ['OK'],
            });
          await alert.present();
    }

    const goToGlopcard = () => {
      window.open('https://glopcare.com/' + store.getters.getUser.username);
    }

    return {
      logo, alertMessage, glopcardId, goToGlopcard
    };
  },
  data: () => ({
    currentRole: null,
  }),
  computed: {
    ...mapGetters(["getUser"]),
    canView() {
      if (this.getUser && this.getUser.profile && this.getUser.profile.selected_template && this.getUser.profile.selected_template.style && this.getUser.profile.selected_template.style.templateAvatar) {
        return (this.getUser.profile.selected_template.style.templateAvatar.background).replace('url("', '').replace('")', '');
      }

      return null;
    }
  },
  methods: {
    async validateContinue(route, alert = false) {

      const glopcard = this.getUser.profile;
      if (glopcard && glopcard.status && glopcard.status == "finished") {
        this.$router.push('glopcard-professional-information-step');
      } else if (glopcard && glopcard.status && (glopcard.status == "started" ||   glopcard.status == "in_progress")) {
        this.$router.push(glopcard.last_step);
      } else {
        const alert = await alertController.create({
          header: "¡Ya casi terminas!",
          subHeader: "",
          message: "Estas a pocos pasos de completar la información necesaria para visualizar Tu Contacto Interactivo",
          buttons: [
            {
              text: "OK",
              role: "confirm",
              handler: () => {
                this.$router.push(glopcard.last_step);
              },
            },
          ],
        });
        await alert.present();
      }
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.glopcare-register-information-button {
  position: absolute;
  width: 75px;
  height: 75px;
  right: 9rem;
  border-radius: 50%;
  z-index: 99;
  margin-top: 5rem;
}

.glopcare-share-button {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 5rem;
  z-index: 99;
  margin-top: 17rem;
}

#wrapper {
  transform-origin: top left;
  transform: scale(0.5);
}
.phone {
    border: 10px solid #A6A9AA;
    border-width: 5px 7px;
    border-radius: 40px;
    overflow: hidden;
    transition: all 0.5s ease;
    width: 370px;
    height: 704px;
  }
  
  .phone iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
  /*Different Perspectives*/

  .phone.view_3 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0px 1px 0 #BBB, 0px 4px 0 #BBB, 0px 5px 0 #BBB, 0px 1px 0 #BBB, 0px 1px 1px #666;
  }
</style>

