<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid
        class="ion-no-padding ion-no-margin"
        style="
          margin-top: -20px;
          background-image: url('../assets/img/glopcare-radicula-info.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position-y: -5px;
        "
      >
        <ion-row class="ion-margin-top">
          <ion-col class="ion-margin-top">
          </ion-col>
        </ion-row>
        
        <!-- If help is different to Account Options -->
        <div v-if="$route.path.indexOf('account-options-') < 0">
          <ion-row v-if="$route.path.indexOf('glopcard-settings-step') < 0" class="ion-margin-end ion-margin-top">
            <ion-col size="6">
              <ion-row class="ion-margin-bottom">
                <ion-col size="2"> </ion-col>
                <ion-col size="10">
                  <span class="hello-title">Personaliza</span><br />
                  <span class="hello-sub-title-bold">Tu Contacto</span><br />
                  <span class="hello-sub-title-gradient">Interactivo</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <ion-thumbnail class="x-small-bullet">
                    <ion-img src="assets/img/glopcare-bullet.png"></ion-img>
                  </ion-thumbnail>
                </ion-col>
                <ion-col size="9">
                  <span class="hello-sub-title">{{ getTitle }}</span><br />
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
            </ion-col>
          </ion-row>

        
          <ion-row v-if="$route.path.indexOf('glopcard-settings-step') > 0" class="ion-margin-start ion-margin-top">
            <ion-col size="1" class="ion-margin-start ion-align-self-center">
              <ion-icon
                icon="assets/icon/edit-bar.svg"
                style="font-size: 1.8rem; color: white"
              ></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-no-margin ion-align-self-center">
              <div style="position: relative" class="ion-no-margin">
                <p class="ion-no-margin">
                  <span class="hello-sub-title">Editar</span>
                </p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row v-if="$route.path.indexOf('glopcard-settings-step') > 0" class="ion-margin-start">
            <ion-col size="12" class="ion-margin-start">
              <span class="hello-sub-title-bold">Tu Contacto</span><br />
              <span class="hello-sub-title-gradient">Interactivo</span>
            </ion-col>
          </ion-row>
        </div>

        <!-- Account options header section -->
        
        <div v-else>
          <ion-row class="ion-margin-end ion-margin-top">
            <ion-col size="12">
              <ion-row class="ion-margin-start ion-margin-top">
                <span class="hello-sub-title ion-margin-top ion-margin-start" style="width: 100%;">{{ getTitle }}</span><br />
              </ion-row>
            </ion-col>
          </ion-row>
        </div>

        <!-- Help contents -->

        <ion-row class="ion-margin-start ion-margin-end ion-margin-bottom">
          <ion-list class="help-list">
            <ion-item
              v-for="item in getContent"
              :key="item.text"
              lines="none"
              class="help-list-item ion-margin-bottom"
            >
              <ion-col v-if="item.img || item.icon" size="1.2" class="ion-align-self-center">
                <ion-thumbnail v-if="item.img" :style="item.style">
                  <ion-img :src="item.img"></ion-img>
                </ion-thumbnail>
                <ion-icon
                  v-else
                  :icon="item.icon"
                  style="font-size: 1.5em"
                ></ion-icon>
              </ion-col>
              <ion-col :size="(item.img || item.icon) ? 10.8 : 12">
                <div class="normal-text" v-html="item.text"></div>
                <div v-if="item.inner" class="ion-margin-top">
                  <div v-for="inner in item.inner" class="normal-text" v-html="inner" :key="inner" style="margin-bottom: 1rem"></div>
                </div>
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-row>

        <ion-row style="min-height: 14vh">
          <ion-col
            class="ion-justify-content-center ion-text-center ion-no-margin"
          >
          <small style="color: white">{{ appVersion }}<br>{{ deviceId }}</small>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonText,
  IonList,
  IonItem,
  IonIcon,
  IonThumbnail,
  IonImg,
  onIonViewDidEnter
} from "@ionic/vue";
import { defineComponent, ref } from "vue";

import { App } from '@capacitor/app';
import { Device } from '@capacitor/device';

import {
  shareSocialOutline,
  logoWhatsapp,
  createOutline,
  homeOutline,
} from "ionicons/icons";

export default defineComponent({
  name: "HomePage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonText,
    IonList,
    IonItem,
    IonIcon,
    IonThumbnail,
    IonImg,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";

    const appVersion = ref(null);
    const deviceId = ref(null);

    const checkAppVersion = async () => {
      try {
        const appInfoVersion = await App.getInfo();
        appVersion.value = (appInfoVersion.build ? ('Build: ' + appInfoVersion.build) : '') + ' ' + (appInfoVersion.version ? ('Version: ' + appInfoVersion.version) : '');
      } catch (e) {
        appVersion.value = 'Web Version'
      }
      
      console.log('App Version', appVersion);
    };

    const getDeviceId = async () => {
      const info = await Device.getId();
      deviceId.value = info.uuid;

      console.log('Device Id', info);
    };

    onIonViewDidEnter(() => {
      checkAppVersion();
      getDeviceId();
    });

    return {
      logo,
      shareSocialOutline,
      logoWhatsapp,
      createOutline,
      homeOutline,
      appVersion,
      deviceId
    };
  },
  data: () => ({}),
  computed: {
    getTitle() {
      if (this.$route.path.indexOf("home-help") > 0) {
        return "Pantalla de Bienvenida";
      }
      if (this.$route.path.indexOf("account-options-notifications-help") > 0) {
        return "Notificaciones";
      }
      if (this.$route.path.indexOf("account-options-account-help") > 0) {
        return "Cuenta";
      }
      if (this.$route.path.indexOf("account-options-customers-help") > 0) {
        return "Clientes";
      }
      if (this.$route.path.indexOf("account-options-marketing-help") > 0) {
        return "Publicidad";
      }
      if (this.$route.path.indexOf("account-options-settings-help") > 0) {
        return "Configuración";
      }
      if (this.$route.path.indexOf("glopcard-settings-step-help") > 0) {
        return "Editar Tu Contacto Interactivo";
      }
      if (this.$route.path.indexOf("glopcard-choose-template-step-help") > 0) {
        return "Selecciona una plantilla";
      }
      if (this.$route.path.indexOf("glopcard-pictures-step-help") > 0) {
        return "Elige las imágenes de tu pantalla de inicio";
      }
      if (this.$route.path.indexOf("glopcard-professional-information-step-help") > 0) {
        return "Registra los datos de tu pantalla de inicio";
      }
      if (this.$route.path.indexOf("glopcard-text-color-step-help") > 0) {
        return "Cambia colores y tipografías";
      }
      if (this.$route.path.indexOf("glopcard-contact-information-step-help") > 0) {
        return "Registra tus datos de contacto";
      }
      if (this.$route.path.indexOf("glopcard-social-networks-step-help") > 0) {
        return "Registra tus redes sociales";
      }
      if (this.$route.path.indexOf("glopcard-icons-step-help") > 0) {
        return "Elige el tipo y color de los íconos";
      }
      if (this.$route.path.indexOf("glopcard-location-step-help") > 0) {
        return "Registra tu ubicación y horario de trabajo";
      }
      if (this.$route.path.indexOf("glopcard-background-step-help") > 0) {
        return "Imágenes o fotos";
      }
      if (this.$route.path.indexOf("glopcard-background-color-step-help") > 0) {
        return "Color de fondo";
      }
      return "";
    },
    getContent() {
      if (this.$route.path.indexOf("home-help") > 0) {
        return [
          {
            img: null,
            text: "Esta es la pantalla de inicio glopcare,  presionando el botón <strong>“Registra tu información profesional”</strong>, podrás personalizar y actualizar tu APP, siguiendo las instrucciones.",
          },
          {
            img: null,
            text: "Si quieres habilitar todas las funciones en esta pantalla, tendrás que haber registrado la información correspondiente.",
          },
          {
            img: null,
            text: "En caso de alguna duda, en cada pantalla podrás, presionar la “i” de información o comunicarte con nuestro equipo de soporte, presionando el ícono correspondiente en la barra inferior, al lado derecho del botón ”CUENTA”.",
          },
          {
            img: null,
            text: "Una vez que registres toda la información necesaria podrás ver la vista disponible para tus clientes, al compartir tu glopcare, presionando el texto <strong>“Ver Tu Contacto Interactivo”</strong> destacado en azul.",
          },
          {
            img: null,
            text: "Además, desde esta pantalla tienes acceso a las secciones:",
          },
          {
            img: null,
            text: "Catálogo: Próximamente disponible.",
          },
          {
            img: null,
            text: "Publicidad: Aquí podrás cargar imágenes publicitarias, que verán tus clientes y que podrás cambiar o eliminar, según tu plan de suscripción.",
          },
          {
            img: null,
            text: "A continuación detallaremos los otros elementos que encontrarás en esta pantalla",
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Compartir glopcare Tu Contacto Interactivo",
          },
          {
            img: null,
            text: "Puedes compartirlo, a través de las siguientes opciones:",
            inner: ["■ <strong>Correo electrónico:</strong> Copia la dirección electrónica de la persona y presiona el botón de compartir.", "■ <strong>Whatsapp:</strong> Copia el número de teléfono y presiona el botón de compartir.", "■ <strong>Mensaje de texto (SMS):</strong> Copia el número de teléfono y presiona el botón de compartir.", "■ <strong>Código QR:</strong> Pídele a tu cliente scannear el código con su celular."]
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Barra del menú principal",
          },
          {
            img: null,
            text: "Está ubicada en la parte inferior de las pantallas, y en ella encontrarás los siguientes íconos:",
          },
          {
            icon: "assets/icon/home-bar.svg",
            style: "--size: 30px",
            text: "<strong>Pantalla de inicio:</strong> Esta es la primera pantalla que encuentras al ingresar a tu APP. ",
          },
          {
            icon: "assets/icon/edit-bar.svg",
            style: "--size: 30px",
            text: "<strong>Editar:</strong> Aquí encontarás todas las opciones para editar glopcare, en cualquier momento.",
          },
          {
            img: "assets/img/glopcare-button-logo.png",
            style: "--size: 35px; margin-left: -5px;",
            text: "<strong>Cuenta:</strong> Aquí podrás manejar y administrar elementos clave de tu APP. ",
          },
          {
            icon: "assets/icon/contact-bar.svg",
            style: "--size: 30px",
            text: "<strong>Soporte:<strong> Permite comunicarte inmediatamente con el equipo de glopcare para brindarte asistencia, en el horario de atención al cliente.",
          },
          {
            icon: "assets/icon/share-bar.svg",
            style: "--size: 35px",
            text: "<strong>Compartir:</strong> Al presionar este ícono, compartirás glopcare, para que el público en general, tenga acceso a tu APP.",
          },
        ];
      }
      if (this.$route.path.indexOf("account-options-account-help") > 0) {
        return [
          {
            img: null,
            text: "Desde esta pantalla tendrás acceso para modificar cada una de las secciones indicadas, presionando la pestaña correspondiente:",
            inner: ["■ Notificaciones", "■ Publicidad", "■ Clientes", "■ Configuración"]
          },
          
        ];
      }
      if (this.$route.path.indexOf("account-options-notifications-help") > 0) {
        return [
          {
            img: null,
            text: "Cuando esté disponible alguna  información de interés que debes revisar para tu conocimiento y/o toma de decisiones estratégicas, glopcare podría publicar una señal de alerta, que está identificada con un punto rojo en el ícono de “cuenta”, que se encuentra en el menú principal, ubicado en la barra inferior de la pantalla, y en la campana que encontrarás en el menú desplegable del ícono de “cuenta”, donde podrás visualizar las notificaciones pendientes por revisar, acerca de:",
            inner: ["■ Ofertas, promociones y/o anuncios", "■ Actualizaciones de la APP", "■ Actualización de Condiciones de Uso", "■ Actualización de Políticas de Privacidad", "■ Actualización del Aviso Legal de glopcare"]
          },
        ];
      }
      if (this.$route.path.indexOf("account-options-marketing-help") > 0) {
        return [
          {
            img: null,
            text: "Para promocionar tu negocio en el catálogo, tienes la opción de planificar tu publicidad.",
          },
          {
            img: null,
            text: "El equipo de soporte glopcare, está disponible para asistirte si así lo deseas, sin embargo, tu puedes diseñar y completar directamente el formato para publicar, sin asistencia, siguiendo las instrucciones que encontrarás en tu APP."
          },
          {
            img: null,
            text: "A continuación te explicamos:",
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Asistencia para diseñar publicidad"
          },
          {
            img: null,
            text: "Esta opción consiste en comunicarte directamente con Carem nuestra asistente virtual, quien te ofrecerá las opciones disponibles, para que promociones tus servicios y/o productos en el catálogo.",
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Edita tu publicidad"
          },
          {
            img: null,
            text: "Es una sección diseñada para que puedas incorporar imágenes o videos publicitarios a tu catálogo, en donde tienes la oportunidad de hacerlo por grupos, si así lo has planificado.",
          },
          {
            img: null,
            text: "Recuerda que una vez que muestres una publicidad en tu catálogo, puedes eliminarla o sustituirla fácilmente, en el momento en que tú lo decidas.",
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Diseñar una publicidad atractiva, que transmita la esencia de tus servicios y/o productos, con la finalidad de captar la atención de tu público, para que visiten tu catálogo, es una tarea que puedes realizar solo, ó con la ayuda de nuestro equipo de marketing y diseño gráfico. ",
          },
          {
            img: null,
            text: "No dejes de consultar nuestras opciones, porque estamos seguros que encontrarás una que se ajuste a tus necesidades y presupuesto. Aquí podrás disponer desde plantillas gratis para personalizar, hasta diseños exclusivos.",
          },
          {
            img: null,
            text: "Recuerda colocar la fecha de inicio y culminacióin de tus ofertas y promociones, cuando apliquen.",
          },
        ];
      }
      if (this.$route.path.indexOf("account-options-settings-help") > 0) {
        return [
          {
            img: null,
            text: "En esta pantalla encontrarás las secciones de:",
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Seguridad"
          },
          {
            img: null,
            text: "Aquí podrás cambiar tu usuario y contraseña, además visualizar la activivdad de inicio de sesión",
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Cerrar sesión"
          },
          {
            img: null,
            text: "Si por algún motivo necesitas cerrar tu sesión, puedes hacerlo desde este enlace. ",
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Centro de gestión"
          },
          {
            img: null,
            text: "Desde aquí podrás eliminar tu cuenta glopcare.",
          },
          {
            img: null,
            text: "Eliminar una cuenta",
          },
          {
            img: null,
            text: "Si ya no deseas disfrutar los servicios de glopcare, ingresa a través del enlace “eliminar cuenta”.",
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Debes tener en consideración que, al eliminar tu cuenta, no podrás recuperar de ninguna forma el contenido, ni la información que hayas agregado a glopcare Tu Contacto Interactivo.",
          },
        ];
      }
      if (this.$route.path.indexOf("glopcard-choose-template-step-help") > 0) {
        return [
          {
            img: null,
            text: "Para iniciar el diseño de tu APP <strong>glopcare Tu Contacto Interactivo</strong>, desliza el carrusel de plantillas para seleccionar la de tu preferencia presionando la imagen, que aparecerá en el marco de celular que se encuentra en la esquina superior derecha de la pantalla, para servirte de guía en la personalización de colores y estilos que iniciarás en el próximo paso.",
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Cualquier plantilla que elijas como pantalla principal de <strong>glopcare Tu Contacto Interactivo</strong>, puedes personalizarla con otros colores, fotos, imágenes, tipos de letras, etc., incluso, si tienes un color de marca, podrás ingresar el código Hex.",
          },
          {
            img: null,
            text: "Recuerda que podrías contar con la opción de cambiar la plantilla cuando lo requieras, sin nunguna restricción.",
          },
        ];
      }
      if (this.$route.path.indexOf("glopcard-settings-step-help") > 0) {
        return [
          {
            img: null,
            text: "Desde esta pantalla tendrás acceso para modificar cada una de las secciones indicadas, presionando la barra correspondiente.",
          }
        ];
      }
      if (this.$route.path.indexOf("glopcard-pictures-step-help") > 0) {
        return [
          {
            img: null,
            text: "Una vez seleccionada la plantilla, escoge y sube las imágenes o fotos que aparecerán en la pantalla de inicio de <strong>glopcare Tu Contacto Interactivo:</strong>"
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Imagen del Perfil"
          },
          {
            img: null,
            text: "Selecciona en tu galería, la imagen que será la foto de tu perfil, presionando  el texto correspondiente."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Imagen Complementaria"
          },
          {
            img: null,
            text: "Selecciona en tu galería, una imagen complementaria que acompañará la foto de tu perfil, presionando  el texto correspondiente."
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Escoger imágenes que combinen con los colores de tu marca, hace que tu diseño luzca más profesional. Si necesitas asistencia para seleccionarlas, comunícate con nuestro equipo de soporte técnico."
          },
          {
            img: null,
            text: "Recuerda que podrías contar con la opción de realizar modificaciones cuando lo requieras, según tu plan de suscripción."
          }
        ];
      }
      if (this.$route.path.indexOf("glopcard-professional-information-step-help") > 0) {
        return [
          {
            img: null,
            text: "Esta sección te permitirá incorporar los datos que aparecerán en la pantalla de inicio <strong>glopcare</strong>:"
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Nombre y Apellido o Alias"
          },
          {
            img: null,
            text: "Identifícate como eres conocido en tu medio de trabajo."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Título profesional"
          },
          {
            img: null,
            text: "Agrega el título que mejor describa el trabajo que quieres promocionar a través de esta APP."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Descripción de tu trabajo"
          },
          {
            img: null,
            text: "Explica brevemente de forma sencilla y atractiva, los beneficios de los servicios y/o productos que ofreces."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Barra de catálogo"
          },
          {
            img: null,
            text: "Personaliza el nombre de tu barra o botón de catálogo, para presentar tus servicios y/o productos."
          },
          {
            img: null,
            text: "Para modificarlo, te ofrecemos algunas sugerencias predeterminadas, que encontrarás desplegando la información en la flecha ubicada del lado derecho de la barra. Si deseas indicar otro nombre, selecciona la opción “Escribe otro nombre” y completa la información."
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Mientras no estén publicados tus servicios y/o productos en el catálogo, <strong>glopcare</strong> automáticamente informará a tus clientes, que próximamente estará disponible."
          },
          {
            img: null,
            text: "Este mensaje desaparecerá de inmediato, cuando hagas uso de tu espacio publicitario o esté disponible algún servicio o producto en tu APP."
          }
        ];
      }
      if (this.$route.path.indexOf("glopcard-text-color-step-help") > 0) {
        return [
          {
            img: null,
            text: "Si deseas personalizar el diseño de la pantalla de inicio en <strong>Tu Contacto Interactivo</strong>, puedes modificar:"
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Colores de fondo y letras"
          },
          {
            img: null,
            text: "Para cambiar los colores, presiona el boton que aparece del lado derecho de cada uno de los elementos que desees personalizar, allí dispondrás de diferentes opciones para hacerlo. Si conoces los códigos de colores Hex de tu marca, podrás ingresarlos."
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> En la medida de lo posible, usa un sólo color para todos los textos, que haga suficiente contraste con el fondo seleccionado, para facilitar la lectura."
          },
          {
            img: null,
            text: "También podrás escoger colores que combinen con tus fotos, para conservar la armonía de los elementos gráficos del diseño de <strong>Tu Contacto Interactivo</strong>, y así asegurar que luzca lo más profesional posible."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Tipo y tamaño de letras"
          },
          {
            img: null,
            text: "En esta sección podrás cambiar el tipo y tamaño de letra de los textos de la pantalla de inicio:",
            inner: ["■ Nombre o alias.", "■ Título profesional.", "■ Descripción de tu trabajo.", "■ Barra de catálogo"]
          },
          {
            img: null,
            text: "Para hacerlo, ubícate en la barra correspondiente al texto que deseas personalizar."
          },
          {
            img: null,
            text: "Si en este momento no deseas realizar modificaciones, puedes hacerlo posteriormente, presionando el ícono “EDITAR”, que encontrarás en el menú ubicado en la parte inferior de la pantalla, y selecciona la opción “Colores y tipografías”."
          },
          {
            img: null,
            text: "Sino quieres realizar ningún cambio, presiona el botón “CONTINUAR”."
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Si necesitas asistencia en la selección de colores, puedes contactar nuestro equipo de soporte de diseño gráfico y marketing, que estará disponible para asistirte en los horarios de atención al cliente, tan pronto como sea posible."
          }
        ];
      }
      if (this.$route.path.indexOf("glopcard-contact-information-step-help") > 0) {
        return [
          {
            img: null,
            text: "A continuación, selecciona los íconos de contacto, a través de los cuales, deseas que los clientes se comuniquen contigo, y registra la información correspondiente.",
          },
          {
            img: null,
            text: "Si deseas eliminarlos, presiona la X que encontrarás a la derecha en cada una de las barras, donde registraste la información.",
          },
          {
            img: null,
            text: "Recuerda que podrías contar con la opción de realizar modificaciones cuando lo requieras, sin ninguna restricción.",
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Asegúrate de poder responder a la mayor brevedad posible a tus clientes, a través de cada uno de los contactos que has seleccionado para interactuar con ellos. Si deseas automatizar tus respuestas y no sabes cómo hacerlo, solicita información a nuestro equipo de soporte, para evaluar su factibilidad.",
          },
        ];
      }
      if (this.$route.path.indexOf("glopcard-social-networks-step-help") > 0) {
        return [
          {
            img: null,
            text: "Aquí podrás seleccionar las redes sociales, a través de las cuales, deseas que los clientes interactúen contigo y registrar la información de cada una de ellas.",
          },
          {
            img: null,
            text: "Si deseas eliminarlas, presiona la X que encontrarás a la derecha en cada una de las barras, donde registraste la información.",
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Asegúrate de responder  a la mayor brevedad posible a tus clientes, a través de cada una de las redes sociales que has seleccionado para interactuar con ellos. Si deseas automatizar tus respuestas y no sabes cómo hacerlo, solicita información a nuestro equipo de soporte, para evaluar su factibilidad.",
          },
        ];
      }
      if (this.$route.path.indexOf("glopcard-icons-step-help") > 0) {
        return [
          {
            img: null,
            text: "En esta sección tendrás la oportunidad de modificar el tipo y el color de los íconos de contacto y de tus redes sociales:"
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Tipo de íconos"
          },
          {
            img: null,
            text: "Si deseas modificar el tipo de íconos predeterminado, despliega la información de la flecha ubicada del lado derecho de la barra y selecciona el de tu preferencia, presionando sobre el tipo de ícono correspondiente y marca “<strong>OK</strong>”."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 10px",
            text: "Color de los íconos"
          },
          {
            img: null,
            text: "Si deseas modificar el color de los íconos, presiona el botón que aparece del lado derecho de cada uno de los elementos que desees personalizar. Si conoces los códigos de colores Hex de tu marca, puedes ingresarlos."
          },
          {
            img: null,
            text: "<strong>IMPORTANTE:</strong> Puedes modificar un sólo grupo de íconos o ambos. Sino deseas modificarlos, presiona el botón “CONTINUAR”, para avanzar en el diseño de  <strong>Tu Contacto Interactivo.</strong>"
          },
        ];
      }
      if (this.$route.path.indexOf("glopcard-location-step-help") > 0) {
        return [
          {
            img: null,
            text: "A continuación podrás agregar la dirección de tu sitio de trabajo, haciendo uso de Google Maps, y colocar información adicional, directamente en la barra, para que tus clientes te ubiquen fácilmente.",
          },
          {
            img: null,
            text: "A cada ubicación registrada puedes asignarle un horario de trabajo, presionando el ícono del calendario, cuando lo desees. Al seleccionar la hora, se desplegará una opción para aplicarla a otros días.",
          },
          {
            img: null,
            text: "Si trabajas en diferentes lugares, podrás agregar varias direcciones, con sus respectivos horarios.",
          },
          {
            img: null,
            text: "Si tu trabajo es online, registra solamente tu horario de trabajo.",
          },
          {
            img: null,
            text: "Cuando necesites eliminar alguna dirección, presiona la X que encontrarás del lado derecho de la barra de ubicación y horario correspondiente.",
          },
        ];
      }
      if (this.$route.path.indexOf("glopcard-background-step-help") > 0) {
        return [
          {
            img: null,
            text: "Si eres diseñador gráfico o tienes habilidades en diseño, puedes usar esta opción que te permite personalizar el fondo de <strong>Tu Contacto Interactivo</strong>, sobre el cual se ubicarán: todos los íconos de contacto y de redes sociales, además de la barra de catálogo, que establecerán sus respectivos enlaces al ser programados en la siguiente sección."
          },
          {
            img: null,
            text: "Tanto los íconos, como el botón de catálogo los podrás personalizar, siguiendo las instrucciones, hasta completar todos los pasos para compartir <strong>Tu Contacto Interactivo</strong> con tu público en general."
          },
          {
            img: null,
            text: "<strong>LINEAMIENTOS</strong>: Diseña en un marco de 1080 x 1920 px y deja un espacio libre de 663 pixeles en la parte de abajo y 200 pixeles a la derecha, para que al momento de adjuntar los elementos interactivos (íconos y barra) no interfieran con el diseño que has realizado."
          },
          {
            img: null,
            text: "Recuerda que en el diseño que realices debe aparecer:"
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 20px",
            text: "Presiona la flecha para seleccionar la imagen que será la foto de tu perfil."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 20px",
            text: "Tu foto"
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 20px",
            text: "Tu nombre o Alias."
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 20px",
            text: "Tu título profesional",
          },
          {
            img: "assets/img/glopcare-bullet.png",
            style: "--size: 20px",
            text: "Breve descripción de tu trabajo."
          }
        ];
      }
      if (this.$route.path.indexOf("glopcard-background-color-step-help") > 0) {
        return [
          {
            img: null,
            text: "Selecciona el color del fondo de <strong>Tu Contacto Interactivo</strong>, desplazando el círculo en la barra superior, para que escojas el de tu preferencia, presionando sobre el recuadro."
          },
          {
            img: null,
            text: "Si deseas modificar la transparencia del color, desplaza el círculo sobre la barra inferior."
          },
          {
            img: null,
            text: "También dispones de la opción avanzada para ingresar códigos de colores."
          },
        ];
      }
      if (this.$route.path.indexOf("glopcard-calendly-step-help") > 0) {
        return [
          {
            img: null,
            text: "Paso 1"
          },
          {
            img: null,
            text: "Paso 2"
          },
          {
            img: null,
            text: "Paso 3"
          },
        ];
      }
      return "";
    },
  },
  methods: {},
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>

.continue-button {
  /* position: absolute; */
  /* width: 80%; */

  background: linear-gradient(270deg, #d0ff04 41.2%, #ffffff 100%);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}


.cancel-button {
  /* position: absolute; */
  /* width: 80%; */

  background: #ffffff;
  box-shadow: inset 45px 0px 40px rgba(0, 0, 0, 0.3);
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.continue-button-background {
  position: absolute;
  height: 54px;
  width: 54px;
  padding-left: 0px;
  margin-left: 0px;
  left: var(--ion-margin, 16px);
  background: url("../assets/img/button-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.help-list {
  border-radius: 9px;
  --background: none;
  background: none;
}

.help-list-item {
  background: none;
  --background: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: left;
}

.glopcare-radicula {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 99;
  background-image: url("../assets/img/glopcare-radicula.png");
}
</style>

