<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal v-model:active="isLoading" :can-cancel="false" :is-full-page="true" />
      <ion-grid class="ion-no-padding background">
        <ion-row class="ion-margin">
          <ion-col class="ion-margin-start ion-margin-end ion-margin-top">
            <p v-if="getSelectedGroup" class="small-text ion-no-margin">
              Tus servicios y/o productos del grupo {{ getSelectedGroup }}
            </p>
            <p v-else class="small-text ion-no-margin">
              Servicios y/o productos {{this.$route.path.indexOf("archived") > 0 ? 'archivados' : 'publicados'}}
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin">
            <div class="small-text">
              Selecciona el servicio o producto a editar, o selecciona varios para realizar opciones masivas.
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="ion-margin-start ion-margin-end register-list">
              <ion-item class="register-list-item" lines="none">
                <ion-label position="stacked" style="visibility:hidden">
                  Nombre del producto o servicio</ion-label>
                <ion-input
                  type="text"
                  @ionInput="filterName($event)"
                  placeholder="Buscar"
                ></ion-input>
                <ion-icon :icon="searchSharp" slot="end" style="margin-right: -4px"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-list style="--background: none; background: none;">

              <!-- PRODUCT TYPE LEVEL -->
              <div v-for="product_type in product_type_array" :key="product_type.type" class="ion-margin-bottom">
                <ion-label v-if="content && content.filter(item => item.product_type == product_type.type).length > 0"
                  class="small-text ion-margin-start" style="color: white"><u class="ion-margin-start">{{product_type.label}}</u></ion-label>

                <!-- PRODUCT WITHOUT CATEGORY SET-->
                <ion-item v-for="item in content.filter(item => (item.categories.length == 0 && item.product_type == product_type.type && item.group_id))" :key="item.id" :style="(filteredName && filteredName.length > 0 && !(item.product_name.toLowerCase().includes(filteredName.toLowerCase()))) ? 'display: none' : 'display: block'" lines="none"  class="register-list-item-transparent ion-margin-start ion-margin-top">

                  <ion-thumbnail slot="start" style="display: inline-block; --size: 1.7rem; margin-top: 0.2rem;" class="ion-margin-start">
                      <img :src="item.main_image" class="bottom-icon" style="border-radius: 9px;"/>
                  </ion-thumbnail>

                  <ion-checkbox @ionChange="toggleItem($event, item.id)">
                  </ion-checkbox>

                  <ion-col class="ion-margin-start">
                    <ion-row>
                      <span class="small-text overflow-text" style="color: white">{{ item.product_name }}</span>
                    </ion-row>
                    <ion-row>
                      <ion-label class="hello-sub-title-bold" style="color: white">{{ getPriceType(item.price_type) }} ${{ item.price }}</ion-label>
                    </ion-row>
                  </ion-col>
                </ion-item>

                <!-- CATEGORY LABEL -->
                <div v-for="category in categories.filter(cat => cat.parent == null)" :key="category.id" lines="none" class="ion-margin-start">
                    <ion-label class="small-text ion-margin-start" :style="showCategory(product_type.type, category.value) ? 'display: block' : 'display: none'"><strong>{{category.label}}</strong></ion-label>

                    <!-- PRODUCT WITH CATEGORY SET-->
                    <ion-item v-for="item in content.filter(item => (item.categories.indexOf(category.value) >= 0 && item.product_type == product_type.type))" :key="item.id" :style="(filteredName && filteredName.length > 0 && !(item.product_name.toLowerCase().includes(filteredName.toLowerCase()))) ? 'display: none' : 'display: block'" lines="none"  class="register-list-item-transparent ion-margin-start">

                      <ion-thumbnail slot="start" style="display: inline-block; --size: 1.7rem; margin-top: 0.2rem;">
                          <img :src="item.main_image" class="bottom-icon" style="border-radius: 9px;"/>
                      </ion-thumbnail>

                      <ion-checkbox @ionChange="toggleItem($event, item.id)">
                      </ion-checkbox>

                      <ion-col class="ion-margin-start">
                        <ion-row>
                          <span class="small-text overflow-text" style="color: white">{{ item.product_name }}</span>
                        </ion-row>
                        <ion-row>
                          <ion-label class="hello-sub-title-bold" style="color: white">{{ getPriceType(item.price_type) }} ${{ item.price }}</ion-label>
                        </ion-row>
                      </ion-col>
                    </ion-item>

                    <!-- SUBCATEGORY LABEL -->
                    <div v-for="subcategory in categories.filter(scat => scat.parent == category.value)" :key="subcategory.id" lines="none" class="ion-margin-start">
                      <ion-label class="small-text" :style="showSubcategory(product_type.type, subcategory.value) ? 'display: block' : 'display: none'">{{subcategory.label}}</ion-label>

                      <!-- PRODUCT WITH SUBCATEGORY SET-->
                      <ion-item v-for="item in content.filter(item => (item.categories.indexOf(subcategory.value) >= 0 && item.product_type == product_type.type))" :key="item.id" :style="(filteredName && filteredName.length > 0 && !(item.product_name.toLowerCase().includes(filteredName.toLowerCase()))) ? 'display: none' : 'display: block'" lines="none"  class="register-list-item-transparent ion-align-items-center">

                        <ion-thumbnail slot="start" style="display: inline-block; --size: 1.7rem; margin-top: 0.2rem;">
                            <img :src="item.main_image" class="bottom-icon" style="border-radius: 9px;"/>
                        </ion-thumbnail>

                        <ion-checkbox @ionChange="toggleItem($event, item.id)">
                        </ion-checkbox>

                        <ion-col class="ion-margin-start ion-align-items-center">
                          <ion-row>
                            <span class="small-text overflow-text" style="color: white">{{ item.product_name }}</span>
                          </ion-row>
                          <ion-row>
                            <ion-label class="hello-sub-title-bold" style="color: white">{{ getPriceType(item.price_type) }} ${{ item.price }}</ion-label>
                          </ion-row>
                        </ion-col>
                      </ion-item>
                    </div>
                </div>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row v-if="selectedProducts && selectedProducts.length == 1" class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="$router.push('/edit-product/' + selectedProducts[0])">
              EDITAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row v-if="selectedProducts && selectedProducts.length > 0" class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin-start ion-margin-end ion-margin-top">
            <p class="small-text ion-no-margin">
              Acciones masivas disponibles
            </p>
          </ion-col>
        </ion-row>

        <ion-row v-if="selectedProducts && selectedProducts.length > 0" class="ion-margin-start ion-margin-end">
          <ion-col size="6">
            <div class="continue-button ion-margin-start ion-margin-top" style="margin-right: 4px" @click="archiveProducts">
              {{ this.$route.path.indexOf("archived") > 0 ? 'PUBLICAR' : 'ARCHIVAR'}}
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="delete-button ion-margin-end ion-margin-top" style="margin-left: 4px" @click="deleteProducts">
              ELIMINAR
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonLabel,
  IonItem,
  IonItemOption, IonItemOptions, IonItemSliding,
  IonAccordionGroup,
  IonAccordion,
  IonList,
  IonThumbnail,
  IonCheckbox,
  IonImg,
  IonIcon,
  alertController,
  onIonViewDidEnter
} from "@ionic/vue";
import { defineComponent, ref, reactive, computed } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter, useRoute } from 'vue-router';
import api from "../api";

import {
  close, searchSharp
} from "ionicons/icons";

export default defineComponent({
  name: "ListCatalogItemsPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonItem, IonItemOption, IonItemOptions, IonItemSliding,
    IonLabel,
    IonAccordionGroup,
    IonAccordion,
    IonCheckbox,
    IonList,
    IonThumbnail,
    IonImg,
    IonIcon,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);

    const filteredName = ref(null);

    const presentLoader = () => {
      isLoading.value = true;
    }

    const dismissLoader = () => {
      isLoading.value = false;
    }

    const product_type_array = [
      {
        label: 'PRODUCTOS',
        type: 'product'
      },
      {
        label: 'SERVICIOS',
        type: 'service'
      }
    ];

    const route = useRoute();

    const store = useStore();

    const router = useRouter();

    const content = reactive([]);

    const categories = reactive([]);

    const showSubcategory = (product_type, sub_category) => {

      if (sub_category === undefined) {
        return false;
      }

      let eval_subcategory = content.find((e) => (e.product_type == product_type && e.categories.indexOf(sub_category) >= 0));

      return eval_subcategory == undefined ? false : true;
    };

    const showCategory = (product_type, category) => {

      if (category === undefined) {
        return false;
      }

      let eval_category = content.find((e) => (e.product_type == product_type && e.categories.indexOf(category) >= 0));

      return eval_category == undefined ? false : true;
    };

    const getProductsOrServices = async () => {
      presentLoader();

      const apiUrl = route.path.indexOf("archived") > 0 ? 'products/archived/list' : 'products/' + (store.getters.getSelectedGroup ? store.getters.getSelectedGroup : 'all') + '/list';

      if (route.path.indexOf("archived") > 0) {
        store.commit('setSelectedGroup', null);
      }

      api
        .get(apiUrl, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            console.log('Products or Services:', response.data);
            Object.assign(content, response.data);
          }
        })
        .catch(function (error) {
          console.log(error);
        }).finally(() => {
          dismissLoader();
        });
    };

    onIonViewDidEnter(async () => {
      selectedProducts.value = [];
      await getCategories();
      await getProductsOrServices();
    });

    const selectedProducts = reactive([]);

    const toggleItem = (event, item) => {
      console.log(event.target.checked, item);

      if (event.target.checked == true) {
        selectedProducts.push(item);
      } else {
        let index = selectedProducts.findIndex(e => e == item);
        if (index >= 0) {
          selectedProducts.splice(index, 1);
        }

      }

      console.log(selectedProducts);
    }

    const archiveProducts = async () => {
      const alert = await alertController.create({
        header: "¡Advertencia!",
        subHeader: `¿Confirma que desea ${route.path.indexOf("archived") > 0 ? 'publicar' : 'archivar'} los productos seleccionados?`,
        message: route.path.indexOf("archived") > 0 ?
         "Al presionar OK publicas estos productos a tus clientes. Recuerda tener actualizado los datos de tu producto o servicio antes de publicar." :
         "Al presionar OK ocultas estos productos a tus clientes, podrás activarlos nuevamente desde el menú del catálogo. Los productos archivados no se ocultan de pedidos previamente realizados.",
        buttons: [
          {
            text: "OK",
            role: "confirm",
            handler: () => {

              presentLoader();

              let archiveObject = {
                ids: selectedProducts
              }

              api
                .post("products/archive", archiveObject, {
                  headers: {
                    Authorization: `Bearer ${store.getters.getAccessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);

                  while (content.length) {
                    content.pop();
                  }

                  dismissLoader();

                  await getProductsOrServices();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.data.message;
                    }
                  } else {
                    message = error.message
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader: "Ha ocurrido un error",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });
            },
          },
          {
            text: "CANCELAR",
            role: "Cancel",
          },
        ],
      });

      await alert.present();
    }

    const deleteProducts = async () => {
      const alert = await alertController.create({
        header: "¡Advertencia!",
        subHeader: "¿Confirma que desea eliminar los productos seleccionados?",
        message:
          "Al presionar OK ELIMINAS DEFINITIVAMENTE los productos y esta acción no se puede deshacer.",
        buttons: [
          {
            text: "OK",
            role: "confirm",
            handler: () => {

              presentLoader();

              let deleteObject = {
                ids: selectedProducts
              }

              api
                .post("products/delete", deleteObject, {
                  headers: {
                    Authorization: `Bearer ${store.getters.getAccessToken}`,
                  },
                })
                .then(async function (response) {
                  console.log(response);

                  while (content.length) {
                    content.pop();
                  }

                  dismissLoader();

                  await getProductsOrServices();
                })
                .catch(async function (error) {
                  console.error(JSON.stringify(error));
                  var message;

                  dismissLoader();

                  if (error && error.response && error.response.status) {
                    switch (error.response.status) {
                      default:
                        message = error.response.data.message;
                    }
                  } else {
                    message = error.message
                  }

                  const alert = await alertController.create({
                    header: "Alerta",
                    subHeader: "Ha ocurrido un error",
                    message: message,
                    buttons: ["OK"],
                  });
                  await alert.present();
                });
            },
          },
          {
            text: "CANCELAR",
            role: "Cancel",
          },
        ],
      });

      await alert.present();
    }

    const getCategories = async () => {
      presentLoader();

      api
        .get("products/categories/list", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          if (response && response.data) {
            console.log('Categories:', response.data);
            await Object.assign(categories, response.data);

            while (categories.length) {
              await categories.pop();
            }

            await response.data.forEach((item) => {
              let category_item = {
                type: 'radio',
                label: item.category_name,
                value: item.id,
                parent: item.parent_category
              }
              categories.push(category_item);
            });
            console.log('Categories for Select:', categories);
          }
        })
        .catch(function (error) {
          console.log(error);
        }).finally(() => {
          dismissLoader();
        });
    };

    const filterName = (ev) => {
      filteredName.value = ev.target.value;
    }

    return {
      logo, isLoading, presentLoader, dismissLoader, router, content, close, searchSharp, store, toggleItem, 
      selectedProducts, deleteProducts, filteredName, filterName, categories, product_type_array, showSubcategory,
      showCategory, archiveProducts
    };
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser", "getSelectedGroup"]),
  },
  methods: {
    callAction(action) {
      action.call(null, this.getAccessToken, this.getUser.profile, this);
    },

    checkOption(ev) {
      console.log(ev.target.value);
      this.$store.commit('setAccountOption', 'account-options-' + ev.target.value + '-help');
    },

    getPriceType(priceType) {
      let priceLabel = '';

      switch (priceType) {
        case 'per-hour':
          priceLabel = 'Por hora';
          break;
        case 'min':
          priceLabel = 'Desde';
          break;
        case 'max':
          priceLabel = 'Hasta'
          break;
      }

      return priceLabel;
    }
  },
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped>
.remove-icon {
  font-size: 1.5rem;
  color: white;
  top: 1rem;
  right: 1rem;
  position: absolute;
}

.accordeon-list {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}

ion-accordion {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}

ion-accordion-group {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}

.accordeon-list-item {
  background: #000000;
  --background: #000000;
}

.accordeon-header {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
  --background: none;
  box-shadow: 0px -4px 10px #414c69;
  border-radius: 24px 0px 0px 0px;
}

.inner-options-background {
  background: linear-gradient(270deg,
      #414c69 -7.21%,
      #010a22 26.49%,
      #000000 93.89%) !important;
}
</style>

