<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading-modal v-model:active="isLoading" :can-cancel="false" :is-full-page="true" />
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>
        <ion-row>
          <ion-img :src="logo" class="welcome-logo"></ion-img>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list class="ion-margin-start ion-margin-end register-list">
              <ion-item class="register-list-item ion-margin-bottom">
                <ion-label position="stacked" :style="email && email.length
                  ? 'visibility:unset; padding-left: 4px;'
                  : 'visibility:hidden'
                  ">Correo electrónico</ion-label>
                <ion-input v-model="email" placeholder="Correo electrónico" :style="email && email.length
                  ? 'margin-top: -0.5rem'
                  : 'margin-top:-1rem'
                  " @keypress="validateEmail($event)"></ion-input>
              </ion-item>
              <ion-item class="register-list-item">
                <ion-label position="stacked" :style="password && password.length
                  ? 'visibility:unset; padding-left: 4px;'
                  : 'visibility:hidden'
                  ">Contraseña</ion-label>
                <ion-input placeholder="Contraseña" v-model="password" :type="showPassword ? 'input' : 'password'" :style="password && password.length
                  ? 'margin-top: -0.5rem'
                  : 'margin-top:-1rem'
                  "></ion-input>
                <ion-icon src="assets/icon/eye.svg" slot="end" style="right: 0px" @click="
                                                                    {
                  showPassword = showPassword ? false : true;
                }
                  "></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p class="
                  small-text
                  ion-margin-start ion-margin-end ion-margin-bottom
                  link-text
                " @click="$router.push('/password')">
                ¿Olvidaste tu Contraseña?
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="login()">
              INICIAR SESIÓN
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p class="normal-text ion-margin-end ion-margin-start">
                Si no tienes cuenta
                <img src="assets/img/glopcare-text-logo-inline.png" style="height: 1.5em; vertical-align: middle" /><span
                  @click="$router.push('/register')" class="link-text">&nbsp;REGÍSTRATE</span>
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="position: relative" class="ion-margin-start">
              <p class="
                  small-text
                  ion-margin-start ion-margin-end ion-margin-bottom
                  link-text
                " @click="$router.push('/social-register')">
                Inicia Sesión de otra forma
              </p>
              <p class="small-text ion-margin ion-margin-start">
                ¿Requieres Asistencia?&nbsp;<a
                  href="whatsapp://send?abid=+584144205003&text=Requiero%2C%20ayuda%2C%20con%2C%20glopcare"><img
                    src="assets/img/whatsapp-help-icon.png"
                    style="height: 5.6vh; width: auto; vertical-align: middle" /></a>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  IonIcon,
  alertController,
  toastController
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { useRouter } from "vue-router";
import api from "../api";

import { Device } from '@capacitor/device';

export default defineComponent({
  name: "LoginPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
    IonIcon,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const email = ref('');
    const password = ref('');
    const showPassword = ref(false);

    const router = useRouter();

    const accessToken = ref(null);
    const user = reactive({});
    const isLoading = ref(false);

    const openToast = async (message, duration, color, position) => {
        const toast = await toastController
          .create({
            message: message,
            duration: duration,
            color: color,
            position: position
          })
        return toast.present();
      };

    const login = async () => {
      isLoading.value = true;


      const deviceId = await Device.getId();
      console.log('Device Id', deviceId);

      const deviceInfo = await Device.getInfo();
      console.log('Device Info', JSON.stringify(deviceInfo));

      const loginObject = new FormData();

      loginObject.append("email", email.value);
      loginObject.append("password", password.value);
      loginObject.append("device_id", deviceId.uuid);
      loginObject.append("device_info", JSON.stringify(deviceInfo));

      api
        .post("login", loginObject)
        .then(async function (response) {
          console.log(response);

          if (response.data.warning_message && response.data.warning_message != null) {

            let obj = JSON.parse(response.data.last_device_info);
            let message = '';

            if (response.data.last_device_info && response.data.last_device_info != null) {
              message = '<strong>Información del dispositivo anterior:</strong><br>';
              for (const [key, value] of Object.entries(obj)) {
                message += `${key}: ${value}<br>`;
              }
            }

            const alert = await alertController.create({
              header: 'Alerta',
              subHeader: response.data.warning_message,
              message: message,
              buttons: [{
                text: 'OK',
                role: 'confirm'
              }]
            });

            await alert.present();

          } 
          // else {
            accessToken.value = response.data.access_token;

            openToast('Cargando tu información...', 2000, 'primary', 'top');

            api
              .get("me", {
                headers: {
                  Authorization: `Bearer ${accessToken.value}`,
                },
              })
              .then((response) => {
                console.log(response);

                Object.assign(user, response.data);
                // alert(`¡Bienvenido, ${user.name}!`, null);
              })
              .catch(function (error) {
                console.log(error);
                if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info') {
                  alert(JSON.stringify(error.response.data.message), "danger");
                } else {
                  alert(JSON.stringify(error.response.data));
                }
              });
          // }
        })
        .catch(async function (error) {
          console.log(error);
          var message;
          var subHeader = 'Ha ocurrido un error';
          var buttons = null;

          switch (error.response.status) {
            case 409:
              message = 'Detectamos que has iniciado sesion anteriormente empleando una red social. Por favor inicia sesión de esa manera.';
              subHeader = 'Inicio de sesión inválido';
              buttons = [
                {
                  text: 'OK',
                  role: 'confirm',
                  handler: () => {
                    router.push("/social-register");
                  }
                }
              ];
              break;
            case 401:
              message = 'La combinación de usuario y contraseña no es válida.';
              break;
            case 404:
              message = 'No existe ningun usuario registrado con este correo.';
              break;
            case 410:
              message =
                "Por favor, verifica tu cuenta visitando el link que te enviamos por correo o SMS.";
              break;
            default:
              message = error.response.message;
          }

          const alert = await alertController.create({
            header: 'Alerta',
            subHeader: subHeader,
            message: message,
            buttons: buttons ? buttons : ['OK'],
          });
          await alert.present();
        }).finally(() => {
          isLoading.value = false;
        });
    };

    return {
      logo, email, password, showPassword, login, user, accessToken, isLoading
    };
  },
  watch: {
    user: {
      deep: true,
      handler(value) {
        console.log(value);

        let parsedValue = JSON.parse(JSON.stringify(value));
        this.setLocalStorage("user", parsedValue);
        this.$store.commit("setUser", parsedValue);

        if (value) {
          this.$router.push("home");
        }
      },
    },
    accessToken(value) {
      console.log(value);
      this.setLocalStorage("accessToken", value);
      this.$store.commit("setAccessToken", value);
    },
  },
  data: () => ({
  }),
  methods: {
    validateEmail(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[a-z0-9@.]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    }
  },
});
</script>

<style scoped src="../theme/style.css"></style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.welcome-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.84;
}
</style>


