<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>
        <ion-row class="ion-no-margin">
          <ion-col size="12" class="ion-no-margin">
            <div style="position: relative" >
              <p class="ion-text-center ion-no-margin">
                <ion-text class="welcome-title">Recuperar<br />Contraseña</ion-text></p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="
                ion-margin-start ion-margin-end
                register-list
              "
            >
              <ion-item class="register-list-item">
                <ion-label position="stacked" :style="(email && email.length) ? 'visibility:unset; padding-left: 4px;' : 'visibility:hidden'">Correo electrónico o Teléfono</ion-label>
                <ion-input placeholder="Correo electrónico o Teléfono" v-model="email" :style="((email && email.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')" @keypress="validateEmailPhone($event)"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end ion-margin-bottom">
          <ion-col size="6">
            <div class="cancel-button ion-margin-start ion-margin-top" style="margin-right: 4px">
              CANCELAR
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="continue-button-condensed ion-margin-end ion-margin-top" style="margin-left: 4px" @click="retrievePassword()">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12" class="ion-margin-start ion-margin-top">
            <div style="position: relative" class="ion-margin-start">
              <p class="normal-text ion-no-margin">
                Volver a
                <!-- <img
                  src="assets/img/glopcare-text-logo-inline.png"
                  style="height: 1.5em; width: auto; vertical-align: middle"
                /> -->
                <span @click="$router.push('/social-register')" class="link-text"
                  >&nbsp;INICIO DE SESIÓN</span
                >
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p class="small-text ion-margin-start">
                ¿Requieres Asistencia?&nbsp;<a
                  href="whatsapp://send?abid=+584144205003&text=Requiero%2C%20ayuda%2C%20con%2C%20glopcare"
                  ><img
                    src="assets/img/whatsapp-help-icon.png"
                    style="height: 5.6vh; width: auto; vertical-align: middle"
                /></a>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  alertController
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";
import api from "../api";

export default defineComponent({
  name: "LostPasswordPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const email = ref('');
    const router = useRouter();
    const isLoading = ref(false);

    const retrievePassword = () => {
      isLoading.value = true;

      const forgotObject = new FormData();
      forgotObject.append("email", email.value);

      api
          .post("restore-password", forgotObject)
          .then(async function (response) {
            console.log(response);
            const alert = await alertController.create({
            header: '¡Contraseña restablecida!',
            subHeader: 'Revisa tu Correo',
            message: 'Te hemos enviado un correo con las instrucciones para restablecer tu contraseña. Una vez lo hagas, inicia sesión con tu nueva contraseña o con una red social.',
            buttons: [
              {
                text: 'OK',
                role: 'confirm',
                handler: () => {
                  router.push("/social-register");
                }
              }
            ]
          });

          await alert.present();
        })
        .catch(async function (error) {
          console.log(error);
          var message;

          switch (error.response.status) {
            case 422:
              message =
                "No especificaste un correo o telefono válido. Por favor, intenta de nuevo.";
              break;
              case 401:
              message =
                "El correo o teléfono registrado no se encontró. Por favor, intenta de nuevo.";
              break;
            default:
              message = "Ha ocurrido un error intentando iniciar sesión.";
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        }).finally(() => {
          isLoading.value = false;
        })
    };

    return {
      logo, email, retrievePassword, isLoading
    };
  },
  data: () => ({
    currentRole: null,
  }),
  methods: {
    validateEmailPhone(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[a-z0-9+@.]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    }
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.welcome-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.84;
}
</style>

