x<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>
        <ion-row>
          <ion-img :src="logo" class="welcome-logo"></ion-img>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list class="ion-margin-start ion-margin-end register-list">
              <!-- <ion-item class="register-list-item ion-margin-bottom">
                <ion-label
                  position="stacked"
                  :style="
                    phone && phone.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Teléfono</ion-label
                >
                <ion-input
                  v-model="phone"
                  placeholder="Teléfono"
                  :style="
                    phone && phone.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                  @keypress="validatePhone($event)"
                ></ion-input>
              </ion-item> -->
              <MazPhoneNumberInput
                v-model="phone"
                show-code-on-list
                color="info"
                :preferred-countries="['US', 'VE']"
                placeholder="Teléfono"
                :translations="{
                  countrySelector: {
                    placeholder: 'País',
                    error: 'Elige el país',
                  },
                }"
                @keypress="validatePhone($event)"
              />
              <ion-item class="register-list-item ion-margin-top">
                <ion-label
                  position="stacked"
                  :style="
                    password && password.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Contraseña</ion-label
                >
                <ion-input
                  placeholder="Contraseña"
                  v-model="password"
                  :type="showPassword ? 'input' : 'password'"
                  :style="
                    password && password.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                ></ion-input>
                <ion-icon
                  src="assets/icon/eye.svg"
                  slot="end"
                  style="right: 0px"
                  @click="
                    {
                      showPassword = showPassword ? false : true;
                    }
                  "
                ></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p
                class="
                  small-text
                  ion-margin-start ion-margin-end ion-margin-bottom
                  link-text
                "
                @click="$router.push('/password')"
              >
                ¿Olvidaste tu Contraseña?
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="login()">
              INICIAR SESIÓN
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <div>
              <p
                class="
                  small-text
                  ion-margin-start ion-margin-end ion-margin-bottom
                  link-text
                "
                @click="$router.push('/social-register')"
              >
                Inicia Sesión de otra forma
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="position: relative" class="ion-margin-start">
              <p class="small-text ion-margin ion-margin-start">
                ¿Requieres Asistencia?&nbsp;<a
                  href="whatsapp://send?abid=+584144205003&text=Requiero%2C%20ayuda%2C%20con%2C%20glopcare"
                  ><img
                    src="assets/img/whatsapp-help-icon.png"
                    style="height: 5.6vh; width: auto; vertical-align: middle"
                /></a>
              </p>
              <p class="normal-text ion-margin-end ion-margin-start">
                Sino tienes cuenta
                <img
                  src="assets/img/glopcare-text-logo-inline.png"
                  style="height: 1.5em; vertical-align: middle"
                /><span
                  @click="$router.push('/phone-register')"
                  class="link-text"
                  >&nbsp;Regístrate</span
                >
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  alertController,
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import api from "../api";

export default defineComponent({
  name: "LoginPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const phone = ref("");
    const password = ref("");
    const showPassword = ref(false);

    const accessToken = ref(null);
    const user = reactive({});
    const isLoading = ref(false);

    const login = () => {
      isLoading.value = true;

      const loginObject = new FormData();

      loginObject.append("phone", phone.value);
      loginObject.append("password", password.value);

      api
        .post("login/phone", loginObject)
        .then(async function (response) {
          console.log(response);

          accessToken.value = response.data.access_token;

          api
            .get("me", {
              headers: {
                Authorization: `Bearer ${accessToken.value}`,
              },
            })
            .then((response) => {
              console.log(response);

              Object.assign(user, response.data);
              // alert(`¡Bienvenido, ${user.name}!`, null);
            })
            .catch(function (error) {
              console.log(error);
            });
        })
        .catch(async function (error) {
          console.log(error);
          var message;

          switch (error.response.status) {
            case 401:
              message =
                "La combinación de teléfono y contraseña es inválida. Por favor, intenta de nuevo.";
              break;
              case 404:
                message = 'No existe ningun usuario registrado con este teléfono.';
              break; 
            case 410:
              message =
                " Por favor, verifica tu cuenta visitando el link que te enviamos por SMS.";
              break;
            default:
              message = "Ha ocurrido un error intentando iniciar sesión.";
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    return {
      logo,
      phone,
      password,
      showPassword,
      login,
      user,
      accessToken,
    };
  },
  watch: {
    user: {
      deep: true,
      handler(value) {
        console.log(value);

        let parsedValue = JSON.parse(JSON.stringify(value));
        this.setLocalStorage("user", parsedValue);
        this.$store.commit("setUser", parsedValue);

        if (value) {
          this.$router.push("home");
        }
      },
    },
    accessToken(value) {
      console.log(value);
      this.setLocalStorage("accessToken", value);
      this.$store.commit("setAccessToken", value);
    },
  },
  data: () => ({}),
  methods: {
    validatePhone(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[0-9+]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    }
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.welcome-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.84;
}
</style>

