<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>

        <ion-row class="ion-no-margin">
          <ion-img :src="logo" class="welcome-logo"></ion-img>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-title"> ¡Prueba ya! </ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-sub-title"> Totalmente Gratis </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="
                ion-margin-top ion-margin-start ion-margin-end
                register-list
              "
            >
              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
              >
                <span class="prefix">glopcare.com/</span>
                <ion-input
                  v-model="username"
                  inputmode="”email”"
                  style="margin-top: 0px; margin-left: 0px"
                  placeholder="usuario"
                  @keypress="validateUsername($event)"
                ></ion-input>
              </ion-item>
              <!-- <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    phone && phone.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Teléfono</ion-label
                >
                <ion-input
                  v-model="phone"
                  placeholder="Teléfono"
                  type="phone"
                  :style="
                    phone && phone.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                  @keypress="validatePhone($event)"
                ></ion-input>
              </ion-item> -->

              <MazPhoneNumberInput
                v-model="phone"
                show-code-on-list
                color="info"
                :preferred-countries="['VE', 'US']"
                placeholder="Teléfono"
                :translations="{
                  countrySelector: {
                    placeholder: 'País',
                    error: 'Elige el país',
                  },
                }"
                @keypress="validatePhone($event)"
              />

              <ion-item
                class="register-list-item ion-margin-bottom ion-margin-top"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    password && password.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Contraseña</ion-label
                >
                <ion-input
                  v-model="password"
                  placeholder="Contraseña"
                  :type="showPassword ? 'input' : 'password'"
                  :style="
                    password && password.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                ></ion-input>
                <!-- <ion-icon src="assets/icon/eye.svg" slot="end" style="right: 0px" @click="{showPassword = showPassword ? false : true;}"></ion-icon> -->
              </ion-item>
              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
              >
                <ion-label
                  position="stacked"
                  :style="
                    verify_password && verify_password.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Confirmar contraseña</ion-label
                >
                <ion-input
                  v-model="verify_password"
                  placeholder="Confirmar contraseña"
                  :type="showPassword ? 'input' : 'password'"
                  :style="
                    verify_password && verify_password.length
                      ? 'margin-top: -0.5rem'
                      : 'margin-top:-1rem'
                  "
                ></ion-input>
                <!-- <ion-icon src="assets/icon/eye.svg" slot="end" style="right: 0px" @click="showPassword = showPassword ? false : true"></ion-icon> -->
              </ion-item>
              <ion-item
                class="register-list-item-check ion-no-margin"
                lines="none"
              >
                <ion-label color="light" class="ion-margin-start"
                  >Mostrar contraseña</ion-label
                >
                <ion-checkbox
                  :checked="false"
                  slot="start"
                  class="ion-no-margin ion-no-padding"
                  @ionChange="toggleShowPassword"
                ></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-margin-start ion-margin-end"
          style="margin-bottom: 0.7rem"
        >
          <ion-col size="12">
            <div style="position: relative; margin-top: 0.5rem">
              <p class="small-text ion-margin">
                Al presionar “CREAR CUENTA”, confirmas que leíste la
                <span class="link-text">Política de Privacidad</span> y que
                aceptas las <span class="link-text">Condiciones de Uso</span>
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="register()">
              CREAR CUENTA
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="position: relative" class="ion-margin-start">
              <p class="normal-text ion-margin">
                Si ya tienes cuenta
                <img
                  src="assets/img/glopcare-text-logo-inline.png"
                  style="height: 1.5em; width: auto; vertical-align: middle"
                /><span @click="$router.push('/phone-login')" class="link-text"
                  >&nbsp;Inicia Sesión</span
                >
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  IonCheckbox,
  IonText,
  alertController,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";
import api from "../api";

export default defineComponent({
  name: "PhoneRegisterPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
    IonCheckbox,
    IonText,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);
    const phone = ref("");
    const phoneNumber = ref();
    const password = ref("");
    const verify_password = ref("");
    const username = ref("");
    const showPassword = ref(false);
    const router = useRouter();

    const register = async () => {
      if (!password.value || (password.value != verify_password.value) || password.value.length < 8) {
        const alert = await alertController.create({
          header: "Aviso",
          subHeader: 'Las contraseñas no son validas o no coinciden',
          message: 'Por favor, revisa que las hayas ingresado correctamente, y que tengan al menos 8 caracteres',
          buttons: ["OK"],
        });

        alert.present();

        return;
      }

      isLoading.value = true;

      const registerObject = new FormData();

      registerObject.append("phone", phone.value);
      registerObject.append("password", password.value);
      registerObject.append("username", username.value);

      api
        .post("register/phone", registerObject)
        .then(async function (response) {
          console.log(response);
          const alert = await alertController.create({
            header: "¡Bienvenido!",
            subHeader: "Confirma tu Teléfono",
            message:
              "Te hemos enviado un SMS. Sigue las instrucciones ahí detalladas para confirmar la creación de la cuenta.",
            buttons: [
              {
                text: "OK",
                role: "confirm",
                handler: () => {
                  router.push("/phone-login");
                },
              },
            ],
          });

          await alert.present();
        })
        .catch(async function (error) {
          console.error(error);
          var message;

          switch (error.response.status) {
            case 422:
              message =
                "El teléfono que has registrado es inválido o ya existe. Utiliza recordar contraseña si crees que ya ha sido utilizado.";
              break;
            default:
              message =
                "Pudimos crear tu cuenta pero ha ocurrido un error al enviar el mensaje de notificacion. Puedes intentar iniciar sesión.";
          }

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    return {
      logo,
      register,
      isLoading,
      phone,
      password,
      username,
      verify_password,
      showPassword,
      phoneNumber,
    };
  },
  data: () => ({
    currentRole: null,
  }),
  watch: {},
  methods: {
    toggleShowPassword() {
      this.showPassword = this.showPassword ? false : true;
    },
    validateUsername(evt) {
      evt = evt ? evt : window.event;
      if (!evt.key.match(/[a-z0-9]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    validatePhone(evt) {
      evt = evt ? evt : window.event;
      if (!evt.key.match(/[0-9+]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
</style>

