<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" :style="getSelectedTemplate ? '--background: '+ getSelectedTemplate.style.flexStack.backgroundColor : ''">
      <component v-if="getSelectedTemplate && getSelectedTemplate.template"
              id="preview"
              name="preview"
                :is="getSelectedTemplate.template"
              >
              </component>
              <ion-icon :src="close" class="close-icon" style="font-size: 3rem; color: white; top: 1.7rem; right: 2rem; position: absolute; z-index: 100;" @click="$router.go(-1)"></ion-icon>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonIcon,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";

import TemplatePage001 from "../templates/TemplatePage001.vue";
import TemplatePage002 from "../templates/TemplatePage002.vue";
import TemplatePage003 from "../templates/TemplatePage003.vue";
import TemplatePage004 from "../templates/TemplatePage004.vue";
import TemplatePage005 from "../templates/TemplatePage005.vue";

export default defineComponent({
  name: "PreviewPage",
  components: {
    IonContent,
    IonPage,
    IonIcon,
    TemplatePage001,
    TemplatePage002,
    TemplatePage003,
    TemplatePage004,
    TemplatePage005,
  },
  setup() {
      const close = "assets/icon/close-icon.svg";
    

    return {
      close
    };
  },
  computed: {
    ...mapGetters(["getSelectedTemplate"]),
  },
  data: () => ({
  }),
  methods: {},
});
</script>

<style scoped src="../theme/style.css">
</style>
