<template>
    <ion-page>
      <ion-content :fullscreen="true" scroll="false" class="background"
        :style="(getUser && getUser.profile && getUser.profile.selected_template) ? '--background:' + getUser.profile.selected_template.style.flexStack.backgroundColor : ''">
        <swiper :modules="modules" :autoplay="true" :navigation="{
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }" :pagination="{
    el: '.swiper-pagination',
    clickable: true,
    renderBullet: function (index, className) {
      return `<span class='${className}'></span>`;
    },
  }" style="
                width: 100%; 
                --swiper-navigation-color: #fff; 
                --swiper-pagination-bottom: -10px; 
                --swiper-pagination-bullet-size: 14px; 
                --swiper-pagination-color: #FFF; 
                --swiper-pagination-bullet-horizontal-gap: 2px;
                --bullet-background-active: #D9D9D9;
                --bullet-background: transparent">
          <swiper-slide v-for="image in images" :key="image.id" style="width: 100%;">
            <div :style="image.style" class="catalog-slide">
              <img :src="image.url" style="visibility: hidden;" />
            </div>
          </swiper-slide>
          <ion-row class="ion-align-items-center ion-margin-top">
            <ion-col size="6" class="ion-align-items-center">
              <div class="swiper-pagination"></div>
            </ion-col>
            <ion-col size="5" class="ion-align-items-center ion-no-padding">
              <ion-text class="skip-catalog" :style="'color:' + userNameColor">SALTAR PUBLICIDAD</ion-text>
            </ion-col>
            <ion-col size="1" class="ion-align-items-center ion-no-padding">
              <ion-icon :src="forward" :style="'filter:' + fillToFilter"></ion-icon>
            </ion-col>
          </ion-row>
        </swiper>
  
        <!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> -->
  
      </ion-content>
    </ion-page>
  </template>
  
  <script>
  import {
    IonContent,
    IonPage,
    IonGrid,
    IonText,
    IonImg,
    IonLabel,
    IonIcon,
    IonInput,
    IonItem,
    IonList,
    IonCol,
    IonRow,
    alertController,
    onIonViewWillEnter
  } from "@ionic/vue";
  import { defineComponent, ref, reactive, onMounted } from "vue";
  import { share } from "ionicons/icons";
  
  import { mapGetters, useStore } from "vuex";
  
  import { useRouter, useRoute } from "vue-router";
  
  import { Autoplay, Navigation, Pagination } from 'swiper';
  import { Swiper, SwiperSlide } from 'swiper/vue';
  
  import 'swiper/css';
  import '@ionic/vue/css/ionic-swiper.css';
  import 'swiper/css/autoplay';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';
  
  import api from "../api";
  
  import { hexToCSSFilter } from 'hex-to-css-filter';
  
  export default defineComponent({
    name: "PreviewCatalogPage",
    components: {
      IonContent,
      IonPage,
      IonGrid,
      IonText,
      IonImg,
      IonLabel,
      IonIcon,
      IonInput,
      IonItem,
      IonList,
      IonRow,
      IonCol,
      Swiper,
      SwiperSlide,
    },
    setup() {
      const customShareGrey = "assets/icon/share-grey.svg";
      const customShare = "assets/icon/share.svg";
      const forward = "assets/icon/forward.svg";
  
      const timer = ref(null);
      const newBackground = ref('#676d7a');
  
      const store = useStore();
  
      const groups = ref([]);
  
      const images = reactive([]);
  
      onIonViewWillEnter(() => {
  
        const requestBackground = () => {
          console.log('Attemping obtain background...');
  
          if (store.getters.getUser && store.getters.getUser.profile.selected_template.style.flexStack.backgroundColor) {
            newBackground.value = store.getters.getUser.profile.selected_template.style.flexStack.backgroundColor;
            console.log('Background obtained...');
          } else {
            console.log('User was not ready for background. Retrying later...');
            setTimeout(requestBackground, 300);
          }
  
          document
            .getElementById("body")
            .style.setProperty("background", newBackground.value);
        }
  
        timer.value = setTimeout(requestBackground, 100);
  
        if (images.length == 0){
          getPublicCatalog();
        }
      });
  
      const router = useRouter();
      const route = useRoute();
  
      const getPublicCatalog = () => {
  
        api
          .get("catalog/" + store.getters.getUID)
          .then(async (response) => {
            console.log(response);
            Object.assign(groups, response.data);
  
  
            response.data.forEach(group => {
              group.group_layout.forEach(image => {
                images.push(image);
              });
            });
  
            console.log(images);
  
          })
          .catch(function (error) {
            console.log(error);
          });
      }

      onMounted(() => {
        getPublicCatalog();
      });
  
      return {
        customShare,
        customShareGrey,
        forward,
        share,
        groups,
        images,
        modules: [Autoplay, Navigation, Pagination],
      };
    },
    data: () => ({
      currentRole: null,
    }),
    computed: {
      ...mapGetters(["getUser"]),
      fillToFilter() {
        let fill = (this.getUser && this.getUser.profile.selected_template) ? this.getUser.profile.selected_template.style.templateUserName.color : '#FFF';
        return hexToCSSFilter(fill).filter;
      },
      userNameColor() {
        return (this.getUser && this.getUser.profile.selected_template) ? this.getUser.profile.selected_template.style.templateUserName.color : '#FFF';
      }
    },
    methods: {},
  });
  </script>
  
  <style scoped src="../theme/style.css"></style>
  
  <style scoped>
  .catalog-slide {
    width: 100%;
    height: 100%;
    background-size: cover !important;
  }
  
  .swiper-button-next {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
  
  .swiper-button-next::after {
    display: none;
  }
  
  .swiper-button-prev {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
  
  .swiper-button-prev::after {
    display: none;
  }
  
  .swiper-pagination {
    text-align: start;
    position: relative;
    /*top: auto !important;
    right: auto !important;
    width: auto !important;
    left: 8px; */
    bottom: auto;
    margin: 0;
  }
  
  .skip-catalog {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: right;
  }
  </style>
  
  <style>
  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #fff;
  }
  </style>