<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end ion-align-items-center">
          <ion-col class="ion-align-self-center" size="2"
            ><ion-icon
              class="ion-margin-start"
              :icon="customShare"
              style="font-size: 2rem; color: white; padding-top: 0.5rem"
            ></ion-icon
          ></ion-col>
          <ion-col class="ion-align-self-center" size="10"
            ><ion-text
              class="hello-sub-title"
              style="font-size: 1.2em; color: white"
              >Compartir glopcare</ion-text
            ></ion-col
          >
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row class="ion-no-margin">
          <ion-col
            class="ion-justify-content-center ion-text-center ion-no-margin"
          >
            <qrcode-vue
              :value="qrValue"
              :size="280"
              level="H"
              :margin='1'
              class="ion-justify-content-center ion-text-center"
            />
          </ion-col>
        </ion-row>
        
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="$router.go(-1)">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 5vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonText,
  IonImg,
  IonIcon,
  onIonViewWillEnter,
} from "@ionic/vue";
import { defineComponent } from "vue";
import QrcodeVue from "qrcode.vue";

import { useRoute } from 'vue-router';

import { shareOutline } from "ionicons/icons";

export default defineComponent({
  name: "QRPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonText,
    IonImg,
    QrcodeVue,
    IonIcon
  },
  setup() {
    const route = useRoute();
    const logo = "assets/img/glopcare-logo-with-text.png";
    const qrValue = "https://glopcare.com/" + route.params.uid;
    const customShare = "assets/icon/share.svg";

    onIonViewWillEnter(() => {
      document
        .getElementById("body")
        .style.setProperty("background", "#676d7a");
    });

    return {
      logo,
      qrValue,
      shareOutline,
      customShare,
    };
  },
  data: () => ({
    currentRole: null,
  }),
  methods: {},
});
</script>

<style scoped src="../theme/style.css">
</style>