<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>

        <ion-row class="ion-no-margin">
          <ion-img :src="logo" class="welcome-logo"></ion-img>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-title"> ¡Prueba ya! </ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-sub-title"> Totalmente Gratis </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list
              class="
                ion-margin-top ion-margin-start ion-margin-end
                register-list
              "
            >
              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
                ref="item_username"
                :style="
                    (userValidationMessage && userValidationMessage.length > 2)
                      ? 'border-style: solid; border-color: #C3010C; border-width: 2px;'
                      : 'border-style: none; border-width: 0px;'
                  "
              >
                <ion-label
                  position="stacked"
                  :style="
                    username && username.length
                      ? 'visibility:unset; padding-left: 4px; position: fixed; margin-left: -7.2rem; color: #C3010C;'
                      : 'visibility:hidden; position: fixed;'
                  "
                  >{{userValidationMessage}}</ion-label
                >
                <span class="prefix ion-no-margin" slot="start">glopcare.com/</span>
                <ion-input
                  v-model="username"
                  type="email"
                  :style="
                    username && username.length
                      ? 'margin-top: 0; margin-left: 0;'
                      : 'margin-top: 0; paddint-top: 0; margin-left: 0;'
                  "
                  placeholder="usuario"
                  @ionInput="validateUsername"
                  @keypress="validateUsernameKey($event)"
                  @ionBlur="$event.target.value = $event.target.value.toLowerCase()"
                ></ion-input>
                <!-- <ion-note slot="error">{{userValidationMessage}}</ion-note> -->
              </ion-item>

              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
                ref="item_email"
                :style="
                    (emailValidationMessage && emailValidationMessage.length > 2)
                      ? 'border-style: solid; border-color: #C3010C; border-width: 2px;'
                      : 'border-style: none; border-width: 0px;'
                  "
              >
              <ion-label
                  position="stacked"
                  :style="
                    email && email.length
                      ? 'visibility:unset; padding-left: 4px; position: fixed; color: #C3010C;'
                      : 'visibility:hidden; position: fixed;'
                  "
                  >{{emailValidationMessage}}</ion-label
                >
                <ion-input
                  v-model="email"
                  placeholder="Correo electrónico"
                  type="email"
                  :style="
                    email && email.length
                      ? 'margin-top: 0rem'
                      : 'margin-top: 0rem'
                  "
                  @ionInput="validateEmail"
                  @keypress="validateEmailKey($event)"
                  @ionBlur="$event.target.value = $event.target.value.toLowerCase()"
                ></ion-input>
                <!-- <ion-note slot="error">{{emailValidationMessage}}</ion-note> -->
              </ion-item>

              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
                :style="
                    (passwordValidationMessage && passwordValidationMessage.length > 2)
                      ? 'border-style: solid; border-color: #C3010C; border-width: 2px;'
                      : 'border-style: none; border-width: 0px;'
                  "
              >
              <ion-label
                  position="stacked"
                  :style="
                    password && password.length
                      ? 'visibility:unset; padding-left: 4px; position: fixed; color: #C3010C;'
                      : 'visibility:hidden; position: fixed;'
                  "
                  >{{passwordValidationMessage}}</ion-label
                >
                <ion-input
                  v-model="password"
                  placeholder="Contraseña"
                  :type="showPassword ? 'input' : 'password'"
                  :style="
                    password && password.length
                      ? 'margin-top: 0rem'
                      : 'margin-top: 0rem'
                  "
                  @ionInput="validatePassword"
                ></ion-input>
                <!-- <ion-icon src="assets/icon/eye.svg" slot="end" style="right: 0px" @click="{showPassword = showPassword ? false : true;}"></ion-icon> -->
              </ion-item>

              <ion-item
                class="register-list-item ion-margin-bottom"
                lines="none"
                :style="
                    (verifyValidationMessage && verifyValidationMessage.length > 2)
                      ? 'border-style: solid; border-color: #C3010C; border-width: 2px;'
                      : 'border-style: none; border-width: 0px;'
                  "
              >
              <ion-label
                  position="stacked"
                  :style="
                    verify_password && verify_password.length
                      ? 'visibility:unset; padding-left: 4px; position: fixed; color: #C3010C;'
                      : 'visibility:hidden; position: fixed;'
                  "
                  >{{verifyValidationMessage}}</ion-label
                >
                <ion-input
                  v-model="verify_password"
                  placeholder="Confirmar contraseña"
                  :type="showPassword ? 'input' : 'password'"
                  :style="
                    verify_password && verify_password.length
                      ? 'margin-top: 0rem'
                      : 'margin-top: 0rem'
                  "
                  @ionInput="verifyPassword"
                ></ion-input>
                <!-- <ion-icon src="assets/icon/eye.svg" slot="end" style="right: 0px" @click="showPassword = showPassword ? false : true"></ion-icon> -->
              </ion-item>
              <ion-item
                class="register-list-item-check ion-no-margin"
                lines="none"
              >
                <ion-label color="light" class="ion-margin-start"
                  >Mostrar contraseña</ion-label
                >
                <ion-checkbox
                  :checked="false"
                  slot="start"
                  class="ion-no-margin ion-no-padding"
                  @ionChange="toggleShowPassword"
                ></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-margin-start ion-margin-end"
          style="margin-bottom: 0.7rem"
        >
          <ion-col size="12">
            <div style="position: relative; margin-top: 0.5rem">
              <p class="small-text ion-margin">
                Al presionar “CREAR CUENTA”, confirmas que leíste la
                <span class="link-text" id="open-modal-privacy">Política de Privacidad</span> y que
                aceptas las <span class="link-text" id="open-modal-policy">Condiciones de Uso</span>
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="register()">
              CREAR CUENTA
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="position: relative" class="ion-margin-start">
              <p class="normal-text ion-margin">
                Si ya tienes cuenta
                <img
                  src="assets/img/glopcare-text-logo-inline.png"
                  style="height: 1.5em; width: auto; vertical-align: middle"
                /><span @click="$router.push('/login')" class="link-text"
                  >&nbsp;Inicia Sesión</span
                >
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-modal ref="modalPolicy" trigger="open-modal-policy">
      <ion-header>
        <ion-toolbar>
          <ion-title>Condiciones de Uso</ion-title>
          <ion-buttons slot="end">
            <ion-button :strong="true" @click="confirmPolicy()">Listo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-no-padding">
        <iframe  src="https://glopcare.com/policy" style="width:100%; height:100%;"></iframe>
      </ion-content>
    </ion-modal>

    <ion-modal ref="modalPrivacy" trigger="open-modal-privacy">
      <ion-header>
        <ion-toolbar>
          <ion-title>Política de Privacidad</ion-title>
          <ion-buttons slot="end">
            <ion-button :strong="true" @click="confirmPrivacy()">Listo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-no-padding">
        <iframe  src="https://glopcare.com/privacy" style="width:100%; height:100%;"></iframe>
      </ion-content>
    </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  IonCheckbox,
  IonText,
  IonIcon,
  IonNote,
  IonTitle,
  IonButton,
  IonHeader,
  IonButtons,
  IonModal,
  IonToolbar,
  alertController
} from "@ionic/vue";
import { OverlayEventDetail } from '@ionic/core/components';
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";
import api from "../api";

export default defineComponent({
  name: "RegisterPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
    IonCheckbox,
    IonText,
    IonIcon,
    IonNote,
    IonTitle,
    IonButton,
    IonHeader,
    IonButtons,
    IonModal,
    IonToolbar
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);
    const email = ref("");
    const password = ref("");
    const verify_password = ref("");
    const username = ref("");
    const showPassword = ref(false);
    const router = useRouter();
    const userValidationMessage = ref('');
    const emailValidationMessage = ref('');
    const passwordValidationMessage = ref('');
    const verifyValidationMessage = ref('');

    const register = async () => {

      if (!password.value || (password.value != verify_password.value) || password.value.length < 8) {

        const alert = await alertController.create({
            header: 'Aviso',
            subHeader: 'Las contraseñas no son validas o no coinciden',
            message: 'Por favor, revisa que las hayas ingresado correctamente, y que tengan al menos 8 caracteres',
            buttons: ['OK']
          });
          
          alert.present();

          return;
      }

      isLoading.value = true;

      const registerObject = new FormData();

      registerObject.append("username", username.value.toLowerCase());
      registerObject.append("email", email.value.toLowerCase());
      registerObject.append("password", password.value);

      api
        .post("register", registerObject)
        .then(async function (response) {
          console.log(response);
          const alert = await alertController.create({
            header: '¡Bienvenido!',
            subHeader: 'Confirma tu Correo',
            message: 'Te hemos enviado un correo a la dirección que nos proporcionaste. Sigue las instrucciones ahí detalladas para confirmar la creación de la cuenta.',
            buttons: [
              {
                text: 'OK',
                role: 'confirm',
                handler: () => {
                  router.push("/login");
                }
              }
            ]
          });

          await alert.present();
        })
        .catch(async function (error) {
          console.log(error);
          var message;

          if (error.response.data.errors.username) {
            message = 'El usuario que has registrado es inválido o ya existe.'
          }

          if (error.response.data.errors.email) {
            message = 'El correo que has registrado es inválido o ya existe. Utiliza recordar contraseña si crees que ya ha sido utilizado.'
          }

          if (error.response.data.errors.password) {
            message = 'La contraseña que has registrado debe ser de al menos 8 caracteres.'
          }

          const alert = await alertController.create({
            header: 'Alerta',
            subHeader: 'Ha ocurrido un error',
            message: message,
            buttons: ['OK'],
          });
          
          await alert.present();
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    return {
      logo,
      register,
      isLoading,
      email,
      password,
      username,
      verify_password,
      showPassword,
      userValidationMessage,
      emailValidationMessage,
      passwordValidationMessage,
      verifyValidationMessage
    };
  },
  data: () => ({
  }),
  watch: {
    // username(newValue, oldValue){
    //   console.log('Old: '+ oldValue);
    //   console.log('New:' + newValue);
    //   if(newValue.indexOf('glopcare.com/') == -1){
    //       this.username = "glopcare.com/" + newValue;
    //   }
    //   if(newValue.indexOf('/') == -1 || oldValue.indexOf('/') == -1){
    //     this.username = "glopcare.com/";
    //   }
    // }
  },
  methods: {
    toggleShowPassword() {
      this.showPassword = this.showPassword ? false : true;
    },
    validateUsernameKey(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[a-z0-9]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    validateEmailKey(evt) {
      evt = (evt) ? evt : window.event;
      if (!evt.key.match(/[a-z0-9@.]/)) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    async validateUsername(ev) {
        const value = ev.target.value;

        // this.$refs.item_username.$el.classList.remove('ion-valid');
        // this.$refs.item_username.$el.classList.remove('ion-invalid');

        // if (value === '') return;

        let isValid = true;

        this.userValidationMessage = '';

        if (!value.match(/^[a-z0-9]*$/)){
          this.userValidationMessage = 'Solo minúsculas y números';
          isValid = false;
        }

        if (value.length < 5){
          this.userValidationMessage = 'Al menos 5 caracteres';
          isValid = false;
        }

        if (isValid){
          const registerObject = new FormData();

          registerObject.append("username_email", value);

          await api
            .post("check-username-email", registerObject)
            .then(async function (response) {
              console.log(response);
            })
            .catch(async (error) => {
              console.log(error);
              this.userValidationMessage = 'Este usuario ya está en uso';
              isValid = false;
            });
        }

        // isValid
        //   ? this.$refs.item_username.$el.classList.add('ion-valid')
        //   : this.$refs.item_username.$el.classList.add('ion-invalid');
      },

      async validateEmail(ev) {
        const value = ev.target.value;

        // this.$refs.item_email.$el.classList.remove('ion-valid');
        // this.$refs.item_email.$el.classList.remove('ion-invalid');

        // if (value === '') return;

        let isValid = true;
        this.emailValidationMessage = '';

        if (!value.match(/^(?=.{1,254}$)(?=.{1,64}@)[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/)){
          this.emailValidationMessage = 'Correo electrónico inválido';
          isValid = false;
        }

        if (isValid){
          const registerObject = new FormData();

          registerObject.append("username_email", value);

          await api
            .post("check-username-email", registerObject)
            .then(async function (response) {
              console.log(response);
            })
            .catch(async (error) => {
              console.log(error);
              this.emailValidationMessage = 'Este correo electrónico ya ha sido registrado';
              isValid = false;
            });
        }

        // isValid
        //   ? this.$refs.item_email.$el.classList.add('ion-valid')
        //   : this.$refs.item_email.$el.classList.add('ion-invalid');
      },

      async validatePassword(ev) {
        const value = ev.target.value;

        let isValid = true;
        this.passwordValidationMessage = '';

        if (value.length < 8){
          this.passwordValidationMessage = 'La contraseña debe contener al menos 8 caracteres';
          isValid = false;
        }
      },

      async verifyPassword(ev) {
        const value = ev.target.value;

        let isValid = true;
        this.verifyValidationMessage = '';

        if (this.password != value){
          this.verifyValidationMessage = 'Las contraseñas no coinciden';
          isValid = false;
        }
      },

      confirmPolicy() {
        this.$refs.modalPolicy.$el.dismiss();
      },
      confirmPrivacy() {
        this.$refs.modalPrivacy.$el.dismiss();
      },
  },
  
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
</style>

