<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" :style="'--background: ' + newBackground">
      <ion-grid class="ion-no-padding">
        <ion-row style="min-height: 8vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="" size="2"
            ><ion-icon
              class="ion-margin-start"
              :icon="customShare"
              :style="'font-size: 2rem; filter: ' + fillToFilter + '; padding-top: 0.5rem'"
            ></ion-icon
          ></ion-col>
          <ion-col class="ion-align-self-center" size="10"
            ><ion-text
              class="hello-sub-title"
              :style="'font-size: 1.2em; color: ' + userNameColor + ';'"
              >Comparte glopcare</ion-text
            ></ion-col
          >
        </ion-row>
        <!-- <ion-row style="min-height: 5.6vh"></ion-row> -->

        <ion-row class="ion-margin-top">
          <ion-col>
            <ion-list class="ion-margin-start register-list ion-margin-end">
              <ion-item
                class="
                  register-list-item
                  ion-margin-start ion-margin-bottom ion-margin-end"
                  @click="canShare ? openShareActionSheet() : openToast('Tu glopcard aun no esta lista', 2000, 'primary', 'top')"
              >
                <ion-label
                  position="stacked"
                  style="visibility:hidden;"
                  >Compartir con tus contactos</ion-label
                >
                <ion-icon
                  :icon="share"
                  style="font-size: 2rem; margin-right: 0px"
                  slot="start"
                ></ion-icon>
                <ion-input
                  placeholder="Compartir con tus contactos"
                  readonly
                ></ion-input>
              </ion-item>

              <!-- <ion-item
                class="
                  register-list-item
                  ion-margin-start ion-margin-bottom ion-margin-end"
              >
                <ion-label
                  position="stacked"
                  :style="
                    aliasName && aliasName.length
                      ? 'visibility:unset; padding-left: 4px;'
                      : 'visibility:hidden'
                  "
                  >Texto que describe el enlace</ion-label
                >
                <ion-icon
                  :icon="createOutline"
                  style="font-size: 2rem; margin-right: 0px"
                  slot="start"
                ></ion-icon>
                <ion-input
                  placeholder="Nombre o Alias" :v-model="aliasName" :value="aliasName"
                  :style="((aliasName && aliasName.length) ? 'margin-top: -0.5rem' : 'margin-top:-1rem')" :key="componentKey"
                ></ion-input>
              </ion-item> -->

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-start ion-margin-end ion-margin-bottom">
          <ion-col class="ion-margin-start ion-margin-end ion-margin-bottom ion-text-center">
            <ion-text
              class="hello-sub-title"
              :style="'font-size: 1.2em; color: ' + userNameColor + ';'"
              >Compartida {{views}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col v-if="qrValue"
            class="ion-justify-content-center ion-text-center ion-no-margin"
          >
            <qrcode-vue 
              :value="qrValue"
              :size="qrWidth"
              level="H"
              :margin='1'
              :foreground="userNameColor"
              background='#ffffff00'
              :id="'canvas_' + componentKey"
              ref="canvasQR"
              class="ion-justify-content-center ion-text-center"
            />
            <br>
            <ion-icon
              class="ion-margin-top"
              :icon="printOutline"
              :style="'font-size: 2rem; filter: ' + fillToFilter + '; padding-top: 0.5rem'"
              @click="downloadQR"
            ></ion-icon>
          </ion-col>
          <ion-col v-else
            class="ion-justify-content-center ion-text-center ion-no-margin"
          >
          <ion-text
              class="hello-sub-title"
              :style="'font-size: 1.2em; color: ' + userNameColor + ';'"
              >{{ preparingMessage }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row style="min-height: 14vh"></ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonText,
  IonImg,
  IonLabel,
  IonIcon,
  IonInput,
  IonItem,
  IonList,
  onIonViewWillEnter,
  onIonViewWillLeave,
  toastController,
  alertController
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import QrcodeVue from "qrcode.vue";
import { share, qrCodeSharp, createOutline, printOutline } from "ionicons/icons";

import { Share } from '@capacitor/share';

import api from "../api";

import { mapGetters, useStore } from "vuex";

import { useRouter } from "vue-router";

import { hexToCSSFilter } from 'hex-to-css-filter';

import { Filesystem, Directory, Encoding, PermissionStatus, PermissionState } from '@capacitor/filesystem';

export default defineComponent({
  name: "SharePage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonText,
    IonImg,
    IonLabel,
    IonIcon,
    IonInput,
    IonItem,
    IonList,
    QrcodeVue
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const wsShare = "assets/icon/ws-share.svg";
    const qrShare = "assets/icon/qr-share.svg";
    const emShare = "assets/icon/em-share.svg";
    // const customShareGrey = "assets/icon/share-grey.svg";
    const customShare = "assets/icon/share-black.svg";
    const whatsapp = ref("");
    const emailPhoneNumber = ref("");
    const email = ref("");
    const qrValue = ref("");
    const canvasQR = ref();
    const views = ref(0);

    const canShare = ref(false);
    const glopcardId = ref(null);
    const preparingMessage = ref('Preparando tu glopcard...');

    const lastBackground = ref(null);
    const newBackground = ref(null);

    const qrWidth = ref(null);

    const store = useStore();

    onIonViewWillEnter(() => {
      lastBackground.value = document
        .getElementById("body")
        .style.background;

      console.log('lastBackground', lastBackground.value);

      newBackground.value = '#676d7a';

      if (store.getters.getUser.profile.selected_template.style.flexStack.backgroundColor) {
        newBackground.value = store.getters.getUser.profile.selected_template.style.flexStack.backgroundColor;
      }

      // document
      //   .getElementById("body")
      //   .style.setProperty("background", newBackground.value);

        qrValue.value = null;

        upsertGlopcard();

        qrWidth.value = parseInt(window.screen.width)/2;
    });

    onIonViewWillLeave(() => {
      console.log('lastBackground', lastBackground.value);

      if (lastBackground.value) {
        document
        .getElementById("body")
        .style.setProperty("background", lastBackground.value);
      }
    
    });

    const openToast = async (message, duration, color, position) => {
      const toast = await toastController
        .create({
          message: message,
          duration: duration,
          color: color,
          position: position
        })
      return toast.present();
    };

    const upsertGlopcard = async () => {

      let objGlopcard = {
        is_active: true,
        snapshot: JSON.stringify(store.getters.getUser.profile),
        template_id: store.getters.getUser.profile.selected_template.template_id
      }

      if (objGlopcard.snapshot !== null) {
        api
        .post("glopcard/set", objGlopcard, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async function (response) {
          console.log(response);
          glopcardId.value = response.data.snapshot.uid;
          canShare.value = true;
          qrValue.value = 'https://glopcare.com/' + store.getters.getUser.username;
          views.value = response.data.snapshot.views;
          openToast('Ya puedes compartir tu glopcard', 2000, 'primary', 'top');
          console.log('Glopcard UID value:', glopcardId.value);

          store.commit('setUID', glopcardId.value);
        })
        .catch(async function (error) {
          console.error(error);

          var message;

          if (error && error.response && error.response.status){
            switch (error.response.status) {
              case 403:
                message = error.response.data.message;
              break;
              default:
                message = error.response.message;
            }
          } else {
            message = error.message;
          }

          preparingMessage.value = 'No pudimos preparar tu glopcard';

          const alert = await alertController.create({
            header: "Alerta",
            subHeader: "Ha ocurrido un error.",
            message: message,
            buttons: ["OK"],
          });
          await alert.present();
        });
      }
    }

    const getPrivateGlopcard = async () => {
      api
        .get("glopcard/get", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(async (response) => {
          console.log(response);

          const parsedValue = response.data;

          console.log('Glopcard get', parsedValue);

          canShare.value = true;
          glopcardId.value = parsedValue.uid;
          qrValue.value = 'https://glopcare.com/' + store.getters.getUser.username;
          openToast('Ya puedes compartir tu glopcard', 2000, 'primary', 'top');

        })
        .catch(function (error) {
          console.log(error);
          console.error(JSON.stringify(error.response.data));
          if (error.response && error.response.status) {
            switch(error.response.status) {
              case 401:
              openToast('Preparando tu glopcard', 2000, 'primary', 'top');
              upsertGlopcard();
              break;
            }
          }
        });
    }

    // const downloadQR = () => {
    //   var element = document.createElement('a');

    //   console.log(canvasQR.value);

    //   var dataURL = document.getElementById('canvas_' + componentKey.value).toDataURL("image/png", 1.0);
    //   var filename = 'qr_image';

    //   element.setAttribute('href', dataURL);
    //   element.setAttribute('download', filename);

    //   element.style.display = 'none';
    //   document.body.appendChild(element);

    //   element.click();

    //   document.body.removeChild(element);
    // }

    const componentKey = ref(0);

    const downloadQR = async () => {
      // Convert photo to base64 format, required by Filesystem API to save
      const base64Data = document.getElementById('canvas_' + componentKey.value).toDataURL("image/png", 1.0);

      // Write the file to the data directory
      const fileName = new Date().getTime() + '.png';

      const permissions = await Filesystem.checkPermissions();

      console.log(JSON.stringify(permissions.publicStorage));

      if (permissions.publicStorage != 'prompt' || permissions.publicStorage != 'granted') {
        await Filesystem.requestPermissions();
      }

      const savedFile = await Filesystem.writeFile({
        path: fileName,
        data: base64Data,
        directory: Directory.Documents
      });

      openToast('Tu código QR ha sido guardado en tu galería', 2000, 'primary', 'top');
    }

    return {
      logo,
      wsShare,
      customShare,
      qrShare,
      whatsapp,
      emShare,
      // customShareGrey,
      emailPhoneNumber,
      email,
      qrValue,
      share,
      qrCodeSharp,
      // openShareActionSheet,
      canShare,
      openToast,
      glopcardId,
      views,
      qrWidth,
      newBackground,
      createOutline,
      downloadQR,
      printOutline,
      canvasQR,
      componentKey,
      preparingMessage
    };
  },
  data: () => ({
    aliasName: ''
  }),
  computed: {
    ...mapGetters(["getUser"]),
    fillToFilter() {
      let fill = (this.getUser && this.getUser.profile.selected_template) ? this.getUser.profile.selected_template.style.templateUserName.color : '#FFF';
      return hexToCSSFilter(fill).filter;
    },
    userNameColor() {
      return (this.getUser && this.getUser.profile.selected_template) ? this.getUser.profile.selected_template.style.templateUserName.color : '#FFF';
    }
  },
  ionViewDidEnter() {
    this.aliasName = this.getUser.profile.alias_name;
    this.componentKey++;
    this.preparingMessage = 'Preparando tu glopcard...';
    // console.log(this.aliasName);
  },
  methods: {
    async openShareActionSheet() {
      if (this.glopcardId){
        console.log(this.aliasName);
        await Share.share({
          // title: 'Visita mi glopcard',
          // text: (this.aliasName && this.aliasName.length) ? this.aliasName : 'Te invito a ver mi glopcard',
          url: 'https://glopcare.com/' + this.getUser.username,
          dialogTitle: 'Compartir',
        });
      } else {
        console.log('Glopcard uid is not set');
      }
      
    }
  },
});
</script>

<style scoped src="../theme/style.css">
</style>