<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading-modal
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>

        <ion-row class="ion-no-margin">
          <ion-img :src="logo" class="welcome-logo"></ion-img>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-title"> ¡Prueba ya! </ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text class="welcome-sub-title"> Totalmente Gratis </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 3vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col size="12">
            <ion-list class="ion-margin-start ion-margin-end register-list">
              <ion-item class="register-list-item ion-margin-bottom">
                <ion-icon
                  :icon="facebookIcon"
                  style="font-size: 2.3rem; margin-right: 0px"
                  slot="start"
                ></ion-icon>
                <ion-input
                  value="Continuar con Facebook"
                  style="margin-top: 0px"
                  readonly
                  @click="fbLogin"
                ></ion-input>
              </ion-item>
              <ion-item class="register-list-item ion-margin-bottom">
                <ion-icon
                  :icon="googleIcon"
                  style="font-size: 2.3rem; margin-right: 0px"
                  slot="start"
                ></ion-icon>
                <ion-input
                  value="Continuar con Google"
                  style="margin-top: 0px"
                  readonly
                  @click="googleLogin"
                ></ion-input>
              </ion-item>
              <ion-item class="register-list-item ion-margin-bottom">
                <ion-icon
                  :icon="appleIcon"
                  style="font-size: 2.3rem; margin-right: 0px"
                  slot="start"
                ></ion-icon>
                <ion-input
                  value="Continuar con Apple"
                  style="margin-top: 0px"
                  readonly
                  @click="appleLogin"
                ></ion-input>
              </ion-item>
              <ion-item class="register-list-item ion-margin-bottom">
                <ion-icon
                  :icon="mailIcon"
                  style="font-size: 2.3rem; margin-right: 0px"
                  slot="start"
                ></ion-icon>
                <ion-input
                  value="Continuar con Correo electrónico"
                  style="margin-top: 0px"
                  readonly
                  @click="$router.push('/login')"
                ></ion-input>
              </ion-item>
              <!-- <ion-item class="register-list-item">
                <ion-icon
                  :icon="phoneIcon"
                  style="font-size: 2.3rem; margin-right: 0px"
                  slot="start"
                ></ion-icon>
                <ion-input
                  value="Continuar con teléfono"
                  style="margin-top: 0px"
                  readonly
                  @click="$router.push('/phone-login')"
                ></ion-input>
              </ion-item> -->
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
  IonLabel,
  IonInput,
  IonItem,
  IonList,
  IonCheckbox,
  IonText,
  IonIcon,
  onIonViewDidEnter,
  alertController
} from "@ionic/vue";
import { defineComponent, ref, onMounted, reactive } from "vue";
import api from "../api";
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

import {
  FacebookLogin,
  FacebookLoginResponse,
} from '@capacitor-community/facebook-login';

import { GoogleAuth } from '@codetrix-studio/capacitor-google-auth';

import { Storage } from "@ionic/storage";

export default defineComponent({
  name: "SocialRegisterPage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
    IonInput,
    IonItem,
    IonLabel,
    IonList,
    IonCheckbox,
    IonText,
    IonIcon
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const isLoading = ref(false);
    const email = ref("");
    const password = ref("");
    const verify_password = ref("");
    const username = ref("");
    const showPassword = ref(false);
    const facebookIcon = 'assets/icon/facebook-icon.svg';
    const googleIcon = 'assets/icon/google-icon.svg';
    const mailIcon = 'assets/icon/mail-icon.svg';
    const phoneIcon = 'assets/icon/phone-icon.svg';
    const appleIcon = 'assets/icon/apple-icon.svg';

    const accessToken = ref(null);
    const user = reactive({});

    const store = useStore();
    const storage = new Storage();
    const router = useRouter();

    const FACEBOOK_PERMISSIONS = [
      'email',
      'public_profile'
    ];

    onIonViewDidEnter(async () => {
      await FacebookLogin.initialize({ appId: '428167475720521' });
    });

    onMounted(() => {
      GoogleAuth.initialize({
        clientId: '163364824738-ibm7fdikqof09igiusi2qopjaojhkut0.apps.googleusercontent.com',
        scopes: ['profile', 'email'],
        grantOfflineAccess: true,
      });
    });

    const fbLogin = async () => {
      let result = await ((
        FacebookLogin.login({ permissions: FACEBOOK_PERMISSIONS })
      ));

      console.log('FacebookLogin.login', JSON.stringify(result));

      // Check if email exists, otherwise try retrieve from current session

      if(result && !result.email && result.accessToken) {
        result = await FacebookLogin.getProfile({ fields: ['email'] });
        console.log('FacebookLogin.getProfile', JSON.stringify(result));
      }

      if(result && result.email){
        isLoading.value = true;

        api
          .post("login/facebook", result)
          .then(async function (response) {
            console.log(response);

            // Close facebook session and continuo login
            await FacebookLogin.logout();

            accessToken.value = response.data.access_token;
          
            api
              .get("me", {headers: {Authorization: `Bearer ${accessToken.value}`},
            })
            .then((response) => {
              console.log(response);
              Object.assign(user, response.data);
            })
            .catch(function (error) {
              console.log(error);
              console.log('me', JSON.stringify(error.response.data));
            });
        })
        .catch(function (error) {
          console.log(error);
          console.log('login/facebook', JSON.stringify(error.response.data));
        }).finally(() => {
          isLoading.value = false;
        })
      } else {
        console.error(result);
        alert('No se pudo iniciar sesión con Facebook');
      }
      
    } 

    const googleLogin = async () => {
      const result = await ((
        GoogleAuth.signIn()
      ));

      console.log(result);

      if(result && result.email && result.authentication && result.authentication.accessToken){
        isLoading.value = true;

        api
          .post("login/google", result)
          .then(async function (response) {
            console.log(response);

            accessToken.value = response.data.access_token;
          
            api
              .get("me", {headers: {Authorization: `Bearer ${accessToken.value}`},
            })
            .then((response) => {
              console.log(response);
              Object.assign(user, response.data);
            })
            .catch(function (error) {
              console.log(error);
              if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
                alert(JSON.stringify(error.response.data.message), "danger");
              } else {
                alert(JSON.stringify(error.response.data));
              }
            });
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            alert(JSON.stringify(error.response.data.message), "danger");
          } else {
            alert(JSON.stringify(error.response.data));
          }
        }).finally(() => {
          isLoading.value = false;
        })
      } else {
        console.error(result);
        alert('No se pudo iniciar sesión con Google');
      }
    } 

    const appleLogin = async () => {
      const alert = await alertController.create({
          header: "Información",
          subHeader:
            "",
          message: "El inicio de sesión con Apple ID estará disponible próximamente",
          buttons: [
            {
              text: "OK",
              role: "cancel",
            }
          ],
        });
        await alert.present();
    }

    const register = () => {
      isLoading.value = true;

      const registerObject = new FormData();

      registerObject.append("email", email.value);
      registerObject.append("password", password.value);

      api
        .post("register", registerObject)
        .then(function (response) {
          console.log(response);
          // showConfirmModal.value = true;
        })
        .catch(function (error) {
          console.error(error);
          alert(JSON.stringify(error.response.data));
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    return {
      logo,
      register,
      isLoading,
      email,
      password,
      username,
      verify_password,
      showPassword,
      facebookIcon,
      googleIcon,
      mailIcon,
      phoneIcon,
      fbLogin,
      googleLogin,
      user,
      accessToken,
      appleIcon,
      appleLogin
    };
  },
  data: () => ({
    currentRole: null,
  }),
  watch: {
    user: {
      deep: true,
      handler(value) {
        console.log(value);

        let parsedValue = JSON.parse(JSON.stringify(value));
        this.setLocalStorage("user", parsedValue);
        this.$store.commit("setUser", parsedValue);

        if (value) {
          this.$router.push("home");
        }
      },
    },
    accessToken(value) {
      console.log(value);
      this.setLocalStorage("accessToken", value);
      this.$store.commit("setAccessToken", value);
    },
  },
  methods: {},
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
</style>

