<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <ion-grid class="ion-no-padding background">
        <ion-row style="min-height: 7vh"></ion-row>
        <ion-row class="ion-no-margin">
          <ion-img :src="logo" class="welcome-logo"></ion-img>
        </ion-row>
        <ion-row style="min-height: 5.6vh"></ion-row>
        <ion-row>
          <ion-col size="12" class="ion-align-self-center">
            <div style="position: relative; text-align: center;">
              <!-- <span class="hello-sub-title">Tu Contacto</span>&nbsp;<span class="hello-sub-title-gradient">Interactivo</span> -->
              <p class="welcome-sub-title ion-no-margin">
                APP para Emprendedores
              </p>
              <p class="welcome-sub-title ion-no-margin">
                IMPULSA TU IMAGEN ONLINE
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="min-height: 7vh"></ion-row>
        <ion-row>
          <ion-img :src="videoIntro"></ion-img>
        </ion-row>
        <ion-row style="min-height: 7vh"></ion-row>
        <ion-row class="ion-margin-start ion-margin-end">
          <ion-col class="ion-margin-start ion-margin-end">
            <div class="continue-button" @click="$router.push('/social-register')">
              CONTINUAR
              <div class="continue-button-background"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonGrid,
  IonImg,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "WelcomePage",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonGrid,
    IonImg,
  },
  setup() {
    const logo = "assets/img/glopcare-logo-with-text.png";
    const videoIntro = "assets/img/video-intro-placeholder.png";

    return {
      logo,
      videoIntro,
    };
  },
  data: () => ({
    currentRole: null,
  }),
  methods: {},
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.welcome-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

</style>

