<template>
  <div>
    <img
      :width="width"
      :height="height"
      :src="src"
      @mousemove="mousemove"
      :alt="alt"
      @mouseleave="mouseleave"
    />
    <div
      v-if="showMagnifierGlass"
      class="magnifier-glass"
      :style="magnifierGlassStyle"
    ></div>
    <div
      v-if="showMagnifierColor"
      class="magnifier-color"
      :style="magnifierColorStyle"
    >
      {{ label }}
      <div class="magnifier-color-square" :style="magnifierColorSquareStyle" />
    </div>
  </div>
</template>


<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "EyedropComponent",
  components: {},
  data: () => ({
    canvas: null,
    pixel: null,
    magnifierGlassStyle: {},
    magnifierColorStyle: {},
    mouseOver: false,
  }),
  props: {
    zoom: { default: 4, type: Number },
    magnifierGlassWidth: { default: 100, type: Number },
    magnifierGlassHeight: { default: 100, type: Number },
    colorLabel: { default: false, type: Boolean },
    src: { required: true, type: String },
    width: { required: true, type: Number },
    height: { required: true, type: Number },
    alt: { required: true, type: String },
  },
  watch: {
    src: {
      handler(newImageSource) {
        this.createCanvas(newImageSource);
        this.createMagnifyingGlass(newImageSource);
      },
      inmmediate: true
    }
  },
  computed: {
    colorPickerStyle() {
      return {
        width: this.width,
        height: this.height,
      };
    },
    label() {
      if (this.pixel) {
        const r = this.pixel[0];
        const g = this.pixel[1];
        const b = this.pixel[2];
        return `r:${r} g:${g} b:${b} ${this.RGBToHex(r, g, b)}`;
      }
      return "";
    },
    showMagnifierColor() {
      return this.pixel && this.colorLabel && this.mouseOver;
    },
    showMagnifierGlass() {
      return this.canvas && this.mouseOver;
    },
    magnifierColorSquareStyle() {
      if (this.pixel) {
        return {
          backgroundColor: `rgb(${this.pixel[0]},${this.pixel[1]},${this.pixel[2]})`,
        };
      }
      return {};
    },
  },
  methods: {
    mouseleave(event) {
      this.mouseOver = false;
    },
    mousemove(event) {
      this.mouseOver = true;
      if (this.canvas) {
        this.pixel = this.canvas.getContext('2d').getImageData(event.offsetX, event.offsetY, 1, 1).data;
        console.log(this.pixel);
        this.$emit("color-update", {
          r: this.pixel[0],
          g: this.pixel[1],
          b: this.pixel[2],
        });
        this.magnifierGlassStyle["left"] = `${event.pageX - this.magnifierGlassWidth / 2}px`;
        this.magnifierGlassStyle["top"] = `${event.pageY - this.magnifierGlassHeight / 2}px`;
        this.magnifierGlassStyle["width"] = `${this.magnifierGlassWidth}px`;
        this.magnifierGlassStyle["height"] = `${this.magnifierGlassHeight}px`;
        this.magnifierColorStyle["left"] = `${event.pageX - this.magnifierGlassWidth / 2 - 100}px`;
        this.magnifierColorStyle["top"] = `${event.pageY + this.magnifierGlassHeight / 2 + 5}px`;
        this.magnifierGlassStyle["backgroundPosition"] = `${0 - (event.offsetX * this.zoom - this.magnifierGlassWidth / 2)}px ${0 - (event.offsetY * this.zoom - this.magnifierGlassHeight / 2)}px`;
      }
    },

    getDataUrl(img) {
      // Create canvas
      const canvas = document.createElement('canvas');
      const ctx = canvas.getContext('2d');
      // Set width and height
      canvas.width = img.width;
      canvas.height = img.height;
      // Draw the image
      ctx.drawImage(img, 0, 0);
      this.canvas = canvas;
      return canvas.toDataURL;
    },

    createCanvas(imageSource) {      
      const img = new Image();
      img.src = imageSource;
      
      img.onload = (event) => {
        this.getDataUrl(event.currentTarget);
      }
    },
    createMagnifyingGlass(imageSource) {
        this.magnifierGlassStyle["backgroundImage"] = `url('${imageSource}')`;
        this.magnifierGlassStyle["backgroundRepeat"] = "no-repeat";
        this.magnifierGlassStyle["backgroundSize"] = `${this.width * this.zoom}px ${this.height * this.zoom}px`;
    },

    RGBToHex(r, g, b) {
      let rString = r.toString(16);
      let gString = g.toString(16);
      let bString = b.toString(16);

      if (rString.length === 1) {
        rString = "0" + rString;
      }
      if (gString.length === 1) {
        gString = "0" + gString;
      }
      if (bString.length === 1) {
        bString = "0" + bString;
      }

      return "#" + rString + gString + bString;
    },
  },
});
</script>

<style lang="scss">
.magnifier-glass {
  position: absolute;
  border: 0px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  pointer-events: none;
}
.magnifier-color {
  position: absolute;
  background-color: rgb(33, 37, 43);
  color: white;
  border-radius: 1em;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 300px;
  padding: 5px;
  pointer-events: none;
  text-align: center;
  font-weight: bold;
}
.magnifier-color-square {
  height: 0.8em;
  width: 0.8em;
  display: inline-block;
}
</style>