<template>
  <ion-app>
    <ion-header v-if="showToolbar" class="ion-no-border">
      <!-- <ion-toolbar :class="sharePage ? 'top-toolbar-share' : 'top-toolbar'"> -->
      <ion-toolbar class="top-toolbar">
        <ion-buttons slot="start" class="ion-margin-start">
          <ion-icon :icon="chevronBackOutline" @click="$router.go(-1)" style="font-size: 2em; color: white;"
            class="back-icon-shadow"></ion-icon>
          <ion-text @click="evaluateBackButton" style="font-size: 1em; color: white" class="user-name-text">Atrás</ion-text>
        </ion-buttons>
        <!-- <ion-img v-if="!sharePage" slot="end" src="assets/img/glopcare-text-logo-inline.png" -->
        <ion-img slot="end" src="assets/img/glopcare-text-logo-inline.png"
          style="height: 2.1em; margin-top: 4px; --padding-end: 0px;"></ion-img>
        <!-- <ion-text v-else class="user-name-text" slot="end">{{ (getUser && getUser.profile && getUser.profile.alias_name) ? getUser.profile.alias_name : 'Usuario glopcare'}}</ion-text> -->
      </ion-toolbar>
      <div v-if="showHelpButton && helpPage" class="glopcare-info-button">
        <ion-thumbnail style="--size: 54px" @click="$router.push(helpPage)">
          <img src="assets/img/info-logo.png" />
        </ion-thumbnail>
      </div>
      <div v-if="sharePage" class="glopcare-avatar-button">
        <ion-thumbnail style="--size: 6rem" @click="$router.push(helpPage)">
          <img v-if="getAvatarFromTemplate" :src="getAvatarFromTemplate" style="border-radius: 50%; filter: drop-shadow(0px 2px 8px rgba(255, 255, 255, 0.75));"/>
        </ion-thumbnail>
      </div>
    </ion-header>
    <ion-router-outlet :class="showToolbar ? 'curved-background' : 'background'" />
    <ion-footer v-if="showBottomToolbar">
      <ion-toolbar class="bottom-toolbar">
        <ion-buttons class="ion-justify-content-between ion-margin-start ion-margin-end" size="6">          
          <div class="glopcare-normal-button">
            <ion-thumbnail style="display: inline-block; --size: 1.7rem; margin-top: 0.2rem" @click="($route.path.indexOf('home') < 0) ? $router.push('/home') : ''">
            <img src="assets/icon/home-bar.svg" class="bottom-icon"/>
            </ion-thumbnail><br>
              <ion-label class="smaller-text">&nbsp;&nbsp;INICIO&nbsp;&nbsp;</ion-label>
          </div>
          <div class="glopcare-normal-button" @click="$router.push('/glopcard-settings-step')">
            <ion-thumbnail style="display: inline-block; --size: 1.7rem; margin-top: 0.2rem">
              <img src="assets/icon/edit-bar.svg" class="bottom-icon"/>
            </ion-thumbnail><br>
            <ion-label class="smaller-text">&nbsp;&nbsp;EDITAR&nbsp;&nbsp;</ion-label>
          </div>

          <div class="glopcare-normal-button">
            <ion-icon style="font-size: 2em"></ion-icon>
            <ion-label></ion-label>
          </div>

          <div class="glopcare-normal-button">
            <ion-thumbnail style="display: inline-block; --size: 1.7rem; margin-top: 0.2rem" @click="$router.push('/glopcard-settings-step')">
              <img src="assets/icon/contact-bar.svg" class="bottom-icon"/>
            </ion-thumbnail><br>
            <ion-label class="smaller-text">SOPORTE</ion-label>
          </div>
          <div class="glopcare-normal-button">
            <ion-thumbnail style="display: inline-block; --size: 1.7rem; margin-top: 0.2rem" @click="getAvatarFromTemplate ? ($route.path.indexOf('share') < 0 ? $router.push('/share') : '') : alertMessage('Antes de compartir, personaliza primero tu contacto inteligente glopcare')">
              <img src="assets/icon/share-bar.svg" class="bottom-icon">
            </ion-thumbnail><br>
            <ion-label class="smaller-text">COMPARTIR</ion-label>
          </div>
        </ion-buttons>
      </ion-toolbar>
      <div class="glopcare-round-button" @click="($route.path.indexOf('account-options') < 0) ? $router.push('/account-options') : $router.go(-1)">
        <ion-thumbnail style="display: inline-block; --size: 2.8rem; margin-top: 0.2rem">
          <img src="assets/img/glopcare-button-logo.png" />
        </ion-thumbnail>
        <ion-label class="smaller-text" style="position: relative; top: -0.7rem">CUENTA</ion-label>
      </div>
    </ion-footer>
  </ion-app>
</template>

<script lang="ts">
import {
  IonApp,
  IonRouterOutlet,
  IonHeader,
  IonToolbar,
  IonIcon,
  IonButtons,
  IonText,
  IonImg,
  IonFooter,
  IonTabButton,
  IonLabel,
  IonThumbnail,
  useBackButton,
  alertController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import {
  chevronBackOutline
} from "ionicons/icons";
import { mapGetters } from "vuex";
import { useRoute, useRouter } from 'vue-router';
import { App } from '@capacitor/app';
import axios from "axios";
import { load } from "google-fonts-loader";

export default defineComponent({
  name: "MainApp",
  components: {
    IonApp,
    IonRouterOutlet,
    IonHeader,
    IonToolbar,
    IonIcon,
    IonButtons,
    IonText,
    IonImg,
    IonFooter,
    IonTabButton,
    IonLabel,
    IonThumbnail,
  },
  setup() {
    const router = useRouter();
    const route = useRoute();

    const backBehaviour = new Map();

    backBehaviour.set('/glopcard-choose-template-step', '/home');
    backBehaviour.set('/glopcard-pictures-step', '/glopcard-choose-template-step');
    backBehaviour.set('/glopcard-professional-information-step', '/glopcard-pictures-step');
    backBehaviour.set('/glopcard-text-color-step', '/glopcard-professional-information-step');
    backBehaviour.set('/glopcard-contact-information-step', '/glopcard-text-color-step');
    backBehaviour.set('/glopcard-social-networks-step', '/glopcard-contact-information-step');
    backBehaviour.set('/glopcard-icons-step', '/glopcard-social-networks-step');
    backBehaviour.set('/glopcard-location-step', '/glopcard-icons-step');
    backBehaviour.set('/edit-product-options', '/catalog-options');

    const alertMessage = async (message, subHeader = '', buttons = null) => {
      const alert = await alertController.create({
              header: 'Alerta',
              subHeader: subHeader,
              message: message,
              buttons: buttons ? buttons : ['OK'],
            });
          await alert.present();
    }

    const filterFonts = [
        {
          name: "Courgette",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Modak",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Oswald",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Kaushan Script",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Kurale",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Yanone Kaffeesatz",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },
        {
          name: "Yatra One",
          medium: '20px',
          large: '25px',
          'x-large': '30px',
          'xx-large': '35px',
          'xxx-large': '40px',
        },

        {
          name: "Abril Fatface",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Anton",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Cinzel",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Chonburi",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Lemonada",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Limelight",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Playfair",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },
        {
          name: "Roboto",
          medium: '18px',
          large: '21px',
          'x-large': '24px',
          'xx-large': '28px',
          'xxx-large': '32px',
        },

        {
          name: "Carter One",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Jura",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Montserrat",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Open Sans",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Questrial",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Sansita",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        {
          name: "Alegreya",
          medium: '18px',
          large: '24px',
          'x-large': '28px',
          'xx-large': '32px',
          'xxx-large': '35px',
        },
        

        
        {
          name: "Dancing Script",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Great Vibes",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Kalam",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "League Gothic",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Medula One",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        {
          name: "Shadows Into Light",
          medium: '25px',
          large: '30px',
          'x-large': '35px',
          'xx-large': '40px',
          'xxx-large': '45px',
        },
        


        {
          name: "Allura",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
          {
          name: "Mirza",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
          {
          name: "Mr Dafoe",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Oregano",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Pompiere",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Satisfy",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Yellowtail",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Caveat",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },
        {
          name: "Sacramento",
          medium: '30px',
          large: '35px',
          'x-large': '40px',
          'xx-large': '45px',
          'xxx-large': '50px',
        },


        {
          name: "Tangerine",
          medium: '35px',
          large: '40px',
          'x-large': '45px',
          'xx-large': '55px',
          'xxx-large': '65px',
        },
    ];

    const evaluateBackButton = async () => {
      const currentRoute = route.fullPath;
      console.log('Handler was called!', currentRoute);

      if (currentRoute == '/home') {
        const alert = await alertController.create({
          header: "¡Advertencia!",
          subHeader: "¿Confirmas que deseas salir de glopcare?",
          message:
            "Presiona OK para salir.",
          buttons: [
            {
              text: "OK",
              role: "confirm",
              handler: () => {
                App.exitApp();
              },
            },
            {
              text: "CANCELAR",
              role: "Cancel",
            },
          ],
        });
        alert.present();
        return;
      }

      let capturedRoute = backBehaviour.get(currentRoute);

      if (capturedRoute) {
        console.log('Captured route: ', capturedRoute);
        router.push(capturedRoute);
      } else {
        console.log('Captured route not found');
        router.back();
      }
    }


    useBackButton(10, () => {

      evaluateBackButton();

    });

    return {
      chevronBackOutline,
      evaluateBackButton,
      filterFonts,
      alertMessage
    };
  },
  data: () => ({
    initialHeight: 0,
    width: document.documentElement.clientWidth,
    height: document.documentElement.clientHeight
  }),
  mounted() {
    let language = (navigator.language) ? (navigator.language).substring(0, 2) : 'es';
    console.log('From App:', 'detected language', language);

    if (language) {
      this.$i18n.locale = language;
    }

    axios
        .get(
          "https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyDxIs_FJ28Y0plYbrrX6I2H63_-9QJmFQI"
        )
        .then((response) => {
          // console.log(response.data);
          response.data.items.forEach((item) => {
            if (
              this.filterFonts.find((el) => {
                return el.name.includes(item.family) ? true : false;
              })
            ) {
              const style = document.createElement("style");
              style.type = "text/css";
              const css =
                "." +
                item.family.replaceAll(" ", "-") +
                '{font-family:"' +
                item.family +
                // (filterFontsLarge.includes(item.family) ? '"; font-size: x-large !important' : '')
              '"}';
              style.appendChild(document.createTextNode(css));
              var head =
                document.head || document.getElementsByTagName("head")[0];
              head.appendChild(style);
              load([{ family: item.family }]);
            }
          });
        })
        .catch()
        .finally();

    // window.addEventListener('resize', this.getDimensions);
  },
  unmounted() {
    // window.removeEventListener('resize', this.getDimensions);
  },
  methods: {
    getDimensions() {
      this.width = document.documentElement.clientWidth;
      this.height = document.documentElement.clientHeight;

      if (this.initialHeight == 0) {
        this.initialHeight = this.height;
      }

      document.documentElement.style.setProperty('overflow', 'auto');
      const metaViewport = document.querySelector('meta[name=viewport]');
      if (metaViewport) {
        metaViewport.setAttribute('content', 'height=' + this.initialHeight + 'px, width=device-width, initial-scale=1.0');
        console.log('onResizeWithMeta', this.width, this.height);
      }

      console.log('onResize', this.width, this.height);
    }
  },
  computed: {
    getAvatarFromTemplate() {
      if (this.getUser && this.getUser.profile && this.getUser.profile.selected_template && this.getUser.profile.selected_template.style && this.getUser.profile.selected_template.style.templateAvatar) {
        return (this.getUser.profile.selected_template.style.templateAvatar.background).replace('url("', '').replace('")', '');
      }

      return null;
    },
    topBarBackground() {
      return {
        '--background': 
          (this.sharePage && this.getUser && this.getUser.profile.selected_template) ? 
            this.getUser.profile.selected_template.style.flexStack.backgroundColor : 
            (this.sharePage ? '#676D79' : '#000510') + ' !important'
      }
    },
    showToolbar() {
      return (
        this.$route.path.indexOf("password") > 0 ||
        this.$route.path.indexOf("home") > 0 ||
        this.$route.path.indexOf("account-options") > 0 ||
        this.$route.path.indexOf("share") > 0 ||
        this.$route.path.indexOf("glopcard-choose-template-step") > 0 ||
        this.$route.path.indexOf("glopcard-settings-step") > 0 ||
        this.$route.path.indexOf("glopcard-pictures-step") > 0 ||
        this.$route.path.indexOf("glopcard-background-step") > 0 ||
        this.$route.path.indexOf("glopcard-background-color-step") > 0 ||
        this.$route.path.indexOf("glopcard-text-color-step") > 0 ||
        this.$route.path.indexOf("glopcard-professional-information-step") > 0 ||
        this.$route.path.indexOf("glopcard-contact-information-step") > 0 ||
        this.$route.path.indexOf("glopcard-social-networks-step") > 0 ||
        this.$route.path.indexOf("glopcard-icons-step") > 0 ||
        this.$route.path.indexOf("glopcard-location-step") > 0 ||
        this.$route.path.indexOf("glopcard-catalog-step") > 0  ||
        this.$route.path.indexOf("glopcard-custom-card-step") > 0  ||
        this.$route.path.indexOf("catalog-options") > 0  ||
        this.$route.path.indexOf("edit-product") > 0  ||
        this.$route.path.indexOf("edit-categories") > 0  ||
        this.$route.path.indexOf("edit-groups") > 0  ||
        this.$route.path.indexOf("list-catalog-items") > 0  ||
        this.$route.path.indexOf("payment-methods") > 0 ||
        this.$route.path.indexOf("edit-price-list") > 0 ||
        this.$route.path.indexOf("list-price-items") > 0 ||
        this.$route.path.indexOf("delete-account-message") > 0 ||
        this.$route.path.indexOf("glopcard-calendly-step") > 0
      );
    },
    showBottomToolbar() {
      return (
        this.$route.path.indexOf("home") > 0 ||
        this.$route.path.indexOf("account-options") > 0 ||
        this.$route.path.indexOf("share") > 0 ||
        this.$route.path.indexOf("glopcard-choose-template-step") > 0 ||
        this.$route.path.indexOf("glopcard-settings-step") > 0 ||
        this.$route.path.indexOf("glopcard-pictures-step") > 0 ||
        this.$route.path.indexOf("glopcard-background-step") > 0 ||
        this.$route.path.indexOf("glopcard-background-color-step") > 0 ||
        this.$route.path.indexOf("glopcard-text-color-step") > 0 ||
        this.$route.path.indexOf("glopcard-professional-information-step") > 0 ||
        this.$route.path.indexOf("glopcard-contact-information-step") > 0 ||
        this.$route.path.indexOf("glopcard-social-networks-step") > 0 ||
        this.$route.path.indexOf("glopcard-icons-step") > 0 ||
        this.$route.path.indexOf("glopcard-location-step") > 0 ||
        this.$route.path.indexOf("glopcard-catalog-step") > 0 ||
        this.$route.path.indexOf("glopcard-custom-card-step") > 0 ||
        this.$route.path.indexOf("catalog-options") > 0 ||
        this.$route.path.indexOf("edit-product") > 0 ||
        this.$route.path.indexOf("edit-categories") > 0 ||
        this.$route.path.indexOf("edit-groups") > 0 ||
        this.$route.path.indexOf("list-catalog-items") > 0 ||
        this.$route.path.indexOf("payment-methods") > 0 ||
        this.$route.path.indexOf("edit-price-list") > 0 ||
        this.$route.path.indexOf("list-price-items") > 0 ||
        this.$route.path.indexOf("delete-account-message") > 0 ||
        this.$route.path.indexOf("glopcard-calendly-step") > 0
      );
    },
    showHelpButton() {
      return (
        (this.$route.path.indexOf("home") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-choose-template-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-settings-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("account-options") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-pictures-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-background-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-background-color-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-text-color-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-professional-information-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-contact-information-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-social-networks-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-location-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-icons-step") > 0 &&
          this.$route.path.indexOf("help") <= 0)  ||
        (this.$route.path.indexOf("glopcard-catalog-step") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("catalog-options") > 0 &&
          this.$route.path.indexOf("help") <= 0) ||
        (this.$route.path.indexOf("glopcard-calendly-step") > 0 &&
          this.$route.path.indexOf("help") <= 0)
      );
    },
    helpPage() {
      if (this.$route.path.indexOf("home") > 0) {
        return "home-help";
      }
      if (this.$route.path.indexOf("glopcard-choose-template-step") > 0) {
        return "glopcard-choose-template-step-help";
      }
      if (this.$route.path.indexOf("glopcard-settings-step") > 0) {
        return "glopcard-settings-step-help";
      }
      if (this.$route.path.indexOf("account-options") > 0) {
        return this.getAccountOption;
      }
      if (this.$route.path.indexOf("glopcard-pictures-step") > 0) {
        return "glopcard-pictures-step-help";
      }
      if (this.$route.path.indexOf("glopcard-background-step") > 0) {
        return "glopcard-background-step-help";
      }
      if (this.$route.path.indexOf("glopcard-background-color-step") > 0) {
        return "glopcard-background-color-step-help";
      }
      if (this.$route.path.indexOf("glopcard-text-color-step") > 0) {
        return "glopcard-text-color-step-help";
      }
      if (this.$route.path.indexOf("glopcard-professional-information-step") > 0) {
        return "glopcard-professional-information-step-help";
      }
      if (this.$route.path.indexOf("glopcard-contact-information-step") > 0) {
        return "glopcard-contact-information-step-help";
      }
      if (this.$route.path.indexOf("glopcard-social-networks-step") > 0) {
        return "glopcard-social-networks-step-help";
      }
      if (this.$route.path.indexOf("glopcard-icons-step") > 0) {
        return "glopcard-icons-step-help";
      }
      if (this.$route.path.indexOf("glopcard-location-step") > 0) {
        return "glopcard-location-step-help";
      }
      if (this.$route.path.indexOf("glopcard-catalog-step") > 0) {
        return "glopcard-catalog-step-help";
      }
      if (this.$route.path.indexOf("glopcard-calendly-step") > 0) {
        return "glopcard-calendly-step-help";
      }
      return null;
    },
    sharePage() {
      if (this.$route.path.indexOf("share") > 0 || 
          this.$route.path.indexOf("catalog-options") > 0 || 
          this.$route.path.indexOf("edit-product") > 0) {
        return true;
      }
      return null;
    },
    ...mapGetters(["getUser", "getAccountOption"]),
  },
});
</script>

<style scoped src="./theme/style.css">

</style>

<style scoped>
.glopcare-avatar-button {
  position: absolute;
  width: 75px;
  height: 75px;
  right: 3rem;
  border-radius: 50%;
  z-index: 99;
  margin-top: -0.5rem;
}

.glopcare-round-button {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #000510;
  box-shadow: 0px -4px 16px rgba(65, 76, 105, 0.75);
  bottom: 10px;
  right: 25%;
  left: 50%;
  margin-left: -38px;
  border-radius: 50%;
  z-index: 99;
  border-style: solid;
  border-color: rgb(65 76 105 / 45%);
  border-width: thick;
  text-align: center;
}

.glopcare-normal-button {
  width: 75px;
  height: 75px;
  bottom: 10px;
  right: 25%;
  left: 50%;
  z-index: 99;
  text-align: center;
}

.bottom-toolbar {
  background: #c4c4c4;
  border-radius: 24px 24px 0px 0px;
  background: #000510;
  --background: #000510;
  border-color: rgb(65 76 105 / 45%);
  box-shadow: 0px -4px 16px rgba(65, 76, 105, 0.95);
}

.bottom-icon {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  color: #c6c6c6;
}

.top-toolbar-share {
  --background: #676d7a;
  background-repeat: no-repeat;
  background-size: cover;
  --border-style: none;
  --padding-end: 2rem;
}

.user-name-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: end;
  text-align: right;

  color: #ffffff;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}
</style>